@model  WebApp.ViewModel.UploadCouponViewModel
@{
    ViewBag.Title = "GenericCoupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner" style="margin-top:-10px;display:none;" id="dvAddCoupon">
    <div class="card p-2 pb-3 pl-4 mb-2">
        <div class="col-md-12 col-lg-12 row">
            <div class="col-md-12 col-lg-12 row mt-3">
                <h5>Coupon Details</h5>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Coupon Code :
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="text" id="txtCouponCode" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Value Type :
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="radio" id="chkValue" name="ValueType" style="width:20px; cursor:pointer;" checked /> Value
                    <input type="radio" id="chkPercentage" name="ValueType" style="width:20px; cursor:pointer;margin-left:20px;" /> Percentage
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Coupon Value :
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="number" id="txtCouponValue" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Expiry days :
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="number" id="txtExpiryDays" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">

                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="checkbox" id="chkIsCouponOnly" style="cursor:pointer;width:20px;height:20px;" /> Apply Coupon Only
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">

                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="checkbox" id="chkIsMultipleUse" style="cursor:pointer;width:20px;height:20px;" /> Allow Multiple Use
                </div>
            </div>
        </div>
        <hr id="hrTxnFilter" style="border-top: dashed 1px;" />
        <div class="col-md-12 col-lg-12 row">
            <div class="col-md-12 col-lg-12 row mt-3">
                <h5>Redeemption Criteria</h5>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Invoice Value :
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="number" id="redeemInvoiceValue1" class="input50" />
                    <input type="number" id="redeemInvoiceValue2" class="input50" style="margin-top:10px;" />
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Day :
                </div>
                <div class="col-md-6 col-lg-6">
                    @Html.DropDownListFor(x => Model.dummyCategory, new SelectList(Model.RedeemDays(), "Value", "Text"), "All Days", htmlAttributes: new { @class = "input50", @id = "ddlDays" })&nbsp;
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Caregory/ Product :
                </div>
                <div class="col-md-9 col-lg-9">
                    @Html.ListBoxFor(x => Model.dummyCategory, new MultiSelectList(Model.lstCategory, "Value", "Text"), new { @class = "input100", Multiple = "multiple", @id = "ddlCategory" })
                    @Html.ListBoxFor(x => Model.dummyProduct, new MultiSelectList(Model.lstProduct, "Value", "Text"), new { @class = "input100", Multiple = "multiple", @id = "ddlProduct" })

                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Redeem Brand :
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="text" id="burnBrand" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Redeem Dept :
                </div>
                <div class="col-md-6 col-lg-6">
                    <input type="text" id="burnDept" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-3">
                <div class="col-md-3 col-lg-3">
                    Outlet :
                </div>
                <div class="col-md-6 col-lg-6">
                    @Html.ListBoxFor(x => Model.dummyProduct, new MultiSelectList(Model.lstOutlet, "Value", "Text"), new { @class = "input100", Multiple = "multiple", @id = "ddlOutlet" })
                </div>
            </div>
            <div class="col-md-12 col-lg-12 row mt-4">
                <div class="col-md-12 col-lg-12" style="text-align:left;">
                    <input id="txtRuleName" type="text" class="input100" placeholder="Rule Name" />
                    <button type="button" id="btnSaveCouponRule" class="btn btn-primary" onclick="SaveCouponRule();" style="margin-right:10px;"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app-main__inner" style="margin-top:-10px;">
    <div class="card p-2 pb-3 pl-4 mb-2">
        <div class="col-md-12 col-lg-12 row">
            <div class="col-md-12 col-lg-12">
                <div style="text-align:right;">
                    <a href="#" onclick="AddCouponRule();" title="Add Coupon Rule">  <img src="~/Content/assets/images/AddCustomer.png" width="7%" /></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <table class="table" id="activityTable">
                    <thead>
                        <tr>
                            <th scope="col">Rule Name</th>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">Coupon Value</th>
                            <th scope="col">Is Coupon Only</th>
                            <th scope="col">Added Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.lstCouponRule != null)
                            {
                                foreach (var item in Model.lstCouponRule)
                                {
                                    <tr>
                                        <td>@item.EarnRuleName</td>
                                        <td>@item.CouponCode</td>
                                        @if (item.ValueType == "Percentage")
                                        {
                                            <td>@item.CouponValue%</td>
                                        }
                                        else
                                        {
                                                <td>@item.CouponValue</td>
                                        }
                                        <td>@item.IsOnlyCoupon.ToString()</td>
                                        <td>@item.AddedDate.Value.ToString("dd-MM-yyy")</td>
                                        @if (item.IsActive.Value == true)
                                        {
                                            <td style="text-align:center;"><a href="#" onclick="ShowEnableDetails(@item.EarnRuleId);">Disable</a></td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;"><a href="#" onclick="ShowEnableDetails(@item.EarnRuleId);">Enable</a></td>
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" align="center">No Data Available</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No Data Available</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers"
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

        $("#earnddlCategory").change(function () {
            GetProductData(1);
        });
        $("#ddlCategory").change(function () {
            GetProductData(2);
        });
    });

    function AddCouponRule() {
        $("#dvAddCoupon").show(1000)
    }
    function GetProductData(type) {
        var catId = 0;
        if (type == 1) {
            catId = $("#earnddlCategory").val();
        }
        if (type == 2) {
            catId = $("#ddlCategory").val();
        }
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProductData", "Coupon")',
                data: "{'CatCode': '" + catId + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    if (type == 1) {
                        $("#earnddlProduct").html("");
                        var items = '<option>All Product</option>';
                        $.each(response, function (i, item) {
                            items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                        });
                        $("#earnddlProduct").html(items);
                    }
                    if (type == 2) {
                        $("#ddlProduct").html("");
                        var items1 = '<option>All Product</option>';
                        $.each(response, function (i, item1) {
                            items1 += "<option value='" + item1.Value + "'>" + item1.Text + "</option>";
                        });
                        $("#ddlProduct").html(items1);
                    }
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    console.log(response)
                    $("#divLoader").hide();
                }
            });

    }

    function SaveCouponRule() {
        var returnStatus = true;
        if ($("#txtCouponCode").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Coupon Code",
                buttonText: "Okay"
            })
            returnStatus = false;
            return false;
        }
        if ($("#txtExpiryDays").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Expiry days",
                buttonText: "Okay"
            })
            returnStatus = false;
            return false;
        }
        if ($("#txtCouponValue").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Coupon value",
                buttonText: "Okay"
            })
            returnStatus = false;
            return false;
        }
        if ($("#redeemInvoiceValue1").val() == "" && $("#redeemInvoiceValue2").val() == "" && $("#ddlDays").val() == "" && $("#ddlCategory").val() == "" && $("#ddlOutlet").val() == "" && $("#burnBrand").val() == "" && $("#burnDept").val() == "") {
            if ($("#ddlProduct").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please add at least one redeemption criteria",
                    buttonText: "Okay"
                })
                returnStatus = false;
                return false;
            }
        }
        if ($("#txtRuleName").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Rule Name",
                buttonText: "Okay"
            })
            returnStatus = false;
            return false;
        }
        if (returnStatus) {
            var data = [];
            item = {}
            item["EarnRuleName"] = $("#txtRuleName").val();
            item["EarnInvoiceAmountFrom"] = "";
            item["EarnInvoiceAmountTo"] = "";
            item["EarnDay"] = "";
            item["EarnCategory"] = "";
            item["EarnProduct"] = "";
            item["EarnOutlet"] = "";
            item["RedeemInvoiceAmountFrom"] = $("#redeemInvoiceValue1").val();
            item["RedeemInvoiceAmountTo"] = $("#redeemInvoiceValue2").val();
            item["RedeemDay"] = $("#ddlDays").val();
            item["RedeemCategory"] = $("#ddlCategory").val();
            item["RedeemProduct"] = $("#ddlProduct").val();
            item["RedeemOutlet"] = $("#ddlOutlet").val();
            item["OfferCode"] = "";
            if ($('#chkIsCouponOnly').is(':checked'))
                item["IsOnlyCoupon"] = true;
            else
                item["IsOnlyCoupon"] = false;

            if ($('#chkIsMultipleUse').is(':checked'))
                item["MultipleUse"] = "Multiple";
            else
                item["MultipleUse"] = "One";            

            if ($('#chkValue').is(':checked'))
                item["ValueType"] = "Value";
            else
                item["ValueType"] = "Percentage";

            item["CouponCode"] = $("#txtCouponCode").val();
            item["CouponValue"] = $("#txtCouponValue").val();
            item["ExpiryDays"] = $("#txtExpiryDays").val();

            item["EarnBrand"] = "";
            item["EarnDept"] = "";
            item["BurnBrand"] = $("#burnBrand").val();
            item["BurnDept"] = $("#burnDept").val();

            data.push(item);
            var datanew = JSON.stringify(data);

            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveCouponRule", "Coupon")',
                data: '{jsonData: ' + JSON.stringify(datanew) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result) {
                        cuteAlert({
                            type: "success",
                            title: "Uploaded",
                            message: "Coupon criteria saved successfully!!!",
                            buttonText: "Okay"
                        }).then((e) => {
                            location.reload();
                        })
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "OOPS...",
                            message: "There is problem in saving data!!!",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {


                }
            });
        }
    }

    function ShowEnableDetails(Id) {

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("EnableDisableCouponRule", "Coupon")',
                data: '{RuleId: ' + Id + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result) {
                        cuteAlert({
                            type: "success",
                            title: "Enabled/Disabled",
                            message: "Data saved successfully!!!",
                            buttonText: "Okay"
                        }).then((e) => {
                            location.reload();
                        })
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "OOPS...",
                            message: "There is problem in saving data!!!",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {


                }
            });
    }
</script>