@model  WebApp.ViewModel.UploadCouponViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner" style="margin-top:-10px;">
    <div class="card p-2 pb-3 pl-4 mb-2 ml-1 row" id="dvAddData" style="display:none;">

        <div class="col-md-12 col-lg-12 row">
            <div class="col-md-6 col-lg-6" style="border: 1px solid gray; border-radius: 5px; padding-bottom:10px;">
                <div class="col-md-12 col-lg-12 row mt-3">
                    <h5>Upload Coupon Configuration</h5>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Upload File :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <input type="file" id="fileUpload" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Expiry Date :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <input type="date" class="input50" id="ExpiryDate" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Coupon Value :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <input type="number" class="input50" id="CouponValue" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Reminder :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <input type="checkbox" style="width:20px; height:20px;cursor:pointer;" id="chkIsReminder" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3" id="dvReminderDays" style="display:none;">
                    <div class="col-md-4 col-lg-4">
                        Before expiry days :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <input type="number" class="input50" id="reminderDays" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6" style="border: 1px solid gray; border-radius: 5px; padding-bottom: 10px;">
                <div class="col-md-12 col-lg-12 row mt-3">
                    <h5>Redeemption Criteria</h5>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Invoice Value :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <input type="number" id="redeemInvoiceValue1" class="input50" />
                        <input type="number" id="redeemInvoiceValue2" class="input50" style="margin-top:10px;" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Day :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        @Html.DropDownListFor(x => Model.dummyCategory, new SelectList(Model.RedeemDays(), "Value", "Text"), "All Days", htmlAttributes: new { @class = "input50", @id = "ddlDays" })&nbsp;
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Caregory/ Product :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        @Html.DropDownListFor(x => Model.dummyCategory, new SelectList(Model.lstCategory, "Value", "Text"), "All Category", htmlAttributes: new { @class = "input50", @id = "ddlCategory" })&nbsp; <br />
                        @Html.DropDownListFor(x => Model.dummyProduct, new SelectList(Model.lstProduct, "Value", "Text"), "All Product", htmlAttributes: new { @class = "input50", @id = "ddlProduct" })&nbsp;
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row mt-3">
                    <div class="col-md-4 col-lg-4">
                        Outlet :
                    </div>
                    <div class="col-md-6 col-lg-6">
                        @Html.DropDownListFor(x => Model.dummyProduct, new SelectList(Model.lstOutlet, "Value", "Text"), "All Outlets", htmlAttributes: new { @class = "input50", @id = "ddlOutlet" })&nbsp;
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 col-lg-12 row mt-4">
            <div class="col-md-12 col-lg-12" style="text-align:right;">
                <button type="button" id="btnUploadCouponData" class="btn btn-primary" onclick="UploadCouponData();" style="margin-right:10px;"> Upload</button>
            </div>
        </div>
    </div>

    <div class="card p-2 pb-3 pl-4">
        <div class="col-md-12 col-lg-12 row">
            <div class="col-md-12 col-lg-12">
                <div style="text-align:right;">
                    <a href="#" onclick="AddCouponData();" title="Upload Coupon Data">  <img src="~/Content/assets/images/AddCustomer.png" width="7%" /></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <table class="table" id="activityTable">
                    <thead>
                        <tr>
                            <th scope="col">Coupon File Name</th>
                            <th scope="col">Uploaded Date</th>
                            <th scope="col">Coupon Value</th>
                            <th scope="col">Member Count</th>
                            <th scope="col">Expiry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.lstCouponUpload != null)
                            {
                                foreach (var item in Model.lstCouponUpload)
                                {
                                    <tr>
                                        <td>@item.CouponFileName</td>
                                        <td>@item.UploadedDate</td>
                                        <td>@item.CouponValue</td>
                                        <td>@item.Count</td>
                                        @if (item.ExpiryDate.HasValue)
                                        {
                                            <td>@item.ExpiryDate.Value.ToString("dd-MM-yyyy")</td>
                                        }
                                        else
                                        {
                                            <td>--</td>
                                        }

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" align="center">No Data Available</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">No Data Available</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#chkIsReminder").on('change', function () {
            if ($("#chkIsReminder").is(":checked")) {
                $("#dvReminderDays").show();
            }
            else {
                $("#dvReminderDays").hide();
            }
        });
        $('#activityTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers"
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

        $("#ddlCategory").change(function () {
            GetProductData();
        });
    });

    function AddCouponData() {
        $("#dvAddData").show(1000)
    }
    function UploadCouponData() {
        var returnStatus = true;
        if ($("#fileUpload").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please upload file",
                buttonText: "Okay"
            })
            returnStatus = false;
            return false;
        }
        if ($("#ExpiryDate").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please select expiry date",
                buttonText: "Okay"
            })
            returnStatus = false;
            return false;
        }
        if ($("#CouponValue").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter coupon value",
                buttonText: "Okay"
            })
            returnStatus = false;
            return false;
        }

        if ($("#redeemInvoiceValue1").val() == "" && $("#redeemInvoiceValue2").val() == "" && $("#ddlDays").val() == "" && $("#ddlCategory").val() == "" && $("#ddlOutlet").val() == "") {
            if ($("#ddlProduct").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please add at least one redeemption criteria",
                    buttonText: "Okay"
                })
                returnStatus = false;
                return false;
            }
        }

        if (returnStatus) {
            $("#divLoader").show();
            $.ajax({
                url: '@Url.Action("UploadCouponBulkData", "Coupon")',
                type: "POST",
                data: function () {
                    var data = new FormData();
                    data.append("ExpiryDate", jQuery("#ExpiryDate").val());
                    data.append("Reminder", jQuery("#reminderDays").val());
                    data.append("CouponValue", jQuery("#CouponValue").val());
                    data.append("InvoiceValueFrom", jQuery("#redeemInvoiceValue1").val());
                    data.append("InvoiceValueTo", jQuery("#redeemInvoiceValue2").val());
                    data.append("Day", jQuery("#ddlDays").val());
                    data.append("Category", jQuery("#ddlCategory").val());
                    data.append("Product", jQuery("#ddlProduct").val());
                    data.append("Outlet", jQuery("#ddlOutlet").val());
                    data.append("file", jQuery("#fileUpload").get(0).files[0]);
                    return data;
                }(),
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result) {
                        cuteAlert({
                            type: "success",
                            title: "Uploaded",
                            message: "Coupon data uploaded successfully!!!",
                            buttonText: "Okay"
                        }).then((e) => {
                            location.reload();
                        })
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "OOPS...",
                            message: "There is problem in uploading data!!!",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                }
            });
        }

    }

    function GetProductData() {

            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProductData", "Coupon")',
                data: "{'CatCode': '" + $("#ddlCategory").val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    $("#ddlProduct").html("");
                    var items = '<option>All Product</option>';
                    $.each(response, function (i, item) {
                        items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                    });
                    $("#ddlProduct").html(items);
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    console.log(response)
                    $("#divLoader").hide();
                }
            });

    }

</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
