@model  List<BOTS_BL.Models.tblCouponUpload>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner" style="margin-top:-10px;">
    <div class="card p-2 pb-3 pl-4 mb-2" id="dvAddData" style="display:none;">
        <div class="col-md-12 col-lg-12 row mt-3">
            <div class="col-md-2 col-lg-2">
                Upload File :
            </div>
            <div class="col-md-6 col-lg-6">
                <input type="file" id="fileUpload" />
            </div>
        </div>
        <div class="col-md-12 col-lg-12 row mt-3">
            <div class="col-md-2 col-lg-2">
                Expiry Date :
            </div>
            <div class="col-md-6 col-lg-6">
                <input type="date" class="input50" id="ExpiryDate" />
            </div>
        </div>
        <div class="col-md-12 col-lg-12 row mt-3">
            <div class="col-md-2 col-lg-2">
                Coupon Value :
            </div>
            <div class="col-md-6 col-lg-6">
                <input type="number" class="input50" id="CouponValue" />
            </div>
        </div>
        <div class="col-md-12 col-lg-12 row mt-3">
            <div class="col-md-2 col-lg-2">
                Reminder :
            </div>
            <div class="col-md-6 col-lg-6">
                <input type="checkbox" style="width:20px; height:20px;cursor:pointer;" id="chkIsReminder" />
            </div>
        </div>
        <div class="col-md-12 col-lg-12 row mt-3" id="dvReminderDays" style="display:none;">
            <div class="col-md-2 col-lg-2">
                Before expiry days :
            </div>
            <div class="col-md-6 col-lg-6">
                <input type="number" class="input50" id="reminderDays" />
            </div>
        </div>
        <div class="col-md-12 col-lg-12 row mt-4">
            <div class="col-md-5 col-lg-5" style="text-align:center;">
                <button type="button" id="btnUploadCouponData" class="btn btn-primary" onclick="UploadCouponData();" style="margin-right:10px;"> Upload</button>
            </div>
        </div>
    </div>
    <div class="card p-2 pb-3 pl-4">
        <div class="col-md-12 col-lg-12 row">
            <div class="col-md-12 col-lg-12">
                <div style="text-align:right;">
                    <a href="#" onclick="AddCouponData();" title="Upload Coupon Data">  <img src="~/Content/assets/images/AddCustomer.png" width="7%" /></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <table class="table" id="activityTable">
                    <thead>
                        <tr>
                            <th scope="col">Coupon File Name</th>
                            <th scope="col">Coupon Value</th>
                            <th scope="col">Member Count</th>
                            <th scope="col">Reminder Date</th>
                            <th scope="col">Uploaded Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CouponFileName</td>
                                        <td>@item.CouponValue</td>
                                        <td>@item.Count</td>
                                        @if (item.ReminderDate.HasValue)
                                        {
                                            <td>@item.ReminderDate.Value.ToString("dd-MM-yyyy")</td>
                                        }
                                        else
                                        {
                                            <td>--</td>
                                        }
                                        <td>@item.UploadedDate</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" align="center">No Data Available</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">No Data Available</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#chkIsReminder").on('change', function () {
            if ($("#chkIsReminder").is(":checked")) {
                $("#dvReminderDays").show();
            }
            else {
                $("#dvReminderDays").hide();
            }
        });
        $('#activityTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers"
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

    });

    function AddCouponData() {
        $("#dvAddData").show(1000)
    }
    function UploadCouponData() {
        var returnStatus = true;
        if ($("#fileUpload").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please upload file",
                buttonText: "Okay"
            })
            returnStatus = false;
        }
        if ($("#ExpiryDate").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please select expiry date",
                buttonText: "Okay"
            })
            returnStatus = false;
        }
        if ($("#CouponValue").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter coupon value",
                buttonText: "Okay"
            })
            returnStatus = false;
        }

        if (returnStatus) {
            $("#divLoader").show();
            $.ajax({
                url: '@Url.Action("UploadCouponBulkData", "Coupon")',
                type: "POST",
                data: function () {
                    var data = new FormData();
                    data.append("ExpiryDate", jQuery("#ExpiryDate").val());
                    data.append("Reminder", jQuery("#reminderDays").val());
                    data.append("CouponValue", jQuery("#CouponValue").val());
                    data.append("file", jQuery("#fileUpload").get(0).files[0]);
                    return data;
                }(),
                contentType: false,
                processData: false,
                success: function (result) {
                    console.log(result);
                    cuteAlert({
                        type: "success",
                        title: "Uploaded",
                        message: "Coupon data uploaded successfully!!!",
                        buttonText: "Okay"
                    }).then((e) => {
                        location.reload();
                    })
                    $("#divLoader").hide();
                }
            });
        }

    }
</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
