@model Chitale.ViewModel.ManagementViewModel
@{
    ViewBag.Title = "LeaderBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<div class="app-main__inner">
    <div class="row" style="margin-left:20px;">

        <div class="row mb-3 pt-3 pl-3 pr-3 card">
            <div id="dvOutletWiseData">
                <b>
                    KYB / PARTICIPANT LIST
                </b>
                <div class="row mb-3">
                    <div class="container-fluid pt-3 pl-3 pr-3">

                        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                            <div style="display:flex;">
                                <div class="col-md-3 col-xl-3">
                                    Cluster <br /> @Html.DropDownListFor(model => model.ClusterList, new SelectList(Model.ClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlClusterList" }) &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    Sub Cluster <br /> @Html.DropDownListFor(model => model.SubClusterList, new SelectList(Model.SubClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlSubClusterList" })&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    City <br /> @Html.DropDownListFor(model => model.CityList, new SelectList(Model.CityList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlCityList" })
                                </div>
                                <div class="col-md-1 col-xl-1" style="margin: 20px 0px;">
                                    <button style="margin-left:17px;margin-top:5px;" class="btn btn-primary" type="button" id="btnFilter">
                                        Filter
                                    </button>
                                </div>
                                <div class="col-md-1 col-xl-1" style="margin: 20px 0px;">
                                    <button style="margin-top:5px;" class="btn btn-primary" type="button" id="btnback">
                                        Back
                                    </button>
                                    <button style="margin-top:5px;" class="btn btn-primary" type="button" id="btnbackretail">
                                        Back
                                    </button>
                                </div>
                            </div>

                            <div class="col text-right">
                                <ul class="list-inline progress-list mt-2">
                                    <li class="list-inline-item">
                                        <div class="dropdown">
                                            @*<button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                                    <i class="fas fa-file-export"></i> Export
                                                </button>*@
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row mt-3" id="dvActivityData1">

                            <div class="table-responsive">
                                <table class="table" id="activityTable" style="width:100%;">
                                    <thead>
                                        <tr>
                                            @*<th scope="col"></th>*@
                                            <th scope="col">Type</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Current Rank</th>
                                            <th scope="col">Last Month Rank</th>
                                            <th scope="col">Purchase Points</th>
                                            <th scope="col">Sale Points</th>
                                            <th scope="col">Add On Points</th>
                                            <th scope="col">Lost Opp Points</th>
                                            <th scope="col">Redeemed Points</th>
                                            <th scope="col">Balanced Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-3" id="dvActivityData2">

                            <div class="table-responsive">
                                <table class="table" id="activityTable1" style="width:100%;">
                                    <thead>
                                        <tr>
                                            @*<th scope="col"></th>*@
                                            <th scope="col">Type</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Current Rank</th>
                                            <th scope="col">Last Month Rank</th>
                                            <th scope="col">Purchase Points</th>
                                            <th scope="col">Sale Points</th>
                                            <th scope="col">Add On Points</th>
                                            <th scope="col">Lost Opp Points</th>
                                            <th scope="col">Redeemed Points</th>
                                            <th scope="col">Balanced Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-3" id="dvActivityData3">

                            <div class="table-responsive">
                                <table class="table" id="activityTable2" style="width:100%;">
                                    <thead>
                                        <tr>
                                            @*<th scope="col"></th>*@
                                            <th scope="col">Type</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Current Rank</th>
                                            <th scope="col">Last Month Rank</th>
                                            <th scope="col">Purchase Points</th>
                                            <th scope="col">Sale Points</th>
                                            <th scope="col">Add On Points</th>
                                            <th scope="col">Lost Opp Points</th>
                                            <th scope="col">Redeemed Points</th>
                                            <th scope="col">Balanced Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var tableData = [];


    $(document).ready(function () {
        $('#btnbackretail').hide();
        $('#dvActivityData2').hide();
        $('#dvActivityData3').hide();
        $('#btnback').hide();
        $('#btnbackretail').hide();
        $('#btnback').click(function () {
            $('#dvActivityData1').show();
            $('#dvActivityData2').hide();
            $('#btnback').hide();
        });
        $('#btnbackretail').click(function () {

            $('#dvActivityData2').show();
            $('#dvActivityData3').hide();
            $('#btnback').show();
            $('#btnbackretail').hide();
        });

        $('#btnFilter').on("click", function () {

            GetParticipantList('0');
            //dropdownselect();

        });
        $("#ddlClusterList").on('change', function () {

            $('#ddlSubClusterList').prop('selectedIndex', 0);
            $('#ddlCityList').prop('selectedIndex', 0);
        });
        $("#ddlSubClusterList").on('change', function () {
            $('#ddlClusterList').prop('selectedIndex', 0);
            $('#ddlCityList').prop('selectedIndex', 0);
        });
        $("#ddlCityList").on('change', function () {
            $('#ddlClusterList').prop('selectedIndex', 0);
            $('#ddlSubClusterList').prop('selectedIndex', 0);
        });
        GetParticipantList('1');
    });

    function GetParticipantList(flag) {
        $("#divLoader").show();
        $('#btnbackretail').hide();
        $('#btnback').hide();
        var SummeryData = [];
        if ($("#ddlClusterList").prop('selectedIndex') == 0 && $("#ddlCityList").prop('selectedIndex') == 0 && $("#ddlSubClusterList").prop('selectedIndex') == 0) {

            item = {}
            item["Flag"] = flag;
            item["SubCluster"] = 0;
            item["Cluster"] = 0;
            item["City"] = 0;
            SummeryData.push(item);
        }
        else if ($("#ddlClusterList").prop('selectedIndex') !== 0) {
            console.log("cluster");
            item = {}
            item["Flag"] = flag;
            item["SubCluster"] = 0;
            item["Cluster"] = $('#ddlClusterList :selected').val();
            item["City"] = 0;
            SummeryData.push(item);

        }
        else if ($("#ddlCityList").prop('selectedIndex') !== 0) {
            item = {}
            item["Flag"] = flag;
            item["SubCluster"] = 0;
            item["Cluster"] = 0;
            item["City"] = $('#ddlCityList :selected').val();
            SummeryData.push(item);

        }
        else if ($("#ddlSubClusterList").prop('selectedIndex') !== 0) {
            item = {}
            item["Flag"] = flag;
            item["SubCluster"] = $('#ddlSubClusterList :selected').val();
            item["Cluster"] = 0;
            item["City"] = 0;
            SummeryData.push(item);
        }
        var data = JSON.stringify(SummeryData);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetParticipantListForEmp", "Employee")',
            data: '{jsonData: ' + JSON.stringify(data) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                console.log(response);
                if (response != null) {
                    tableData.length = 0;
                    $.map(response, function (item) {

                        optionItem = {}
                        optionItem["ParticipantType"] = item.ParticipantType;
                        optionItem["ID"] = item.Id;
                        optionItem["ParticipantName"] = item.ParticipantName;
                        optionItem["CurrentRank"] = item.CurrentRank;
                        optionItem["LastMonthRank"] = item.LastMonthRank;
                        optionItem["PurchasePoints"] = item.PurchasePoints;
                        optionItem["SalePoints"] = item.SalePoints;
                        optionItem["AddOnPoints"] = item.AddOnPoints;
                        optionItem["LostOppPoints"] = item.LostOppPoints;
                        optionItem["RedeemedPoints"] = item.RedeemedPoints;
                        optionItem["BalancedPoints"] = item.BalancedPoints;
                        tableData.push(optionItem);
                    });
                    DrawTable();
                }
                $("#divLoader").hide();

            },
            error: function (response) {

                console.log(response.responseText)
                $("#divLoader").hide();
            }
        });
    }
    function GetsubParticipantList(id, Type) {
        $("#divLoader").show();
        $('#btnbackretail').hide();
        $('#btnback').show();
        $('#dvActivityData1').hide();
        $('#dvActivityData2').show();

        console.log(id);
        console.log(Type);
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetSubParticipantListForEmp", "Employee")',
            data: '{Id: ' + JSON.stringify(id) + ',ParticipantType:' + JSON.stringify(Type)+'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
               // console.log(response);
                if (response != null) {

                    tableData.length = 0;
                    $.map(response, function (item) {
                       // console.log(item);
                        optionItem = {}
                        optionItem["ParticipantType"] = item.ParticipantType;
                        optionItem["ID"] = item.Id;
                        optionItem["ParticipantName"] = item.ParticipantName;
                        optionItem["CurrentRank"] = item.CurrentRank;
                        optionItem["LastMonthRank"] = item.LastMonthRank;
                        optionItem["PurchasePoints"] = item.PurchasePoints;
                        optionItem["SalePoints"] = item.SalePoints;
                        optionItem["AddOnPoints"] = item.AddOnPoints;
                        optionItem["LostOppPoints"] = item.LostOppPoints;
                        optionItem["RedeemedPoints"] = item.RedeemedPoints;
                        optionItem["BalancedPoints"] = item.BalancedPoints;
                        tableData.push(optionItem);
                       // console.log(optionItem);

                    });
                    DrawTable1();

                }
                $("#divLoader").hide();
            },
            error: function (response) {
                console.log(response.responseText)
                $("#divLoader").hide();
            }
        });
    }
    function GetRetailerList(id, Type) {
        $('#dvActivityData1').hide();
        $('#dvActivityData2').hide();
        $('#dvActivityData3').show();
        $('#btnbackretail').show();
        $('#btnback').hide();
        $("#divLoader").show();
        console.log(id);
        console.log(Type);
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetSubParticipantListForEmp", "Employee")',
            data: '{Id: ' + JSON.stringify(id) + ',ParticipantType:' + JSON.stringify(Type)+'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
              //  console.log(response);
                if (response != null) {

                    tableData.length = 0;
                    $.map(response, function (item) {
                      //  console.log(item);
                        optionItem = {}
                        optionItem["ParticipantType"] = item.ParticipantType;
                        optionItem["ID"] = item.Id;
                        optionItem["ParticipantName"] = item.ParticipantName;
                        optionItem["CurrentRank"] = item.CurrentRank;
                        optionItem["LastMonthRank"] = item.LastMonthRank;
                        optionItem["PurchasePoints"] = item.PurchasePoints;
                        optionItem["SalePoints"] = item.SalePoints;
                        optionItem["AddOnPoints"] = item.AddOnPoints;
                        optionItem["LostOppPoints"] = item.LostOppPoints;
                        optionItem["RedeemedPoints"] = item.RedeemedPoints;
                        optionItem["BalancedPoints"] = item.BalancedPoints;
                        tableData.push(optionItem);
                       // console.log(optionItem);

                    });
                    DrawTable2();

                }
                $("#divLoader").hide();
            },
            error: function (response) {
                console.log(response.responseText)
                $("#divLoader").hide();
            }
        });
    }
    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();

        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [
                {

                    "mData": "ParticipantType",
                    "mRender": function (data, type, row) {
                        var id = row.ID;
                        var Type = row.ParticipantType;
                        return '<a href="#" onclick="GetsubParticipantList(\'' + id +'\'\,\''+ Type + '\'\)" class="login" >' + data +'</a>';
                    }
                },
                { data: "ID" },
                { data: "ParticipantName" },
                { data: "CurrentRank" },
                { data: "LastMonthRank" },
                { data: "PurchasePoints" },
                { data: "SalePoints" },
                { data: "AddOnPoints" },
                { data: "LostOppPoints" },
                { data: "RedeemedPoints" },
                { data: "BalancedPoints" }


            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: []
                }
            ]
        });
        $('#activityTable_filter').hide();
        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

    }
    function DrawTable1() {
        var table1 = $('#activityTable1').DataTable();
        table1.destroy();

        var table = $('#activityTable1').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [
                {

                    "mData": "ParticipantType",
                    "mRender": function (data, type, row) {
                        var id = row.ID;
                        var Type = row.ParticipantType;
                        return '<a href="#" onclick="GetRetailerList(\'' + id + '\'\,\'' + Type + '\'\)" class="login" >' + data + '</a>';
                    }
                    },
                { data: "ID" },
                { data: "ParticipantName" },
                { data: "CurrentRank" },
                { data: "LastMonthRank" },
                { data: "PurchasePoints" },
                { data: "SalePoints" },
                { data: "AddOnPoints" },
                { data: "LostOppPoints" },
                { data: "RedeemedPoints" },
                { data: "BalancedPoints" }


            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: []
                }
            ]
        });
        $('#activityTable_filter').hide();
        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable1').DataTable();
            table.draw();
        });

    }
    function DrawTable2() {
        var table1 = $('#activityTable2').DataTable();
        table1.destroy();

        var table = $('#activityTable2').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [
                {
                    data: "ParticipantType",

                },
                { data: "ID" },
                { data: "ParticipantName" },
                { data: "CurrentRank" },
                { data: "LastMonthRank" },
                { data: "PurchasePoints" },
                { data: "SalePoints" },
                { data: "AddOnPoints" },
                { data: "LostOppPoints" },
                { data: "RedeemedPoints" },
                { data: "BalancedPoints" }


            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: []
                }
            ]
        });
        $('#activityTable_filter').hide();
        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable2').DataTable();
            table.draw();
        });

    }
</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>


