@model List<BOTS_BL.Models.SalesLead.NewReport>


<div>
    <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
        <div class="row">
            <div class="col search-container">
                <i class="fas fa-search"></i>
                <input class="input100" type="text" id="txtLeadReport" placeholder="Search activity..." />
            </div>
            <div class="col text-right">
                <ul class="list-inline progress-list mt-2">
                    <li class="list-inline-item">
                        <div class="dropdown">
                            <button class="btn btn-primary login-btn" onclick='ExportDataExcel("0");' type="button" id="btnExport">
                                <i class="fas fa-file-export"></i> Export
                            </button>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3" id="dvLeadReportData">
            <div class="table-responsive">
                <table class="table" id="tblLeadReport">
                    <thead>
                        <tr>
                            <th scope="col">Business Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Category</th>
                            <th scope="col">Billing Partner</th>
                            <th scope="col">No of Outlet</th>
                            <th scope="col">Lead Source</th>
                            <th scope="col">Lead Status</th>
                            <th scope="col">Next Follow Up Date</th>
                            <th scope="col">Sales Manager</th>
                            <th scope="col">Last Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.BusinessName</td>
                                    <td>@item.CityName</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.BillingPartnerName</td>
                                    <td>@item.NoOfOutlet</td>
                                    <td>@item.LeadSource</td>
                                    <td>@item.LeadStatus</td>
                                    <td>@item.FollowUpDate</td>
                                    <td>@item.SalesManager</td>
                                    <td>@item.Comments</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tblLeadReport').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers"
        });

        $('#tblLeadReport_filter').hide();

        $('#txtLeadReport').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtLeadReport').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#tblLeadReport').DataTable();
            table.draw();
        });
    });
</script>