@model LeadGeneration.ViewModel.LeadViewModel

<div>
    <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
        <div class="row">
            <div class="col search-container">
                <i class="fas fa-search"></i>
                <input class="input100" type="text" id="txtSearchOnBoarding" placeholder="Search activity..." />
            </div>
        </div>
        <div class="row mt-3" id="dvOnBoardingData">
            <div class="table-responsive">
                <table class="table" id="OnBoardingTable">
                    <thead>
                        <tr>
                            <th scope="col">LeadId</th>
                            <th scope="col">Business Name</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Contact Type</th>
                            <th scope="col">Lead Status</th>
                            <th scope="col">Follow Up Date</th>
                            <th scope="col">City</th>
                            <th scope="col" style="text-align:center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.lstsALES_TblLeads != null)
                            {
                                foreach (var item in Model.lstsALES_TblLeads)
                                {

                                    string LeadId = Convert.ToString(item.LeadId);
                                    <tr>

                                        <td><a href="#" onclick="ShowTrackingDetails(@item.LeadId);">@item.LeadId</a></td>

                                        <td>@item.BusinessName</td>
                                        <td>@item.MobileNo</td>
                                        <td>@item.ContactType</td>
                                        <td>@item.LeadStatus</td>
                                        <td>@item.FollowupDate</td>
                                        <td>@item.CityName</td>
                                        <td style="text-align:center;">
                                            <a href="@Url.Action("AddLead", "Lead", new {leadId= LeadId})" class="login" title="Edit"><img src="~/Content/assets/images/shape_editUser.png" /></a>

                                        </td>
                                    </tr>
                                    var dynamicIdTr = "trLeadTracking" + item.LeadId;
                                    var dynamicIdDiv = "dvLeadTrackingData" + item.LeadId;

                                    <tr id="@dynamicIdTr" style="display:none;">
                                        <td colspan="8">
                                            <div id="@dynamicIdDiv" style="display:none;" class="table-responsive">

                                            </div>
                                        </td>
                                        <td style="display:none;"></td>
                                        <td style="display:none;"></td>
                                        <td style="display:none;"></td>
                                        <td style="display:none;"></td>
                                        <td style="display:none;"></td>
                                        <td style="display:none;"></td>
                                        <td style="display:none;"></td>
                                        <td style="display:none;"></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
