@model LeadGeneration.ViewModel.LeadViewModel
@using BOTS_BL.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userDetails = (CustomerLoginDetail)Session["UserSession"];
}
<style>
    .RedRow {
        background-color: #ff7e00 !important;
        color: white;
    }
</style>

<div class="app-main__inner">
    <div class="row card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="card-header-tab card-header-tab-animation" style="border-bottom-width:0px !important;">
                <div style="cursor:pointer;" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <h4> Search Leads</h4>
                </div>
            </div>
            <div class="content collapse" id="collapseExample">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Mobile Number <br /> <input id="txtMobileNo" type="text" oninput="numberOnly(this.id);" maxlength="10" class="input100" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Business Name
                            <br /><input id="txtBusinessName" type="text" class="input100" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Date Range <br /> <input id="txtDtFrom" type="text" class="input40" />
                            <input id="txtDtTo" type="text" class="input40" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Billing partner <br /> @Html.DropDownListFor(model => model.sALES_TblLeads.BillingPartner, new SelectList(Model.lstBillingPartner, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlBillingPartner" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Lead status <br />@Html.DropDownListFor(model => model.sALES_TblLeads.LeadStatus, new SelectList(Model.LeadStatus(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlleadstatus" })
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Contact type <br />@Html.DropDownListFor(model => model.sALES_TblLeads.ContactType, new SelectList(Model.ContactType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlcontacttype" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Meeting type  <br />@Html.DropDownListFor(model => model.sALES_TblLeads.MeetingType, new SelectList(Model.MeetingType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlmeetingtype" })
                        </div>
                        <div class="col-md-6 col-sm-6">
                            City <br />@Html.DropDownListFor(model => model.sALES_TblLeads.City, new SelectList(Model.lstCity, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlCity" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Lead Type <br />@Html.DropDownListFor(model => model.sALES_TblLeads.LeadType, new SelectList(Model.LeadType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlLeadType" })

                        </div>
                        @if (userDetails != null)
                        {
                            if (userDetails.LoginType == "1" || userDetails.LoginType == "5")
                            {
                                <div class="col-md-6 col-sm-6">
                                    Sales Manager <br />@Html.DropDownListFor(model => model.sALES_TblLeads.AddedBy, new SelectList(Model.lstSalesManager, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlSalesManager" })
                                </div>
                            }
                        }
                    </div>

                    <div class="row pb-3 pt-3">
                        <div class="col-md-12 col-sm-12 pull-right">
                            <button type="button" id="btnReset" class="btn btn-primary pull-right" onclick="ResetSearch();" style="margin-right:10px;">Reset</button>
                            <button type="button" id="btnSearch" class="btn btn-primary pull-right" style="margin-right:10px;">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="dvSearchLeads" style="display:none;">
            List
        </div>
    </div>
</div>
<div class="app-main__inner">
    <div class="row  card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div style="text-align:left;">
                <h4>Today / Tomorrow's Follow Ups</h4>
            </div>
            <div style="text-align:right;">
                <a href="@Url.Action("AddLead", "Lead")" title="Add Lead">  <img src="~/Content/assets/images/AddCustomer.png" /></a>
            </div>
        </div>
        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
            <div class="row">
                <div class="col search-container">
                    <i class="fas fa-search"></i>
                    <input class="input100" type="text" id="txtSearchOnBoardingFollowup" placeholder="Search activity..." />
                </div>
            </div>
            <div class="row mt-3" id="dvOnBoardingDataFollowup">
                <div class="table-responsive">
                    <table class="table" id="OnBoardingFollowupTable">
                        <thead>
                            <tr>
                                <th scope="col">Business Name</th>
                                <th scope="col">Mobile No</th>
                                <th scope="col">City</th>
                                <th scope="col">Billing Partner</th>
                                <th scope="col">No of Outlet</th>
                                <th scope="col">Lead Status</th>
                                <th scope="col">Follow Up Date</th>
                                <th scope="col">Sales Manager</th>
                                <th scope="col" style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstsALES_TblLeads != null)
                                {
                                    foreach (var item in Model.lstsALES_TblLeads)
                                    {
                                        string cssClass = "";
                                        if (item.AddedDate < DateTime.Today && item.FollowupDate < DateTime.Today)
                                        {
                                            cssClass = "RedRow";
                                        }
                                        string LeadId = Convert.ToString(item.LeadId);
                                        <tr class="@cssClass">
                                            <td><a href="#" onclick="ShowTrackingDetails(@item.LeadId);">@item.BusinessName</a></td>
                                            <td>@item.MobileNo</td>
                                            <td>@item.CityName</td>
                                            <td>@item.BillingPartner</td>
                                            <td>@item.NoOfOutlet</td>
                                            <td>@item.LeadStatus</td>
                                            @if (item.FollowupDate.HasValue)
                                            {
                                                <td>@item.FollowupDate.Value.ToShortDateString()</td>
                                            }
                                            else
                                            {
                                                <td>--</td>
                                            }

                                            <td>@item.SalesManagerName</td>
                                            <td style="text-align:center;">
                                                <a href="@Url.Action("AddLead", "Lead", new {leadId= LeadId})" class="login" title="Edit"><img src="~/Content/assets/images/shape_editUser.png" /></a>

                                            </td>
                                        </tr>
                                        var dynamicIdTr = "trLeadTracking" + item.LeadId;
                                        var dynamicIdDiv = "dvLeadTrackingData" + item.LeadId;

                                        <tr id="@dynamicIdTr" style="display:none;">
                                            <td colspan="9">
                                                <div id="@dynamicIdDiv" style="display:none;" class="table-responsive">

                                                </div>
                                            </td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;"></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#txtDtFrom").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });

        $("#txtDtTo").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });

        $('#btnSearch').on("click", function () {
            GetSearchLeads();
        });

        $('#OnBoardingFollowupTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers"
        });

        $('#OnBoardingFollowupTable_filter').hide();

        $('#txtSearchOnBoardingFollowup').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearchOnBoardingFollowup').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#OnBoardingFollowupTable').DataTable();
            table.draw();
        });
    });

    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }
    function GetSearchLeads() {
        var SeardhData = [];
        item = {}
        item["MobileNo"] = $("#txtMobileNo").val();
        item["BusinessName"] = $("#txtBusinessName").val();
        item["DtFrom"] = $("#txtDtFrom").val();
        item["DtTo"] = $("#txtDtTo").val();
        item["BillingPartner"] = $("#ddlBillingPartner").val();
        item["LeadStatus"] = $("#ddlleadstatus").val();
        item["ContactType"] = $("#ddlcontacttype").val();
        item["MeetingType"] = $("#ddlmeetingtype").val();
        item["City"] = $("#ddlCity").val();
        item["SalesManager"] = $("#ddlSalesManager").val();
        item["LeadType"] = $("#ddlLeadType").val();
        

        SeardhData.push(item);
        var data = JSON.stringify(SeardhData);
        $("#divLoader").show();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSearchLeads", "Lead")',
            data: '{searchData: ' + JSON.stringify(data) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#dvSearchLeads').html(response);
                $('#dvSearchLeads').show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $('#dvSearchLeads').html(response.responseText);
                $('#dvSearchLeads').show(1000);
                $("#divLoader").hide();
            }
        });
    }

    function ShowTrackingDetails(LeadId) {
        if ($("#dvLeadTrackingData" + LeadId).is(":visible")) {
            $("#dvLeadTrackingData" + LeadId).hide(1000);
            $("#trLeadTracking" + LeadId).hide(1000);

          //  $("#imgExpand" + id).attr("src", "/Content/assets/images/details_open.png");
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                 url: '@Url.Action("GetLeadTrackingList")',
                data: '{Id:' + JSON.stringify(LeadId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    BindActivities(LeadId,response);
                    $("#divLoader").hide();
                },
                failure: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
    }

    function BindActivities(id, data) {
        if (data != "") {
            var htmlStr = "<table border=\"2\" style=\"margin-left: 11px;width: 98%;\" class=\"table\">";
            htmlStr += "<tr style=\"text-align: center;\">"
            htmlStr += "<th scope=\"col\">Date</th>";
            htmlStr += "<th scope=\"col\">Updated By</th>";
            htmlStr += "<th scope=\"col\">Contact Type</th>";
            htmlStr += "<th scope=\"col\">Meeting Type</th>";
            htmlStr += "<th scope=\"col\">Lead Status</th>";
            htmlStr += "<th scope=\"col\">Comments</th>";
            htmlStr += "</tr>";

            $.map(data, function (item) {
                var d = new Date();
                d = item.FollowupDate;
                console.log(d);
                htmlStr += "<tr style=\"text-align: center;\">"
                htmlStr += "<td>" + item.AddedDateStr + "</td>";
                htmlStr += "<td>" + item.AddedByName + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.ContactType + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.MeetingType + "</td>";
                htmlStr += "<td>" + item.LeadStatus + "</td>";
                htmlStr += "<td>" + item.Comments + "</td>";
                htmlStr += "</tr>"
            });

            htmlStr += "</table>";
            $("#dvLeadTrackingData" + id).html(htmlStr);
            $("#trLeadTracking" + id).show(1000);
            $("#dvLeadTrackingData" + id).show(1000);
        }
        else {
            cuteAlert({
                type: "warning",
                title: "Oops..",
                message: "No tracking available",
                buttonText: "Okay"
            })
        }
    }

    function ShowFollowUpTrackingDetails(LeadId) {
        if ($("#dvLeadTrackingFollowupData" + LeadId).is(":visible")) {
            $("#dvLeadTrackingFollowupData" + LeadId).hide(1000);
            $("#trLeadTrackingFollowup" + LeadId).hide(1000);

          //  $("#imgExpand" + id).attr("src", "/Content/assets/images/details_open.png");
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                 url: '@Url.Action("GetLeadTrackingList")',
                data: '{Id:' + JSON.stringify(LeadId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    BindActivitiesFollowUp(LeadId,response);
                    $("#divLoader").hide();
                },
                failure: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
    }

    function BindActivitiesFollowUp(id, data) {
        if (data != "") {
            var htmlStr = "<table border=\"2\" style=\"margin-left: 11px;width: 98%;\" class=\"table\">";
            htmlStr += "<tr style=\"text-align: center;\">"
            htmlStr += "<th scope=\"col\">Date</th>";
            htmlStr += "<th scope=\"col\">Updated By</th>";
            htmlStr += "<th scope=\"col\">Contact Type</th>";
            htmlStr += "<th scope=\"col\">Meeting Type</th>";
            htmlStr += "<th scope=\"col\">Lead Status</th>";
            htmlStr += "<th scope=\"col\">Comments</th>";
            htmlStr += "</tr>";

            $.map(data, function (item) {
                var d = new Date();
                d = item.FollowupDate;
                console.log(d);
                htmlStr += "<tr style=\"text-align: center;\">"
                htmlStr += "<td>" + item.AddedDateStr + "</td>";
                htmlStr += "<td>" + item.AddedByName + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.ContactType + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.MeetingType + "</td>";
                htmlStr += "<td>" + item.LeadStatus + "</td>";
                htmlStr += "<td>" + item.Comments + "</td>";
                htmlStr += "</tr>"
            });

            htmlStr += "</table>";
            $("#dvLeadTrackingFollowupData" + id).html(htmlStr);
            $("#trLeadTrackingFollowup" + id).show(1000);
            $("#dvLeadTrackingFollowupData" + id).show(1000);
        }
        else {
            cuteAlert({
                type: "warning",
                title: "Oops..",
                message: "No tracking available",
                buttonText: "Okay"
            })
        }
    }

    function ResetSearch() {
        $("#txtMobileNo").val("");
        $("#txtBusinessName").val("");
        $("#txtDtFrom").val("");
        $("#txtDtTo").val("");
        $('#ddlBillingPartner').prop('selectedIndex', 0);
        $('#ddlleadstatus').prop('selectedIndex', 0);
        $('#ddlcontacttype').prop('selectedIndex', 0);
        $('#ddlmeetingtype').prop('selectedIndex', 0);
        $('#ddlCity').prop('selectedIndex', 0);
        $('#ddlSalesManager').prop('selectedIndex', 0);
    }

</script>

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />