
@model LeadGeneration.ViewModel.LeadViewModel
@using BOTS_BL.Models;

@{
    ViewBag.Title = "Lead Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userDetails = (CustomerLoginDetail)Session["UserSession"];
}

<div class="app-main__inner">

    <div class="row card">

        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <h4> Search Lead</h4>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Mobile Number <br /> <input id="txtMobileNo" type="text" class="input100" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Business Name
                            <br /><input id="txtBusinessName" type="text" class="input100" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Date Range <br /> <input id="txtDtFrom" type="text" class="input40" />
                            <input id="txtDtTo" type="text" class="input40" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Billing partner <br /> @Html.DropDownListFor(model => model.sALES_TblLeads.BillingPartner, new SelectList(Model.lstBillingPartner, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlBillingPartner" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Lead status <br />@Html.DropDownListFor(model => model.sALES_TblLeads.LeadStatus, new SelectList(Model.LeadStatus(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlleadstatus" })
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Contact type <br />@Html.DropDownListFor(model => model.sALES_TblLeads.ContactType, new SelectList(Model.ContactType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlcontacttype" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Meeting type  <br />@Html.DropDownListFor(model => model.sALES_TblLeads.MeetingType, new SelectList(Model.MeetingType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlmeetingtype" })
                        </div>
                        <div class="col-md-6 col-sm-6">
                            City <br />@Html.DropDownListFor(model => model.sALES_TblLeads.City, new SelectList(Model.lstCity, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlCity" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Billing Partner <br />@Html.DropDownListFor(model => model.sALES_TblLeads.BillingPartner, new SelectList(Model.lstBillingPartner, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlBillingPartner" })
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Sales Manager <br />@Html.DropDownListFor(model => model.sALES_TblLeads.AddedBy, new SelectList(Model.lstSalesManager, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlSalesManagerSearch" })
                        </div>


                    </div>

                    <div class="row pb-3 pt-3">
                        <div class="col-md-12 col-sm-12 pull-right">
                            <button type="button" id="btnReset" class="btn btn-primary pull-right" style="margin-right:10px;">Reset</button>
                            <button type="button" id="btnSearch" class="btn btn-primary pull-right" style="margin-right:10px;">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pl-4">
            <div class="col-md-6 col-sm-6">
                Sales Manager Name <br />@Html.DropDownListFor(model => model.lstSalesManager, new SelectList(Model.lstSalesManager, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlSalesManager" })
                <button type="button" id="btntransfer" class="btn btn-primary" onclick="TransferLead()" style="margin-left:10px;">Transfer</button>
            </div>            
        </div>
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="dvSearchLeads" style="display:none;">
            List
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#txtDtFrom").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });

        $("#txtDtTo").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });

        $('#btnSearch').on("click", function () {
            GetSearchLeads();
        });
    });

    function GetSearchLeads() {
        var SeardhData = [];
        item = {}
        item["MobileNo"] = $("#txtMobileNo").val();
        item["BusinessName"] = $("#txtBusinessName").val();
        item["DtFrom"] = $("#txtDtFrom").val();
        item["DtTo"] = $("#txtDtTo").val();
        item["BillingPartner"] = $("#ddlBillingPartner").val();
        item["LeadStatus"] = $("#ddlleadstatus").val();
        item["ContactType"] = $("#ddlcontacttype").val();
        item["MeetingType"] = $("#ddlmeetingtype").val();
        item["City"] = $("#ddlCity").val();
        item["SalesManager"] = $("#ddlSalesManagerSearch").val();

        SeardhData.push(item);
        var data = JSON.stringify(SeardhData);
        console.log(data)
        $("#divLoader").show();


        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSearchLeadsforLeadTransfer", "Lead")',
            data: '{searchData: ' + JSON.stringify(data) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#dvSearchLeads').html(response);
                $('#dvSearchLeads').show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $('#dvSearchLeads').html(response.responseText);
                $('#dvSearchLeads').show(1000);
                $("#divLoader").hide();
            }
        });
    }

    function TransferLead() {
        var checkboxValues = [];
        $('input[type="checkbox"]:checked').each(function (index, elem) {
            checkboxValues.push($(elem).val());
        });
        var smId = $("#ddlSalesManager").val();

        $("#divLoader").show();
         $("#divLoader").show();


        $.ajax({
            type: "POST",
            url: '@Url.Action("TransferLead", "Lead")',
            data: '{LeadId: ' + JSON.stringify(checkboxValues) + ',SaleManagerId:' + JSON.stringify(smId) +'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                cuteAlert({
                    type: "success",
                    title: "Transferred",
                    message: "Lead Transferred Successfully!",
                    buttonText: "Okay"
                })
                $('input[type="checkbox"]:checked').each(function (index, elem) {
                    $(elem).prop('checked', false);
                });
                $('#ddlSalesManager').prop('selectedIndex', 0);

                $("#divLoader").hide();
            }
        });

    }

    function ShowLeadTrackingDetails(LeadId) {
        if ($("#dvLeadTrackingData" + LeadId).is(":visible")) {
            $("#dvLeadTrackingData" + LeadId).hide(1000);
            $("#trLeadTracking" + LeadId).hide(1000);

          //  $("#imgExpand" + id).attr("src", "/Content/assets/images/details_open.png");
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                 url: '@Url.Action("GetLeadTrackingList")',
                data: '{Id:' + JSON.stringify(LeadId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {                    
                    BindActivities(LeadId,response);
                    $("#divLoader").hide();
                },
                failure: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
    }

    function BindActivities(id, data) {       
        if (data != "") {
            var htmlStr = "<table border=\"2\" style=\"margin-left: 11px;width: 98%;\" class=\"table\">";
            htmlStr += "<tr style=\"text-align: center;\">"
            htmlStr += "<th scope=\"col\">Date</th>";
            htmlStr += "<th scope=\"col\">Updated By</th>";
            htmlStr += "<th scope=\"col\">Contact Type</th>";
            htmlStr += "<th scope=\"col\">Meeting Type</th>";
            htmlStr += "<th scope=\"col\">Lead Status</th>";
            htmlStr += "<th scope=\"col\">Comments</th>";
            htmlStr += "</tr>";

            $.map(data, function (item) {
                var d = new Date();
                d = item.FollowupDate;               
                htmlStr += "<tr style=\"text-align: center;\">"
                htmlStr += "<td>" + item.AddedDate + "</td>";
                htmlStr += "<td>" + item.AddedByName + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.ContactType + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.MeetingType + "</td>";
                htmlStr += "<td>" + item.LeadStatus + "</td>";
                htmlStr += "<td>" + item.Comments + "</td>";
                htmlStr += "</tr>"
            });

            htmlStr += "</table>";
            $("#dvLeadTrackingData" + id).html(htmlStr);
            $("#trLeadTracking" + id).show(1000);
            $("#dvLeadTrackingData" + id).show(1000);
        }
        else {
            cuteAlert({
                type: "warning",
                title: "Oops..",
                message: "No tracking available",
                buttonText: "Okay"
            })
        }
    }

</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />