@model WebApp.ViewModel.CreateOwnReportViewModel


<div class="row mb-3 card">
    <div class="container-fluid pt-3 pl-3 pr-3">
        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
            <div class="row">
                <div class="col search-container">
                    <i class="fas fa-search"></i>
                    <input class="input100" type="text" id="txtSearch" placeholder="Search Member..." />
                </div>
            </div>
            <div class="row mt-3" id="dvActivityData">
                <div class="table-responsive">
                    <table class="table" id="activityTable">
                        <thead>
                            <tr>
                                @foreach (var item in Model.lstcolumnlist)
                                    {
                                        <th style="font-weight:bold;">@item</th>
                                    }
                                @*@if (Model.listCustR != null)
                                {
                                    foreach (var property in Model.listCustR.GetType().GetGenericArguments()[0].GetProperties())
                                    {
                                        <th>@property.Name</th>
                                    }
                                }*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.listCustR != null)
                            {
                                if (Model.listCustR.Count > 0)
                                {

                                    foreach (var customer in Model.listCustR)
                                    {
                                        <tr>
                                            @foreach (var property in customer.GetType().GetProperties())
                                            {
                                                var isExist = Model.lstcolumnIdlist.Contains(property.Name);
                                                if (isExist)
                                                {
                                                <td>@property.GetValue(customer)</td>
                                                }
                                            }
                                            @*<td>@customer.MobileNo</td>
                                                <td>@customer.CustomerName</td>
                                                <td>@customer.OutletName</td>
                                                <td>@customer.FirstTxnDt</td>
                                                <td>@customer.LastTxnDt</td>
                                                <td>@customer.TotalAvailablePoints</td>
                                                <td>@customer.TotalEarn</td>
                                                <td>@customer.TotalBurn</td>
                                                <td>@customer.EnrolledDt</td>
                                                <td>@customer.TotalSpend</td>
                                                <td>@customer.NoofTxn</td>
                                                <td>@customer.BonusPoints</td>*@

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="12" align="center"></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="12" align="center"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>            

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers"

            //aoColumnDefs: [
            //    {
            //        bSortable: false,
            //        aTargets: [-9, -8]
            //    }
            //]
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

        $(".first.paginate_button, .last.paginate_button").hide();
    });
</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>


