@model List<BOTS_BL.Models.OutletwiseTransaction>

<div class="row mb-3 card">
    <div class="container-fluid pt-3 pl-3 pr-3">
        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
            <div class="row">
                <div class="col search-container">
                    <i class="fas fa-search"></i>
                    <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                </div>
            </div>
            <div class="row mt-3" id="dvActivityData">

                <div class="table-responsive">
                    <table class="table" id="activityTable">
                        <thead>
                            <tr>
                                <th scope="col">Mobile Number</th>
                                <th scope="col">Member Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Invoice No</th>
                                <th scope="col">Invoice Amount</th>
                                <th scope="col">Txn Type</th>
                                <th scope="col">Points Earned</th>
                                <th scope="col">Points Burned</th>
                                <th scope="col">Txn Datetime</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.Count > 0)
                                {

                                    foreach (var outlet in Model)
                                    {
                                        <tr>                                            
                                            <td>@outlet.MobileNo</td>
                                            <td>@outlet.MemberName</td>
                                            <td>@outlet.Type</td>
                                            <td>@outlet.InvoiceNo</td>
                                            <td>@outlet.InvoiceAmt</td>
                                            <td>@outlet.TxnType</td>
                                            <td>@outlet.PointsEarned</td>
                                            <td>@outlet.PointsBurned</td>
                                            <td>@outlet.TxnDatetime</td>                                           
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9" align="center">No Learning Available</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9">No Learning Available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            //language: {
            //    paginate: {
            //        next: '&#8594;', // or '→'
            //        previous: '&#8592;' // or '←'
            //    }
            //}
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-9, -8]
                }
            ]
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

        //$(".first.paginate_button, .last.paginate_button").hide();
    });
</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>

