@model BOTS_BL.Models.Celebrations
@using System.Globalization
@{
    ViewBag.Title = "Celebrations";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentMonth = DateTime.Now.ToString("MMMM");
    var nextMonth = DateTime.Now.AddMonths(1).ToString("MMMM");
    var next2Month = DateTime.Now.AddMonths(2).ToString("MMMM");
    var currentYear = DateTime.Now.Year.ToString();
    var nextYear = DateTime.Now.AddMonths(1).Year.ToString();
    var next2Year = DateTime.Now.AddMonths(2).Year.ToString();
}

<div class="app-main__inner">
    <div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">
        <div class="row">
            <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                Celebrations in (@currentMonth - @currentYear)
                <hr />
                <div class="card mb-2 widget-content" style="        background-color: #87CEEB;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(1,1);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.BirthdayCountThisMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 widget-content" style="        background-color: #FA5F55;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(1,2);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.AnniversaryCountThisMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 widget-content" style="background-color: #FFC000;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(1,3);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.EnrollmentAnniversaryCountThisMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                Celebrations in (@nextMonth - @nextYear)
                <hr />
                <div class="card mb-2 widget-content" style="        background-color: #87CEEB;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(2,1);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.BirthdayCountNextMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 widget-content" style="        background-color: #FA5F55;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(2,2);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.AnniversaryCountNextMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 widget-content" style="background-color: #FFC000;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(2,3);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.EnrollmentAnniversaryCountNextMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                Celebrations in (@next2Month - @next2Year)
                <hr />
                <div class="card mb-2 widget-content" style="        background-color: #87CEEB;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(3,1);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.BirthdayCount3rdMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 widget-content" style="        background-color: #FA5F55;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(3,2);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.AnniversaryCount3rdMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 widget-content" style="background-color: #FFC000;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span style="cursor:pointer;"><a onclick="GetData(3,3);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.EnrollmentAnniversary3rdMonth))</u></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-2" style="margin-left:20px; margin-top:20px;">
                Legend
                <div class="card mb-2" style="background-color: #87CEEB; padding:5px;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span>Birthday</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2" style="background-color: #FA5F55; padding:5px;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span>
                                    M. Anniversary
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2" style="background-color: #FFC000; padding:5px;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <span>
                                    Enr Anniversary
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <div class="row mb-3 pt-3 pl-3 pr-3 card" id="dvCelebrationTable" style="display:none;">
        <div class="row">
            <div class="col search-container">
                <i class="fas fa-search"></i>
                <input class="input100" type="text" id="txtSearch" placeholder="Search transaction..." />
            </div>
            <div class="col text-right">
                <ul class="list-inline progress-list mt-2">
                    <li class="list-inline-item">
                        <div class="dropdown">
                            <button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                <i class="fas fa-file-export"></i> Export
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3" id="dvActivityData">
            <h5>Transaction Details</h5><h5><span id="spnType" style="margin-left:100px;"></span><span id="spnMonth"></span></h5>
            <div class="table-responsive">
                <table class="table" id="activityTable">
                    <thead>
                        <tr>
                            <th scope="col">Enrolled Outlet</th>
                            <th scope="col">Mobile Number</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Txn Count</th>
                            <th scope="col">Total Spends</th>
                            <th scope="col">Avl Bal Points</th>
                            <th scope="col">Last Txn Date</th>
                            <th scope="col">Celebration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>
    var clickedMonth = 0;
    var clickedType = 0;
    var tableData = [];
    function GetData(currentMonth, type) {
        var month = new Date().getMonth() + 1;
        var year = new Date().getFullYear();

        //if (currentMonth == 1) {
        //    month = month + 1;
        //}
        clickedMonth = currentMonth;
        clickedType = type;

        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: "../Reports/GetCelebrationsTxnResult",
            data: "{'month': " + currentMonth + ",'type': " + type + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                tableData.length = 0;
                $.map(response, function (item) {
                    optionItem = {}
                    optionItem["EnrolledOutlet"] = item.EnrolledOutlet;
                    optionItem["MaskedMobileNo"] = item.MaskedMobileNo;
                    optionItem["MobileNo"] = item.MobileNo;
                    optionItem["MemberName"] = item.MemberName;
                    optionItem["TxnCount"] = item.TxnCount;
                    optionItem["TotalSpend"] = item.TotalSpend;
                    optionItem["AvlPoints"] = item.AvlPoints;
                    optionItem["LastTxnDate"] = item.LastTxnDate;
                    optionItem["CelebrationDate"] = item.CelebrationDate;

                    tableData.push(optionItem);
                });
                DrawTable();
                if (currentMonth == 1) {
                    $("#spnMonth").text('@currentMonth' + '-' + '@currentYear');
                }
                if (currentMonth == 2) {
                    $("#spnMonth").text('@nextMonth' + '-' + '@nextYear');
                }
                if (currentMonth == 3) {
                    $("#spnMonth").text('@next2Month' + '-' + '@next2Year');
                }
                if (type == 1) {
                    $("#spnType").text("Birthdays | ");
                }
                if (type == 2) {
                    $("#spnType").text("Marriage Anniversaries | ");
                }
                if (type == 3) {
                    $("#spnType").text("Enrolment Anniversaries | ");
                }

                $("#dvCelebrationTable").show();
                $("#dvTxnTable").show();

                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                //$('#dvOutletWiseData').html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }

    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();

        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "bAutoWidth": false,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "EnrolledOutlet" },
                {
                    "mData": "MaskedMobileNo",
                    "mRender": function (data, type, row) {
                        var MobileNo = row.MobileNo;
                        return '<span class="login" title=' + MobileNo + '>' + data + '</span>';
                    }
                },
                { data: "MemberName" },
               /* { data: "TxnCount" },*/
                {
                    "mData": "TxnCount",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                /*{ data: "TotalSpend" },*/
                {
                    "mData": "TotalSpend",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                /*{ data: "AvlPoints" },*/
                {
                    "mData": "AvlPoints",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                {
                    "data": "LastTxnDate", "title": "Last Txn Date", "render": function (data, type) {
                        if (data != "" && data != null) {
                        var day = data.split('/')[0]
                        var month = data.split('/')[1]
                        var year = data.split('/')[2]
                        var date = month + "/" + day + "/" + year;
                            return date;
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "data": "CelebrationDate", "title": "Celebration Date", "render": function (data, type) {
                        if (data != "" && data != null) {
                        var day = data.split('/')[0]
                        var month = data.split('/')[1]
                        var year = data.split('/')[2]
                        var date = month + "/" + day + "/" + year;
                            return date;
                        }
                        else {
                            return data;
                        }
                    }
                }
                //{ data: "LastTxnDate" },
                //{ data: "CelebrationDate" }

            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-6, -7, -8]
                }
            ]
        });
        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });
    }

    function ExportDataExcel() {

        var urlLink = "@Url.Action("ExportToExcelCelebrations", "Reports")";
        urlLink = urlLink + "?month=" + clickedMonth + "&type=" + clickedType + "&ReportName=Celebrations";
        console.log(urlLink);
        window.location.href = urlLink;
        $("#divLoader").hide();

    }

</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>


