@model BOTS_BL.Models.PointExpiryTmp
@using System.Globalization
@{
    ViewBag.Title = "Points Expiry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentMonth = DateTime.Now.ToString("MMMM");
    var nextMonth = DateTime.Now.AddMonths(1).ToString("MMMM");
    var next2Month = DateTime.Now.AddMonths(2).ToString("MMMM");

    var currentMonthNum = DateTime.Now.Month;
    var nextMonthNum = DateTime.Now.AddMonths(1).Month;
    var next2MonthNum = DateTime.Now.AddMonths(2).Month;

    var currentYear = DateTime.Now.Year.ToString();
    var nextYear = DateTime.Now.AddMonths(1).Year.ToString();
    var next2Year = DateTime.Now.AddMonths(2).Year.ToString();

}

<div class="app-main__inner">
    <div class="row mb-3 pt-3 pl-3 pr-3 card">
        <div class="row">
            <div class="col-xl-3">
            </div>
            <div class="col-xl-3">
            </div>
            <div class="col-xl-3">
            </div>
            <div class="col-xl-3" style="height:50px !important;">
                @Html.DropDownListFor(x => Model.SelectedCount, new SelectList(ViewBag.MonthList, "Value", "Text"), "Month", htmlAttributes: new { @class = "smallDDL", @id = "MonthList" })
                @Html.DropDownListFor(x => Model.SelectedPoints, new SelectList(ViewBag.YearList, "Value", "Text"), htmlAttributes: new { @class = "smallDDL", @id = "YearList" })
                <button id="btnGo" class="btn btn-primary">GO</button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card mb-3 widget-content" style="background-color:#D99694;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                Expiring in (@currentMonth - @currentYear)
                                <hr />
                            </div>
                        </div>
                        <div>
                            <div class="text-white" style="font-weight:bold;">
                                Members | <span style="cursor:pointer; font-size:22px !important;"><a onclick="GetData(@currentMonthNum,@currentYear);"> <u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.MemberCountThisMonth))</u></a></span>
                                <br />Expiring Points | <span style="font-size:20px !important;"> @String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.MemberPointsThisMonth))</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card mb-3 widget-content" style="background-color: #E46C0A;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                Expiring in (@nextMonth - @nextYear)
                                <hr />
                            </div>

                        </div>
                        <div>
                            <div class="text-white" style="font-weight:bold;">
                                Members | <span style="cursor:pointer;font-size:22px !important;"><a onclick="GetData(@nextMonthNum,@nextYear);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.MemberCountNextMonth))</u></a></span>
                                <br />Expiring Points | <span style="font-size:20px !important;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.MemberPointsNextMonth))</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card mb-3 widget-content" style="background-color:#558ED5;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                Expiring in (@next2Month - @next2Year)
                                <hr />
                            </div>
                        </div>
                        <div>
                            <div class="text-white" style="font-weight:bold;">
                                Members | <span style="cursor:pointer;font-size:22px !important;"><a onclick="GetData(@next2MonthNum, @next2Year);"><u>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.MemberCount3rdMonth))</u></a></span>
                                <br />Expiring Points | <span style="font-size:20px !important;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.MemberPoints3rdMonth))</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" id="dvSelectedMonth" style="display:none;">
                <div class="card mb-3 widget-content" style="background-color: #E1E100;">
                    <div class="widget-content-wrapper text-white" style="display:block !important;">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                Expiring in (<span id="spnFutureMonth"></span> - <span id="spnFutureYear"></span>)
                                <hr />
                            </div>

                        </div>
                        <div>
                            <div class="widget-numbers text-white">
                                <a onclick="GetFutureData();"><u><span style="cursor:pointer;" id="spnSelectedMemberCount"></span></u></a>
                                <br /><span id="spnSelectedMemberPoints" style="font-size:20px !important;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 card" id="dvTxnTable" style="display:none;">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search transaction..." />
                    </div>
                    <div class="col text-right">
                        <ul class="list-inline progress-list mt-2">
                            <li class="list-inline-item">
                                <div class="dropdown">
                                    <button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                        <i class="fas fa-file-export"></i> Export
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3" id="dvActivityData">
                    <div class="table-responsive">
                        <table class="table" id="activityTable">
                            <thead>
                                <tr>
                                    <th scope="col">Enrolled Outlet</th>
                                    <th scope="col">Mobile Number</th>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">Txn Count</th>
                                    <th scope="col">Total Spends</th>
                                    <th scope="col">Avl Bal Points</th>
                                    <th scope="col">Last Txn Date</th>
                                    <th scope="col">Points Expiring</th>
                                    <th scope="col">Expiry Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tableData = [];
    var clickedMonth = 0;
    var clickedYear = 0;
    $(document).ready(function () {
        $("#btnGo").click(function () {
            GetPointExpiryData();
        });
    });
    function GetPointExpiryData() {
        var month = $("#MonthList").val();
        var year = $("#YearList").val();
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPointsExpiryDataResult", "Reports")',
            data: "{'month': " + month + ",'year': " + year + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {               
                $("#spnFutureMonth").text($("#MonthList option:selected").text());
                $("#spnFutureYear").text($("#YearList option:selected").text());

                $("#spnSelectedMemberCount").text(addComma(response.SelectedCount));
                $("#spnSelectedMemberPoints").text(addComma(response.SelectedPoints));
                
                $("#dvSelectedMonth").show();
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {                
                $("#divLoader").hide();
            }
        });
    }

    function GetFutureData() {
        var month = $("#MonthList").val();
        var year = $("#YearList").val();
        GetData(month, year);
    }

    function GetData(month, year) {        
        clickedMonth = month;
        clickedYear = year;

        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPointsExpiryTxnResult", "Reports")',
            //url: "../Reports/GetPointsExpiryTxnResult",
            data: "{'month': " + month + ",'year': " + year + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                tableData.length = 0;
                console.log(response)
                $.map(response, function (item) {
                    optionItem = {}
                    optionItem["EnrolledOutlet"] = item.EnrolledOutlet;
                    optionItem["MaskedMobileNo"] = item.MaskedMobileNo;
                    optionItem["MobileNo"] = item.MobileNo;
                    optionItem["MemberName"] = item.MemberName;
                    optionItem["TxnCount"] = item.TxnCount;
                    optionItem["TotalSpend"] = item.TotalSpend;
                    optionItem["AvlPoints"] = item.AvlPoints;
                    optionItem["LastTxnDate"] = item.LastTxnDate;
                    optionItem["PointsExpiry"] = item.PointsExpiry;
                    optionItem["ExpiryDate"] = item.ExpiryDate;
                    tableData.push(optionItem);
                });
                DrawTable();
                $("#dvTxnTable").show();

                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                //$('#dvOutletWiseData').html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }
    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();

        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "bAutoWidth": false,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "EnrolledOutlet" },
                {
                    "mData": "MaskedMobileNo",
                    "mRender": function (data, type, row) {
                        var MobileNo = row.MobileNo;
                        return '<span class="login" title=' + MobileNo + '>' + data + '</span>';
                    }
                },
                { data: "MemberName" },
                {
                    "mData": "TxnCount",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                {
                    "mData": "TotalSpend",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                {
                    "mData": "AvlPoints",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                /*{ data: "LastTxnDate" },*/
                {
                    "data": "LastTxnDate", "title": "Last Txn Datetime", "render": function (data, type) {
                        if (data != "" && data != null) {
                            var day = data.split('/')[0]
                            var month = data.split('/')[1]
                            var year = data.split('/')[2]
                            var date = month + "/" + day + "/" + year;
                            return date;
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "mData": "PointsExpiry",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                /*{ data: "ExpiryDate" }*/
                {
                    "data": "ExpiryDate", "title": "Expiry Date", "render": function (data, type) {
                        if (data != "" && data != null) {
                            var day = data.split('/')[0]
                            var month = data.split('/')[1]
                            var year = data.split('/')[2]
                            var date = month + "/" + day + "/" + year;
                            return date;
                        }
                        else {
                            return data;
                        }
                    }
                }

            ],
            "columnDefs": [
                {
                    "targets": 3,
                    "className": "text-right"
                },
                {
                    "targets": 4,
                    "className": "text-right"
                },
                {
                    "targets": 5,
                    "className": "text-right",
                },
                {
                    "targets": 7,
                    "className": "text-right",
                }],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-7, -8, -9]
                }
            ]
        });
        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });
    }

    function ExportDataExcel() {

        var urlLink = "@Url.Action("ExportToExcelPointExpiry", "Reports")";
        urlLink = urlLink + "?month=" + clickedMonth + "&year=" + clickedYear + "&ReportName=PointExpiry";
        console.log(urlLink);
        window.location.href = urlLink;
        $("#divLoader").hide();

    }

</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
