@model BOTS_BL.Models.DLCDashboardContent
@using System.Globalization
@using BOTS_BL.Models;
@using DLC.ViewModel;

@{
    ViewBag.Title = "Index";
    Layout = null;
    var sessionVariables = (SessionVariables)Session["SessionVariables"];
    var logoUrl = sessionVariables.objDashboardConfig.UseLogoURL;
    var logoSize = sessionVariables.objDashboardConfig.UseLogo;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>Opt Out</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
          rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/407b165ed6.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="~/js/cute-alert-master/cute-alert.js"></script>
    <link href="~/js/cute-alert-master/style-alert.css" rel="stylesheet" />
    <style>
        .footer {
            background-color: #344966;
            height: 10vh;
            padding: 20px 20px;
            clear: both;
        }

        .card {
            margin-top: 133px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 92%;
            margin-left: 4%;
            margin-bottom: 4%;
        }

        .card-body {
            padding: 30px;
        }

        .label {
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
        }

        .btn-custom {
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 5px;
        }

        .button-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 4%;
        }

        .btn-success,
        .btn-danger {
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 5px;
            width: 21%;
        }

        .button-item {
            flex: 1;
            margin-bottom: 10px;
        }

        .label {
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
            font-size: 16px;
        }

        .start-button,
        .stop-button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: 42%;
            margin-top: 4%;
        }

        .start-button {
            background-color: #4CAF50; /* Green */
            color: white;
        }

        .stop-button {
            background-color: #f44336; /* Red */
            color: white;
        }

            .start-button:hover,
            .stop-button:hover {
                background-color: #45a049; /* Darker green */
            }


        .content-row {
            display: flex;
            background-color: #5ea8f229;
            padding: 30px;
            border-radius: 8px;
        }

        .content-item {
            flex: 1;
            margin-right: 10px;
        }

            .content-item:last-child {
                margin-right: 0;
            }

        .label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        #accountValue,
        #pointsValue,
        #cashValue {
            display: block;
            color: #333;
            font-size: 14px;
        }

        @@media screen and (min-width:320px) {
            .label {
                font-weight: bold;
                margin-bottom: 10px;
                display: block;
            }

            .button-row {
                margin-top: 4%;
            }

            .button-item {
                margin-bottom: 10px;
            }

            .start-button,
            .stop-button {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                /*margin-left: 5%;
                margin-top: 15%;*/
                margin-left: 2%;
                margin-top: 2%;
            }
        }

        @@media screen and (min-width:375px) {

            .label {
                font-weight: 800;
                margin-bottom: 10px;
                display: block;
            }


            .button-row {
                margin-top: 4%;
            }


            .start-button,
            .stop-button {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-left: 5%;
                margin-top: 2%;
            }

            .button-item {
                flex: 0px;
                margin-bottom: 10px;
            }
        }

        @@media screen and (min-width:425px) {

            .label {
                font-weight: 800;
                margin-bottom: 10px;
                display: block;
            }

            .button-row {
                margin-top: 4%;
            }

            .start-button,
            .stop-button {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-left: 2%;
                margin-top: 2%;
            }

            .button-item {
                margin-bottom: 10px;
            }
        }

        .bottom {
            margin-top: 20px !important;
            margin: 0 auto;
            background-color: rgb(231, 244, 255);
            width: 95%;
            border-radius: 10px !important;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1vw 0;
            padding-inline: 7vw;
            position: relative;
        }

            .bottom::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: #00ac51;
                width: 1.8%;
                height: 100%;
            }

            .bottom .left-content h1 {
                color: #00ac51;
                font-weight: 700;
                font-size: 7.5vw;
            }

            .bottom .left-content h3 {
                color: #344966;
                font-weight: 500;
                font-size: 3vw;
                white-space: nowrap;
            }

            .bottom .right-content {
                padding-left: 10vw;
            }

                .bottom .right-content button {
                    background-color: #00ac51;
                    color: white;
                    padding: 7px 17px;
                    font-weight: 600;
                    border-radius: 20px;
                    font-size: 2vw;
                    white-space: nowrap;
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                }

        .content {
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .content .top {
                padding-inline: 7vw;
                margin: 0 auto;
                background-color: rgb(231, 244, 255);
                width: 95%;
                border-radius: 10px !important;
                overflow: hidden;
                position: relative;
            }

                .content .top::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #00ac51;
                    width: 1.8%;
                    height: 100%;
                }

        .top .top-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 3vh;
        }

        .top-content h4 {
            color: #686e77;
            font-size: 2.3vw;
            font-weight: 700;
        }

        .top-content button {
            background-color: #00ac51;
            color: white;
            padding: 7px 17px;
            border-radius: 20px;
            border: none;
            outline: none;
            font-weight: 600;
            font-size: 2.2vw;
        }

        .top .bottom-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: fit-content;
            padding: 1vh 0;
            /* background-color: #0016a0; */
        }

        .bottom-content .left-split {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

            .bottom-content .left-split h4 {
                font-size: 2.3vw;
                font-weight: 600;
                color: #171796;
            }

            .bottom-content .left-split h5 {
                font-size: 2.3vw;
                font-weight: 500;
                color: #171796;
            }

            .bottom-content .left-split h6 {
                font-size: 1vw;
                font-weight: 700;
                color: #686e77;
            }

        .bottom-content .right-split {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding-right: 1.6vw;
        }

            .bottom-content .right-split h4 {
                font-size: 3.5vw;
                font-weight: 800;
                color: #344966;
            }

            .bottom-content .right-split h5 {
                font-size: 2.3vw;
                font-weight: 500;
                color: #344966;
            }

            .bottom-content .right-split h6 {
                font-size: 1vw;
                font-weight: 700;
                color: #686e77;
            }
    </style>
</head>
<body>
    <!-- navigation start -->
    <nav>
        @if (logoSize == "Small")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 100px !important; width: 180px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="200" height="100" />
            </div>
        }
        @if (logoSize == "Medium")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 150px !important; width: 300px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="300" height="150" />
            </div>
        }
        @if (logoSize == "Big")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 200px !important; width: 400px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="400" height="200" />
            </div>
        }
        <div class="profile_links">

        </div>
        <div class="language" style="display:none">
            <select name="language" id="">
                <option value="language">Language</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Marathi">Marathi</option>

            </select>
        </div>
        <div class="features" style="margin-left:200px;">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1>Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1 class="active">Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
        <div class="hamburger">
            <i class="ri-menu-2-line"></i>
        </div>
    </nav>
    <div class="menu-container1">
        <div id="menu1">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1>Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1 class="active">Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
    </div>
    <section style="margin-top:100px !important;margin-bottom:10px !important; margin-left:30px;font-size:30px;">
        Opt Out 
        @if (ViewBag.optout)
        {
            <span id="spnMessage" style="font-style: italic;font-size:24px;">(You already opt out for promotional messages)</span>
        }
    </section>
        <section class="content" style="margin-top:20px !important;margin-bottom:10px !important;">
            <div class="top">
                <div class="top-content">
                    <h4>MY ACCOUNT</h4>
                    <h4>MY POINTS</h4>
                    <h4>MY CASH</h4>
                </div>
                <div class="bottom-content">
                    <div class="left-split">
                        <h4>@sessionVariables.MobileNo</h4>                        
                    </div>
                    <div class="left-split">
                        <h4>@(ViewBag.earnPoint + ViewBag.bonousPoint)</h4>
                    </div>
                    <div class="left-split">
                        <h4>Rs. @ViewBag.pointsinRs</h4>
                    </div>
                </div>
                <div class="bottom-content">
                    <div class="left-split">                        
                        <h5>@ViewBag.customerName</h5>
                    </div>
                    <div class="left-split">
                       
                    </div>
                    <div class="left-split">
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="content" style="margin-top:50px !important;">
            <input type="radio" style="width:20px;height:20px;cursor:pointer;" checked /> <h3 style="margin-left:10px;">I do not want to receive any promotions SMS & WhatsApp</h3>
        </section>

        <section class="content" style="margin-bottom:50px !important;">
            <button type="button" id="btnOptOut" class="start-button" onclick="UpdateOptOut();">Submit</button>
        </section>

        <section class="footer" style="text-align:center;">
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.FacebookUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.FacebookUrl">
                    <img src="~/img/facebook.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.InstagramUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.InstagramUrl">
                    <img src="~/img/instagram.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.TwitterUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.TwitterUrl">
                    <img src="~/img/twitterx.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.YoutubeURL))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.YoutubeURL">
                    <img src="~/img/youtube.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.WhatsappUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.WhatsappUrl">
                    <img src="~/img/whatsapp.svg" />
                </a>
            }
        </section>

        <script>
        function UpdateOptOut() {
            cuteAlert({
                type: "question",
                title: "Are you sure?",
                message: "You will not receive any offers. Do you want to continue?",
                confirmText: "Yes",
                cancelText: "No"
            }).then((e) => {
                if (e == ("confirm")) {
                    togglePromotion();
                }
            })
        }
        function togglePromotion() {

        var isStartVisible = true;

        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateOptout", "Optout")',
            data: JSON.stringify({ IsOptout: isStartVisible }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {
                console.log(result);
                if (result) {
                    cuteAlert({
                        type: "success",
                        title: "Saved",
                        message: "Optout Successfully!!!",
                        buttonText: "Okay"
                    }).then((e) => {
                        window.location.reload();
                    });
                } else {
                    cuteAlert({
                        type: "error",
                        title: "OOPS...",
                        message: "There is problem in saving your preferences!!!",
                        buttonText: "Okay"
                    })
                    // handle error case or leave as is
                }
            },
            error: function(xhr, status, error) {
                toastr.error('An error occurred: ' + error);
            },
            complete: function() {
                $("#divLoader").hide();
            }
        });
    }

    function toggleMembership(button) {

        var isContinueVisible = true;
        if (button == 0)
            isContinueVisible = false;

        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Update1Optout", "Optout")',
            data: JSON.stringify({ IsOptout: isContinueVisible }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {
                console.log(result);
                if (result) {
                    window.location.reload();
                } else {
                    // handle error case or leave as is
                }
            },
            error: function(xhr, status, error) {
                toastr.error('An error occurred: ' + error);
            },
            complete: function() {
                $("#divLoader").hide();
            }
        });
    }

        $(document).ready(function () {
        console.log(111)
        // Check initial state on page load
            var optout = '@Model.IsOptout'
            console.log(optout)
            if (optout == "False") {
                $("#btnStopPromotions").show();
            }
            else {
                $("#btnStartPromotions").show();
            }

            var optoutTxn = '@Model.IsOptoutTxn'
            console.log(optoutTxn)
            if (optoutTxn == "False") {
                $("#btnContinueMembership").show();
            }
            else {
                $("#btnDiscontinueMembership").show();
            }
    });
        </script>
        <script>
            function Hamburger() {
                var hamburger = document.querySelector('.hamburger');
                var menu = document.querySelector('.menu-container1');
                var logo = document.querySelector('.logo');

                var isMenuVisible = false;

                hamburger.addEventListener('click', function () {
                    if (!isMenuVisible) {
                        menu.style.display = 'block';
                        menu.style.transform = 'translateY(0)';
                        isMenuVisible = true;
                        logo.style.display = 'none';
                    } else {
                        menu.style.transform = 'translateY(-100vh)';
                        isMenuVisible = false;
                        logo.style.display = 'block';

                    }
                });

            }

            Hamburger();

        </script>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
