@model WebApp.ViewModel.ProgrammeViewModel
@{
    ViewBag.Title = "ChangeDemographicDetails";
    //Layout = "~/Views/Shared/_SidebarMenu.cshtml";
}
<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvGroup">

                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        <b>Group Name</b>
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        <b>Outlet Name</b>
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.tblOutletMaster.OutletName, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlOutletMaster" })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        <button type="button" id="btnGO" style="margin-right:30px;" class="btn btn-primary">Show</button>
                    </div>
                </div>
            </div>
            <div class="mb-2 pr-3 pt-3 pl-3" id="dvDetails" style="display: none;">
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Mobile No
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.MobileNo, new { @class = "input100", @id = "txtMobileNo", tabindex = 1 })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Alternate No
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.AlternateNo, new { @class = "input100", @id = "txtAlternateNo", tabindex = 2 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Email Id
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.Email, new { @class = "input100", @id = "txtEmail", tabindex = 3 })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Address
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.Address, new { @class = "input100", @id = "txtAddress", tabindex = 4 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        DOB
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.DOB, new { @class = "input100", @id = "txtDOB", tabindex = 3 })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Anniversary Date
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.DOA, new { @class = "input100", @id = "txtDOA", tabindex = 4 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Gender
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.Gender, new { @class = "input100", @id = "txtGender", tabindex = 5 })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Name
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.Name, new { @class = "input100", @id = "txtName", tabindex = 6 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">                    
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Store Anniversary
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objDemographicData.StoreAnniversary, new { @class = "input100", @id = "txtStoreAnniversary", tabindex = 6 })
                    </div>
                </div>
                <div class="row mb-2 ml-2">
                    <div class="col-md-3 col-xl-6" style="margin-left: 18px; margin-top: 20px; ">
                        <button type="button" id="btnSave" style="margin-left:795px;" class="btn btn-primary" tabindex="15" Onclick="SaveDemographicData()"><b>Update</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnGO').on("click", function () {
            GetDemographicDetails();
        });
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

        $('#txtDOB').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "0:+10"
        })
        $('#txtDOA').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "0:+10"
        })
        $('#txtStoreAnniversary').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "0:+10"
        })
        $('#ddlGroupDetails').change(function () {

            if ($("#ddlGroupDetails option:selected").text() != "Please Select") {
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetOutlet", "IndividualDBConfig")',
                    //url: "/Discussion/GetSubCallTypes",
                    data: '{GroupId: ' + JSON.stringify($("#ddlGroupDetails").val()) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $("#ddlOutletMaster").empty();
                        $("#ddlOutletMaster").append($("<option />").val("").text("Please Select"));
                        $.each(result, function () {
                            $("#ddlOutletMaster").append($("<option />").val(this.Value).text(this.Text));
                        });
                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText);
                        $("#divLoader").hide();
                    }
                });

            }
            else {
                $("#ddlOutletMaster").empty();
                $("#ddlOutletMaster").append($("<option />").val("").text("Please Select"));
            }
        });

    });
    function GetDemographicDetails() {
        if ($('#ddlGroupDetails').val() == "" ) {
            toastr.error('Please Select Group');
            return false
        }
        if ($('#ddlOutletMaster').val() == "") {
            toastr.error('Please Select Outlet');
            return false
        }
        var GroupId = $('#ddlGroupDetails').val();

        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDemographicDetails", "IndividualDBConfig")',
            data: '{GroupId: ' + JSON.stringify($('#ddlGroupDetails').val()) + ',OutletId: ' + JSON.stringify($('#ddlOutletMaster').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.objDemographicData != null) {

                    $("#txtMobileNo").val(result.objDemographicData.MobileNo);
                    $("#txtAlternateNo").val(result.objDemographicData.AlternateNo);
                    $("#txtEmail").val(result.objDemographicData.Email);
                    $("#txtAddress").val(result.objDemographicData.Address);
                    $("#txtDOB").val(result.objDemographicData.DOB);
                    $("#txtDOA").val(result.objDemographicData.DOA);
                    $("#txtGender").val(result.objDemographicData.Gender);
                    $("#txtName").val(result.objDemographicData.Name); 
                    $("#txtStoreAnniversary").val(result.objDemographicData.StoreAnniversary);

                    $("#dvDetails").show();
                    $("#divLoader").hide();
                }

            },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();
            }
        });
    }

    function SaveDemographicData() {
        if ($('#ddlGroupDetails').val() == "") {
            toastr.error('Please Select Group');
            return false
        }
        if ($('#ddlOutletMaster').val() == "") {
            toastr.error('Please Select Group');
            return false
        }

        var GroupId = $('#ddlGroupDetails').val();
        var OutletId = $('#ddlOutletMaster').val();
        var MobileNo = $("#txtMobileNo").val();
        var AlternateNo = $("#txtAlternateNo").val();
        var Email = $("#txtEmail").val();
        var Address = $("#txtAddress").val();
        var DOB = $("#txtDOB").val();
        var DOA = $("#txtDOA").val();
        var Gender = $("#txtGender").val();
        var Name = $("#txtName").val();
        var StoreAnniversary = $("#txtStoreAnniversary").val();

        if (MobileNo == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Mobile No",
                buttonText: "Okay"
            })
        }
        else if (AlternateNo == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Alternate No",
                buttonText: "Okay"
            })
        }
        else if (Email == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Email Id",
                buttonText: "Okay"
            })
        }
        else if (DOB == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the DOB",
                buttonText: "Okay"
            })
        }
        else if (Address == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Address",
                buttonText: "Okay"
            })
        }
        else if (DOA == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Anniversary Date",
                buttonText: "Okay"
            })
        }
        else if (Gender == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Gender",
                buttonText: "Okay"
            })
        }
        else if (Name == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Name",
                buttonText: "Okay"
            })
        }
        else {
            var FilterData = [];
            item = {};
            item["MobileNo"] = MobileNo;
            item["GroupId"] = GroupId;
            item["OutletId"] = OutletId;
            item["AlternateNo"] = AlternateNo;
            item["Email"] = Email;
            item["Address"] = Address;
            item["DOB"] = DOB;
            item["DOA"] = DOA;
            item["Gender"] = Gender;
            item["Name"] = Name;
            item["StoreAnniversary"] = StoreAnniversary;

            FilterData.push(item);
            var data = JSON.stringify(FilterData);

            $("#divLoader").show();

               $.ajax({
                  type: "POST",
                  url: '@Url.Action("SaveDemographicDetails", "IndividualDBConfig")',
                   data: '{jsonData: ' + JSON.stringify(data) + '}',
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (result) {
                      console.log(result)
                      if (result = true) {
                          cuteAlert({
                              type: "success",
                              title: "Success Title",
                              message: "Data Saved Successfully",
                              buttonText: "Okay"
                          })

                        $("#divLoader").hide();
                      }
                      else {
                          cuteAlert({
                              type: "error",
                              title: "Oops..",
                              message: "couldn't Save Data",
                              buttonText: "Okay"
                          })
                      }

                    $("#divLoader").hide();
                  },
                   error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
               }
          });

    }

}


</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
