@model WebApp.ViewModel.ProgrammeViewModel
@{
    ViewBag.Title = "ChangeBurnRule";
    //Layout = "~/Views/Shared/_SidebarMenu.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvGroup">
                <div class="col-lg-3 col-md-3 ">
                    <b>Group Name</b>
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
                </div>
                <div style="margin-left:50px;">
                    <button type="button" id="btnGO" style="margin-right:30px;" class="btn btn-primary">Show</button>
                </div>
            </div>
            <div class="mb-2 pr-3 pt-3 pl-3" id="dvDetails" style="display: none;">
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Min Txn Amount
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objBurnData.BurnMinTxnAmt, new { @class = "input50", @id = "txtBurnMinTxnAmt", tabindex = 1 })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Min Redemption Points
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objBurnData.MinRedemptionPts, new { @class = "input50", @id = "txtMinRedemptionPts", tabindex = 2 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Min Points First Time
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objBurnData.MinRedemptionPtsFirstTime, new { @class = "input50", @id = "txtMinRedemptionPtsFirstTime", tabindex = 3 })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Burn Invoice Amt Percentage
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objBurnData.BurnInvoiceAmtPercentage, new { @class = "input50", @id = "txtBurnInvoiceAmtPercentage", tabindex = 4 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Burn Points Percentage
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.objBurnData.BurnDBPointsPercentage, new { @class = "input50", @id = "txtBurnDBPointsPercentage", tabindex = 5 })
                    </div>
                </div>
                <div class="row mb-2 ml-2">
                    <div class="col-md-3 col-xl-6" style="margin-left: 18px; margin-top: 20px; ">
                        <button type="button" id="btnSave" style="margin-left:500px;" class="btn btn-primary" tabindex="15" Onclick="SaveBurnData()"><b>Update</b></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnGO').on("click", function () {
            GetBurnRule();
        });
    });

    function GetBurnRule() {
        if ($('#ddlGroupDetails').val() == "" ) {
            toastr.error('Please Select Group');
            return false
        }
        var GroupId = $('#ddlGroupDetails').val();

        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetBurnRule", "IndividualDBConfig")',
            data: '{GroupId: ' + JSON.stringify($('#ddlGroupDetails').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.objBurnData != null) {

                    $("#txtBurnMinTxnAmt").val(result.objBurnData.BurnMinTxnAmt);
                    $("#txtMinRedemptionPts").val(result.objBurnData.MinRedemptionPts);
                    $("#txtMinRedemptionPtsFirstTime").val(result.objBurnData.MinRedemptionPtsFirstTime);
                    $("#txtBurnInvoiceAmtPercentage").val(result.objBurnData.BurnInvoiceAmtPercentage);
                    $("#txtBurnDBPointsPercentage").val(result.objBurnData.BurnDBPointsPercentage);
                    $("#dvDetails").show();
                    $("#divLoader").hide();
                }

            },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();
            }
        });
    }

    function SaveBurnData() {
        if ($('#ddlGroupDetails').val() == "") {
            toastr.error('Please Select Group');
            return false
        }

        var GroupId = $('#ddlGroupDetails').val();
        alert(GroupId)

        var BurnMinTxnAmt = $("#txtBurnMinTxnAmt").val();
        var MinRedemptionPts = $("#txtMinRedemptionPts").val();
        var MinRedemptionPtsFirstTime = $("#txtMinRedemptionPtsFirstTime").val();
        var BurnInvoiceAmtPercentage = $("#txtBurnInvoiceAmtPercentage").val();
        var BurnDBPointsPercentage = $("#txtBurnDBPointsPercentage").val();

        if (BurnMinTxnAmt == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Min Txn Amt",
                buttonText: "Okay"
            })
        }
        else if (MinRedemptionPts == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Min Redemption Points",
                buttonText: "Okay"
            })
        }
        if (MinRedemptionPtsFirstTime == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Min Points First Time",
                buttonText: "Okay"
            })
        }
        else if (BurnInvoiceAmtPercentage == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Burn Invoice Amt Percentage",
                buttonText: "Okay"
            })
        }
        if (BurnDBPointsPercentage == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Burn Points Percentage",
                buttonText: "Okay"
            })
        }
        else
        {
            var FilterData = [];
            item = {};
            item["GroupId"] = GroupId;
            item["BurnMinTxnAmt"] = BurnMinTxnAmt;
            item["MinRedemptionPts"] = MinRedemptionPts;
            item["MinRedemptionPtsFirstTime"] = MinRedemptionPtsFirstTime;
            item["BurnInvoiceAmtPercentage"] = BurnInvoiceAmtPercentage;
            item["BurnDBPointsPercentage"] = BurnDBPointsPercentage;

            FilterData.push(item);
            var data = JSON.stringify(FilterData);

            $("#divLoader").show();
            $.ajax({
                  type: "POST",
                  url: '@Url.Action("SaveBurnRule", "IndividualDBConfig")',
                   data: '{jsonData: ' + JSON.stringify(data) + '}',
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (result) {
                      console.log(result)
                      if (result = true) {
                          cuteAlert({
                              type: "success",
                              title: "Success Title",
                              message: "Rule Updated Successfully",
                              buttonText: "Okay"
                          })

                        $("#divLoader").hide();
                      }
                      else {
                          cuteAlert({
                              type: "error",
                              title: "Oops..",
                              message: "couldn't Save Data",
                              buttonText: "Okay"
                          })
                      }

                    $("#divLoader").hide();
                 },
                   error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
            }
        });
    }
}
</script>


