@model WebApp.ViewModel.ProgrammeViewModel
@{
    ViewBag.Title = "ChangeEarnRule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">            
            <div id="dvRules">
                <div class="col-md-12 col-lg-12" style="display: flex;margin-left:80px;" id="dvTxnAmt">
                    <div class="col-lg-3 col-md-3">
                        <b>Txn Amt</b>
                        @Html.TextBoxFor(model => model.objtblRuleMaster.EarnMinTxnAmt, new { @class = "input50", @id = "txtTxnAmt" })
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <b>Revolving Expiry Months</b>
                        @Html.TextBoxFor(model => model.objtblRuleMaster.PointsExpiryMonths, new { @class = "input50", @id = "txtRevolvingExpiry" })
                    </div>
                </div>
                <div class="col-md-12 col-lg-12" style="display: flex;margin-left:80px;margin-top:10px;" id="dvRevolvingExpiry">
                    <div class="col-lg-3 col-md-3">
                        <b>Percentage</b>
                        @Html.TextBoxFor(model => model.objtblRuleMaster.PointsPercentage, new { @class = "input50", @id = "txtPercentage" })
                    </div>
                    <div class="col-md-3 col-xl-3">
                        <b>Points In Rs</b>
                        @Html.TextBoxFor(model => model.objtblRuleMaster.PointsAllocation, new { @class = "input50", @id = "txtPointsInRs" })
                    </div>
                </div>
                <div class="col-md-12 col-lg-12" style="display: flex;margin-left:95px;margin-top:10px;" id="dvRevolving">
                    <div>
                        <b>Revolving</b>
                    </div>
                    <div style="margin-left:20px;">
                        <input type="checkbox" id="chkRevolving" style="cursor: pointer; margin-right: 5px;width:25px;height:25px;margin-top:5px;" />
                    </div>
                </div>
                <div class="col-md-3 col-xl-3" style="margin-left:280px;">
                    <button class="btn btn-primary ml-auto mt-3" type="button" title="Next" id="btnUpdate" tabindex="20">Update</button>
                </div>
            </div>           
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetEarnRule();
        
        $('#btnUpdate').on("click", function () {
            SaveEarnRule();
        });        
    });
    function GetEarnRule() {        
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetEarnRule", "IndividualDBConfig")',           
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                console.log(result.objEarndata);
                if (result.objEarndata != null) {
                    $("#dvRules").show();
                    
                    $("#txtTxnAmt").val(result.objEarndata.EarnMinTxnAmt);
                    $("#txtRevolvingExpiry").val(result.objEarndata.PointsExpiryMonths);
                    $("#txtPointsInRs").val(result.objEarndata.PointsAllocation);
                    $("#txtPercentage").val(result.objEarndata.PointsPercentage);
                    if (result.objEarndata.Revolving) {
                        $("#chkRevolving").prop("checked", true)
                    }
                    $("#divLoader").hide();
                }
            },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
    }
    function SaveEarnRule() {        
        var EarnMinTxnAmt = $("#txtTxnAmt").val();
        var PointsExpiryMonths = $("#txtRevolvingExpiry").val();
        var PointsPercentage = $("#txtPercentage").val();
        var PointsAllocation = $("#txtPointsInRs").val();
        var Revolving = $("chkRevolving").val();
        var FilterData = [];
        item = {};        
        item["EarnMinTxnAmt"] = EarnMinTxnAmt;
        item["PointsExpiryMonths"] = PointsExpiryMonths;
        item["PointsPercentage"] = PointsPercentage;
        item["PointsAllocation"] = PointsAllocation;
        if ($("#chkRevolving").is(":checked")) {
            Revolving = true;
        }
        else {
            Revolving = false;
        }
        item["Revolving"] = Revolving;

        FilterData.push(item);

        var data = JSON.stringify(FilterData);

        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveEarnRule", "IndividualDBConfig")',
            data: '{jsonData: ' + JSON.stringify(data) + ',TxnAmt: ' + JSON.stringify($("#txtTxnAmt").val()) + ', RevolvingExpiry: ' + JSON.stringify($("#txtRevolvingExpiry").val()) + ',Percentage: ' + JSON.stringify($("#txtPercentage").val()) + ',PointsInRs: ' + JSON.stringify($("#txtPointsInRs").val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result)
                if (result = true) {
                    cuteAlert({
                        type: "success",
                        title: "Success Title",
                        message: "Earn Rule Changed Successfully",
                        buttonText: "Okay"
                    }).then(() => {
                        var urlLink = "@Url.Action("ChangeEarnRule", "IndividualDBConfig")";
                        window.location.href = urlLink;
                    });
                    $("#divLoader").hide();
                }
                else {
                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Error in Changing Rule",
                        buttonText: "Okay"
                    })
                }
                $("#divLoader").hide();
            }
        });
    }
</script>

