@model WebApp.ViewModel.ProgrammeViewModel
@{
    ViewBag.Title = "DisableSMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">            
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4">
                <div class="col-lg-3 col-md-3 ">
                    <b>Mobile No</b>
                </div>
                <div class="col-lg-3 col-md-3 " style="margin-left:15px;">
                    <input type="number" id="txtMobileNo" class="input50" />
                </div>
                <div class="col-lg-3 col-md-3 " style="margin-left:50px;">
                    <button type="button" id="btnSearchMember1" style="margin-left:10px;" class="btn btn-primary">Show</button>
                </div>
            </div>
            
            <div class="col-md-12 col-lg-12" style="padding-left: 0px !important;margin-top:30px;margin-left:80px;display:none;" id="dvMemberDetails">
                <div class="col-md-4 col-lg-4" style="padding-left: 0px !important; margin-bottom: 10px; ">
                    <table border="1" cellpadding="5" cellspacing="5">
                        <tr>
                            <th colspan="2" style="padding:10px;text-align:center;">Existing Member Details</th>
                        </tr>
                        <tr>
                            <td style="padding:10px;">Member Name</td>
                            <td style="padding:10px;width:150px;"><span style="color:red;" id="spnMemberName"></span></td>
                        </tr>
                        <tr>
                            <td style="padding:10px;">Enable/Disable Promotional Msg</td>
                            <td><input type="checkbox" id="chkMsg" style="cursor: pointer; margin-right: 5px;width:25px;height:25px;margin-top:5px;" /></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 col-xl-3" style="margin-left:80px;">
                    <button class="btn btn-primary ml-auto mt-3" type="button" title="Next" id="btnUpdate" tabindex="20">Update</button>
                </div>
            </div>          
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnSearchMember1').on("click", function () {
                GetChangeNameData();
        });
        $('#btnUpdate').on("click", function () {
            DisablePromotionalSMS();
        });
    });
    function GetChangeNameData() {
        if ($('#txtMobileNo').val() == "") {
            toastr.error('Please Enter Mobile No');
            return false
        }
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetChangeNameData", "IndividualDBConfig")',
            data: '{MobileNo: ' + JSON.stringify($('#txtMobileNo').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.MobileNo != null) {
                    $("#dvMemberDetails").show();
                $("#spnMemberName").text(result.MemberName);
                $("#spnMobileno").text(result.MobileNo);
                    if (result.DisableSMSWAPromo) {
                        $("#chkMsg").prop("checked", true)
                    }
                }
                else {
                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Member Not Present",
                        buttonText: "Okay"
                    }).then(() => {
                        var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                        window.location.href = urlLink;
                    });
                    $("#spnMemberName").text("");
                    $("#spnMobileno").text("");
                }
                $("#divLoader").hide();
                },
            error: function (result) {
                console.log(result.responseText)
                $("#divLoader").hide();
            }
        });
    }

    function DisablePromotionalSMS() {
        if ($("#chkMsg").is(":checked")) {
            DisableSMSWAPromo = true;
            cuteAlert({
                type: "question",
                title: "Confirmation",
                message: "Do you want to enable promotional SMS?",
                confirmText: "Yes",
                cancelText: "No"
            }).then((e) => {
                var MemberData = [];
                item = {}
                item["MobileNo"] = $("#txtMobileNo").val();
                item["DisableSMSWAPromo"] = DisableSMSWAPromo;
                MemberData.push(item);
                var data = JSON.stringify(MemberData);
                console.log(data)
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DisablePromotionalSMS", "IndividualDBConfig")',
                    data: '{jsonData: ' + JSON.stringify(data) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        cuteAlert({
                            type: "success",
                            title: "Success",
                            message: "Message Enabled Successfully",
                            buttonText: "Okay"
                        }).then(() => {
                             var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                             window.location.href = urlLink;
                        });
                    },
                    error: function (result) {
                        console.log(result.responseText)
                    }
                });

            })
        }
        else {
            DisableSMSWAPromo = false;
            cuteAlert({
                type: "question",
                title: "Confirmation",
                message: "Do you want to disable promotional SMS?",
                confirmText: "Yes",
                cancelText: "No"
            }).then((e) => {
                var MemberData = [];
                item = {}
                item["MobileNo"] = $("#txtMobileNo").val();
                item["DisableSMSWAPromo"] = DisableSMSWAPromo;
                MemberData.push(item);
                var data = JSON.stringify(MemberData);
                console.log(data)
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DisablePromotionalSMS", "IndividualDBConfig")',
                    data: '{jsonData: ' + JSON.stringify(data) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        cuteAlert({
                            type: "success",
                            title: "Success",
                            message: "Message Disabled Successfully",
                            buttonText: "Okay"
                        }).then(() => {
                             var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                             window.location.href = urlLink;
                        });
                    },
                    error: function (result) {
                        console.log(result.responseText)
                    }
                });
            })
        }


    }
    
</script>


