@model WebApp.ViewModel.ProgrammeViewModel
@{
    ViewBag.Title = "DisableSMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-6 col-xl-6 row">
                <input type="radio" id="rbtnPromotional" checked name="SMS" style="width:20px;height:20px;cursor:pointer;" /> &nbsp; <div style="margin-right:100px;"> Disable Promotional SMS </div> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rbtnTxn" name="SMS" style="width:20px;height:20px;cursor:pointer;" />&nbsp; <div> Disable Txn SMS </div>
            </div>
            @*<div id="dvPromo" class="col-md-6 col-xl-6 row mt-5">
                <input type="radio" id="rbtnPromoCust" checked name="Promo" style="width:20px;height:20px;cursor:pointer;" /> &nbsp; <div style="margin-right:150px;">Search Customer</div> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rbtnPromoFileUpload" name="Promo" style="width:20px;height:20px;cursor:pointer;" />&nbsp; <div>Upload File</div>
            </div>
            <div id="dvTxn" class="col-md-6 col-xl-6 row mt-5" style="display:none">
                <input type="radio" id="rbtnTxnCust" checked name="Txn" style="width:20px;height:20px;cursor:pointer;" /> &nbsp; <div style="margin-right:150px;">Search Customer</div> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rbtnTxnFileUpload" name="Txn" style="width:20px;height:20px;cursor:pointer;" />&nbsp; <div>Upload File</div>
            </div>*@
            <div id="dvPromotionalSMS" class="col-md-6 col-xl-6 row mt-5">
                <input type="number" id="txtMobileNo" class="input100" placeholder="Please enter mobile Number" /> <button id="btnSearchMemberPromoSMS" class="btn btn-primary login-btn" style="margin-left:30px;">Show</button>
                <div class="col-md-12 col-lg-12" style="padding-left: 0px !important;margin-top:30px;margin-left:80px;display:none;" id="dvMemberDetails">
                    <div class="col-md-4 col-lg-4" style="padding-left: 0px !important; margin-bottom: 10px; ">
                        <table border="1" cellpadding="5" cellspacing="5">
                            <tr>
                                <th colspan="2" style="padding:10px;text-align:center;">Existing Member Details</th>
                            </tr>
                            <tr>
                                <td style="padding:10px;">Member Name</td>
                                <td style="padding:10px;width:150px;"><span style="color:red;" id="spnMemberName"></span></td>
                            </tr>
                            <tr>
                                <td style="padding:10px;">Enable/Disable Promotional SMS</td>
                                <td>
                                    <button id="btnEnableDisablePromoSMS" class="btn btn-primary ml-auto mt-3" value=""></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="dvUploadPromoMemberList" style="display:none;">
                <div class="app-main__inner">
                    <input type="hidden" id="hdnuploadDocBase64" />
                    <input type="hidden" id="hdnFileName" />
                    <div class="container-fluid pt-3 pr-3 pb-3 ml-5">
                        <div class="col-md-8 col-xl-8 row mt-3 mb-4" id="dvMainSection">
                            <input type="file" id="fileUpload1" />
                            <button type="button" id="btnPromoUpload" class="btn btn-primary">Upload</button>
                            <div class="ml-5"> <a href="~/Downloads/DisableDataFile.xlsx" target="_blank">Download Sample File</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 row mt-5" id="dvTransactionalSMS" style="display:none">
                <input type="number" id="txtMobileNo2" class="input100" placeholder="Please enter mobile Number" /> <button id="btnSearchMemberTxnSMS" class="btn btn-primary login-btn" style="margin-left:30px;">Show</button>
                <div class="col-md-12 col-lg-12" style="padding-left: 0px !important;margin-top:30px;margin-left:80px;display:none;" id="dvMemberDetails2">
                    <div class="col-md-4 col-lg-4" style="padding-left: 0px !important; margin-bottom: 10px; ">
                        <table border="1" cellpadding="5" cellspacing="5">
                            <tr>
                                <th colspan="2" style="padding:10px;text-align:center;">Existing Member Details</th>
                            </tr>
                            <tr>
                                <td style="padding:10px;">Member Name</td>
                                <td style="padding:10px;width:150px;"><span style="color:red;" id="spnMemberName2"></span></td>
                            </tr>
                            <tr>
                                <td style="padding:10px;">Enable/Disable Txn SMS</td>
                                <td>
                                    <button id="btnEnableDisableTxnSMS" class="btn btn-primary ml-auto mt-3" value=""></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="dvUploadTxnMemberList" style="display:none;">
                <div class="app-main__inner">
                    <input type="hidden" id="hdnuploadDocBase64" />
                    <input type="hidden" id="hdnFileName" />
                    <div class="container-fluid pt-3 pr-3 pb-3 ml-5">
                        <div class="col-md-8 col-xl-8 row mt-3 mb-4" id="dvMainSection1">
                            <input type="file" id="fileUpload2" />
                            <button type="button" id="btnTxnUpload" class="btn btn-primary">Upload</button>
                            <div class="ml-5"> <a href="~/Downloads/DisableDataFile.xlsx" target="_blank">Download Sample File</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnSearchMemberPromoSMS').on("click", function () {
            GetChangeNameDataForPromoSMS();
        });
        $('#btnSearchMemberTxnSMS').on("click", function () {
            GetChangeNameDataForTxnSMS();
        });
        $('#btnEnableDisablePromoSMS').on("click", function () {
            DisablePromotionalSMS();
        });
        $('#btnEnableDisableTxnSMS').on("click", function () {
            DisableTransactionalSMS();
        });
        $("#rbtnPromotional").change(function () {
            $("#dvPromo").show();
            $("#dvTxn").hide();
            $("#dvPromotionalSMS").show();
            $("#dvTransactionalSMS").hide();
            $("#dvUploadPromoMemberList").hide();
        });
        $("#rbtnTxn").change(function () {
            $("#dvTxn").show();
            $("#dvPromo").hide();
            $("#dvPromotionalSMS").hide();
            $("#dvTransactionalSMS").show();
            $("#dvUploadPromoMemberList").hide();
        });
        $("#rbtnPromoCust").change(function () {
            $("#dvPromotionalSMS").show();
            $("#dvUploadPromoMemberList").hide();
        });
        $("#rbtnPromoFileUpload").change(function () {
            $("#dvPromotionalSMS").hide();
            $("#dvUploadPromoMemberList").show();
        });
        $("#rbtnTxnCust").change(function () {
            $("#dvTransactionalSMS").show();
            $("#dvUploadTxnMemberList").hide();
        });
        $("#rbtnTxnFileUpload").change(function () {
            $("#dvTransactionalSMS").hide();
            $("#dvUploadTxnMemberList").show();
        });
        $("#btnPromoUpload").click(function (){
            UploadDisablePromoDocuments();
        });
        $("#btnTxnUpload").click(function (){
            UploadDisableTxnDocuments();
        });
    });
    function GetChangeNameDataForPromoSMS() {
        if ($('#txtMobileNo').val() == "") {
            toastr.error('Please Enter Mobile No');
            return false
        }
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetChangeNameData", "IndividualDBConfig")',
            data: '{MobileNo: ' + JSON.stringify($('#txtMobileNo').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.MobileNo != null) {
                    $("#dvMemberDetails").show();
                $("#spnMemberName").text(result.MemberName);
                $("#spnMobileno").text(result.MobileNo);
                    if (result.DisableSMSWAPromo) {
                        $("#btnEnableDisablePromoSMS").text("Enable");
                    }
                    else {
                        $("#btnEnableDisablePromoSMS").text("Disable");
                    }
                }
                else {
                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Member Not Present",
                        buttonText: "Okay"
                    }).then(() => {
                        var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                        window.location.href = urlLink;
                    });
                    $("#spnMemberName").text("");
                    $("#spnMobileno").text("");
                }
                $("#divLoader").hide();
                },
            error: function (result) {
                console.log(result.responseText)
                $("#divLoader").hide();
            }
        });
    }
    function GetChangeNameDataForTxnSMS() {
        if ($('#txtMobileNo2').val() == "") {
            toastr.error('Please Enter Mobile No');
            return false
        }
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetChangeNameData", "IndividualDBConfig")',
            data: '{MobileNo: ' + JSON.stringify($('#txtMobileNo2').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.MobileNo != null) {
                    $("#dvMemberDetails2").show();
                $("#spnMemberName2").text(result.MemberName);
                $("#spnMobileno2").text(result.MobileNo);
                    if (result.DisableSMSWATxn) {
                        $("#btnEnableDisableTxnSMS").text("Enable");
                    }
                    else {
                        $("#btnEnableDisableTxnSMS").text("Disable");
                    }
                }
                else {
                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Member Not Present",
                        buttonText: "Okay"
                    }).then(() => {
                        var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                        window.location.href = urlLink;
                    });
                    $("#spnMemberName2").text("");
                    $("#spnMobileno2").text("");
                }
                $("#divLoader").hide();
                },
            error: function (result) {
                console.log(result.responseText)
                $("#divLoader").hide();
            }
        });
    }
    function DisablePromotionalSMS() {
        var DisableSMSWAPromo = true;
        if ($("#btnEnableDisablePromoSMS").text() == "Enable") {
            DisableSMSWAPromo = false;
        }
        var message = '';
        if (DisableSMSWAPromo) {
            message = 'Do you want to disable Promotional Message?';
        }
        else {
            message = 'Do you want to enable Promotional Message?';
        }
        cuteAlert({
            type: "question",
            title: "Confirmation",
            message: message,
            confirmText: "Yes",
            cancelText: "No"
        }).then((e) => {
            if (e == ("confirm")) {
                var MemberData = [];
                item = {}
                item["MobileNo"] = $("#txtMobileNo").val();
                item["DisableSMSWAPromo"] = DisableSMSWAPromo;
                MemberData.push(item);
                var data = JSON.stringify(MemberData);
                console.log(data)
                $("#divLoader").show();
                var message1 = ''
                if (DisableSMSWAPromo) {
                    message1 = 'Promotional Message Disabled Successfully';
                }
                else {
                    message1 = 'Promotional Message Enabled Successfully';
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DisablePromotionalSMS", "IndividualDBConfig")',
                    data: '{jsonData: ' + JSON.stringify(data) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        cuteAlert({
                            type: "success",
                            title: "Success",
                            message: message1,
                            buttonText: "Okay"
                        }).then(() => {
                            var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                            window.location.href = urlLink;
                        });
                    },
                    error: function (result) {
                        console.log(result.responseText)
                    }
                });
            }
        })
    }
    function DisableTransactionalSMS() {
        var DisableSMSWATxn = true;
        if ($("#btnEnableDisableTxnSMS").text() == "Enable") {
                DisableSMSWATxn = false;
        }
          var message = '';
        if (DisableSMSWATxn) {
                message = 'Do you want to disable Transactional Message?';
        }
        else {
                message = 'Do you want to enable Transactional Message?';
        }
        cuteAlert({
                type: "question",
                title: "Confirmation",
                message: message,
                confirmText: "Yes",
                cancelText: "No"
        }).then((e) => {
        if (e == ("confirm")) {
        var MemberData = [];
            item = {}
            item["MobileNo"] = $("#txtMobileNo2").val();
            item["DisableSMSWATxn"] = DisableSMSWATxn;
            MemberData.push(item);
            var data = JSON.stringify(MemberData);
            console.log(data)
            $("#divLoader").show();
            var message1 = ''
            if (DisableSMSWATxn) {
                 message1 = 'Transactional Message Disabled Successfully';
            }
            else {
                 message1 = 'Transactional Message Enabled Successfully';
            }
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("DisableTransactionalSMS", "IndividualDBConfig")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (result) {
                        cuteAlert({
                            type: "success",
                            title: "Success",
                            message: message1,
                            buttonText: "Okay"
                        }).then(() => {
                            var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                            window.location.href = urlLink;
                        });
                 },
                 error: function (result) {
                        console.log(result.responseText)
                 }
            });

        }

        })
    }
    function UploadDisablePromoDocuments() {
        if (window.FormData !== undefined) {
            var fileUpload = $("#fileUpload1").get(0);

            var files = fileUpload.files;
            if (files.length > 0) {
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadDisablePromoDocument", "IndividualDBConfig")',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    if (result) {
                        cuteAlert({
                            type: "success",
                            title: "Update",
                            message: "Disable Promo Messages data uploaded Successfully",
                            buttonText: "Okay"
                        }).then(() => {
                            var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                            window.location.href = urlLink;
                        });

                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "OOPS..",
                            message: "There is problem in uploading Disable Promo Messages data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    alert(111)
                    console.log(result.responseText)
                }
            });

            }
        }
    }
    function UploadDisableTxnDocuments() {
        if (window.FormData !== undefined) {
            var fileUpload = $("#fileUpload2").get(0);

            var files = fileUpload.files;
            if (files.length > 0) {
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadDisableTxnDocument", "IndividualDBConfig")',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    if (result) {
                        cuteAlert({
                            type: "success",
                            title: "Update",
                            message: "Disable Transactional Messages data uploaded Successfully",
                            buttonText: "Okay"
                        }).then(() => {
                            var urlLink = "@Url.Action("DisableSMS", "IndividualDBConfig")";
                            window.location.href = urlLink;
                        });

                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "OOPS..",
                            message: "There is problem in uploading Disable Transactional Messages data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    alert(111)
                    console.log(result.responseText)
                }
            });

            }
        }
    }
    </script>


