@model WebApp.ViewModel.ProgrammeViewModel
@{
    ViewBag.Title = "Extend Points Expiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pr-3 pb-3 ml-5">
            @*<div class="col-md-8 col-xl-8 row mt-3 mb-4" id="dvGroup">
                <input type="hidden" id="hdnGroupId" />
                <div class="col-lg-3 col-md-3" style="text-align:end;">
                    <b>Group Name</b>
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
                </div>
                <div style="margin-top:5px;">
                    <button type="button" id="btnShow" style="margin-left:40px;" class="btn btn-primary">Go</button>
                </div>
            </div>*@
            <div id="dvMainSection" @*style="display:none;"*@>
                <div class="col-md-6 col-xl-6 row">
                    <input type="radio" id="rdnBase" checked name="ptsexpiry" style="width:20px;height:20px;cursor:pointer;" /> &nbsp; <div style="margin-right:100px;">Base</div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnCampaign" name="ptsexpiry" style="width:20px;height:20px;cursor:pointer;" />&nbsp; <div>Campaign</div>
                </div>
                <div id="dvBase" class="col-md-6 col-xl-6 row mt-5">
                    <input type="radio" id="rdnBaseCust" checked name="ptsbase" style="width:20px;height:20px;cursor:pointer;" /> &nbsp; <div style="margin-right:25px;">Search Customer</div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnBaseRange" name="ptsbase" style="width:20px;height:20px;cursor:pointer;" />&nbsp; <div>Search Date Range</div>
                </div>
                <div id="dvCust" class="col-md-6 col-xl-6 row mt-5">
                    <input type="number" id="txtMobileNo" class="input100" placeholder="Please enter mobile Number" /> <button id="btnSearchCustomer" class="btn btn-primary login-btn" style="margin-left:30px;">Show</button>
                    <div id="dvSearchCustSection" class="col-md-6 col-xl-6 mt-4" style="display:none;">
                        <table border="1" cellpadding="10" cellspacing="10" width="400px">
                            <tr>
                                <td>Mobile No</td>
                                <td><span id="spnMobileNo"></span></td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td><span id="spnCustName"></span></td>
                            </tr>
                            <tr>
                                <td>Points</td>
                                <td><span id="spnPoints"></span></td>
                            </tr>
                            <tr>
                                <td>Expiry Date</td>
                                <td><span id="spnExpiryDate"></span></td>
                            </tr>
                        </table>
                        <table width="400px" border="1" cellpadding="10" cellspacing="10">
                            <tr>
                                <td>New Expiry Date</td>
                                <td><input id="txtExpiryDate" class="input50" /></td>
                                <td><button type="button" id="btnUpdateSingleMember" class="btn btn-primary">Update</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="dvRange" class="col-md-6 col-xl-12 row mt-5" style="display:none;">
                    Date Range:
                    <div class="col-md-3 col-xl-3">
                        <input type="text" class="input50" placeholder="From Date" readonly id="dtFrom" />&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-3 col-xl-3">
                        <input type="text" class="input50" placeholder="To Date" readonly id="dtTo" />
                    </div>
                    <div class="col-md-3 col-xl-2">
                        <button type="button" id="btnShowRange" class="btn btn-primary">Show</button>
                    </div>
                    <div id="dvSearchCust" class="col-md-6 col-xl-10 mt-4" style="display:none;">
                        <b>Customer Count: <span id="spnCustNo"></span></b>
                        <div class="mt-3">Update Expiry Date: <input id="txtUpdateRange" placeholder="Update Date" readonly class="input50" /> <button type="button" id="btnUpdateRange" class="btn btn-primary">Update</button></div>
                        <div id="dvSearchCustDateRange" class="col-md-6 col-xl-10 mt-4">
                        </div>
                    </div>
                </div>

                <div id="dvCampaign" class="mt-5" style="display:none;">
                    <div id="dvCampaignList" class="col-md-6 col-xl-10 mt-4 row">
                        Campaigns 
                        <select id="ddlCampaigns" class="input100">
                            <option value="0">Please Select</option>
                        </select>
                    </div>
                    <div id="dvCampaignDataDetails" class="mt-4" style="display:none;">
                        <table border="1" cellpadding="10" cellspacing="10">
                            <tr>
                                <td>Campaign Status</td>
                                <td><span id="spnCampaignStatus"></span></td>
                            </tr>
                            <tr>
                                <td>No Of Users</td>
                                <td><span id="spnNoOfUsers"></span></td>
                            </tr>
                            <tr>
                                <td>End Date</td>
                                <td><span id="spnEndDate"></span></td>
                            </tr>
                        </table>
                        <div class="mt-3">Update Expiry Date: <input id="txtUpdateCampaignExpiry" placeholder="Update Date" readonly class="input50" /> <button type="button" id="btnUpdateCampaignExpiry" class="btn btn-primary">Update</button></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#btnSearchCustomer").click(function () {
            if ($("#txtMobileNo").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please enter Mobile no",
                    buttonText: "Okay"
                })
            }
            else {
                GetCustomerDetails();
            }
            
        });
        $("#btnShowRange").click(function () {
            if ($("#dtFrom").val() == "" && $("#dtTo").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please select date",
                    buttonText: "Okay"
                })
            }
            else {
                GetRangeCustomerDetails();
            }
        });
        //$("#btnShow").click(function () {
        //    if ($("#ddlGroupDetails").val() == "") {
        //        cuteAlert({
        //            type: "error",
        //            title: "OOPS...",
        //            message: "Please select Group",
        //            buttonText: "Okay"
        //        })
        //    }
        //    else {
        //        $("#dvMainSection").show(1000);
        //    }
        //});
        $("#btnUpdateRange").click(function () {
            if ($("#txtUpdateRange").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please select Date to update",
                    buttonText: "Okay"
                })
            }
            else {
                UpdateExpiryPointsDateRange();
            }
        });
        $("#btnUpdateSingleMember").click(function () {
            UpdateExpiryPointsDate();
        });
        $("#btnUpdateCampaignExpiry").click(function () {
            if ($("#txtUpdateCampaignExpiry").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please select Date to update",
                    buttonText: "Okay"
                })
            }
            else {
                UpdateCampaignExpiry();
            }           
        });
        $("#txtExpiryDate").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#dtFrom").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#dtTo").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#txtUpdateRange").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#txtUpdateCampaignExpiry").datepicker({
            dateFormat: "yy-mm-dd",
        });        
    });

    $("#ddlCampaigns").change(function () {
        if ($("#ddlCampaigns").val() != "0") {
            GetCampaignDetails();
            $("#dvCampaignDataDetails").show(1000);
        }
        else {
            $("#dvCampaignDataDetails").empty();
            $("#dvCampaignDataDetails").hide();
        }
    });

    $("#rdnBase").change(function () {
        $("#dvBase").show();
        $("#dvCust").show();
        $("#dvRange").hide();
        $("#dvCampaign").hide();
    });

    $("#rdnCampaign").change(function () {
        $("#dvCampaign").show();
        $("#dvBase").hide();
        $("#dvCust").hide();
        $("#dvRange").hide();
        GetCampaings();
    });

    $("#rdnBaseCust").change(function () {
        $("#dvCust").show();
        $("#dvRange").hide();
    });

    $("#rdnBaseRange").change(function () {
        $("#dvRange").show();
        $("#dvCust").hide();
    });

    function GetCustomerDetails() {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPointExpiryDetails", "IndividualDBConfig")',
            data: '{mobileNo: ' + JSON.stringify($('#txtMobileNo').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);

                if (result != null) {
                    $("#spnMobileNo").text(result.MobileNo);
                    $("#spnCustName").text(result.CustName);
                    $("#spnPoints").text(result.Points);
                    $("#spnExpiryDate").text(result.EndDate);
                    $("#divLoader").hide();
                }
            },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
        $("#dvSearchCustSection").show(1000);
    }

    function UpdateExpiryPointsDate() {
        $("#divLoader").show();
         $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateExpiryPointsDate", "IndividualDBConfig")',
             data: '{mobileNo: ' + JSON.stringify($('#txtMobileNo').val()) + ',expiryDate: ' + JSON.stringify($('#txtExpiryDate').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
             success: function (result) {
                 console.log(result);
                 if (result) {
                     cuteAlert({
                        type: "success",
                        title: "Update",
                        message: "Point Expiry date extended Successfully",
                        buttonText: "Okay"
                    }).then(() => {
                        var urlLink = "@Url.Action("ExtendPointsExpiry", "IndividualDBConfig")";
                        window.location.href = urlLink;
                    });
                     $("#divLoader").hide();
                 }
             },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
    }

    function GetRangeCustomerDetails() {
         $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetExpiryDataByDateRange", "IndividualDBConfig")',
            data: '{fromDate: ' + JSON.stringify($('#dtFrom').val()) + ',toDate: ' + JSON.stringify($('#dtTo').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $("#spnCustNo").text(result.length);
                var htmlStr = "<table border=\"2\" cellpadding=\"10\" cellspacing=\"10\" style=\"margin-left: 11px;\" class=\"table\">";
                htmlStr += "<th scope=\"col\">Mobile No</th>";
                htmlStr += "<th scope=\"col\">Customer Name</th>";
                htmlStr += "<th scope=\"col\">Points</th>";
                htmlStr += "<th scope=\"col\">Expiry Date</th>";
                htmlStr += "</tr>";
                $.map(result, function (item) {
                    htmlStr += "<td>" + item.MobileNo + "</td>";
                    htmlStr += "<td>" + item.CustName + "</td>";
                    htmlStr += "<td>" + item.Points + "</td>";
                    htmlStr += "<td>" + item.EndDate + "</td>";
                    htmlStr += "</tr>"
                });
                htmlStr += "</table>";
                $("#dvSearchCustDateRange").html(htmlStr);
                $("#dvSearchCust").show(1000);
                $("#divLoader").hide();
            },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
    }

    function UpdateExpiryPointsDateRange() {
        $("#divLoader").show();
         $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateExpiryPointsRangeDate", "IndividualDBConfig")',
             data: '{fromDate: ' + JSON.stringify($('#dtFrom').val()) + ',toDate: ' + JSON.stringify($('#dtTo').val()) + ',updateDate: ' + JSON.stringify($('#txtUpdateRange').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
             success: function (result) {
                 console.log(result);
                 if (result) {
                     cuteAlert({
                        type: "success",
                        title: "Update",
                        message: "Point Expiry dates extended Successfully",
                        buttonText: "Okay"
                    }).then(() => {
                        var urlLink = "@Url.Action("ExtendPointsExpiry", "IndividualDBConfig")";
                        window.location.href = urlLink;
                    });
                     $("#divLoader").hide();
                 }
             },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
    }

    function GetCampaings() {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignList", "IndividualDBConfig")',
            /*data: '{groupId: ' + JSON.stringify($('#ddlGroupDetails').val()) + '}',*/
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                result.forEach(function (e, i) {
                    $('#ddlCampaigns').append($('<option></option>').val(e.CampaignName).text(e.CampaignName));
                });
                $("#divLoader").hide();
            },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
    }

    function GetCampaignDetails() {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignDetails", "IndividualDBConfig")',
            data: '{campaignName: ' + JSON.stringify($('#ddlCampaigns').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $("#spnCampaignStatus").text(result.CampaignStatus);
                $("#spnNoOfUsers").text(result.NoOfUsers);
                $("#spnEndDate").text(result.EndDate);
                $("#dvCampaignDataDetails").show(1000);
                $("#divLoader").hide();
            },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
    }

    function UpdateCampaignExpiry() {
        $("#divLoader").show();
         $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateCampaignDetails", "IndividualDBConfig")',
             data: '{campaignName: ' + JSON.stringify($('#ddlCampaigns').val()) + ',updateDate: ' + JSON.stringify($('#txtUpdateCampaignExpiry').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
             success: function (result) {
                 console.log(result);
                 if (result) {
                     cuteAlert({
                         type: "success",
                         title: "Update",
                         message: "Point Expiry dates extended Successfully",
                         buttonText: "Okay"
                     }).then(() => {
                         var urlLink = "@Url.Action("ExtendPointsExpiry", "IndividualDBConfig")";
                         window.location.href = urlLink;
                     });
                     $("#divLoader").hide();
                 }
                 else {
                     cuteAlert({
                         type: "error",
                         title: "OOPS...",
                         message: "There is some problem while updating Point Expiry dates",
                         buttonText: "Okay"
                     })
                 }
             },
            error: function (result) {
                alert("222");
                console.log(result.responseText)
                $("#divLoader").hide();

            }
        });
    }

</script>