
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner" id="dvDailySummary">
    <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
        <div class="row" style="margin-top : 20px; padding-bottom : 20px">
            <div class="col-sm-4">
                <b>Daily Summary Report</b>
            </div>
        </div>
        <div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">
            <div>

                <div class="table-responsive">
                    <table class="table" id="groupListTable">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align:center;">Total Enrol</th>
                                <th scope="col" style="text-align: center;">Earn Txns</th>
                                <th scope="col" style="text-align: center;">Total Earn Txn Amt</th>
                                <th scope="col" style="text-align: center;">Points Issued</th>
                                <th scope="col" style="text-align:center;">Redeem Txn</th>
                                <th scope="col" style="text-align:center;">Total Redeem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.DailyReport.Count > 0)
                            {                                   
                                        foreach (var item in ViewBag.DailyReport)
                                        {
                                            <tr>
                                                <td style="text-align:center;">@item.TotalEnrolment</td>

                                                <td style="text-align:center;">@item.EarnTxnCount</td>

                                                <td style="text-align:center;">@item.EarnTxnAmt</td>

                                                <td style="text-align:center;">@item.EarnPoints</td>

                                                <td style="text-align:center;">@item.BurnTxnCount</td>

                                                <td style="text-align:center;">@item.BurnTxnAmt</td>
                                            </tr>
                                        }                                
                            }
                        </tbody>
                    </table>
                </div>
                    @*@if (ViewBag.DailyReport.Count > 0)
            {
                <div class="row" style="overflow-x:auto;padding-right:20px;margin-top:10px;margin-left:60px;">


                    <table border="1" cellpadding="5" cellspacing="5">
                        <tr>
                            <th>Total Enrol</th>
                            <th>Earn Txns</th>
                            <th>Total Earn Txn Amt</th>
                            <th>Points Issued</th>
                            <th>Redeem Txn</th>
                            <th>Total Redeem</th>

                        </tr>
                        @foreach (var item in ViewBag.DailyReport)
                        {
                            <tr>
                                <td>@item.TotalEnrolment</td>

                                <td>@item.EarnTxnCount</td>

                                <td>@item.EarnTxnAmt</td>

                                <td>@item.EarnPoints</td>

                                <td>@item.BurnTxnCount</td>

                                <td>@item.BurnTxnAmt</td>
                            </tr>
                        }
                    </table>
                </div>
            }
            else
            {
                <div class="row" style="margin-top : 20px; margin-left:50px;">
                    <h6 style="font:xx-large"><b>No Reports</b></h6>
                </div>
            }*@

                </div>
            </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#groupListTable').DataTable({
            "aaSorting": [[1, "asc"]],
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });
    });
</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
