@{
    ViewBag.Title = "Home Page";
}
<style>
    h2 {
        color: #000;
        text-align: center;
        font-size: 2em;
    }

    .warpper {
        display: grid;
        flex-direction: column;
        align-items: center;
    }

    .tab {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
    }

    .tabs {
        padding-left: 25px;
    }

    .panels {
        background: #ffffff;
        box-shadow: 0 2rem 2rem #00000080;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel {
        display: none;
        animation: fadein .8s;
    }

    .panel-title {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio {
        display: none;
    }



   

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5 !important; /* Sit on top */
        padding-top: 200px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 25px;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    input:read-only {
        background-color: lightgray;
    }
</style>
<div class="app-main__inner">
    <div class="row" style="margin-top : 20px; padding-bottom : 20px">
        <div class="col-sm-4">
            <b>Search Customer</b>
        </div>
    </div>
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content col-md-12 col-sm-12 row mb-3">
            <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                Enter Mobile No
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="txtMobileNo" type="number" class="input50" />
            </div>
            <div class="col-md-2 col-sm-2">
                <button type="button" id="btnSearchCustomer" class="btn btn-primary" onclick="SearchCustomer();" style="margin-top:10px;">Search</button>
            </div>
        </div>
    </div>
    <div class="mb-3 card col-md-12 col-sm-12" style="padding-top:20px;padding-bottom:20px; display:none;" id="dvCustomerDetails">
        <div class="col-md-12 col-sm-12 row">
            <div class="col-md-4 col-sm-4" style="margin-top:10px;">Mobile No : <span id="spnMobileNo" style="font-weight:bold;"></span></div>
            <div class="col-md-4 col-sm-4" style="margin-top: 10px;">Customer Name : <span id="spnCustName" style="font-weight:bold;"></span></div>
        </div>
        <div class="col-md-12 col-sm-12 row">
            <div class="col-md-4 col-sm-4" style="margin-top:10px;">Loyalty Card No : <span id="spnCardNo" style="font-weight:bold;"></span></div>
            <div class="col-md-4 col-sm-4" style="margin-top: 10px;">Available Points : <span id="spnPointsBalance" style="font-weight:bold;"></span></div>
        </div>
        <div class="col-md-12 col-sm-12 row">
            <div class="col-md-4 col-sm-4" style="margin-top:10px;">Total Spend : <span id="spnTotalSpend" style="font-weight:bold;"></span></div>
            <div class="col-md-4 col-sm-4" style="margin-top: 10px;">Last Txn Date : <span id="spnLastTxnDate" style="font-weight:bold;"></span></div>
        </div>
    </div>
    <div class="mb-3 card col-md-12 col-sm-12" style="padding-top:20px; display:none;" id="dvEnrollment">
        <div class="content col-md-12 col-sm-12 row mb-3">
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Mobile No
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtMobileNoNew" type="number" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Card No
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtCardNoNew" type="number" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Member Name
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtMemberName" type="text" class="input100" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    DOB
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtDOB" type="text" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Email Id
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtEmail" type="text" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Gender
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtGender" type="text" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Anniversary date
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtADate" type="text" class="input50" />
                </div>
            </div>
            


        </div>
    </div>
    <div class="mb-3 card col-md-12 col-sm-12" style="padding-top:20px; display:none;" id="dvInvoice">
        <div class="content col-md-12 col-sm-12 row mb-3">
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Invoice No
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtInvoiceNo" type="text" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Invoice Amt
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtInvoiceAmt" type="number" min="1" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row" id="CusNewContain" style="display: none;">

            </div>
            <input id="txtOTPval" type="number" min="1" class="input50" hidden />
            <input id="txtBurnAmt" type="number" min="1" class="input50" hidden />
            @*<object id="hiddResponse" hidden />*@
            <div class="col-md-12 col-sm-12 row" style="margin-top: 10px;">
                <div class="col-md-2 col-sm-2" style="margin-left: 8px;">
                    <button type="button" id="btnSubmit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
                </div>
                <div class="col-md-2 col-sm-2" style="margin-left: 10px;">
                    <button type="button" id="btnReset" class="btn btn-primary" style="margin-top:10px;">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div id="OTPModal" class="modal" tabindex="-1" role="dialog" style="display:none;">

        <div class="modal-content">
            @*<div class="modal-header" style="margin-left:230px">
                    <h5 class="modal-title">OTP</h5>
                </div>*@
            <div class="modal-body" style="text-align:center;">
                @*<p>Enter OTP</p>*@
                <input id="txtOTP" type="text" class="input50" placeholder="Enter OTP" />
                <span id="poptext" style="font-weight:bold;"></span>
            </div>
            <div class="modal-footer" style="text-align: center; margin-top: 20px">
                <button type="button" class="btn btn-primary" id="BurnCompletion">Redeem</button>
                <button type="button" class="btn btn-primary" id="resendOTP">Resend OTP</button>
                <button type="button" class="btn btn-secondary" id="ModelClose" @*data-dismiss="modal"*@>Close</button>
            </div>
        </div>

    </div>

    <div class="mb-3 card col-md-12 col-sm-12" style="padding-top:20px; display:none;" id="dvInvoiceCustExist">
        <div class="content col-md-12 col-sm-12 row mb-3">
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Invoice No
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtInvoiceNoOld" type="text" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row">
                <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                    Invoice Amt
                </div>
                <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                    <input id="txtInvoiceAmOldt" type="number" min="1" class="input50" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 row" id="TestRow">
                @*<div class="col-md-12 col-sm-12 row" style="margin-top:10px;">*@
                    <div class="col-md-2 col-sm-2" style="margin-top:10px;" id="TestField">
                        Test Field
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top:10px;" id="dynCustExistdiv4">
                        <input type="text" class="input50" />
                    </div>
                @*</div>*@
            </div>
                <div class="col-md-12 col-sm-12 row" id="CusExistContain" style="display: none;">

                </div>
                <div class="col-md-12 col-sm-12 row" id="BurnPoints" style="display: none;">
                    <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                        Amt To Redeem
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                        <input id="txtBurnpoints" type="number" min="1" class="input50" />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 row" style="margin-top: 10px;">
                    <div class="col-md-2 col-sm-2" style="margin-left: 10px;">
                        <button type="button" id="btnPaybyCash" class="btn btn-primary" style="margin-top:10px;">PaybyCash</button>
                    </div>
                    <div class="col-md-2 col-sm-2" style="margin-left: 10px;">
                        <button type="button" id="btnPaybyPoints" class="btn btn-success" style="margin-top:10px;">Points(Redeem)</button>
                    </div>
                    <div class="col-md-2 col-sm-2" style="margin-left: 10px;">
                        <button type="button" id="btnResetOld" class="btn btn-primary" style="margin-top:10px;">Reset</button>
                    </div>
                </div>
            </div>
        </div>

</div>
<script>
    var object;
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#txtDOB").datepicker({
            dateFormat: "yy-mm-dd",
            yearRange: '1950:' + today+'',
            changeYear: true,
            //minDate: new Date(1900, 1 - 1, 1),
            maxDate: '1Y',
        });

        $("#txtADate").datepicker({
            dateFormat: "yy-mm-dd",
            yearRange: '1950:' + today + '',
            changeYear: true,
            //minDate: new Date(1900, 1 - 1, 1),
            maxDate: '1Y',
        });
    });

    function SearchCustomer() {
        if ($("#txtMobileNo").val() == "") {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Please enter Mobile number to search",
                buttonText: "Okay"
            }).then(() => {
                $("#txtMobileNo").focus();
            })
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomerDetails", "Home")',
                data: '{MobileNo: ' + JSON.stringify($("#txtMobileNo").val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    
                    
                    if (response.objCDetails.ResponseCode == "00") {
                        $("#spnMobileNo").text(response.objCDetails.MobileNo);
                        $("#spnCustName").text(response.objCDetails.CustomerName);
                        $("#spnCardNo").text(response.objCDetails.CardNo);
                        $("#spnPointsBalance").text(response.objCDetails.PointBalance);
                        $("#spnTotalSpend").text(response.objCDetails.TotalSpend);
                        $("#spnLastTxnDate").text(response.objCDetails.LastTxnDate);
                        //$("#hiddResponse").val(response.objJsonData.JsonList1);
                        object = response;
                        var c = Object.keys(response.objJsonData.JsonList1).length;// count of values in JsonList1
                        alert(response);
                        alert("Above CusExistContain");
                        alert($("#CusExistContain").is(":visible"));

                        if (($("#CusExistContain").is(":visible")) == false) {
                            $("#CusExistContain").show();
                            var count, D1, items;
                            D1 = '';
                            var myselect = [];
                            var dynCustExistdiv1 = [];
                            var dynCustExistdiv2 = [];
                            var dynCustExistName = [];
                            for (j = 0; j < c; j++) {
                                count = j + 1;

                                var innerCount = Object.keys(response.objJsonData.JsonList1[j]).length;
                                if (innerCount > 1) {
                                    //Dropdown
                                    var Dynamicname;
                                    var ctrlId = "ddlCustom" + j;
                                    var items = "";
                                    var newCtrl = '<select id="' + ctrlId + '"></select>';
                                    $.each(response.objJsonData.JsonList1[j], function (i, item) {
                                        Dynamicname = item.FieldName
                                        items += "<option value='" + item.FieldValue + "'>" + item.FieldValue + "</option>";
                                    });

                                    ////$("#CusExistContain").html("<div id=div1></div>")
                                    //$("#CusExistContain").append("Dynamic Field" + count);                              
                                    //$("#CusExistContain").append(newCtrl);
                                    //$("#" + ctrlId).html(items);

                                    //$("#CusExistContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustExistdiv1[j] + '" ></div>');
                                    //$("#" + dynCustExistdiv1[j]).append('<div id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>');
                                    //$("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2");
                                    //$("#" + dynCustExistName[j]).css("style", "margin-top:10px");
                                    //$("#CusExistContain").append('<div id="' + dynCustExistdiv2[j] + '"></div>');
                                    //$("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4");
                                    //$("#" + dynCustExistdiv2[j]).css("style", "margin-top:10px");
                                    //$("#" + dynCustExistdiv2[j]).append(newCtrl);
                                    //$("#" + ctrlId).attr("class", "input50");
                                    //$("#" + ctrlId).attr("style", "margin-top:10px");
                                    //$("#" + ctrlId).html(items);

                                   // $("#CusExistContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustExistdiv1[j] + '" ></div>');

                                    //$("#CusExistContain").append('<div class = "col-md-2 col-sm-2" id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>');
                                    if (j == 0) {
                                    alert("Above div");
                                        $('<div class="col-md-12 col-sm-12 row" id="TestRow1"></div>').insertAfter("#TestRow");
                                        alert(Dynamicname);
                                        //$('<div class = "col-md-2 col-sm-2" id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>').append("#TestRow1");
                                        
                                        
                                        $("#TestRow1").append('<div class = "col-md-2 col-sm-2" id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>');
                                        
                                        //$("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2");
                                        var DD = $("#" + dynCustExistName[j]).val();
                                        alert(DD);
                                        $("#" + dynCustExistName[j]).css("style", "margin-top:10px");
                                        //$("#CusExistContain").append('<div class = "col-md-4 col-sm-4" id="' + dynCustExistdiv2[j] + '"></div>');
                                        ////$("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4");
                                        /*alert($("#" + dynCustExistdiv2[j]).val());*/
                                        //$('<div class = "col-md-4 col-sm-4" id="' + dynCustExistdiv2[j] + '"></div>').insertAfter("#" + dynCustExistName[j]);
                                        //$("#TestRow1").append('<div class = "col-md-4 col-sm-4" id="' + dynCustExistdiv2[j] + '"></div>');
                                        $("#TestRow1").append('<div class = "col-md-2 col-sm-2" id="' + dynCustExistdiv2[j] + '"></div>');
                                        $("#" + dynCustExistdiv2[j]).append('<input id=" + ctrlId1 + " type=\"number\"  class=\"input50\" />');
                                        $("#" + dynCustExistdiv2[j]).css("style", "margin-top:10px");
                                        //$("#" + dynCustExistdiv2[j]).css("style", "margin-top:10px");
                                        //$("#" + dynCustExistdiv2[j]).append(newCtrl);
                                        //$("#" + ctrlId).attr("class", "input50");
                                        //$("#" + ctrlId).attr("style", "margin-top:10px");
                                        //$("#" + ctrlId).html(items);
                                    }
                                    //else {
                                    //    $('<div class = "col-md-2 col-sm-2" id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>').insertAfter("#" + dynCustExistName[j]);
                                    //    //$("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2");
                                    //    $("#" + dynCustExistName[j]).css("style", "margin-top:10px");
                                    //    //$("#CusExistContain").append('<div class = "col-md-4 col-sm-4" id="' + dynCustExistdiv2[j] + '"></div>');
                                    //    ////$("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4");
                                    //    $('<div class = "col-md-4 col-sm-4" id="' + dynCustExistdiv2[j] + '"></div>').insertAfter("#" + dynCustExistdiv2[j]);
                                    //    $("#" + dynCustExistdiv2[j]).css("style", "margin-top:10px");
                                    //    $("#" + dynCustExistdiv2[j]).append(newCtrl);
                                    //    $("#" + ctrlId).attr("class", "input50");
                                    //    $("#" + ctrlId).attr("style", "margin-top:10px");
                                    //    $("#" + ctrlId).html(items);
                                    //}
                                }
                                //else {
                                //    //Textbox or date
                                //    $.each(response.objJsonData.JsonList1[j], function (i, item) {
                                //        var Dynamicname;
                                //        Dynamicname = item.FieldName
                                //        if (item.FieldOptionId == "1") {
                                //            //$("#CusExistContain").append("<br/>");
                                //            //$("#CusExistContain").append("Dynamic Field" + count);
                                //            //var ctrlId1 = "txtCustome" + j;
                                //            //var txtCtrl = "<input id=" + ctrlId1 + " type=\"number\"  class=\"input50\" />";
                                //            //$("#CusExistContain").append(txtCtrl);

                                //            //$("#CusExistContain").append("<div id =div1></div>");
                                //            //$("#div1").append("Dynamic Field" + count);
                                //            var ctrlId1 = "txtCustome" + j;
                                //            var txtCtrl = "<input id=" + ctrlId1 + " type=\"text\"  class=\"input50\" />";


                                //            //$("#CusExistContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustExistdiv1[j] + '" ></div>');
                                //            ////$("#" + dynCustExistdiv1[j]).append("Dynamic Field" + count);
                                //            ////$("#CusExistContain").append('<div id="' + dynCustExistName[j] + '">Dynamic Field</div>');
                                //            //$("#" + dynCustExistdiv1[j]).append('<div id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>');
                                //            //$("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2", "style", "margin-top:10px;");
                                //            //$("#" + dynCustExistdiv1[j]).append('<div id="' + dynCustExistdiv2[j] + '"></div>');
                                //            //$("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4", "style", "margin-top:10px;");
                                //            //$("#" + dynCustExistdiv2[j]).append(txtCtrl);

                                //            //$("#CusExistContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustExistdiv1[j] + '" ></div>');
                                //            //$("#CusExistContain").append('<div id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>');
                                //            $('<div id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>').insertAfter("#" + dynCustExistName[j]);
                                //            $("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2", "style", "margin-top:10px;");
                                //            //$("#CusExistContain").append('<div id="' + dynCustExistdiv2[j] + '"></div>');
                                //            $('<div id="' + dynCustExistdiv2[j] + '"></div>').insertAfter("#" + dynCustExistdiv2[j]);
                                //            $("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4", "style", "margin-top:10px;");
                                //            $("#" + dynCustExistdiv2[j]).append(txtCtrl);

                                //        }
                                //        else if (item.FieldOptionId == "2") {
                                //            var ctrlId2 = "txtDate" + j;
                                //            var txtDate = "<input id=" + ctrlId2 + " type=\"Date\"  class=\"input50\" />";

                                //            //$("#CusExistContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustExistdiv1[j] + '" ></div>');
                                //            //$("#" + dynCustExistdiv1[j]).append('<div id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>');
                                //            //$("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2", "style", "margin-top:10px;");
                                //            //$("#" + dynCustExistdiv1[j]).append('<div id="' + dynCustExistdiv2[j] + '"></div>');
                                //            //$("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4", "style", "margin-top:10px;");
                                //            //$("#" + dynCustExistdiv2[j]).append(txtDate);

                                //            //$("#CusExistContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustExistdiv1[j] + '" ></div>');

                                //            //$("#CusExistContain").append('<div id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>');
                                //            $('<div id="' + dynCustExistName[j] + '">' + Dynamicname + '</div>').insertAfter("#" + dynCustExistName[j]);
                                //            $("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2", "style", "margin-top:10px;");
                                //            //$("#CusExistContain").append('<div id="' + dynCustExistdiv2[j] + '"></div>');
                                //            $('<div id="' + dynCustExistdiv2[j] + '"></div>').insertAfter("#" + dynCustExistdiv2[j]);;
                                //            $("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4", "style", "margin-top:10px;");
                                //            $("#" + dynCustExistdiv2[j]).append(txtDate);
                                //        }
                                //    });
                                //}
                                count++;
                                //$.each(response.objJsonData.JsonList1[j], function (i, item) {


                                //     Type = item.FieldOptionId

                                //    if (Type == 3) {
                                //        //alert("Type3");
                                //        D1 += "<option value='" + count + "'>" + item.FieldValue + "</option>";
                                //    }
                                //    else if (Type == 1) {
                                //        //alert("Type1");
                                //    }
                                //    count++;
                                //});

                                //$("#CusExistContain").html('<div class="col-md-12 col-sm-12 row" id="' + dynCustExistdiv1[j] + '" ></div>');
                                ////$("#" +dynCustExistdiv1[j]).html('<label>Reached the limit'+j+'</label>');
                                //$("#" + dynCustExistdiv1[j]).append('<div id="' + dynCustExistName[j] + '">Dynamic Field</div>');
                                ////$("#" + dynCustExistdiv1[j]).addClass("class= col-md-12 col-sm-12 row");
                                //$("#" + dynCustExistName[j]).attr("class", "col-md-2 col-sm-2", "style", "margin-top:10px;");
                                ////$("#" + dynCustExistName[j]).attr("style", "margin-top:10px;");

                                //$("#" + dynCustExistdiv1[j]).append('<div id="' + dynCustExistdiv2[j] + '"></div>');
                                //$("#" + dynCustExistdiv2[j]).attr("class", "col-md-4 col-sm-4", "style", "margin-top:10px;");
                                ////$("#" + dynCustExistdiv2[j]).append('<input id="Test" type ="text" />');
                                ////$("#Test").attr("class", "input50");
                                ////$("#" + dynCustExistdiv1[j]).html('<div class="col-md-4 col-sm-4" style="margin-top:10px;" id="' + dynCustExistdiv2[j] + '"></div>');
                                ///*$("#" + dynCustExistdiv1[j]).html('<div id="' + dynCustExistdiv2[j] + '"></div>');*/

                                //if (Type == 3) {
                                //    //alert("Inside if");
                                //    //myselect[j] = j;
                                //    items = '<select id="' + myselect[j] + '">' + D1 + '</select>';

                                //    /*alert(items);*/
                                //    $("#" + dynCustExistdiv2[j]).append(items);
                                //    $("#" + myselect[j]).attr("input50");

                                //    //alert($("#" + myselect[j]).val());


                                //}
                                @* <div class="col-md-12 col-sm-12 row" style="display:none" id="dynCustExistdiv1">
                                    <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                                        Dynamic Field
                                    </div>
                                    <div class="col-md-4 col-sm-4" style="margin-top:10px;" id="dynCustExistdiv2">

                                    </div>
                                </div> *@
                            }
                        }
                                               
                        
                        //var items = '<select id="myselect">' + D1 + '</select>';
                        //alert(items);
                                           
                        //$("#dynCustExistdiv2").html(items);
                        //$("#myselect").addClass("input50");
                        //alert($("#myselect").val());

                        $("#dvCustomerDetails").show();
                        
                        $("#dvInvoiceCustExist").show();
                        $("#dynCustExistdiv1").show();
                        $("#dvEnrollment").hide();
                        $("#dvInvoice").hide();
                    }
                    if (response.objCDetails.ResponseCode == "06") {
                        cuteAlert({
                            type: "question",
                            title: "Are you sure?",
                            message: "This number is not available, Do you want to enroll this customer",
                            confirmText: "Okay",
                            cancelText: "Cancel"
                        }).then((e) => {
                            if (e == ("confirm")) {
                                $("#txtMobileNoNew").val($("#txtMobileNo").val());
                                $("#txtMobileNoNew").attr("disabled", "disabled");
                                $("#dvCustomerDetails").hide();
                                $("#dvEnrollment").show();

                                object = response;
                                var c = Object.keys(response.objJsonData.JsonList1).length;
                                alert(object);
                                alert($("#CusNewContain").is(":visible"));
                                if (($("#CusNewContain").is(":visible")) == false) {
                                    alert("Inside If");
                                    $("#CusNewContain").show();
                                    var count, D1, items;
                                    D1 = '';
                                    var myselect = [];
                                    var dynCustNewdiv1 = [];
                                    var dynCustNewdiv2 = [];
                                    var dynCustNewName = [];
                                    for (j = 0; j < c; j++) {
                                        count = j + 1;

                                        var innerCount = Object.keys(response.objJsonData.JsonList1[j]).length;
                                        if (innerCount > 1) {
                                            //Dropdown
                                            var Dynamicname;
                                            var ctrlId = "ddlCustom" + j;
                                            var items = "";
                                            var newCtrl = '<select id="' + ctrlId + '"></select>';
                                            $.each(response.objJsonData.JsonList1[j], function (i, item) {
                                                Dynamicname = item.FieldName
                                                items += "<option value='" + item.FieldValue + "'>" + item.FieldValue + "</option>";
                                            });

                                            $("#CusNewContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustNewdiv1[j] + '" ></div>');
                                            $("#" + dynCustNewdiv1[j]).append('<div id="' + dynCustNewName[j] + '">' + Dynamicname + '</div>');
                                            $("#" + dynCustNewName[j]).attr("class", "col-md-2 col-sm-2");
                                            $("#" + dynCustNewName[j]).css("style", "margin-top:10px");
                                            $("#CusNewContain").append('<div id="' + dynCustNewdiv2[j] + '"></div>');
                                            $("#" + dynCustNewdiv2[j]).attr("class", "col-md-4 col-sm-4");
                                            $("#" + dynCustNewdiv2[j]).css("style", "margin-top:10px");
                                            $("#" + dynCustNewdiv2[j]).append(newCtrl);
                                            $("#" + ctrlId).attr("class", "input50");
                                            $("#" + ctrlId).attr("style", "margin-top:10px");
                                            $("#" + ctrlId).html(items);
                                        }
                                        else {
                                            //Textbox or date
                                            $.each(response.objJsonData.JsonList1[j], function (i, item) {
                                                var Dynamicname;
                                                Dynamicname = item.FieldName
                                                if (item.FieldOptionId == "1") {
                                                    
                                                    var ctrlId1 = "txtCustome" + j;
                                                    var txtCtrl = "<input id=" + ctrlId1 + " type=\"text\"  class=\"input50\" />";


                                                    $("#CusNewContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustNewdiv1[j] + '" ></div>');
                                                    $("#" + dynCustNewdiv1[j]).append('<div id="' + dynCustNewName[j] + '">' + Dynamicname + '</div>');
                                                    $("#" + dynCustNewName[j]).attr("class", "col-md-2 col-sm-2", "style", "margin-top:10px;");
                                                    $("#" + dynCustNewdiv1[j]).append('<div id="' + dynCustNewdiv2[j] + '"></div>');
                                                    $("#" + dynCustNewdiv2[j]).attr("class", "col-md-4 col-sm-4", "style", "margin-top:10px;");
                                                    $("#" + dynCustNewdiv2[j]).append(txtCtrl);

                                                }
                                                else if (item.FieldOptionId == "2") {
                                                    var ctrlId2 = "txtDate" + j;
                                                    var txtDate = "<input id=" + ctrlId2 + " type=\"Date\"  class=\"input50\" />";

                                                    $("#CusNewContain").append('<div class = "col-md-12 col-sm-12 row" id="' + dynCustNewdiv1[j] + '" ></div>');
                                                    $("#" + dynCustNewdiv1[j]).append('<div id="' + dynCustNewName[j] + '">' + Dynamicname + '</div>');
                                                    $("#" + dynCustNewName[j]).attr("class", "col-md-2 col-sm-2", "style", "margin-top:10px;");
                                                    $("#" + dynCustNewdiv1[j]).append('<div id="' + dynCustNewdiv2[j] + '"></div>');
                                                    $("#" + dynCustNewdiv2[j]).attr("class", "col-md-4 col-sm-4", "style", "margin-top:10px;");
                                                    $("#" + dynCustNewdiv2[j]).append(txtDate);
                                                }
                                            });
                                        }
                                        count++;
                                    }
                                }

                                $("#dvInvoice").show();
                                $("#dvInvoiceCustExist").hide();
                            }
                        })
                    }
                    //else {
                    //    cuteAlert({
                    //        type: "error",
                    //        title: "Response Code" + response.ResponseCode,
                    //        message: response.ResponseMessage,
                    //        buttonText: "Okay"
                    //    })
                    //}
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.responseText);
                    $("#divLoader").hide();
                }
            });
        }
    }

    $("#btnSubmit").click(function () {
            if ($("#txtInvoiceNo").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please enter Invoice number",
                    buttonText: "Okay"
                })
            }
            else if ($("#txtInvoiceAmt").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please enter Invoice Amount",
                    buttonText: "Okay"
                })
            }
            else if ($("#txtMobileNo").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please enter Mobile Number",
                    buttonText: "Okay"
                })
            }
            else {
               SaveEarn();
            }
        });

    $("#btnReset").click(function () {
            $("#txtMemberName").val("");
            $("#txtCardNoNew").val("");
            $("#txtDOB").val("");
            $("#txtInvoiceNo").val("");
            $("#txtInvoiceAmt").val("");
    });

    $("#btnResetOld").click(function () {

        $("#txtInvoiceNoOld").val("");
        $("#txtInvoiceAmOldt").val("");
        $("#txtBurnpoints").val("");
        $("#BurnPoints").hide();
    });

    function SaveEarn() {

        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

        var Dynamicname = [];
        var DynamicResult = [];
        var DynamicData = [];
        var Temp = [];

        var C = Object.keys(object.objJsonData.JsonList1).length;// count of values in JsonList1
        /*alert(C);*/
        for (j = 0; j < C; j++) {
            count = j + 1;
            var innerCount = Object.keys(object.objJsonData.JsonList1[j]).length;
            if (innerCount > 1) {
                DynamicResult[j] = "ddlCustom" + j;

                var K = 1;
                $.each(object.objJsonData.JsonList1[j], function (i, item) {
                    if (K == 1) {

                        var Temp1 = $("#" + DynamicResult[j]).val();
                        Dynamicname[j] = item.FieldName;
                        DynamicData.push([Dynamicname[j], Temp1]);
                        //DynamicData.push(result);
                        alert(DynamicData);
                    }
                    K++;
                });

            }
            else {
                $.each(object.objJsonData.JsonList1[j], function (i, item) {

                    Dynamicname[j] = item.FieldName
                    if (item.FieldOptionId == "1") {
                        DynamicResult[j] = "txtCustome" + j;
                        var Temp2 = $("#" + DynamicResult[j]).val();
                        DynamicData.push([Dynamicname[j], Temp2]);
                        //DynamicData.push(result);
                    }
                    else if (item.FieldOptionId == "2") {
                        DynamicResult[j] = "txtDate" + j;
                        var Temp3 = $("#" + DynamicResult[j]).val();
                        DynamicData.push([Dynamicname[j], Temp3]);
                        //DynamicData.push(result);
                    }
                });
            }
        }

        var Result = ConcatData(DynamicData);
        alert(Result);
        
        alert(DynamicData);


            var FilterData = [];
            item = {};
            item["MobileNo"] = $("#txtMobileNo").val();
            item["CustomerName"] = $("#txtMemberName").val();
            item["InvoiceNo"] = $("#txtInvoiceNo").val();
            item["InvoiceAmt"] = $("#txtInvoiceAmt").val();
            item["DOB"] = $("#txtDOB").val();
            item["EmailId"] = $("#txtEmail").val();
            item["Gender"] = $("#txtGender").val();
            item["ADate"] = $("#txtADate").val();
            item["CardNo"] = $("#txtCardNoNew").val();
            item["DynamicData"] = Result;
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("EarntxnDetails", "Home")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.ResponseCode == "00") {
                        cuteAlert({
                            type: "success",
                            title: "Invoice Saved Successfully",
                            message: " Poits Earned" + response.PointsEarned + " Avail Points" + response.AvailablePoints,
                            buttonText: "Okay"
                        }).then(() => {
                            SearchCustomer();
                        })
                     }
                     else {
                         cuteAlert({
                             type: "error",
                             title: "Response Code" + response.ResponseCode,
                             message: response.ResponseMessage,
                             buttonText: "Okay"
                         })
                     }
                     $("#divLoader").hide();
                },
                failure: function (response) {
                      $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.ResponseMessage);
                    $("#divLoader").hide();
                }
            });
    }

    $("#btnPaybyCash").click(function () {
        if ($("#txtInvoiceNoOld").val() == "") {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Please enter Invoice number",
                buttonText: "Okay"
            })
        }
        else if ($("#txtInvoiceAmOldt").val() == "") {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Please enter Invoice Amount",
                buttonText: "Okay"
            })
        }
        else if ($("#txtMobileNo").val() == "") {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Please enter Mobile Number",
                buttonText: "Okay"
            })
        }
        else {
            SaveEarnOld();
        }
    });

    function SaveEarnOld() {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        var FilterData = [];
        var Dynamicname = [];
        var DynamicResult = [];
        var DynamicData = [];
        var Temp = [];
            item = {};
            item["MobileNo"] = $("#txtMobileNo").val();
            item["InvoiceNo"] = $("#txtInvoiceNoOld").val();
            item["InvoiceAmt"] = $("#txtInvoiceAmOldt").val();
        alert("Inside Save Earn Old");
        console.log(object);
   
        var C = Object.keys(object.objJsonData.JsonList1).length;// count of values in JsonList1
        /*alert(C);*/
        for (j = 0; j < C; j++) {
            count = j + 1;
            var innerCount = Object.keys(object.objJsonData.JsonList1[j]).length;
            if (innerCount > 1) {
                DynamicResult[j] = "ddlCustom" + j;
                
                var K =1;
                $.each(object.objJsonData.JsonList1[j], function (i, item) {
                    if (K == 1) {
                        
                        var Temp1 = $("#" + DynamicResult[j]).val();    
                        Dynamicname[j] = item.FieldName;                       
                        DynamicData.push([Dynamicname[j], Temp1]);
                        //DynamicData.push(result);
                        alert(DynamicData);
                    }
                    K++;
                });

            }
            else {
                $.each(object.objJsonData.JsonList1[j], function (i, item) {

                    Dynamicname[j] = item.FieldName
                    if (item.FieldOptionId == "1") {
                        DynamicResult[j] = "txtCustome" + j;
                        var Temp2 = $("#" + DynamicResult[j]).val();
                        DynamicData.push([Dynamicname[j], Temp2]);
                        //DynamicData.push(result);
                    }
                    else if (item.FieldOptionId == "2") {
                        DynamicResult[j] = "txtDate" + j;
                        var Temp3 = $("#" + DynamicResult[j]).val();
                        DynamicData.push([Dynamicname[j], Temp3]);
                        //DynamicData.push(result);
                    }
                });
            }
        }
        
        var Result = ConcatData(DynamicData);
        alert(Result);
        item["DynamicData"] = Result;
        alert(DynamicData);
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("EarntxnDetailsOld", "Home")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.ResponseCode == "00") {
                        cuteAlert({
                            type: "success",
                            title: "Invoice Saved Successfully",
                            message: " Poits Earned" + response.PointsEarned + " Avail Points" + response.AvailablePoints,
                            buttonText: "Okay"
                        }).then(() => {
                            SearchCustomer();
                            $("#txtInvoiceNoOld").val("");
                            $("#txtInvoiceAmOldt").val("");
                        })
                     }
                     else {
                         cuteAlert({
                             type: "error",
                             title: "Response Code" + response.ResponseCode,
                             message: response.ResponseMessage,
                             buttonText: "Okay"
                         })
                     }
                     $("#divLoader").hide();
                },
                failure: function (response) {
                      $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.ResponseMessage);
                    $("#divLoader").hide();
                }
            });
    }

    $("#btnPaybyPoints").click(function () {

        if ($('#BurnPoints').is(":visible")) {
            if ($("#txtInvoiceNoOld").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please enter Invoice number",
                    buttonText: "Okay"
                })
            }
            else if ($("#txtInvoiceAmOldt").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please enter Invoice Amount",
                    buttonText: "Okay"
                })
            }
            else if ($("#txtBurnpoints").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "Please enter Points as amount to redeem",
                    buttonText: "Okay"
                })
            }
            else {
                SendBurnValidation();
            }
        }
        else {
            $("#BurnPoints").show();
        }
    });

    function SaveBurnOld() {

        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        var FilterData = [];
        var Dynamicname = [];
        var DynamicResult = [];
        var DynamicData = [];
            item = {};
            item["MobileNo"] = $("#txtMobileNo").val();
            item["InvoiceNo"] = $("#txtInvoiceNoOld").val();
            item["InvoiceAmt"] = $("#txtInvoiceAmOldt").val();
            item["PointsBurn"] = $("#txtBurnpoints").val();

        alert("Inside SaveBurnOld");
        console.log(object);

        var C = Object.keys(object.objJsonData.JsonList1).length;// count of values in JsonList1
        /*alert(C);*/
        for (j = 0; j < C; j++) {
            count = j + 1;
            var innerCount = Object.keys(object.objJsonData.JsonList1[j]).length;
            if (innerCount > 1) {
                DynamicResult[j] = "ddlCustom" + j;

                var K = 1;
                $.each(object.objJsonData.JsonList1[j], function (i, item) {
                    if (K == 1) {

                        var Temp1 = $("#" + DynamicResult[j]).val();
                        Dynamicname[j] = item.FieldName;
                        DynamicData.push([Dynamicname[j], Temp1]);
                        //DynamicData.push(result);
                        alert(DynamicData);
                    }
                    K++;
                });

            }
            else {
                $.each(object.objJsonData.JsonList1[j], function (i, item) {

                    Dynamicname[j] = item.FieldName
                    if (item.FieldOptionId == "1") {
                        DynamicResult[j] = "txtCustome" + j;
                        var Temp2 = $("#" + DynamicResult[j]).val();
                        DynamicData.push([Dynamicname[j], Temp2]);
                        //DynamicData.push(result);
                    }
                    else if (item.FieldOptionId == "2") {
                        DynamicResult[j] = "txtDate" + j;
                        var Temp3 = $("#" + DynamicResult[j]).val();
                        DynamicData.push([Dynamicname[j], Temp3]);
                        //DynamicData.push(result);
                    }
                });
            }
        }

        var Result = ConcatData(DynamicData);
        alert(Result);
        item["DynamicData"] = Result;
        alert(DynamicData);

            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("SaveBurnOld", "Home")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.ResponseCode == "00") {
                        cuteAlert({
                            type: "success",
                            title: "Invoice Saved Successfully",
                            message: " Poits Earned" + response.PointsEarned + " Avail Points" + response.AvailablePoints + " Points Redeemed"+response.PointsRedeemed,
                            buttonText: "Okay"
                        }).then(() => {                        
                            SearchCustomer();                           
                            $("#txtOTP").val("");
                            $("#OTPModal").hide();
                            $("#txtInvoiceNoOld").val("");
                            $("#txtInvoiceAmOldt").val("");
                            $("#txtBurnpoints").val("");
                            $("#BurnPoints").hide();
                        })
                     }
                     else {
                         cuteAlert({
                             type: "error",
                             title: "Response Code" + response.ResponseCode,
                             message: response.ResponseMessage,
                             buttonText: "Okay"
                         })
                        $("#txtOTP").val("");
                        $("#OTPModal").hide();
                     }
                     $("#divLoader").hide();
                },
                failure: function (response) {
                      $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.ResponseMessage);
                    $("#divLoader").hide();
                }
            });
    }

    function SendBurnValidation() {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

        var FilterData = [];
        item = {};
        item["MobileNo"] = $("#txtMobileNo").val();
        item["InvoiceNo"] = $("#txtInvoiceNoOld").val();
        item["InvoiceAmt"] = $("#txtInvoiceAmOldt").val();
        item["PointsBurn"] = $("#txtBurnpoints").val();

        FilterData.push(item);
        var data = JSON.stringify(FilterData);

        $.ajax({
                 type: "POST",
                 url: '@Url.Action("SendBurnValidation", "Home")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.ResponseCode == "00") {

                        var T = response.OTPValue;

                        $("#txtOTPval").val(T);
                        $("#OTPModal").show();

                     }
                     else {
                         cuteAlert({
                             type: "error",
                             title: "Response Code" + response.ResponseCode,
                             message: response.ResponseMessage,
                             buttonText: "Okay"
                         })
                     }
                     $("#divLoader").hide();
                },
                failure: function (response) {
                      $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.ResponseMessage);
                    $("#divLoader").hide();
                }
            });
    }

    $("#ModelClose").click(function () {
        $("#OTPModal").hide();
    });

    $("#resendOTP").click(function () {
        var FilterData = [];
        item = {};
        item["MobileNo"] = $("#txtMobileNo").val();

        FilterData.push(item);
        var data = JSON.stringify(FilterData);

        $.ajax({
                 type: "POST",
                 url: '@Url.Action("ResendOTP", "Home")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.ResponseCode == "00") {

                        var T = response.OTPValue;

                        $("#txtOTPval").val(T);
                        //$("#OTPModal").show();

                     }
                     else {
                         cuteAlert({
                             type: "error",
                             title: "Response Code" + response.ResponseCode,
                             message: response.ResponseMessage,
                             buttonText: "Okay"
                         })
                     }
                     $("#divLoader").hide();
                },
                failure: function (response) {
                      $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.ResponseMessage);
                    $("#divLoader").hide();
                }
            });
    });

    $("#BurnCompletion").click(function () {
        alert("inside Burn Completion");
        var OTPval = $("#txtOTP").val();
        //alert(OTPval);
        var OTP = $("txtOTPval").val();
        //alert(OTP);
        if ($("#txtOTP").val() == "") {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Please enter OTP value",
                buttonText: "Okay"
            })
        }
        else if ($("#txtOTPval").val() != OTPval) {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Invalid OTP",
                buttonText: "Okay"
            })
        }
        else {

             SaveBurnOld();
        }
    });

</script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/ConcatData.js"></script>
    
