@model BOTS_BL.Models.GinesysRedeemModel
@{
    ViewBag.Title = "Index";
    int value = 0;
    if (Model.Points.HasValue)
    {
        value = Decimal.ToInt32(Model.Points.Value) * Decimal.ToInt32(Model.PointsValue.Value); //Convert.ToInt32(Model.Points.Value) * Convert.ToInt32(Model.PointsValue.Value);
    }
}

<h3>Redeem Loyalty</h3>
<div class="col-md-12 col-lg-12">
    <table cellpadding="10" cellspacing="10" style="background-color: #FAF9F6; " width="90%">
        <tr>
            <td>Customer Name</td>
            @if (Model.CustomerName != null)
            {
                <td><b>@Model.CustomerName</b></td>
            }
            else
            {
                <td></td>
            }
        </tr>
        <tr>
            <td>Invoice Amount</td>
            <td>@Model.InvoiceAmount</td>
        </tr>
        <tr>
            <td>Mobile No</td>
            <td>@Model.MobileNo</td>
        </tr>
        @if (Model.PointsToRedeem != null)
        {
            if (Model.PointsToRedeem > 0)
            {
                <tr>
                    <td>You can redeem max</td>
                    <td>@Model.PointsToRedeem</td>
                </tr>
            }
        }
    </table>
    <div class="col-md-12 col-lg-12" style="background-color:#fff;width:90%;text-align:center;padding-top:20px;">
        <input id="hdnPoints" value=@Model.Points hidden />
        <input id="hdnInvoiceAmt" value=@Model.InvoiceAmount hidden />
        <input id="hdnMobileNo" value=@Model.MobileNo hidden />
        <input id="hdnStoreId" value=@Model.StoreId hidden />
        <input id="hdnbillGUID" value=@Model.billGUID hidden />
        <input id="hdnRedeemValue" value=@Model.PointsValue.Value hidden />
        <input id="hdnOTP" hidden />
        <input id="hdnBurnAmt" hidden />
        <input id="redemptionResponse" hidden />
        Customer has a reward balance of <b>&#8377;@value, (@Decimal.ToInt32(Model.Points.Value))</b> Points
        <div style="padding:10px;"><input type="number" class="input50" id="txtPoints" /><button class="btn btn-primary" style="margin-left:10px;" id="btnApply">Apply</button></div>
        <div style="padding:10px; display:none" id="divOTP"><input type="password" class="input50" id="txtOTP" /><button class="btn btn-primary" style="margin-left:10px;" id="btnVerify">Verify</button></div>
    </div>
</div>
<script>
    $("#btnApply").click(function () {
        if ($("#txtPoints").val() != "") {
            var Points = $("#txtPoints").val();
            $("#hdnOTP").val($("#txtPoints").val());
            var InvoiceAmt = $("#hdnInvoiceAmt").val();
            var MobileNo = $("#hdnMobileNo").val();
            var StoreId = $("#hdnStoreId").val();
            var BillGUID = $("#hdnbillGUID").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("BurnValidation", "Redeem")',
                data: '{Points: ' + JSON.stringify(Points) + ',InvoiceAmt: ' + JSON.stringify(InvoiceAmt) + ',MobileNo: ' + JSON.stringify(MobileNo) + ',StoreId: ' + JSON.stringify(StoreId) + ',BillGUID: ' + JSON.stringify(BillGUID) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.ResponseCode == "00") {
                        $("#hdnOTP").val(result.OTPValue);
                        $("#divOTP").show();
                        $("#txtPoints").attr("disabled", "disabled");
                        $("#btnApply").attr("disabled", "disabled");
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Failed",
                            message: result.ResponseMessage,
                            buttonText: "Okay"
                        })
                    }
                },
                error: function (result) {
                    console.log(result.responseText);
                }
            });

        }
        else {
            cuteAlert({
                type: "error",
                title: "OOPS..",
                message: "Please enter points to redeem !!!",
                buttonText: "Okay"
            })
        }
    });
    $("#btnVerify").click(function () {
        var points = $("#txtPoints").val();
        var multiply = '@Model.PointsValue.Value';

        var BurnAmount = points * multiply;

        if ($("#txtOTP").val() == $("#hdnOTP").val()) {
            $("#hdnBurnAmt").val(BurnAmount);
            cuteAlert({
                type: "success",
                title: "OTP Verification Success",
                message: "Amount " + BurnAmount +" for Redemption is Successfully Applied",
                buttonText: "Okay"
            }).then(() => {
                $("#txtOTP").attr("disabled", "disabled");
                $("#btnVerify").attr("disabled", "disabled");
                const obj = {
                    'mobileNo': $("#hdnMobileNo").val(),
                    'referenceNo': $("#hdnbillGUID").val(),
                    'redeemedPoints': $("#txtPoints").val(),
                    'redeemedValue': BurnAmount,
                    'Allow_Point_Accrual': 1,
                    'OTP': $("#hdnOTP").val(),
                    'ALLOW_POINT_REDEMPTION_BEFORE_BILL_SAVE': true,
                    'status': 'success'
                }
                var myJSON = JSON.stringify(obj);
                $("#redemptionResponse").val(myJSON);
                console.log(myJSON);


             })
        }
        else {
            cuteAlert({
                type: "error",
                title: "OTP Verification Failed",
                message: "Entered OTP is wrong",
                buttonText: "Okay"
            })
        }
    });
</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>



