@model List<BOTS_BL.Models.tblDLCFrontEndPageDataReferTNC>
@using BOTS_BL.Models;
@using DLC.ViewModel;
@{
    ViewBag.Title = "Index";
    Layout = null;
    var sessionVariables = (SessionVariables)Session["SessionVariables"];
    var logoUrl = sessionVariables.objDashboardConfig.UseLogoURL;
    var logoSize = sessionVariables.objDashboardConfig.UseLogo;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Refer to a friend</title>
    <link href="~/css/referndearn.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
          rel="stylesheet" />
    <script src="https://kit.fontawesome.com/407b165ed6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <style>
        .footer {
            background-color: #344966;
            height: 11vh;
            padding: 20px 20px;
            clear: both;
        }
        .start-button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 4%;
        }

        .start-button {
            background-color: #4CAF50 !important; /* Green */
            color: white;
        }

        .refer_box {
            position: relative;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
        }

        .plus-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

            .plus-button img {
                width: 24px;
                height: 24px;
            }

        .input_box {
            display: flex;
            flex-direction: column; /* Stack the input groups vertically */
        }

        .input_group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .input_group button img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        .remove-button {
            position: absolute;
            top: 0;
            right: 10px; /* Adjust the position as needed */
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

            .remove-button i {
                font-size: 15px; /* Adjust icon size */
                color: #d9534f; /* Icon color */
            }
        
        .sticky-nav {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;  /*Ensure it's on top of other elements */
            background-color: white;  /*Change as needed */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /*Optional shadow */
        }

        .features {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }

         /*Make sure there's padding on the page to compensate for the sticky nav's height */
        body {
            padding-top: 120px;  /*Adjust this value based on the height of your navbar */
        }

         /*Optional: Customize appearance of nav links */
        .sticky-nav a {
            text-decoration: none;
            color: black;
        }

            .sticky-nav a:hover {
                text-decoration: underline;
            }

         Ensure logo scales properly 
        .logo img {
            max-width: 100%;
            height: auto;
        }

    </style>
</head>
<body>
    <nav class="sticky-nav">
        @if (logoSize == "Small")
        {
             <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 100px !important; width: 180px !important; margin-top: -40px;">
                 <img id="imgLogo" src="@logoUrl" width="200" height="100" />
             </div>}
        @if (logoSize == "Medium")
        {
              <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 150px !important; width: 300px !important; margin-top: -40px;">
                   <img id="imgLogo" src="@logoUrl" width="300" height="150" />
              </div>}
        @if (logoSize == "Big")
        {
              <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 200px !important; width: 400px !important; margin-top: -40px;">
                   <img id="imgLogo" src="@logoUrl" width="400" height="200" />
              </div>}
        <div class="profile_links">
            <!-- Profile links here -->
        </div>
        <div class="language" style="display:none">
            <select name="language" id="">
                <option value="language">Language</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Marathi">Marathi</option>
            </select>
        </div>
        <div class="features" style="margin-left:250px;margin-top:15px;">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1 class="active">Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
        <div class="hamburger">
            <i class="ri-menu-2-line"></i>
        </div>
    </nav>
    <div class="menu-container">
        <div id="menu">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1 class="active">Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
    </div>


    <div id="main">
        <form id="refer-form">
            <div class="refer_box" style="position: relative;">
                <h3>Refer your friends</h3>
                <div id="friendInputs" style="width: 100%;">
                    <!-- First input group (no remove button here) -->
                    <div class="input_box box1">
                        <div class="input_group" id="friendInputs0" style="display: flex; align-items: center; margin-bottom: 10px;">
                            <input type="text" id="txtFriendName1" name="friendName[]" placeholder="Friend Name" style="flex: 1; margin-right: 10px;">
                            <input type="text" id="txtFriendMobile1" name="mobileNo[]" placeholder="Mobile No" style="flex: 1; margin-right: 10px;">
                        </div>
                    </div>
                </div>
                <!-- Plus icon to add more input fields -->
                <button type="button" class="plus-button" onclick="addFriendInput()" style="position: absolute; top: 40px; right: 10px; background: transparent; border: none;">
                    <i role="button" class="fa fa-plus p-1 text-success" title="Add"></i>
                </button>
                <div style="width:100%;text-align:center; margin-top: 20px;">
                    <button type="button" class="start-button" onclick="SendReference();" id="btnGiftPoints">Send reference</button>
                </div>
            </div>
        </form>


        <div class="key_points">
            <h3>Key Points</h3>
            <div style="padding-left:50px;">
                <ol>
                    @foreach (var item in Model.Take(2))
                    {
                        <li>@item.MWP_ReferTNC</li>
                    }
                </ol>
            </div>
        </div>
        @*<div class="key_points">
                <h3>Key Points</h3>
                <div style="padding-left:50px;">
                    <ol>
                        @foreach (var item in Model)
                        {
                            <li>@item.MWP_ReferTNC</li>
                        }
                    </ol>
                </div>
            </div>*@
        <section class="footer" style="text-align:center;">
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.FacebookUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.FacebookUrl">
                    <img src="~/img/facebook.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.InstagramUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.InstagramUrl">
                    <img src="~/img/instagram.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.TwitterUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.TwitterUrl">
                    <img src="~/img/twitterx.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.YoutubeURL))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.YoutubeURL">
                    <img src="~/img/youtube.svg" />
                </a>
            }
            @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.WhatsappUrl))
            {
                <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.WhatsappUrl">
                    <img src="~/img/whatsapp.svg" />
                </a>
            }
        </section>
    </div>

    <script>
    let friendCount = 1;

    function addFriendInput() {
        friendCount++;

        const newInputGroup = `
        <div class="input_box box1" id="friendInput${friendCount}" style="margin-top: 20px; position: relative;">
            <div class="input_group" style="display: flex; align-items: center; margin-bottom: 10px;">
                <input type="text" id="txtFriendName${friendCount}" name="friendName[]" placeholder="Friend Name" style="flex: 1; margin-right: 10px;">
                <input type="text" id="txtFriendMobile${friendCount}" name="mobileNo[]" placeholder="Mobile No" style="flex: 1; margin-right: 10px;">
                <button type="button" onclick="removeInputGroup('friendInput${friendCount}')" class="remove-button" style="position: absolute; top: 0; right: 3px; background-color: transparent; border: none; cursor: pointer;">
                    <i role="button" class="fa fa-times p-1 text-danger" title="Remove"></i>
                </button>
            </div>
        </div>
        `;
        document.getElementById('friendInputs').insertAdjacentHTML('beforeend', newInputGroup);
    }

    function removeInputGroup(button) {
        const inputGroup = document.getElementById(button);
        inputGroup.remove();
    }


    function SendReference() {
        var status = true;
        var friendNames = $("#txtFriendName1").val();
        var mobileNos = $("#txtFriendMobile1").val();

        let validInputExists = false;
        let postData = [];

        for (let i = 1; i <= friendNames.length; i++) {
            console.log($("#txtFriendName" + [i]).val())
            let friendName = $("#txtFriendName"+[i]).val();
            let mobileNo = $("#txtFriendMobile" +[i]).val();

            if (friendName !== "" || mobileNo !== "") {
                validInputExists = true;

                 //If friend name is provided, check for mobile number validity
                //if (friendName !== "" && mobileNo === "") {
                //    toastr.error('Please provide mobile no for ' + friendName);
                //    $("#mobileNo"+[i]).val().focus();
                //    status = false;
                //    break;
                //}

                 //Validate mobile number
                //if (mobileNo !== "" && !/^[6789]\d{9,9}$/.test(mobileNo)) {
                //    toastr.error('Please enter a valid Mobile No for ' + friendName);
                //    $("#mobileNo" + [i]).val().focus();
                //    status = false;
                //    break;
                //}

                postData.push({
                    name: friendName,
                    mobile: mobileNo
                });
            }

            console.log(postData);
        }

        if (!validInputExists) {
            toastr.error('At least one Friend name and mobile number need to be provided.');
            friendNames[0].focus();
            status = false;
        }

        if (status) {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("DLCReferFriend", "ReferEarn")',
                data: JSON.stringify(postData), // Send the array as JSON
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result === true) {
                    toastr.success('Reference sent Successfully !!!');
                    setTimeout(myStopFunction, 2000);
                    } else {
                        toastr.error('There was a problem in gifting points. Please contact your Administrator !!!');
                    }
                $("#divLoader").hide();
                },
                 error: function (result) {
                 console.log(result.responseText);
                 toastr.error('An error occurred while sending the request.');
                 $("#divLoader").hide();
                 }
            });
        }
    }
    </script>
    <script src="~/js/script.js"></script>
</body>
</html>

