@model Chitale.ViewModel.ManagementViewModel
@{
    ViewBag.Title = "Participant Wise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row">
        <div style="width:100%;  padding:10px; background-color:white;float:left;">
            <div class="card-header-tab card-header-tab-animation card-header" style="margin-bottom:10px;">
                <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                    TARGET vs ACHIEVEMENT – PARTICIPANT-WISE
                </div>
            </div>

            <div class="card-header-tab" style="margin-bottom:20px;">
                <div>
                    @Html.DropDownListFor(model => model.ClusterList, new SelectList(Model.ClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlClusterList" }) &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.DropDownListFor(model => model.SubClusterList, new SelectList(Model.SubClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlSubClusterList" })&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.DropDownListFor(model => model.CityList, new SelectList(Model.CityList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlCityList" })
                </div>

                <div>
                    <br />
                    <input type="radio" id="rdnSS" name="cust_type" /> Super Stockiest
                    <input type="radio" id="rdnDist" name="cust_type" /> Distributor
                    <input type="radio" id="rdnRetailer" name="cust_type" /> Retailer <br />
                    @Html.DropDownListFor(model => model.MonthsList, new SelectList(Model.MonthsList, "Value", "Text"), "Select Month", htmlAttributes: new { @class = "input50", @id = "ddlMonthList" })&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.DropDownListFor(model => model.YearList, new SelectList(Model.YearList, "Value", "Text"), "Select Year", htmlAttributes: new { @class = "input50", @id = "ddlYearList" })
                    <button type="button" id="btnFilter" style="margin-left:17px;margin-top:5px;" class="btn btn-primary"><b>FILTER</b></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        

    });

</script>

