@model Chitale.ViewModel.ManagementViewModel
@{
    ViewBag.Title = "Participant Wise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row">
        <div style="width:100%;  padding:0px; background-color:white;float:left;">
            <div class="card-header-tab card-header-tab-animation card-header" style="margin-bottom:10px;">
                <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                    FOCUS vs ACHIEVEMENT – PARTICIPANT-WISE &nbsp;&nbsp;&nbsp;&nbsp; <span id="spnMonthDetails">(Current Month)</span>
                </div>
            </div>

            <div class="card-header-tab" style="margin-bottom:20px;">
                <div style="display:flex;">
                    <div class="col-md-3 col-xl-3">
                        Cluster <br />
                        @Html.DropDownListFor(model => model.ClusterList, new SelectList(Model.ClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlClusterList", @onchange = "FillSubCluster()" }) &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-3 col-xl-3">
                        Sub Cluster <br /> @Html.DropDownListFor(model => model.SubClusterList, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlSubClusterList", @onchange = "FillCity()" })&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-3 col-xl-3">
                        City <br /> @Html.DropDownListFor(model => model.CityList, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlCityList" })
                    </div>
                </div>
                <div style="margin-left:15px;">
                    <br />
                    <input type="radio" id="rdnSS" checked name="cust_type" /> Super Stockiest &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnDist" name="cust_type" /> Distributors &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnRetailer" name="cust_type" /> Retailers <br /><br />
                    @Html.DropDownListFor(model => model.MonthsList, new SelectList(Model.MonthsList, "Value", "Text"), "Select Month", htmlAttributes: new { @class = "input50", @id = "ddlMonthList" })&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.DropDownListFor(model => model.YearList, new SelectList(Model.YearList, "Value", "Text"), "Select Year", htmlAttributes: new { @class = "input50", @id = "ddlYearList" })
                    <button type="button" id="btnFilter" style="margin-left:17px;margin-top:5px;" class="btn btn-primary"><b>FILTER</b></button>

                </div>
               
                 <div class="col-md-8 col-xl-8">
                        <span id="spnFilter" style="font-size:17px;font-weight:bold;display:none;"></span>
                 </div>
                
            </div>
            <div class="row mb-3">
                <div class="container-fluid pt-3 pl-3 pr-3">
                    <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                        <div class="col text-right">
                            <ul class="list-inline progress-list mt-2">
                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                            <i class="fas fa-file-export"></i> Export
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row" id="divactivityTable">

                            <div class="table-responsive">

                                <table class="table" id="activityTable" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <td scope="col" style="border:1px solid black;border-left:0px;" colspan="7"></td>
                                            <td scope="col" style="border:1px solid black; font-size:18px;" colspan="3"><b>Volume-wise</b> </td>

                                            <td scope="col" style="border:1px solid black;border-right:0px; font-size:18px;" colspan="3"><b>Value-wise</b> </td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Cluster</th>
                                            <th scope="col">Sub Cluster</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Date</th>                                            
                                            <th scope="col">Focus</th>
                                            <th scope="col">Ach</th>
                                            <th scope="col">Ach %</th>
                                            <th scope="col">Focus</th>
                                            <th scope="col">Ach</th>
                                            <th scope="col">Ach %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableData = [];
    $(document).ready(function () {
        GetSummeryDetails();
        $('#btnFilter').on("click", function () {
            GetSummeryDetails();
        });
        
    });
    function FillSubCluster() {
        $("#spnFilter").text("");
        var items1 = '<option>All</option>';
        $("#ddlCityList").html(items1);
        $("#ddlSubClusterList").html(items1);
        var cluster = $('#ddlClusterList :selected').val();
        console.log(cluster);
        $.ajax({
            url: '@Url.Action("GetSubCluster", "ManagementDashboard")',
            data: "{'Cluster': '" + cluster + "'}",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (objModel) {
                console.log(objModel.SubClusterList);
                $("#ddlSubClusterList").html("");
                var items = '<option value="0">All</option>';
                $.each(objModel.SubClusterList, function (i, item) {
                    items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                });
                $("#ddlSubClusterList").html(items);
                $("#ddlCityList").val("All");

            }
        });
    }
    function FillCity() {
        var Subcluster = $('#ddlSubClusterList :selected').val();
        console.log(Subcluster);
        $.ajax({
            url: '@Url.Action("GetCity", "ManagementDashboard")',
            data: "{'SubCluster': '" + Subcluster + "'}",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (objModel) {
                console.log(objModel.CityList);
                $("#ddlCityList").html("");
                var items = '<option>All</option>';
                $.each(objModel.CityList, function (i, item) {
                    items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                });
                $("#ddlCityList").html(items);
            }
        });
    }
    function GetSummeryDetails() {
        console.log($('#ddlMonthList').val())
        var SummeryData = [];
        item = {}
        item["Cluster"] = $('#ddlClusterList :selected').text();
        item["SubCluster"] = $('#ddlSubClusterList :selected').text();
        item["City"] = $('#ddlCityList :selected').text();
        item["Month"] = $('#ddlMonthList').val();
        item["Year"] = $('#ddlYearList').val();
        item["CustomerType"] = "0";
        if ($('#rdnSS').is(":checked")) {
            item["CustomerType"] = "SuperStockiest";
        }
        if ($('#rdnDist').is(":checked")) {
            item["CustomerType"] = "Distributors";
        }
        if ($('#rdnRetailer').is(":checked")) {
            item["CustomerType"] = "Retailers";
        }
        SummeryData.push(item);

        var text = "";
        if ($("#ddlClusterList").prop('selectedIndex') != 0) {
            text = "Filter : " + $("#ddlClusterList option:selected").text();
        }
        if ($("#ddlSubClusterList").prop('selectedIndex') != 0 && text != "") {
            text = text + " | " + $("#ddlSubClusterList option:selected").text();
        }
        if ($("#ddlCityList").prop('selectedIndex') != 0 && text != "") {
            text = text + " | " + $("#ddlCityList option:selected").text();
        }
        if ($("#ddlMonthList").prop('selectedIndex') != 0 && text != "") {
            text = text + " | " + $("#ddlMonthList option:selected").text();
        }
        if ($('#ddlYearList').prop('selectedIndex') != 0 && text != "") {
            text = text + " | " + $("#ddlYearList option:selected").text();
        }
        if (text != "") {
            $("#spnFilter").text(text);
            $("#spnFilter").show();
        }
        var data = JSON.stringify(SummeryData);
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetParticipantData")',
            data: '{jsonData: ' + JSON.stringify(data) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response != null) {
                    tableData.length = 0;
                    $.map(response, function (item) {
                        optionItem = {}
                        optionItem["Type"] = item.Type;
                        optionItem["ID"] = item.ID;
                        optionItem["Name"] = item.Name;
                        optionItem["Cluster"] = item.Cluster;
                        optionItem["SubCluster"] = item.SubCluster;
                        optionItem["City"] = item.City;
                        optionItem["Date"] = item.MonthYear;
                        optionItem["VolTgt"] = item.VolTgt;
                        optionItem["VolAch"] = item.VolAch;
                        optionItem["VolAchPer"] = item.VolAchPer;
                        optionItem["ValTgt"] = item.ValTgt;
                        optionItem["ValAch"] = item.ValAch;
                        optionItem["ValAchPer"] = item.ValAchPer;
                        tableData.push(optionItem);
                    });
                    DrawTable();
                    if ($('#ddlMonthList').val() == "" && $('#ddlYearList').val() == "") {
                        $("#spnMonthDetails").text("(Current Month)")
                    }
                    else if ($('#ddlMonthList').val() != "" && $('#ddlYearList').val() != "") {
                        $("#spnMonthDetails").text($("#ddlMonthList option:selected").text() + " - " + $("#ddlYearList option:selected").text());
                    }
                    else if ($('#ddlMonthList').val() !="") {
                        $("#spnMonthDetails").text($("#ddlMonthList option:selected").text());
                    }
                    else if ($('#ddlYearList').val() != "") {
                        $("#spnMonthDetails").text($("#ddlYearList option:selected").text());
                    }
                    $('#ddlYearList').val()
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                console.log(111);
                $("#divLoader").hide();
            },
            error: function (response) {
                console.log(222);
                $("#divLoader").hide();
            }
        });
    }
    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();        
        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "Type" },
                { data: "ID" },
                {

                    "mData": "Name",
                    "mRender": function (data, type, row) {
                        var id = row.ID;
                        var Type = row.Type;
                        var URL = '@Url.Action("TgtVsAch", "PointsLedger")';
                        var actualURL = URL + "?CustomerId=" + id + "&CustomerType=" + Type;
                        return '<a target=\"_blank\"  class=\"login\" href=' + actualURL + '>' + data + '</a>';

                    }
                },
                //{ data: "Name" },
                { data: "Cluster" },
                { data: "SubCluster" },
                { data: "City" },
                { data: "Date" },
                {
                    "mData": "VolTgt",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },                
                {
                    "mData": "VolAch",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                { data: "VolAchPer" },                
                {
                    "mData": "ValTgt",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },               
                {
                    "mData": "ValAch",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                { data: "ValAchPer" }
            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: []
                }
            ]
        });
        $('#activityTable_filter').hide();
        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

    }

    function ExportDataExcel() {
        $("#divLoader").show();
        var Cluster = $('#ddlClusterList :selected').text();
        var SubCluster = $('#ddlSubClusterList :selected').text();
        var City = $('#ddlCityList :selected').text();
        var Month = $('#ddlMonthList').val();
        var Year = $('#ddlYearList').val();
        var CustomerType = "0";
        if ($('#rdnSS').is(":checked")) {
            CustomerType = "SuperStockiest";
        }
        if ($('#rdnDist').is(":checked")) {
            CustomerType = "Distributors";
        }
        if ($('#rdnRetailer').is(":checked")) {
            CustomerType = "Retailers";
        }

        var urlLink = "@Url.Action("ExportParticipantWiseManagement", "Export")";
        urlLink = urlLink + "?Cluster=" + Cluster + "&SubCluster=" + SubCluster + "&City=" + City + "&Month=" + Month + "&Year=" + Year + "&Type=" + CustomerType + "";
        window.location.href = urlLink;
        $("#divLoader").hide();
    }

</script>

