@model List<BOTS_BL.Models.CommonDB.BOTS_TblBillingPartnerProduct>
@*@model List<BOTS_BL.Models.CommonDB.BillingPartnerDetails>*@

@{
    ViewBag.Title = "BillingPartnerProductMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                <h4><b>Billing Partner Product Master</b></h4>
            </div>

            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 mb-5" id="divadd" style="display:none; border:1px solid grey; border-radius:10px;">
                    <div class="mb-4">
                        <h6><b>Add Billing Product Partner</b></h6>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-2 mb-4">
                        Billing Partner Product Name  <input class="input100" type="text" id="txtBillingPartnerProductNm" />
                        <span id="hdnBillingPartnerProductId" style="display:none;"></span>
                        <button class="btn btn-primary login-btn ml-5 mr-2" type="button" id="btnSave">
                            Save
                        </button>
                        <button class="btn btn-primary login-btn" type="button" id="btnCancle">
                            Cancel
                        </button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="pr-2 ml-2">
                        <b>Billing Partner Name</b> @Html.DropDownList("BillingPartnerProduct", new SelectList(ViewBag.lstBillingPartner, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlBillingPartnerProduct" })

                    </div>
                    <div style="text-align:right;" class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                    </div>
                    <div style="text-align:right;" class="pr-2">
                        <button class="btn btn-primary login-btn" type="button" id="btnAdd">
                            ADD
                        </button>

                    </div>
                </div>

                <div class="row mt-3" id="dvActivityData">
                    <div class="table-responsive">
                        <table class="table" id="activityTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:left;">BillingPartnerProductName</th>
                                    <th scope="col" style="text-align:left;">Created By</th>
                                    <th scope="col" style="text-align:left;">Created On</th>
                                    <th scope="col" style="text-align:left;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@if (Model != null)
                                {
                                    if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {

                                            <tr>
                                                <td style="text-align:left;">@item.BillingPartnerProductName</td>
                                                <td style="text-align:left;">@item.UserName</td>
                                                <td style="text-align:left;">@item.CreatedDate</td>
                                                <td style="text-align:left; width:100px;">
                                                    <a href="#" class="login" onclick="EditCategory(@item.BillingPartnerProductId)" title="Edit"><img src="~/Content/assets/images/shape_editUser.png" /></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tableData = [];
    $("#ddlBillingPartnerProduct").change(function () {
        var selected = $("#ddlBillingPartnerProduct option:selected").val();

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetBillingPartnerProductByPartner", "CustomerMaster")',
                data: '{BillingpartnerId: ' + JSON.stringify(selected) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {
                    if (responce != null) {
                        tableData.length = 0;
                        $.map(responce, function (item) {
                            console.log(responce.BillingPartnerProductName);
                            optionItem = {}
                            optionItem["BillingPartnerProductName"] = item.BillingPartnerProductName;
                            optionItem["UserName"] = item.CreatedBy;
                            var date = item.CreatedDate;
                            optionItem["CreatedDate"] = date;
                            optionItem["BillingPartnerProductId"] = item.BillingPartnerProductId;
                            
                            tableData.push(optionItem);
                            console.log(optionItem);
                        });
                        DrawTable();
                    }
                    $("#divLoader").hide();

                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });

    });

    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();

        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "BillingPartnerProductName" },
                { data: "UserName" },
                {
                    data:"CreatedDate"
                },
                {

                    "mData": "BillingPartnerProductId",
                    "mRender": function (data, type, row) {
                        return '<a href="#" onclick="EditBillingPartnerProduct(\'' + data + '\')" class="login" title="Edit"><img src="/Content/assets/images/shape_editUser.png" /></a>';
                        
                    }
                }



            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: []
                }
            ]
        });
        $('#activityTable_filter').hide();
        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

    }
    function EditBillingPartnerProduct(id) {

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetBillingPartner", "CustomerMaster")',
                data: '{BillingpartnerId: ' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {
                    console.log(responce);
                    if (responce.BillingPartnerName != null) {
                        $("#divLoader").hide();
                        $("#divadd").show(1000);
                        $('#txtBillingPartnerNm').val(responce.BillingPartnerName);
                        $("#hdnBillingPartnerId").text(id);

                    }
                    else {

                    }

                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
        console.log(id);
    }
</script>
<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
