@model List<BOTS_BL.Models.CommonDB.BillingPartnerDetails>

@{
    ViewBag.Title = "BillingPartnerMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                <h4><b>Billing Partner Master</b></h4>
            </div>

            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 mb-5" id="divadd" style="display:none; border:1px solid grey; border-radius:10px;">
                    <div class="mb-4">
                        <h6><b>Add Billing Partner</b></h6>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-2 mb-4">
                        Billing Partner Name  <input class="input100" type="text" id="txtBillingPartnerNm" />
                        <span id="hdnBillingPartnerId" style="display:none;"></span>
                        <span id="hdnBillingPartnerActive" style="display:none;"></span>
                        <button class="btn btn-primary login-btn ml-5 mr-2" type="button" id="btnSave">
                            Save
                        </button>
                        <button class="btn btn-primary login-btn" type="button" id="btnCancle">
                            Cancel
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                    </div>
                    <div style="text-align:right;" class="pr-2">
                        <button class="btn btn-primary login-btn" type="button" id="btnAdd">
                            ADD
                        </button>

                    </div>
                </div>
                <div id="divbillingpartner">
                    @Html.Partial("~/Views/CustomerMaster/_BillingPartnerMaster.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#btnAdd').on("click", function () {
        $("#divadd").show(1000);

    });
    $('#btnCancle').on("click", function () {
        $("#divadd").hide(1000);
        $('#divadd').find(':input').val('');
        $("#hdnBillingPartnerId").text("");
    });

    function EditCategory(id) {

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetBillingPartner", "CustomerMaster")',
                data: '{BillingpartnerId: ' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {
                    console.log(responce);
                    if (responce.BillingPartnerName != null) {                        
                        $("#divadd").show(1000);
                        $('#txtBillingPartnerNm').val(responce.BillingPartnerName);
                        $("#hdnBillingPartnerId").text(id);
                        $("#hdnBillingPartnerActive").text(responce.IsActive);
                        
                       // BindBillingPartnerList();
                        $("#divLoader").hide();
                    }
                    else {

                    }

                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
       
    }
    $('#btnSave').on("click", function () {

        if ($('#txtBillingPartnerNm').val() == "") {
            toastr.error('Please enter Billing Partner Name');
            $('#txtBillingPartnerNm').focus();
            return false;
        }
        if (confirm("Are you sure? You want to Add Billing Partner")) {
            var BillingPartnerData = [];
            item = {}
            item["BillingPartnerNm"] = $("#txtBillingPartnerNm").val();
            if ($('#hdnBillingPartnerId').text != 0) {
                item["BillingPartnerId"] = $('#hdnBillingPartnerId').text();
            }
            else {
                item["BillingPartnerId"] = 0;
            }
            if ($('#hdnBillingPartnerActive').text == false) {
                item["IsActive"] = false;
            }
            else {
                item["IsActive"] = true;
            }
            
            BillingPartnerData.push(item);
            var data = JSON.stringify(BillingPartnerData);
            console.log(data)
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddBillingPartner", "CustomerMaster")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);                        
                       
                        BindBillingPartnerList();
                        $("#txtBillingPartnerNm").val("");
                        $('#hdnBillingPartnerId').val("");
                        $('#hdnBillingPartnerActive').val("");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
       // }
    }
    });

    function ActivateDeactivate(BillingPartnerId) {

        if (confirm("Are you sure? You want to Active/Inactive Billing Product Partner")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActiveInactiveBillingPartner", "CustomerMaster")',
                data: '{BillingpartnerId: ' + JSON.stringify(BillingPartnerId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);
                        BindBillingPartnerList();
                        $("#divLoader").hide();        
                        

                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                        console.log(222);
                       // BindBillingPartnerList();
                        
                    }


                },
                failure: function (result) {
                    console.log(result);
                },
                error: function (result) {
                    console.log(result);
                }
            });

        }
    }

    function BindBillingPartnerList() {
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("BillingPartnerList", "CustomerMaster")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {

                    $("#divbillingpartner").html(responce);

                },
                error: function (responce) {
                    $("#divbillingpartner").html(responce.responseText);

                }
            });

    }
</script>

