@model List<BOTS_BL.Models.CommonDB.BillingPartnerDetails>

@{
    ViewBag.Title = "BillingPartnerMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                <h4><b>Billing Partner Master</b></h4>
            </div>

            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 mb-5" id="divadd" style="display:none; border:1px solid grey; border-radius:10px;">
                    <div class="mb-4">
                        <h6><b>Add Billing Partner</b></h6>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-2 mb-4">
                        Billing Partner Name  <input class="input100" type="text" id="txtBillingPartnerNm" />
                        <span id="hdnBillingPartnerId" style="display:none;"></span>
                        <button class="btn btn-primary login-btn ml-5 mr-2" type="button" id="btnSave">
                            Save
                        </button>                        
                        <button class="btn btn-primary login-btn" type="button" id="btnCancle">
                            Cancel
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                    </div>
                    <div style="text-align:right;" class="pr-2">
                        <button class="btn btn-primary login-btn" type="button" id="btnAdd">
                            ADD
                        </button>

                    </div>
                </div>

                <div class="row mt-3" id="dvActivityData">
                    <div class="table-responsive">
                        <table class="table" id="groupListTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:left;">Billing Partner Name</th>
                                    <th scope="col" style="text-align:left;">Created By</th>
                                    <th scope="col" style="text-align:left;">Created On</th>
                                    <th scope="col" style="text-align:left;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {

                                            <tr>
                                                <td style="text-align:left;">@item.BillingPartnerName</td>
                                                <td style="text-align:left;">@item.UserName</td>
                                                <td style="text-align:left;">@item.CreatedDate</td>
                                                <td style="text-align:left; width:100px;">
                                                    <a href="#" class="login" onclick="EditCategory(@item.BillingPartnerId)" title="Edit"><img src="~/Content/assets/images/shape_editUser.png" /></a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#btnAdd').on("click", function () {
        $("#divadd").show(1000);

    });
    $('#btnCancle').on("click", function () {
        $("#divadd").hide(1000);
        $('#divadd').find(':input').val('');
        $("#hdnBillingPartnerId").text("");
    });
    
    function EditCategory(id) {

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetBillingPartner", "CustomerMaster")',
                data: '{BillingpartnerId: ' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {
                    console.log(responce);
                    if (responce.BillingPartnerName != null) {
                        $("#divLoader").hide();
                        $("#divadd").show(1000);
                        $('#txtBillingPartnerNm').val(responce.BillingPartnerName);                      
                        $("#hdnBillingPartnerId").text(id);

                    }
                    else {

                    }

                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
        console.log(id);
    }
    $('#btnSave').on("click", function () {

        if ($('#txtBillingPartnerNm').val() == "") {
            toastr.error('Please enter Billing Partner Name');
            $('#txtBillingPartnerNm').focus();
            return false;
        }
        if (confirm("Are you sure? You want to Add Billing Partner")) {
            var BillingPartnerData = [];
            item = {}
            item["BillingPartnerNm"] = $("#txtBillingPartnerNm").val();
            if ($('#hdnBillingPartnerId').text != 0) {
                item["BillingPartnerId"] = $('#hdnBillingPartnerId').text();
            }
            else {
                item["BillingPartnerId"] = 0;
            }
            BillingPartnerData.push(item);
            var data = JSON.stringify(BillingPartnerData);
            console.log(data)
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddBillingPartner", "CustomerMaster")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);
                        $("#divLoader").hide();
                        $("#txtBillingPartnerNm").val("");
                        $('#hdnBillingPartnerId').val("");
                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
       // }
    }
    });
</script>

