@model List<BOTS_BL.Models.CommonDB.SourcedDetails>
@{
    ViewBag.Title = "SourceMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                <h4><b>SourcedBy Master</b></h4>
            </div>

            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 mb-5" id="divadd" style="display:none; border:1px solid grey; border-radius:10px;">
                    <div class="mb-4">
                        <h6><b>Add Source</b></h6>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-2 mb-4">
                        Source Name  <input class="input100" type="text" id="txtSourceNm" />
                        <span id="hdnSourceId" style="display:none;"></span>
                        <span id="hdnsourcebyActive" style="display:none;"></span>
                        <button class="btn btn-primary login-btn ml-5 mr-2" type="button" id="btnSave">
                            Save
                        </button>

                        <button class="btn btn-primary login-btn" type="button" id="btnCancle">
                            Cancel
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                    </div>
                    <div style="text-align:right;" class="pr-2">
                        <button class="btn btn-primary login-btn" type="button" id="btnAdd">
                            ADD
                        </button>

                    </div>
                </div>
                <div id="divSource">
                    @Html.Partial("~/Views/CustomerMaster/_SourceMaster.cshtml", Model)
                </div>
               
            </div>
        </div>
    </div>
</div>
<script>

    $('#btnAdd').on("click", function () {
        $("#divadd").show(1000);
    });
    $('#btnCancle').on("click", function () {
        $("#divadd").hide(1000);
        $('#divadd').find(':input').val('');
        $("#hdnSourceId").text("");
    });
    $('#btnSave').on("click", function () {

        if ($('#txtSourceNm').val() == "") {
            toastr.error('Please enter Source Name');
            $('#txtSourceNm').focus();
            return false;
        }
        if (confirm("Are you sure? You want to Add Source")) {
            var SourceData = [];
            item = {}
            item["SourceNm"] = $("#txtSourceNm").val();
            if ($('#hdnSourceId').text != 0) {
                item["SourceId"] = $('#hdnSourceId').text();
            }
            else {
                item["SourceId"] = 0;
            }
            if ($('#hdnsourcebyActive').text == false) {
                item["IsActive"] = false;
            }
            else {
                item["IsActive"] = true;
            }
            SourceData.push(item);
            var data = JSON.stringify(SourceData);
            console.log(data)
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddSource", "CustomerMaster")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);                       

                        $("#txtSourceNm").val("");
                        $("#hdnSourceId").val("");
                        $("#hdnsourcebyActive").val("");
                        BindSourceList();
                        $("#divadd").hide(1000);
                        $("#divLoader").hide();

                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });

    }
    });

    function EditSourceBy(id) {

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSource", "CustomerMaster")',
                data: '{SourceId: ' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {
                    console.log(responce);
                    if (responce.SourcedbyName != null) {
                        $("#divLoader").hide();
                        $("#divadd").show(1000);
                        $('#txtSourceNm').val(responce.SourcedbyName);
                        $("#btnSave").show();
                        $("#hdnSourceId").text(id);
                        $("#hdnsourcebyActive").text(responce.IsActive);
                        

                    }
                    else {

                    }

                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
    }

    function ActivateDeactivate(SourcedbyId) {

        if (confirm("Are you sure? You want to Active/Inactive SourceBy")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActiveInactiveSourceBy", "CustomerMaster")',
                data: '{Sourcedbyid: ' + JSON.stringify(SourcedbyId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);
                        BindSourceList();
                        $("#divLoader").hide();
                        
                        

                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                       
                        
                    }


                },
                failure: function (result) {
                    console.log(result);
                },
                error: function (result) {
                    console.log(result);
                }
            });

        }
    }

    function BindSourceList() {
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SourceMasterList", "CustomerMaster")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {

                    $("#divSource").html(responce);

                },
                error: function (responce) {
                    $("#divSource").html(responce.responseText);

                }
            });

    }
</script>

