@model List<BOTS_BL.Models.CommonDB.SourcedTypeDetails>

@{
    ViewBag.Title = "SourceType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                <h4><b>Source Type Master</b></h4>
            </div>

            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 mb-5" id="divadd" style="display:none; border:1px solid grey; border-radius:10px;">
                    <div class="mb-4">
                        <h6><b>Add Source Type</b></h6>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-2 mb-4">
                        Source Type Name  <input class="input100" type="text" id="txtSourceTypeNm" />
                        <span id="hdnSourceTypeId" style="display:none;"></span>
                        <span id="hdnsourcetypeActive" style="display:none;"></span>
                        <button class="btn btn-primary login-btn ml-5 mr-2" type="button" id="btnSave">
                            Save
                        </button>
                        <button class="btn btn-primary login-btn" type="button" id="btnCancle">
                            Cancel
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                    </div>
                    <div style="text-align:right;" class="pr-2">
                        <button class="btn btn-primary login-btn" type="button" id="btnAdd">
                            ADD
                        </button>

                    </div>
                </div>

                <div id="divSourceType">
                    @Html.Partial("~/Views/CustomerMaster/_SourceType.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#btnAdd').on("click", function () {
        $("#divadd").show(1000);

    });
    $('#btnCancle').on("click", function () {
        $("#divadd").hide(1000);
        $('#divadd').find(':input').val('');
        $("#hdnSourceTypeId").text("");
    });

    function EditSourceType(id) {

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSourceType", "CustomerMaster")',
                data: '{SourceTypeId: ' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {
                    console.log(responce);
                    if (responce.SourceTypeName != null) {
                        $("#divLoader").hide();
                        $("#divadd").show(1000);
                        $('#txtSourceTypeNm').val(responce.SourceTypeName);
                        $("#hdnSourceTypeId").text(id);
                        $("#hdnsourcetypeActive").text(responce.IsActive);
                        

                    }
                    else {

                    }

                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
        console.log(id);
    }
    $('#btnSave').on("click", function () {

        if ($('#txtSourceTypeNm').val() == "") {
            toastr.error('Please enter Source Type Name');
            $('#txtSourceTypeNm').focus();
            return false;
        }
        if (confirm("Are you sure? You want to Add Source Type")) {
            var SourceTypeData = [];
            item = {}
            item["SourceTypeNm"] = $("#txtSourceTypeNm").val();
            if ($('#hdnSourceTypeId').text != 0) {
                item["SourceTypeId"] = $('#hdnSourceTypeId').text();
            }
            else {
                item["SourceTypeId"] = 0;
            }
            if ($('#hdnsourcetypeActive').text == false) {
                item["IsActive"] = false;
            }
            else {
                item["IsActive"] = true;
            }

            SourceTypeData.push(item);
            var data = JSON.stringify(SourceTypeData);
            console.log(data)
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddSourceType", "CustomerMaster")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);                      
                        BindSourceTypeList();
                        $("#txtSourceTypeNm").val("");
                        $('#hdnSourceTypeId').val("");
                        $('#hdnsourcetypeActive').val("");
                        $("#divLoader").hide();
                        $("#divadd").hide(1000);
                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
       // }
    }
    });

    function ActivateDeactivate(SourceTypeId) {

        if (confirm("Are you sure? You want to Active/Inactive Source Type")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActiveInactiveSourceType", "CustomerMaster")',
                data: '{SourceTypeid: ' + JSON.stringify(SourceTypeId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);
                        BindSourceTypeList();
                        $("#divLoader").hide();
                       
                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                        
                    }


                },
                failure: function (result) {
                    console.log(result);
                },
                error: function (result) {
                    console.log(result);
                }
            });

        }
    }

    function BindSourceTypeList() {
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SourceTypeMasterList", "CustomerMaster")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (responce) {

                    $("#divSourceType").html(responce);

                },
                error: function (responce) {
                    $("#divSourceType").html(responce.responseText);

                }
            });

    }
</script>

