@model WebApp.ViewModel.OnBoardingSalesViewModel

<style>
    h2 {
        color: #000;
        text-align: center;
        font-size: 2em;
    }

    .warpper {
        display: grid;
        flex-direction: column;
        align-items: center;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5 !important; /* Sit on top */
        padding-top: 65px; /* Location of the box */
        left: 120px;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 75%;
        border-radius: 25px;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    input:read-only {
        background-color: lightgray;
    }

    .outletStyle {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        vertical-align: text-top;
        cursor: pointer;
    }
</style>

<div class="row" style="margin-top:10px;">
    <div>
        <select id="ddlCommunicationSet" class="input50"></select>
    </div>
    <div style="margin-left:20px;padding-top:10px;">
        <button type="button" id="btnCreateSets" class="btn btn-primary">Manage Sets</button>
    </div>
    <div style="margin-left:20px;">
        Preferred Language
        @Html.DropDownListFor(model => model.bots_TblGroupMaster.PreferredLanguage, new SelectList(Model.PreferredLanguage(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlPreferredLanguage" })
    </div>
    <div style="margin-left: 20px; padding-top: 10px;">
        <button type="button" id="btnSaveLanguage" class="btn btn-primary">Save</button>
    </div>

</div>
<div style="margin-top:10px;" id="dvOutlets"></div>
<div class="col-md-6 col-lg-6 row justify-content-end pr-5">
    <button type="button" id="btnCommAssign" class="btn btn-primary"> Assign</button>
</div>
<div id="CommunicationModal" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0;" id="dvCommSetConfig">
            @Html.Partial("~/Views/CustomerOnBoarding/_CommunicationsConfig.cshtml", Model)
        </div>
        <div class="row justify-content-end pr-4" style="margin-top:20px;margin-right:465px;">
            <button type="button" id="btnCommPopupClose" class="btn btn-outline-primary cancel-btn">Close</button>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#btnCommAssign").hide();
        $("#btnCreateSets").on("click", function () {
            $("#CommunicationModal").show(1000);
        });
        $("#btnCommPopupClose").on("click", function () {
            FillSetDropDown();
            $("#CommunicationModal").hide(1000);
            $("#dvCreateSet").hide(1000);
        });
        $('#ddlCommunicationSet').change(function () {
            PopulateOutletCheckboxes();
        });
        $("#btnCommAssign").on("click", function () {
            AssignSetToOutlets();
        });
        $("#btnSaveLanguage").on("click", function () {
            SavePreferredLanguage();
        });
        FillSetDropDown();
    });


    function FillSetDropDown() {
        $.ajax({
            url: '@Url.Action("GetCommunicationSetList", "CustomerOnBoarding")',
            data: "{'GroupId': '" + $('#hdnGroupID').val() + "'}",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $("#ddlCommunicationSet").html("");
                var items;
                $.each(result, function (i,item) {
                   items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                });
                $("#ddlCommunicationSet").html(items);

            }
        });
       }

    function PopulateOutletCheckboxes() {
        $.ajax({
            url: '@Url.Action("GetOutletListWithAssignment", "CustomerOnBoarding")',
            data: '{GroupId: ' + JSON.stringify($('#hdnGroupID').val()) + ',SetId: ' + JSON.stringify($("#ddlCommunicationSet").val()) + '}',
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#btnCommAssign").hide();
                var items = "";
                if ($("#ddlCommunicationSet").val() != "0") {
                    $.each(result, function (i, item) {
                        console.log(item);
                        if (item.Selected) {
                            items += "<br/><input class='outletStyle' type=checkbox id='chkOutlet" + item.Value + "' value='" + item.Value + "' checked />" + item.Text;
                        }
                        else if (item.Disabled) {
                            items += "<br/><input class='outletStyle' type=checkbox id='chkOutlet" + item.Value + "' value='" + item.Value + "' checked disabled />" + item.Text;
                        }
                        else {
                            items += "<br/><input class='outletStyle' type=checkbox id='chkOutlet" + item.Value + "' value='" + item.Value + "' />" + item.Text;
                        }
                     });
                    $("#btnCommAssign").show();
                }
                $("#dvOutlets").html(items);
            }
        });

    }

    function AssignSetToOutlets() {
        var OutletIds = [];
        $(":checkbox:checked").each(function () {
            console.log($("#"+this.id).is(':disabled'));
            if (!$("#" + this.id).is(':disabled'))
                OutletIds.push(this.value);
        });

        var OutletIdsData = JSON.stringify(OutletIds);

        if (OutletIds.length > 0) {
            $.ajax({
                url: '@Url.Action("AssignCommunicationSetsToOutlets", "CustomerOnBoarding")',
                data: '{GroupId: ' + JSON.stringify($('#hdnGroupID').val()) + ',SetId: ' + JSON.stringify($("#ddlCommunicationSet").val()) + ',OutletIds: ' + JSON.stringify(OutletIdsData) + '}',
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    cuteAlert({
                        type: "success",
                        title: "Assigned",
                        message: "Communication Sets asigned Successfully !!!",
                        buttonText: "Okay"
                    })
                }
            });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Select Outlet to Assign",
                buttonText: "Okay"
            })
        }

    }

    function SavePreferredLanguage() {
        $.ajax({
                url: '@Url.Action("SavePreferredLanguage", "CustomerOnBoarding")',
                data: '{GroupId: ' + JSON.stringify($('#hdnGroupID').val()) + ',PreferredLanguage: ' + JSON.stringify($("#ddlPreferredLanguage").val()) + '}',
                type: "post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    cuteAlert({
                        type: "success",
                        title: "Saved",
                        message: "Preferred Language saved Successfully !!!",
                        buttonText: "Okay"
                    })
            },
            error: function (result) {
                cuteAlert({
                    type: "error",
                    title: "OOPS...",
                    message: "There is problem in saving Preferred Language !!!",
                    buttonText: "Okay"
                })
            }
            });
    }

    function SaveCommunicationConfig() {
        var validationStatus = ValidateSet();
        if (validationStatus) {
            if ($('#chkIsSMS').is(":checked") || $('#chkIsWA').is(":checked")) {
                var CommConfig = [];
                item = {}
                item["SetId"] = $("#hdnSetId").val();
                item["SetName"] = $("#txtSetName").val();
                item["GroupId"] = $('#hdnGroupID').val();
                item["BrandId"] = "All";

                if ($('#chkIsSMS').is(":checked")) {
                    item["IsSMS"] = 1;
                    item["SMSSetId"] = $('#hdnSetId').val();
                    item["SMSProvider"] = $('#ddlSMSProvider').val();
                    item["SMSSenderId"] = $('#txtSMSSenderId').val();
                    item["SMSUserName"] = $('#txtSMSUserName').val();
                    item["SMSPassword"] = $('#txtSMSPassword').val();
                    item["SMSLink"] = $('#txtSMSLink').val();
                    item["SMSEnrollmentId"] = $('#hdnCommSMSConfigId1').val();
                    item["SMSEnrollment"] = $('#txtSMSEnrollment').val();
                    item["SMSEnrollmentAndEarnId"] = $('#hdnCommSMSConfigId2').val();
                    item["SMSEnrollmentAndEarn"] = $('#txtSMSEnrollmentAndEarn').val();
                    item["SMSEarnId"] = $('#hdnCommSMSConfigId3').val();
                    item["SMSEarn"] = $('#txtSMSEarn').val();
                    item["SMSOTPId"] = $('#hdnCommSMSConfigId4').val();
                    item["SMSOTP"] = $('#txtSMSOTP').val();
                    item["SMSBurnId"] = $('#hdnCommSMSConfigId5').val();
                    item["SMSBurn"] = $('#txtSMSBurn').val();
                    item["SMSAnyCancelId"] = $('#hdnCommSMSConfigId8').val();
                    item["SMSAnyCancel"] = $('#txtSMSAnyCancel').val();
                    item["SMSBalanceInquiryId"] = $('#hdnCommSMSConfigId9').val();
                    item["SMSBalanceInquiry"] = $('#txtSMSBalanceInquiry').val();
                }
                else {
                    item["IsSMS"] = 0;
                }

                if ($('#chkIsWA').is(":checked")) {
                    item["IsWA"] = 1;
                    item["WASetId"] = $('#hdnSetId').val();
                    item["WAProvider"] = $('#ddlWAProvider').val();
                    item["WAUserName"] = $('#txtWAUserName').val();
                    item["WAPassword"] = $('#txtWAPassword').val();
                    item["WALink"] = $('#txtWALink').val();
                    item["WATokenId"] = $('#txtWATokenId').val();
                    item["WAEnrollmentId"] = $('#hdnCommWAConfigId1').val();
                    item["WAEnrollment"] = $('#txtWAEnrollment').val();
                    item["WAEnrollmentAndEarnId"] = $('#hdnCommWAConfigId2').val();
                    item["WAEnrollmentAndEarn"] = $('#txtWAEnrollmentAndEarn').val();
                    item["WAEarnId"] = $('#hdnCommWAConfigId3').val();
                    item["WAEarn"] = $('#txtWAEarn').val();
                    item["WAOTPId"] = $('#hdnCommWAConfigId4').val();
                    item["WAOTP"] = $('#txtWAOTP').val();
                    item["WABurnId"] = $('#hdnCommWAConfigId5').val();
                    item["WABurn"] = $('#txtWABurn').val();
                    item["WAAnyCancelId"] = $('#hdnCommWAConfigId8').val();
                    item["WAAnyCancel"] = $('#txtWAAnyCancel').val();
                    item["WABalanceInquiryId"] = $('#hdnCommWAConfigId9').val();
                    item["WABalanceInquiry"] = $('#txtWABalanceInquiry').val();
                }
                else {
                    item["IsWA"] = 0;
                }

                CommConfig.push(item);
                var CommConfigData = JSON.stringify(CommConfig);

                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveCommunicationConfig", "CustomerOnBoarding")',
                    data: '{jsonData: ' + JSON.stringify(CommConfigData) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result == true) {
                            cuteAlert({
                                type: "success",
                                title: "Saved..",
                                message: "Communication Data Saved Successfully!",
                                buttonText: "Okay"
                            })
                            //Get Communication data and attach to div dvCommSetConfig
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetCommunicationConfig", "CustomerOnBoarding")',
                                data: '{groupId: ' + JSON.stringify($('#hdnGroupID').val()) + '}',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (result) {
                                   
                           
                                },
                                error: function (result) {
                                    $("#dvCommSetConfig").html(result.responseText);                                   
                                }
                              });


                            $("#dvCreateSet").hide(1000);
                        }
                        else {
                            cuteAlert({
                                type: "error",
                                title: "Oops..",
                                message: "There is some problem while saving Communication Data",
                                buttonText: "Okay"
                            })
                        }
                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        $("#divLoader").hide();
                    }
                });
            }
            else {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please Enter SMS OR WhatsApp Script",
                    buttonText: "Okay"
                })
            }
        }
    }






</script>
