@model BOTS_BL.Models.BOTS_TblDLCLinkConfig



@{
    var DLTStatus1 = "";
    var DLTStatus2 = "";
    var DLTStatus3 = "";
    var DLTStatus4 = "";
    var DLTStatus5 = "";
    var DLTStatus6 = "";
    var DLTStatus7 = "";
    var DLTStatus8 = "";

    if (Model.DLTStatus1 == "Approved")
    {
        DLTStatus1 = "disabled";
    }
    if (Model.DLTStatus2 == "Approved")
    {
        DLTStatus2 = "disabled";
    }
    if (Model.DLTStatus3 == "Approved")
    {
        DLTStatus3 = "disabled";
    }
    if (Model.DLTStatus4 == "Approved")
    {
        DLTStatus4 = "disabled";
    }
    if (Model.DLTStatus5 == "Approved")
    {
        DLTStatus5 = "disabled";
    }
    if (Model.DLTStatus6 == "Approved")
    {
        DLTStatus6 = "disabled";
    }
    if (Model.DLTStatus7 == "Approved")
    {
        DLTStatus7 = "disabled";
    }
    if (Model.DLTStatus8 == "Approved")
    {
        DLTStatus8 = "disabled";
    }

    var count = Model.Id;
    @Html.HiddenFor(model => Model.Id, new { @id = "hdnDLCConfigId" })

    var btnRejectSubmit = "btnRejectDLCSubmit" + count;
    var btnRejectCancel = "btnRejectDLCCancel" + count;

    var RejectReason = "txtRejectDLCReason" + count;
    var RejectDiv = "divRejectDLCReason" + count;

    var ShowStatus = "spnDLCStatus" + count;
    var RejectStatus = "spnRejectDLCStatus" + count;
}

@if (Model.DLTStatus1 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus1"> Status -  @Model.DLTStatus1 </span></b><br />
            <span id="spnRejectDLCStatus1">
                @if (!string.IsNullOrEmpty(Model.RejectReason1))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason1;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b> </b><br /> <textarea id="txtSMSToTheReferral" rows="6" cols="40" class="input100" @DLTStatus1>@Model.ToTheReferralSMSScript</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b> To The Referral SMS Script DLT </b><br /> <textarea id="txtSMSToTheReferralDLT" rows="6" cols="40" class="input100" disabled>@Model.ToTheReferralSMSScriptDLT </textarea>
            </div>
        </div>
        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC1" type="text" class="input50" value="@Model.TemplateId1" @DLTStatus1 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC1" type="text" class="input50" value="@Model.TemplateName1" @DLTStatus1 /><br />
                Template Type <br />
                @if (Model.TemplateType1 != null)
                {
                    if (Model.DLTStatus1 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType1, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType1), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC1", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType1, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType1), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC1" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType1, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC1" })
                }
            </div>

        </div>
        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC1" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus1>Copy</button><br />
                    <button type="button" id="btnApproveDLC1" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus1>Approve</button><br />
                    <button type="button" id="btnRejectDLC1" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus1>Reject</button><br />
                    <button type="button" id="btnSaveDLC1" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus1>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason1">
            <textarea id="txtRejectDLCReason1" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit1" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel1" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>
}
else
{
    <div class="col-md-12 col-lg-12" style="font-weight: bold; text-align:center; font-size: 16px; padding-top: 50px; padding-bottom: 20px;">No Script Submitted for DLT</div>
}

@if (Model.DLTStatus2 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus2"> Status -  @Model.DLTStatus2 </span></b><br />
            <span id="spnRejectDLCStatus2">
                @if (!string.IsNullOrEmpty(Model.RejectReason2))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason2;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b>Reminder1 For Points Usage Script </b><br /> <textarea id="txtSMSReminderForPointsUsage" rows="6" cols="40" class="input100" @DLTStatus2>@Model.ReminderForPointsUsageSMSScript</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b> Reminder1 For Points Usage Script DLT </b><br /> <textarea id="txtSMSReminderForPointsUsageDLT" rows="6" cols="40" class="input100" disabled>@Model.ReminderForPointsUsageSMSScriptDLT</textarea>
            </div>
        </div>
        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC2" type="text" class="input50" value="@Model.TemplateId2" @DLTStatus2 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC2" type="text" class="input50" value="@Model.TemplateName2" @DLTStatus2 /><br />
                Template Type <br />
                @if (Model.TemplateType2 != null)
                {
                    if (Model.DLTStatus2 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType2, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType2), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC2", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType2, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType2), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC2" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType2, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC2" })
                }
            </div>

        </div>
        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC2" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus2>Copy</button><br />
                    <button type="button" id="btnApproveDLC2" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus2>Approve</button><br />
                    <button type="button" id="btnRejectDLC2" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus2>Reject</button><br />
                    <button type="button" id="btnSaveDLC2" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus2>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason2">
            <textarea id="txtRejectDLCReason2" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit2" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel2" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>
}

@if (Model.DLTStatus8 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus8"> Status -  @Model.DLTStatus8 </span></b><br />
            <span id="spnRejectDLCStatus8">
                @if (!string.IsNullOrEmpty(Model.RejectReason8))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason8;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b>Reminder2 For Points Usage Script </b><br /> <textarea id="txtSMSReminderForPointsUsage2" rows="6" cols="40" class="input100" @DLTStatus8>@Model.ReminderForPointsUsageSMSScript8</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b> Reminder2 For Points Usage Script DLT </b><br /> <textarea id="txtSMSReminderForPointsUsage2DLT" rows="6" cols="40" class="input100" disabled>@Model.ReminderForPointsUsageSMSScriptDLT8</textarea>
            </div>
        </div>
        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC8" type="text" class="input50" value="@Model.TemplateId8" @DLTStatus8 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC8" type="text" class="input50" value="@Model.TemplateName8" @DLTStatus8 /><br />
                Template Type <br />
                @if (Model.TemplateType8 != null)
                {
                    if (Model.DLTStatus8 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType8, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType8), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC8", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType8, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType8), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC8" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType8, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC8" })
                }
            </div>

        </div>
        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC8" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus8>Copy</button><br />
                    <button type="button" id="btnApproveDLC8" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus8>Approve</button><br />
                    <button type="button" id="btnRejectDLC8" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus8>Reject</button><br />
                    <button type="button" id="btnSaveDLC8" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus8>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason2">
            <textarea id="txtRejectDLCReason2" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit8" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel8" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>
}

@if (Model.DLTStatus3 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus3"> Status -  @Model.DLTStatus3 </span></b><br />
            <span id="spnRejectDLCStatus3">
                @if (!string.IsNullOrEmpty(Model.RejectReason3))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason3;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b>tSMS Referred Success On Referral Txn </b><br /> <textarea id="txtSMSReferredSuccessOnReferralTxn" rows="6" cols="40" class="input100" @DLTStatus3>@Model.ReferredSuccessOnReferralTxnSMSScript</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b> SMS Referred Success On Referral Txn DLT Script </b><br /> <textarea id="txtSMSReferredSuccessOnReferralTxnDLT" rows="6" cols="40" class="input100" disabled>@Model.ReferredSuccessOnReferralTxnSMSScriptDLT</textarea>
            </div>
        </div>
        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC3" type="text" class="input50" value="@Model.TemplateId3" @DLTStatus3 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC3" type="text" class="input50" value="@Model.TemplateName3" @DLTStatus3 /><br />
                Template Type <br />
                @if (Model.TemplateType3 != null)
                {
                    if (Model.DLTStatus3 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType3, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType3), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC3", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType3, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType3), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC3" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType3, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC3" })
                }
            </div>

        </div>
        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC3" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus3>Copy</button><br />
                    <button type="button" id="btnApproveDLC3" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus3>Approve</button><br />
                    <button type="button" id="btnRejectDLC3" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus3>Reject</button><br />
                    <button type="button" id="btnSaveDLC3" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus3>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason3">
            <textarea id="txtRejectDLCReason3" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit3" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel3" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>

}
@if (Model.DLTStatus4 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus4"> Status -  @Model.DLTStatus4 </span></b><br />
            <span id="spnRejectDLCStatus4">
                @if (!string.IsNullOrEmpty(Model.RejectReason4))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason4;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b>SMS DLC OTP Script </b><br /> <textarea id="txtSMSDLCOtp" rows="6" cols="40" class="input100" @DLTStatus4>@Model.DLCOTPScriptSMS</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b> SMS DLC OTP DLT Script </b><br /> <textarea id="txtSMSDLCOtpDLT" rows="6" cols="40" class="input100" disabled>@Model.DLCOTPScriptSMSDLT</textarea>
            </div>
        </div>
        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC4" type="text" class="input50" value="@Model.TemplateId4" @DLTStatus4 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC4" type="text" class="input50" value="@Model.TemplateName4" @DLTStatus4 /><br />
                Template Type <br />
                @if (Model.TemplateType4 != null)
                {
                    if (Model.DLTStatus4 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType4, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType4), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC4", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType4, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType4), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC4" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType4, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC4" })
                }
            </div>

        </div>
        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC4" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus4>Copy</button><br />
                    <button type="button" id="btnApproveDLC4" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus4>Approve</button><br />
                    <button type="button" id="btnRejectDLC4" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus4>Reject</button><br />
                    <button type="button" id="btnSaveDLC4" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus4>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason4">
            <textarea id="txtRejectDLCReason4" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit4" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel4" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>

}

@if (Model.DLTStatus5 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus5"> Status -  @Model.DLTStatus5 </span></b><br />
            <span id="spnRejectDLCStatus5">
                @if (!string.IsNullOrEmpty(Model.RejectReason5))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason5;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b>Gift POint OTP SMS Script </b><br /> <textarea id="txtSMSGiftPtOtp" rows="6" cols="40" class="input100" @DLTStatus5>@Model.GiftPointsOTPScriptSMS</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b>Gift POint OTP DLT(SMS) Script </b><br /> <textarea id="txtSMSGiftPtOtpDLT" rows="6" cols="40" class="input100" disabled>@Model.GiftPointsOTPScriptSMSDLT</textarea>
            </div>
        </div>
        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC5" type="text" class="input50" value="@Model.TemplateId5" @DLTStatus5 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC5" type="text" class="input50" value="@Model.TemplateName5" @DLTStatus5 /><br />
                Template Type <br />
                @if (Model.TemplateType5 != null)
                {
                    if (Model.DLTStatus5 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType5, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType5), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC5", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType5, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType5), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC5" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType5, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC5" })
                }
            </div>

        </div>
        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC5" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus5>Copy</button><br />
                    <button type="button" id="btnApproveDLC5" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus5>Approve</button><br />
                    <button type="button" id="btnRejectDLC5" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus5>Reject</button><br />
                    <button type="button" id="btnSaveDLC5" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus5>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason5">
            <textarea id="txtRejectDLCReason5" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit5" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel5" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>

}
@if (Model.DLTStatus6 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus6"> Status -  @Model.DLTStatus6 </span></b><br />
            <span id="spnRejectDLCStatus6">
                @if (!string.IsNullOrEmpty(Model.RejectReason6))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason6;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b>Gift Points Debit OTP Script SMS </b><br /> <textarea id="txtSMSGiftPtDebitOtp" rows="6" cols="40" class="input100" @DLTStatus6>@Model.GiftPointsOTPScriptSMS</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b>Gift Points Debit OTP DLT(SMS) Script </b><br /> <textarea id="txtSMSGiftPtDebitOtpDLT" rows="6" cols="40" class="input100" disabled>@Model.GiftPointsOTPScriptSMSDLT</textarea>
            </div>
        </div>
        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC6" type="text" class="input50" value="@Model.TemplateId5" @DLTStatus6 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC6" type="text" class="input50" value="@Model.TemplateName6" @DLTStatus6 /><br />
                Template Type <br />
                @if (Model.TemplateType6 != null)
                {
                    if (Model.DLTStatus6 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType6, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType6), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC6", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType6, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType6), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC6" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType6, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC6" })
                }
            </div>

        </div>
        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC6" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus6>Copy</button><br />
                    <button type="button" id="btnApproveDLC6" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus6>Approve</button><br />
                    <button type="button" id="btnRejectDLC6" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus6>Reject</button><br />
                    <button type="button" id="btnSaveDLC6" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus6>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason6">
            <textarea id="txtRejectDLCReason6" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit6" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel6" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>
}

@if (Model.DLTStatus7 != null)
{
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">
        <div style="margin:20px;">
            <b><span id="spnDLCStatus7"> Status -  @Model.DLTStatus7 </span></b><br />
            <span id="spnRejectDLCStatus7">
                @if (!string.IsNullOrEmpty(Model.RejectReason7))
                {
                    var reasonRejects = "<b>Reason</b> - " + Model.RejectReason7;
                    @Html.Raw(reasonRejects)
                }
            </span>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style="margin-top: 10px;">
                <b>Gift Point Credit OTP (SMS) Script</b><br /> <textarea id="txtSMSGiftPtCreditOtp" rows="6" cols="40" class="input100" @DLTStatus7>@Model.GiftPointsOTPScriptSMS</textarea>
            </div>
        </div>
        <div style="float:left;" class="col-md-4 col-lg-4">
            <div style=" margin-top: 10px;">
                <b>Gift Point Credit OTP DLT (SMS) Script </b><br /> <textarea id="txtSMSGiftPtCreditOtpDLT" rows="6" cols="40" class="input100" disabled>@Model.GiftPointsOTPScriptSMSDLT</textarea>
            </div>
        </div>

        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                Template Id <br /> <input id="txtTemplateIdDLC7" type="text" class="input50" value="@Model.TemplateId7" @DLTStatus7 /><br />
                Template Name <br /> <input id="txtTemplateNameDLC7" type="text" class="input50" value="@Model.TemplateName7" @DLTStatus7 /><br />
                Template Type <br />
                @if (Model.TemplateType7 != null)
                {
                    if (Model.DLTStatus7 == "Approved")
                    {
                        @Html.DropDownListFor(x => Model.TemplateType7, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType7), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC7", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => Model.TemplateType7, new SelectList(ViewBag.TempleteType, "Value", "Text", Model.TemplateType7), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC7" })
                    }
                }
                else
                {
                    @Html.DropDownListFor(x => Model.TemplateType7, new SelectList(ViewBag.TempleteType, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlTemplateTypeDLC7" })
                }
            </div>

        </div>


        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
            <div style="margin-top: 10px;">
                <div class="container-fluid pt-3 pb-3">
                    <button type="button" id="btnCopyDLC7" onclick="CopyDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus7>Copy</button><br />
                    <button type="button" id="btnApproveDLC7" onclick="ApproveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus7>Approve</button><br />
                    <button type="button" id="btnRejectDLC7" onclick="RejectDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus7>Reject</button><br />
                    <button type="button" id="btnSaveDLC7" onclick="SaveDLCTemplate(this);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus7>Save</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="divRejectDLCReason7">
            <textarea id="txtRejectDLCReason7" rows="6" cols="40" class="input100"></textarea>
            <button type="button" id="btnRejectDLCSubmit7" onclick="RejectDLCSubmit(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
            <button type="button" id="btnRejectDLCCancel7" onclick="RejectDLCCancel(this);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        EventChangeOfOriginalToDLT();
        EventChangeOfOriginalToDLTNew();
    });



    function ConvertValuesToDLT(fromId, toId) {
        var EnrollmentText = $("#" + fromId).val();

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetConvertedScript", "CustomerOnBoarding")',
                data: '{CSScript: ' + JSON.stringify(EnrollmentText) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#" + toId).val(result);
                    $("#" + fromId).val($.trim(EnrollmentText));
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }

    function EventChangeOfOriginalToDLT() {
        ConvertValuesToDLT("txtSMSToTheReferral", "txtSMSToTheReferralDLT");
        ConvertValuesToDLT("txtSMSReminderForPointsUsage", "txtSMSReminderForPointsUsageDLT");
        ConvertValuesToDLT("txtSMSReferredSuccessOnReferralTxn", "txtSMSReferredSuccessOnReferralTxnDLT");
        ConvertValuesToDLT("txtSMSDLCOtp", "txtSMSDLCOtpDLT");
        ConvertValuesToDLT("txtSMSGiftPtOtp", "txtSMSGiftPtOtpDLT");
        ConvertValuesToDLT("txtSMSGiftPtDebitOtp", "txtSMSGiftPtDebitOtpDLT");
        ConvertValuesToDLT("txtSMSGiftPtCreditOtp", "txtSMSGiftPtCreditOtpDLT");
        ConvertValuesToDLT("txtSMSReminderForPointsUsage2", "txtSMSReminderForPointsUsage2DLT");        
    }

    function EventChangeOfOriginalToDLTNew() {
        $("#txtSMSToTheReferral").focusout(function () {
            ConvertValuesToDLT("txtSMSToTheReferral", "txtSMSToTheReferralDLT");
        });
        $("#txtSMSReminderForPointsUsage").focusout(function () {
            ConvertValuesToDLT("txtSMSReminderForPointsUsage", "txtSMSReminderForPointsUsageDLT");
        });
        $("#txtSMSReferredSuccessOnReferralTxn").focusout(function () {
            ConvertValuesToDLT("txtSMSReferredSuccessOnReferralTxn", "txtSMSReferredSuccessOnReferralTxnDLT");
        });
        $("#txtSMSDLCOtp").focusout(function () {
            ConvertValuesToDLT("txtSMSDLCOtp", "txtSMSDLCOtpDLT");
        });
        $("#txtSMSGiftPtOtp").focusout(function () {
            ConvertValuesToDLT("txtSMSGiftPtOtp", "txtSMSGiftPtOtpDLT");
        });
        $("#txtSMSGiftPtDebitOtp").focusout(function () {
            ConvertValuesToDLT("txtSMSGiftPtDebitOtp", "txtSMSGiftPtDebitOtpDLT");
        });
        $("#txtSMSGiftPtCreditOtp").focusout(function () {
            ConvertValuesToDLT("txtSMSGiftPtCreditOtp", "txtSMSGiftPtCreditOtpDLT");
        });
        $("#txtSMSReminderForPointsUsage2").focusout(function () {
            ConvertValuesToDLT("txtSMSReminderForPointsUsage2", "txtSMSReminderForPointsUsage2DLT");
        });
    }

    function CopyDLCTemplate(control) {
        var statusid = control.id.substr(10, 1);
        var status = "InProgress";
        var id = $("#hdnDLCConfigId").val();
        UpdateDLCStatus(id, statusid, status, "");
    }

    function RejectDLCTemplate(control) {
        var id = control.id.substr(12, 1);
        $("#divRejectDLCReason" + id).show(1000);
    }
    function RejectDLCCancel(control) {
        var id = control.id.substr(18, 1);
        $("#divRejectDLCReason" + id).hide(1000);
    }

    function RejectDLCSubmit(control) {
        var statusid = control.id.substr(18, 1);
        var id = $("#hdnDLCConfigId").val();
        var RejectDLCReason = $("#txtRejectDLCReason" + statusid).val();
        var status = "Rejected";
        UpdateDLCStatus(id, statusid, status, RejectDLCReason);
        $("#divRejectDLCReason" + statusid).hide(1000);
        $("#spnRejectDLCStatus" + statusid).html("<b>Reason</b> - " + RejectDLCReason);
    }

    function UpdateDLCStatus(id, statusid, status, reason) {
         $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateDLCLinkDLTStatus", "CustomerOnBoarding")',
                data: '{id: ' + JSON.stringify(id) + ',statusid: ' + JSON.stringify(statusid) + ',status: ' + JSON.stringify(status) + ',reason: ' + JSON.stringify(reason) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved..",
                            message: "DLT Data Saved Successfully!",
                            buttonText: "Okay"
                        })
                        if (status == "InProgress") {
                            $("#spnDLCStatus" + statusid).text("Status - InProgress");
                        }
                        if (status == "Rejected") {
                            $("#spnDLCStatus" + statusid).text("Status - Rejected");
                        }
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is some problem while saving data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });

    }

    function SaveDLCTemplate(control) {
        var statusid = control.id.substr(10, 1);
        var status = "";
        var id = $("#hdnDLCConfigId").val();
        SaveAndApproveDLCTemplate(id, statusid, status)
    }
    function ApproveDLCTemplate(control) {
        var statusid = control.id.substr(13, 1);
        var status = "Approved";
        var id = $("#hdnDLCConfigId").val();
        SaveAndApproveDLCTemplate(id, statusid, status)
    }
    function SaveAndApproveDLCTemplate(id, statusid, status) {
        var SaveData = [];
        saveitem = {}

        if (statusid == 1) {
            saveitem["Script"] = $("#txtSMSToTheReferral").val();
            saveitem["ScriptDLT"] = $("#txtSMSToTheReferralDLT").val();
        }
        if (statusid == 2) {
            saveitem["Script"] = $("#txtSMSReminderForPointsUsage").val();
            saveitem["ScriptDLT"] = $("#txtSMSReminderForPointsUsageDLT").val();
        }
        if (statusid == 3) {
            saveitem["Script"] = $("#txtSMSReferredSuccessOnReferralTxn").val();
            saveitem["ScriptDLT"] = $("#txtSMSReferredSuccessOnReferralTxnDLT").val();
        }
        if (statusid == 4) {
            saveitem["Script"] = $("#txtSMSDLCOtp").val();
            saveitem["ScriptDLT"] = $("#txtSMSDLCOtpDLT").val();
        }
        if (statusid == 5) {
            saveitem["Script"] = $("#txtSMSGiftPtOtp").val();
            saveitem["ScriptDLT"] = $("#txtSMSGiftPtOtpDLT").val();
        }
        if (statusid == 6) {
            saveitem["Script"] = $("#txtSMSGiftPtDebitOtp").val();
            saveitem["ScriptDLT"] = $("#txtSMSGiftPtDebitOtpDLT").val();
        }
        if (statusid == 7) {
            saveitem["Script"] = $("#txtSMSGiftPtCreditOtp").val();
            saveitem["ScriptDLT"] = $("#txtSMSGiftPtCreditOtpDLT").val();
        }
        if (statusid == 8) {
            saveitem["Script"] = $("#txtSMSReminderForPointsUsage2").val();
            saveitem["ScriptDLT"] = $("#txtSMSReminderForPointsUsage2DLT").val();
        }

        saveitem["TemplateId"] = $("#txtTemplateIdDLC" + statusid).val();
        saveitem["TemplateName"] = $("#txtTemplateNameDLC" + statusid).val();
        saveitem["TemplateType"] = $("#ddlTemplateTypeDLC" + statusid).val();

        SaveData.push(saveitem);
        var SaveDataStr = JSON.stringify(SaveData);
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDLCLinkDLTConfig", "CustomerOnBoarding")',
                data: '{id: ' + JSON.stringify(id) + ',statusid: ' + JSON.stringify(statusid) + ',status: ' + JSON.stringify(status) + ',jsonData: ' + JSON.stringify(SaveDataStr) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved..",
                            message: "DLT Data Saved Successfully!",
                            buttonText: "Okay"
                        })
                        if (status == "Approved") {
                            if (statusid == 1) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSToTheReferral").prop("disabled", true);

                            }
                            if (statusid == 2) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSReminderForPointsUsage").prop("disabled", true);

                            }
                            if (statusid == 3) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSReferredSuccessOnReferralTxn").prop("disabled", true);

                            }
                            if (statusid == 4) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSDLCOtp").prop("disabled", true);

                            }
                            if (statusid == 5) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSGiftPtOtp").prop("disabled", true);

                            }
                            if (statusid == 6) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSGiftPtDebitOtp").prop("disabled", true);

                            }
                            if (statusid == 7) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSGiftPtCreditOtp").prop("disabled", true);
                            }
                            if (statusid == 8) {
                                $("#spnDLCStatus" + statusid).text("Status - Approved");
                                $("#spnRejectDLCStatus" + statusid).hide();
                                $("#txtSMSReminderForPointsUsage2").prop("disabled", true);
                            }
                            $("#txtTemplateIdDLC" + statusid).prop("disabled", true);
                            $("#txtTemplateNameDLC" + statusid).prop("disabled", true);
                            $("#ddlTemplateTypeDLC" + statusid).prop("disabled", true);
                            $("#btnCopyDLC" + statusid).prop("disabled", true);
                            $("#btnApproveDLC" + statusid).prop("disabled", true);
                            $("#btnRejectDLC" + statusid).prop("disabled", true);
                            $("#btnSaveDLC" + statusid).prop("disabled", true);
                        }
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is some problem while saving DLT Data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });

        }

</script>


