@model List<BOTS_BL.Models.BOTS_TblCampaignInactive>


<div class="multisteps-form__panel m-3 list-box bg-white">
    @if (Model != null)
    {
        if (Model.Count != 0)
        {
            if (!string.IsNullOrEmpty(Model[0].DLTStatus1))
            {

                foreach (var item in Model)
                {
                    var count = item.Id;
                    var DLTStatus1 = "";
                    var DLTStatus2 = "";
                    var ShowStatus = "spnStatus" + count;
                    var RejectStatus = "spnRejectStatus" + count;
                    var templateId = "txtTemplateId1" + count;
                    var templateName = "txtTemplateName1" + count;
                    var templateType = "txtTemplateType1" + count;

                    var btnCopy = "btnCopy" + count;
                    var btnApprove = "btnApprove" + count;
                    var btnReject = "btnReject" + count;
                    var btnSave = "btnSave" + count;
                    var btnRejectSubmit = "btnRejectSubmit" + count;
                    var btnRejectCancel = "btnRejectCancel" + count;

                    var RejectReason = "txtRejectReason" + count;
                    var RejectDiv = "divRejectReason" + count;

                    var ShowStatus1 = "spnStatus1" + count;
                    var RejectStatus1 = "spnRejectStatus1" + count;
                    var templateId1 = "txtTemplateId2" + count;
                    var templateName1 = "txtTemplateName2" + count;
                    var templateType1 = "txtTemplateType2" + count;

                    var btnCopy1 = "btnCopy1" + count;
                    var btnApprove1 = "btnApprove1" + count;
                    var btnReject1 = "btnReject1" + count;
                    var btnSave1 = "btnSave1" + count;
                    var btnRejectSubmit1 = "btnRejectSubmit1" + count;
                    var btnRejectCancel1 = "btnRejectCancel1" + count;

                    var RejectReason1 = "txtRejectReason1" + count;
                    var RejectDiv1 = "divRejectReason1" + count;

                    var txtLessThanScript = "txtLessThanScript" + count;
                    var txtLessThanScriptDLT = "txtDLTLessThanScript" + count;

                    var txtGreaterThanScript = "txtGreaterThanScript" + count;
                    var txtGreaterThanScriptDLT = "txtDLTGreaterThanScript" + count;


                    if (item.DLTStatus1 == "Approved")
                    {
                        DLTStatus1 = "disabled";
                    }
                    if (item.DLTStatus2 == "Approved")
                    {
                        DLTStatus2 = "disabled";
                    }

                    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;">
                        @Html.HiddenFor(model => item.Id, new { @id = "hdnInactiveConfigId" + count })
                        <div style="margin-top: 20px; margin-bottom: 20px; float: left; " class="col-md-12 col-lg-12">
                            <b><span id="@ShowStatus"> Status -  @item.DLTStatus1 </span></b><br />
                            <span id="@RejectStatus">
                                @if (item.DLTStatus1 == "Rejected")
                                {
                                    var reasonRejects = "<b>Reason</b> - " + item.RejectReason1;
                                    @Html.Raw(reasonRejects)
                                }
                            </span>
                        </div>
                        <div style="float:left;" class="col-md-4 col-lg-4">
                            <div style="margin-top: 10px;">
                                <b>Less Than Script </b><br /> <textarea id="@txtLessThanScript" onfocusout="ConvertValuesToDLT(this,@txtLessThanScriptDLT);" rows="6" cols="40" class="input100" @DLTStatus1>@item.LessThanDaysScript</textarea>
                            </div>
                        </div>
                        <div style="float:left;" class="col-md-4 col-lg-4">
                            <div style=" margin-top: 10px;">
                                <b> Less Than DLT Script </b><br /> <textarea id="@txtLessThanScriptDLT" rows="6" cols="40" class="input100" disabled>@item.LessThanDaysScriptDLT</textarea>
                            </div>
                        </div>

                        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">

                            <div style="margin-top: 10px;">
                                Template Id <br /> <input id="@templateId" type="text" class="input50" value="@item.TemplateId1" @DLTStatus1 /><br />
                                Template Name <br /> <input id="@templateName" type="text" class="input50" value="@item.TemplateName1" @DLTStatus1 /><br />
                                Template Type <br />
                                @if (item.DLTStatus1 == "Approved")
                                {
                                    @Html.DropDownListFor(x => item.TemplateType1, new SelectList(ViewBag.TempleteType, "Value", "Text", item.TemplateType1), htmlAttributes: new { @class = "input50", @id = @templateType, @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(x => item.TemplateType1, new SelectList(ViewBag.TempleteType, "Value", "Text", item.TemplateType1), htmlAttributes: new { @class = "input50", @id = @templateType })
                                }

                            </div>

                        </div>
                        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
                            <div style="margin-top: 10px;">
                                <div class="container-fluid pt-3 pb-3">
                                    <button type="button" id="@btnCopy" onclick="CopyTemplate(this,1);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus1>Copy</button><br />
                                    <button type="button" id="@btnApprove" onclick="SaveTemplate(this,1,'Approved');" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus1>Approve</button><br />
                                    <button type="button" id="@btnReject" onclick="RejectTemplate(this,1);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus1>Reject</button><br />
                                    <button type="button" id="@btnSave" onclick="SaveTemplate(this,1,'Save');" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus1>Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="@RejectDiv">
                            <textarea id="@RejectReason" rows="6" cols="40" class="input100"></textarea>
                            <button type="button" id="@btnRejectSubmit" onclick="RejectInactiveSubmit(this,1);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
                            <button type="button" id="@btnRejectCancel" onclick="RejectInactiveCancel(this,1);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
                        </div>
                        <br />
                        <div style="margin-top: 20px; margin-bottom: 20px; float: left; " class="col-md-12 col-lg-12">
                            <b><span id="@ShowStatus1"> Status -  @item.DLTStatus2 </span></b><br />
                            <span id="@RejectStatus1">
                                @if (item.DLTStatus2 == "Rejected")
                                {
                                    var reasonRejects = "<b>Reason</b> - " + item.RejectReason2;
                                    @Html.Raw(reasonRejects)
                                }
                            </span>
                        </div>

                        <div style="float:left;" class="col-md-4 col-lg-4">
                            <div style="margin-top: 10px;">
                                <b>Greater Than Script </b><br /> <textarea id="@txtGreaterThanScript" onfocusout="ConvertValuesToDLT(this,@txtGreaterThanScriptDLT);" rows="6" cols="40" class="input100" @DLTStatus2>@item.GreaterThanDaysScript</textarea>
                            </div>
                        </div>
                        <div style="float:left;" class="col-md-4 col-lg-4">
                            <div style=" margin-top: 10px;">
                                <b> Greater Than DLT Script </b><br /> <textarea id="@txtGreaterThanScriptDLT" rows="6" cols="40" class="input100" disabled>@item.GreaterThanDaysScriptDLT</textarea>
                            </div>
                        </div>

                        <div style="float:left;margin-bottom:10px;" class="col-md-3 col-lg-3">

                            <div style="margin-top: 10px;">
                                Template Id <br /> <input id="@templateId1" type="text" class="input50" value="@item.TemplateId2" @DLTStatus2 /><br />
                                Template Name <br /> <input id="@templateName1" type="text" class="input50" value="@item.TemplateName2" @DLTStatus2 /><br />
                                Template Type <br />
                                @if (item.DLTStatus2 == "Approved")
                                {
                                    @Html.DropDownListFor(x => item.TemplateType2, new SelectList(ViewBag.TempleteType, "Value", "Text", item.TemplateType2), htmlAttributes: new { @class = "input50", @id = @templateType1, @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(x => item.TemplateType2, new SelectList(ViewBag.TempleteType, "Value", "Text", item.TemplateType2), htmlAttributes: new { @class = "input50", @id = @templateType1 })
                                }

                            </div>

                        </div>
                        <div style="float:left;margin:0px; padding:0px;" class="col-md-1 col-lg-1">
                            <div style="margin-top: 10px;">
                                <div class="container-fluid pt-3 pb-3">
                                    <button type="button" id="@btnCopy1" onclick="CopyTemplate(this,2);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus2>Copy</button><br />
                                    <button type="button" id="@btnApprove1" onclick="SaveTemplate(this,2,'Approved');" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px;" @DLTStatus2>Approve</button><br />
                                    <button type="button" id="@btnReject1" onclick="RejectTemplate(this,2);" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus2>Reject</button><br />

                                    <button type="button" id="@btnSave1" onclick="SaveTemplate(this,2,'Save');" class="btn btn-primary" style="margin-left: -20px; margin-top: 10px; " @DLTStatus2>Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" style="text-align:center;display:none;" id="@RejectDiv1">
                            <textarea id="@RejectReason1" rows="6" cols="40" class="input100"></textarea>
                            <button type="button" id="@btnRejectSubmit1" onclick="RejectInactiveSubmit(this,2);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Submit</button>
                            <button type="button" id="@btnRejectCancel1" onclick="RejectInactiveCancel(this,2);" class="btn btn-primary" style="margin-left: 20px; margin-bottom:25px;">Cancel</button><br />
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-md-12 col-lg-12" style="font-weight: bold; text-align:center; font-size: 16px; padding-top: 50px; padding-bottom: 20px;">No Script Submitted for DLT</div>
            }
        }
        else
        {
            <div class="col-md-12 col-lg-12" style="font-weight: bold; text-align:center; font-size: 16px; padding-top: 50px; padding-bottom: 20px;">No Script Submitted for DLT</div>
        }
    }
    else
    {
        <div class="col-md-12 col-lg-12" style="font-weight: bold; text-align:center; font-size: 16px; padding-top: 50px; padding-bottom: 20px;">No Script Submitted for DLT</div>
    }

</div>

<script>
    $(document).ready(function () {
        EventChangeOfOriginalToDLT();
    });


    function EventChangeOfOriginalToDLT() {
        $('[id^=txtLessThanScript]').each(function (i, item) {
            var idlength = item.id.length;
            var len = parseFloat(idlength) - 17;
            var id = item.id.substr(17, len.length);
            ConvertValuesToDLT(item, "txtDLTLessThanScript" + id, true);
        })
        $('[id^=txtGreaterThanScript]').each(function (i, item) {
            var idlength = item.id.length;
            var len = parseFloat(idlength) - 20;
            var id = item.id.substr(20, len.length);
            ConvertValuesToDLT(item, "txtDLTGreaterThanScript" + id, true);
        })
    }

    function ConvertValuesToDLT(fromId, toId, status) {
        var EnrollmentText = $("#" + fromId.id).val();
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetConvertedScript", "CustomerOnBoarding")',
                data: '{CSScript: ' + JSON.stringify(EnrollmentText) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (status==undefined)
                        $("#" + toId.id).val(result);
                    else
                        $("#" + toId).val(result);
                    $("#" + fromId.id).val($.trim(EnrollmentText));
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }

    function CopyTemplate(item, num) {
        var idlength = item.id.length;
        var id = 0;

        if (num == 1) {
            var len = parseFloat(idlength) - 7;
            id = item.id.substr(7, len.length);
        }
        if (num == 2) {
            var len = parseFloat(idlength) - 8;
            id = item.id.substr(8, len.length);
        }

        UpdateInactiveStatus(id, num, "InProgress", "");
    }

    function RejectTemplate(item, num) {
        var idlength = item.id.length;
        var id = 0;
        if (num == 1) {
            var len = parseFloat(idlength) - 9;
            id = item.id.substr(9, len.length);
            $("#divRejectReason" + id).show(1000);
        }
        if (num == 2) {
            var len = parseFloat(idlength) - 10;
            id = item.id.substr(10, len.length);
            $("#divRejectReason1" + id).show(1000);
        }
    }

    function RejectInactiveCancel(item, num) {
        var idlength = item.id.length;
        var id = 0;
        if (num == 1) {
            var len = parseFloat(idlength) - 15;
            id = item.id.substr(15, len.length);
            $("#divRejectReason" + id).hide(1000);
        }
        if (num == 2) {
            var len = parseFloat(idlength) - 16;
            id = item.id.substr(16, len.length);
            $("#divRejectReason1" + id).hide(1000);
        }
    }

    function RejectInactiveSubmit(item, num) {
        var idlength = item.id.length;
        var reason = "";
        var id = 0;
        if (num == 1) {
            var len = parseFloat(idlength) - 15;
            id = item.id.substr(15, len.length);
            reason = $("#txtRejectReason" + id).val();
        }
        if (num == 2) {
            var len = parseFloat(idlength) - 16;
            id = item.id.substr(16, len.length);
            reason = $("#txtRejectReason1" + id).val();
        }
        UpdateInactiveStatus(id, num, "Rejected", reason);
        if (num == 1) {
            $("#divRejectReason" + id).hide(1000);
            $("#spnRejectStatus" + id).html("<b>Reason</b> - " + reason);
        }
        if (num == 2) {
            $("#divRejectReason1" + id).hide(1000);
            $("#spnRejectStatus1" + id).html("<b>Reason</b> - " + reason);
        }
    }

    function UpdateInactiveStatus(id, statusid, status, reason) {
         $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateInactiveDLTStatus", "CustomerOnBoarding")',
                data: '{id: ' + JSON.stringify(id) + ',statusid: ' + JSON.stringify(statusid) + ',status: ' + JSON.stringify(status) + ',reason: ' + JSON.stringify(reason) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved..",
                            message: "DLT Data Saved Successfully!",
                            buttonText: "Okay"
                        })
                        if (status == "InProgress") {
                            if (statusid == 1)
                                $("#spnStatus" + id).text("Status - InProgress");
                            if (statusid == 2)
                                $("#spnStatus1" + id).text("Status - InProgress");
                        }
                        if (status == "Rejected") {
                            if (statusid == 1)
                                $("#spnStatus" + id).text("Status - Rejected");
                            if (statusid == 2)
                                $("#spnStatus1" + id).text("Status - Rejected");
                        }
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is some problem while saving data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }

    function SaveTemplate(item, num,status) {
        var idlength = item.id.length;
        var id = 0;
        var Script = "";
        var DLTScript = "";

        if (status == "Save") {
            if (num == 1) {
                var len = parseFloat(idlength) - 7;
                id = item.id.substr(7, len.length);
                Script = $("#txtLessThanScript" + id).val();
                DLTScript = $("#txtDLTLessThanScript" + id).val();
            }
            if (num == 2) {
                var len = parseFloat(idlength) - 8;
                id = item.id.substr(8, len.length);
                Script = $("#txtGreaterThanScript" + id).val();
                DLTScript = $("#txtDLTGreaterThanScript" + id).val();
            }
        }
        if (status == "Approved") {
            if (num == 1) {
                var len = parseFloat(idlength) - 10;
                id = item.id.substr(10, len.length);
                Script = $("#txtLessThanScript" + id).val();
                DLTScript = $("#txtDLTLessThanScript" + id).val();
            }
            if (num == 2) {
                var len = parseFloat(idlength) - 11;
                id = item.id.substr(11, len.length);
                Script = $("#txtGreaterThanScript" + id).val();
                DLTScript = $("#txtDLTGreaterThanScript" + id).val();
            }
        }


        var SaveData = [];
        saveitem = {}

        saveitem["Id"] = id;
        saveitem["statusId"] = num;
        saveitem["Script"] = Script;
        saveitem["ScriptDLT"] = DLTScript;
        saveitem["TemplateId"] = $("#txtTemplateId" + num + id).val();
        saveitem["TemplateName"] = $("#txtTemplateName" + num + id).val();
        saveitem["TemplateType"] = $("#txtTemplateType" + num + id).val();
        saveitem["Status"] = status;
        SaveData.push(saveitem);
        var SaveDataStr = JSON.stringify(SaveData);

         $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveInactiveDLTConfig", "CustomerOnBoarding")',
                data: '{jsonData: ' + JSON.stringify(SaveDataStr) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved..",
                            message: "DLT Data Saved Successfully!",
                            buttonText: "Okay"
                        })
                        if (status == "Approved") {
                            if (num == 1) {
                                $("#spnStatus" + id).text("Status - Approved");
                                $("#spnRejectStatus" + id).hide();
                                $("#txtLessThanScript" + id).prop("disabled", true);
                                $("#txtTemplateId" + num + id).prop("disabled", true);
                                $("#txtTemplateName" + num + id).prop("disabled", true);
                                $("#txtTemplateType" + num + id).prop("disabled", true);
                                $("#btnCopy" + id).prop("disabled", true);
                                $("#btnApprove" + id).prop("disabled", true);
                                $("#btnReject" + id).prop("disabled", true);
                                $("#btnSave" + id).prop("disabled", true);

                            }
                            if (num == 2) {
                                $("#spnStatus1" + id).text("Status - Approved");
                                $("#spnRejectStatus1" + id).hide();
                                $("#txtGreaterThanScript" + id).prop("disabled", true);
                                $("#txtTemplateId" + num + id).prop("disabled", true);
                                $("#txtTemplateName" + num + id).prop("disabled", true);
                                $("#txtTemplateType" + num + id).prop("disabled", true);
                                $("#btnCopy1" + id).prop("disabled", true);
                                $("#btnApprove1" + id).prop("disabled", true);
                                $("#btnReject1" + id).prop("disabled", true);
                                $("#btnSave1" + id).prop("disabled", true);
                            }
                        }
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is some problem while saving Communication Data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }

</script>
