@model WebApp.ViewModel.OnBoardingSalesViewModel

<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .section-heading {
        cursor: pointer;
        text-align: left;
        /*background-color: #022C48;*/
        color: white;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        background-color: #000000 !important;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%) !important;
        font-size: 16px;
    }

    .borderClass {
        border: 1px solid red;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5000 !important; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 120px;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        border-radius: 25px;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    input:read-only {
        background-color: lightgray;
    }

    .tab1 {
        cursor: pointer;
        padding: 10px 08px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
        background-color: #000000 !important;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%) !important;
    }

    .tabs1 {
        padding-left: 00px;
    }

    .panels1 {
        background: #ffffff;
        box-shadow: 0 1rem 1rem #00000010;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel1 {
        display: none;
        animation: fadein .8s;
    }

    .panel-title1 {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio1 {
        display: none;
    }

    #one1:checked ~ .panels1 #one-panel1,
    #two1:checked ~ .panels1 #two-panel1,
    #three1:checked ~ .panels1 #three-panel1,
    #four1:checked ~ .panels1 #four-panel1,
    #five1:checked ~ .panels1 #five-panel1,
    #six1:checked ~ .panels1 #six-panel1,
    #seven1:checked ~ .panels1 #seven-panel1 {
        display: block
    }

    #one1:checked ~ .tabs1 #one-tab1,
    #two1:checked ~ .tabs1 #two-tab1,
    #three1:checked ~ .tabs1 #three-tab1,
    #four1:checked ~ .tabs1 #four-tab1,
    #five1:checked ~ .tabs1 #five-tab1,
    #six1:checked ~ .tabs1 #six-tab1,
    #seven1:checked ~ .tabs1 #seven-tab1 {
        background: #fff !important;
        color: #000;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        font-weight: bold;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
</style>

<div style="margin-top: 10px; border: 1px solid grey; border-radius: 10px;padding:15px;">
    <table border="1" cellpadding="3" cellspacing="3" width="100%">
        @foreach (var brand in Model.objRetailList)
        {
            <tr style="background-color:lightgrey;">
                <td colspan="12" style="font-size:18px; font-style:italic;"> Category - <b>@brand.CategoryName</b></td>
            </tr>
            if (Model.lstOutlets != null)
            {

                <tr>
                    <td style="font-weight:bold;background-color:lightgreen;"> Brand Name</td>
                    <td style="font-weight:bold;background-color:lightgreen;"> Outlet Name</td>
                    <td style="font-weight:bold;background-color:lightgreen;"> Area Name</td>
                    <td style="font-weight:bold;background-color:lightgreen;">Authorised Person</td>
                    <td style="font-weight:bold;background-color:lightgreen;">Registered Mobile No</td>
                    <td style="font-weight:bold;background-color:lightgreen;"> Registered Email </td>
                    <td style="font-weight:bold;background-color:lightgreen;">Address</td>
                    <td style="font-weight:bold;background-color:lightgreen;">State</td>
                    <td style="font-weight:bold;background-color:lightgreen;">City </td>
                    <td style="font-weight:bold;background-color:lightgreen;"> Pincode</td>
                </tr>
            }
            foreach (var item in Model.lstOutlets)
            {
                if (brand.BrandId == item.BrandId)
                {
                    <tr>
                        <td style="font-style: italic;">@brand.BrandName</td>
                        <td style="font-style: italic;">@item.OutletName</td>
                        <td style="font-style: italic;">@item.AreaName</td>
                        <td style="font-style: italic;">@item.AuthorisedPerson</td>
                        <td style="font-style: italic;">@item.RegisterMobileNo</td>
                        <td style="font-style: italic;">@item.RegisterEmail</td>
                        <td style="font-style: italic;">@item.Address</td>
                        <td style="font-style: italic;">@item.StateName</td>
                        <td style="font-style: italic;">@item.CityName</td>
                        <td style="font-style: italic;">@item.PinCode</td>
                    </tr>
                }
            }
        }
    </table>
</div>