@model WebApp.ViewModel.OnBoardingSalesViewModel


<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .section-heading {
        cursor: pointer;
        text-align: left;
        /*background-color: #022C48;*/
        color: white;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        background-color: #000000 !important;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%) !important;
        font-size: 16px;
    }

    .borderClass {
        border: 1px solid red;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5000 !important; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 120px;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        border-radius: 25px;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    input:read-only {
        background-color: lightgray;
    }

    .tab1 {
        cursor: pointer;
        padding: 10px 08px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
        background-color: #000000 !important;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%) !important;
    }

    .tabs1 {
        padding-left: 00px;
    }

    .panels1 {
        background: #ffffff;
        box-shadow: 0 1rem 1rem #00000010;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel1 {
        display: none;
        animation: fadein .8s;
    }

    .panel-title1 {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio1 {
        display: none;
    }

    #one1:checked ~ .panels1 #one-panel1,
    #two1:checked ~ .panels1 #two-panel1,
    #three1:checked ~ .panels1 #three-panel1,
    #four1:checked ~ .panels1 #four-panel1,
    #five1:checked ~ .panels1 #five-panel1,
    #six1:checked ~ .panels1 #six-panel1,
    #seven1:checked ~ .panels1 #seven-panel1 {
        display: block
    }

    #one1:checked ~ .tabs1 #one-tab1,
    #two1:checked ~ .tabs1 #two-tab1,
    #three1:checked ~ .tabs1 #three-tab1,
    #four1:checked ~ .tabs1 #four-tab1,
    #five1:checked ~ .tabs1 #five-tab1,
    #six1:checked ~ .tabs1 #six-tab1,
    #seven1:checked ~ .tabs1 #seven-tab1 {
        background: #fff !important;
        color: #000;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        font-weight: bold;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
</style>


<table border="1" cellpadding="3" cellspacing="3" style="margin-top:10px;" width="100%">
    <tr style="background-color:lightgrey;"><td colspan="8" style="font-weight:bold;font-size:18px;">Communication Details</td></tr>
    <tr style="background-color:lightgrey;"><td colspan="8" style="font-weight: 500; font-size: 18px;">SMS Script Details</td></tr>
    @foreach (var set in Model.lstCommunicationSet)
    {
        <tr>
            <td style="font-weight:bold;">>@set.SetName</td>
            <td style="font-weight:bold;">@set.CreatedBy</td>
            <td style="font-weight:bold;">@set.CreatedDate</td>
            <td colspan="5"></td>
        </tr>
        if (Model.lstSMSConfig != null)
        {
            <tr>
                <td style="font-weight:bold;">@Model.lstSMSConfig[0].PEID</td>
                <td style="font-style: italic; width:110px;">
                    PEID
                </td>
                <td style="font-weight:bold;">@Model.lstSMSConfig[0].SMSProvider</td>
                <td style="font-style: italic;">
                    SMS Provider
                </td>
                <td style="font-weight:bold;">@Model.lstSMSConfig[0].SMSSenderID</td>
                <td style="font-style: italic;">
                    Sender Id
                </td>
                <td style="font-weight:bold;">@Model.lstSMSConfig[0].SMSUsername</td>
                <td style="font-style: italic; width: 110px;">
                    User Name
                </td>
                <td style="font-weight:bold;">@Model.lstSMSConfig[0].SMSPassword</td>
                <td style="font-style: italic;">
                    Password
                </td>
                <td style="font-weight:bold;">@Model.lstSMSConfig[0].SMSlink</td>
                <td style="font-style: italic;">
                    SMS Link
                </td>
                <td colspan="2"></td>
            </tr>
        }
        <tr style="background-color:lightgrey;"><td colspan="8" style="font-weight: bold; font-size: 18px;">SMS Script</td></tr>
        foreach (var sms in Model.lstSMSConfig)
        {
            if (set.SetId == sms.SetId)
            {
                <tr>
                    <td style="font-weight:bold;">@sms.TemplateId</td>
                    <td style="font-style: italic;">
                        Template Id
                    </td>
                    <td style="font-weight:bold;">@sms.TemplateName</td>
                    <td style="font-style: italic;">
                        Template Name
                    </td>
                    <td style="font-weight:bold;">@sms.TemplateType</td>
                    <td style="font-style: italic;">
                        Template Type
                    </td>
                    <td style="font-weight:bold;">@sms.SMSScript</td>
                    <td style="font-style: italic;">
                        SMS Script
                    </td>
                    <td style="font-weight:bold;">@sms.SMSScriptDLT</td>
                    <td style="font-style: italic;">
                        SMS Script DLT
                    </td>
                    <td style="font-weight:bold;">@sms.DLTStatus</td>
                    <td style="font-style: italic;">
                        DLT Status
                    </td>
                    <td style="font-weight:bold;">@sms.RejectReason</td>
                    <td style="font-style: italic;">
                        Reject Reason
                    </td>
                    <td></td>
                </tr>
            }
        }
    }


    <tr style="background-color:lightgrey;"><td colspan="8" style="font-weight: bold; font-size: 18px;">Whatsapp Script Details</td></tr>
    @foreach (var set in Model.lstCommunicationSet)
    {
        <tr>
            <td style="font-weight:bold;">@set.SetName</td>
            <td style="font-style: italic;">
                Set Name
            </td>
            <td style="font-weight:bold;">@set.CreatedBy</td>
            <td style="font-style: italic;">
                Created By
            </td>
            <td style="font-weight:bold;">@set.CreatedDate</td>
            <td style="font-style: italic;">
                Created Date
            </td>
            <td colspan="5"></td>
        </tr>
        if (Model.lstWAConfig != null)
        {
            <tr>

                <td style="font-weight:bold;">@Model.lstWAConfig[0].WAProvider</td>
                <td style="font-style: italic;">
                    Whatsapp Provider
                </td>
                <td style="font-weight:bold;">@Model.lstWAConfig[0].WANumber</td>
                <td style="font-style: italic;">
                    Whatsapp Number
                </td>
                <td style="font-weight:bold;">@Model.lstWAConfig[0].WAUsername</td>
                <td style="font-style: italic;">
                    Whatsapp Username
                </td>
                <td style="font-weight:bold;">@Model.lstWAConfig[0].WAPassword</td>
                <td style="font-style: italic;">
                    Whatsapp Password
                </td>
                <td style="font-weight:bold;">@Model.lstWAConfig[0].WAlink</td>
                <td style="font-style: italic;">
                    Whatsapp Link
                </td>
                <td colspan="2"></td>
            </tr>
        }
        @*<tr style="background-color:lightgrey;"><td colspan="8" style="font-weight: bold; font-size: 18px;">Whatsapp Script</td></tr>*@
        foreach (var WA in Model.lstWAConfig)
        {
            if (set.SetId == WA.SetId)
            {
                <tr>
                    <td style="font-weight:bold;">@WA.TokenId</td>
                    <td style="font-style: italic;">
                        Token ID
                    </td>
                    <td style="font-weight:bold;">@WA.WAScript</td>
                    <td style="font-style: italic;">
                        Whatsapp Script
                    </td>

                    <td></td>
                </tr>
            }
        }
    }
</table>

