@model WebApp.ViewModel.OnBoardingSalesViewModel
@{
    var count = 0;
}


<div style="border:1px solid grey; border-radius:5px;padding:5px;">

    @*<h5 style="margin-left:350px;"><b>Customer Summary</b></h5>*@

    <div class="col-lg-12 col-sm-12 row">
        <div class="col-lg-4 col-sm-4">
            Group Name - <b> @Model.bots_TblGroupMaster.GroupName </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            Owner’s Name - <b> @Model.bots_TblGroupMaster.OwnerName </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            Owner’s Mobile - <b> @Model.bots_TblGroupMaster.OwnerMobileNo </b>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 row">
        <div class="col-lg-4 col-sm-4">
            Owner’s Email - <b> @Model.bots_TblGroupMaster.OwnerEmailId </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            Place - <b> @Model.bots_TblGroupMaster.CityName </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            @if (@Model.bots_TblGroupMaster.IsWhatsApp.HasValue)
            {
                if (@Model.bots_TblGroupMaster.IsWhatsApp.Value)
                {
                    <div>
                        WhatsApp - <b> Yes </b>
                    </div>
                }
                else
                {
                    <div>
                        WhatsApp - <b> No </b>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 row">
        <div class="col-lg-4 col-sm-4">
            SMS Free Msgs - <b> @Model.bots_TblGroupMaster.NoOfFreeSMS </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            SMS Paid Msgs - <b> @Model.bots_TblGroupMaster.NoOfPaidSMS </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            Preferred Language - <b> @Model.bots_TblGroupMaster.PreferredLanguage </b>
        </div>
    </div>
    @foreach (var item in Model.objRetailList)
    {
        count++;
        <div class="col-lg-12 col-sm-12 row">
            <div class="col-lg-4 col-sm-4">
                Category - <b> @item.CategoryName </b>
            </div>
            <div class="col-lg-4 col-sm-4">
                Total Outlets - <b> @item.NoOfOutlets </b>
            </div>
            <div class="col-lg-4 col-sm-4">
                Billing Partner - <b>@item.BillingPartnerName</b>
            </div>
        </div>
    }
    <hr />
    <div class="col-lg-12 col-sm-12" style="margin-top:10px;"><h6><b>Earn Rules</b></h6></div>
    <div class="col-lg-12 col-sm-12 row">
        <div class="col-lg-4 col-sm-4">
            Minimum Invoice Amount - <b> @Model.objEarnRuleConfig.MinInvoiceAmt.Value </b>
        </div>
        @if (Model.objEarnRuleConfig.RevolvingExpiry.Value)
        {
            <div class="col-lg-4 col-sm-4">
                Revolving Expiry - <b> Yes </b>
            </div>
        }
        else
        {
            <div class="col-lg-4 col-sm-4">
                Revolving Expiry - <b> No </b>
            </div>
        }
        <div class="col-lg-4 col-sm-4">
            Points Validity (in Months) - <b>@Model.objEarnRuleConfig.PointsValidityInMonths</b>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 row">

        <div class="col-lg-4 col-sm-4">
            @if (Model.objEarnRuleConfig.IsBase == true)
            {
                <div>Base Wise - <b>Yes</b></div>
            }
            @if (Model.objEarnRuleConfig.IsSlab == true)
            {
                <div>Slab Wise - <b>Yes</b></div>
            }
            @if (Model.objEarnRuleConfig.IsProductWise == true)
            {
                <div>Product Wise - <b>Yes</b></div>
            }
        </div>
        <div class="col-lg-4 col-sm-4">
            @if (Model.objEarnRuleConfig.IsProductWise == true)
            {
                <div>Productwise Type - <b>@Model.objEarnRuleConfig.ProductWiseType</b></div>
            }
        </div>
        <div class="col-lg-4 col-sm-4"></div>
    </div>
    <hr />
    <div class="col-lg-12 col-sm-12" style="margin-top:10px;"><h6><b>Burn Rules</b></h6></div>
    <div class="col-lg-12 col-sm-12 row">
        <div class="col-lg-4 col-sm-4">
            Minimum Invoice Amount - <b> @Model.objBurnRuleConfig.MinInvoiceAmt.Value </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            Percentage to Redeem Points - <b> @Model.objBurnRuleConfig.PercentageToRedeemPts% </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            Minimum Threshold Points First Time - <b>@Model.objBurnRuleConfig.MinThreshholdPtsFisttime</b>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 row">
        <div class="col-lg-4 col-sm-4">
            Minimum Threshold Points Subsequent - <b> @Model.objBurnRuleConfig.MinThreshholdPtsSubsequent </b>
        </div>
        <div class="col-lg-4 col-sm-4">
            Partial Earn - <b> @Model.objBurnRuleConfig.PartialEarn </b>
        </div>
    </div>
    <hr />
    <div class="col-lg-12 col-sm-12" style="margin-top:10px;"><h6><b>Block Rules</b></h6></div>
    <div class="col-lg-12 col-sm-12 row">
        <div class="col-lg-4 col-sm-4">
            @if (Model.objEarnRuleConfig.IsBlockForEarn == true)
            {
                <div>Block For Earn - <b>Yes</b></div>
                <div style="margin-top:10px;">Block Productwise Type - <b>@Model.objEarnRuleConfig.BlockProductWiseType</b></div>
            }
        </div>
        <div class="col-lg-4 col-sm-4">
            @if (Model.objBurnRuleConfig.IsProductCodeBlocking == true)
            {
                <div>Block For Burn - <b>Yes</b></div>
                <div style="margin-top:10px;">Productcode Blocking Type - <b>@Model.objBurnRuleConfig.ProductCodeBlockingType</b></div>
            }
        </div>
    </div>
    <hr />
    <div class="col-lg-12 col-sm-12" style="margin-top:10px;"><h6><b>Standard Configuration Rules</b></h6></div>
    @foreach (var item in Model.objStandardRulesList)
    {
        <table border="1" cellpadding="10" cellspacing="10">
            <tr>
                <th>Category</th>
                <th>OverLapping Categories</th>
                <th>Sub Elements</th>
                <th>Optimum Earn % Range</th>
                <th>Typical Exclusions</th>
                <th>Optimum Points Validity (in Months)</th>
            </tr>
            <tbody>
                <tr>
                    <td>@item.CategoryName</td>
                    <td>@Html.Raw(@item.OverlappingCategories)</td>
                    <td>@Html.Raw(@item.SubElements)</td>
                    <td>@Html.Raw(@item.OptimumEarnPercentRange)</td>
                    <td>@Html.Raw(@item.TypicalExclusions)</td>
                    <td>@Html.Raw(@item.OptimumPtsValidityInMonths)</td>
                </tr>
            </tbody>
            <tr>
                <th>Redemption Guidelines</th>
                <th>Referral Points</th>
                <th>Referee Points</th>
                <th>Birthday Anniversary Points</th>
                <th>Inactive Campaign Period (in Days)</th>
                <th>Points Expiry alert (Days Before)</th>
            </tr>
            <tbody>
                <tr>
                    <td>@item.RedemptionGuidelines</td>
                    <td>@item.ReferralPoints</td>
                    <td>@item.RefereePoints</td>
                    <td>@item.BirthdayAnniversaryPts</td>
                    <td>@Html.Raw(@item.InactiveCampaignPeriodInDays)</td>
                    <td>@Html.Raw(@item.PointsExpiryAlertInDaysBefore)</td>
                </tr>
            </tbody>
        </table>
    }
    <hr />
    <div class="col-lg-12 col-sm-12 " style="margin-top:10px;"><h6><b>Celebration Point Rules</b></h6></div>
    <div class="col-lg-12 col-sm-12 row ">
        @if (Model.lstCampaignOtherConfig != null)
        {
            foreach (var item in Model.lstCampaignOtherConfig)
            {
                if (item.CampaignType == "Birthday")
                {
                    <div class="col-lg-4 col-sm-4">
                        Birthday Message - <b>@item.SMSType</b><br />
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        Birthday Bonus Point - <b>@item.BonusPoints</b>
                    </div>
                }

                if (item.CampaignType == "Anniversary")
                {
                    <div class="col-lg-4 col-sm-4">
                        Anniversary Message - <b>@item.SMSType</b><br />
                    </div>
                    <div class="col-lg-4 col-sm-4" style="margin-top:10px;">
                        Anniversary Bonus Point - <b>@item.BonusPoints</b>
                    </div>
                }

            }
        }

    </div>
    <hr />
    @if (Model.objDLCLinkConfig != null)
    {
        <div class="col-lg-12 col-sm-12" style="margin-top:10px;"><h6><b>DLC Rules</b></h6></div>
        <div class="col-lg-12 col-sm-12 row">
            <div class="col-lg-4 col-sm-4">
                Profile Update Points - <b>@Model.objDLCLinkConfig.ProfileUpdatePoints</b>
            </div>
            <div class="col-lg-4 col-sm-4">
                Referee Member Points - <b>@Model.objDLCLinkConfig.ReferralPoints </b>
            </div>
            <div class="col-lg-4 col-sm-4">
                Referred Member Points - <b>@Model.objDLCLinkConfig.ReferredPoints </b>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 row">
            <div class="col-lg-4 col-sm-4">
                Validity of Referred Member points- <b>@Model.objDLCLinkConfig.ValidityOfReferralPoints</b>
            </div>
        </div>
    }
    <hr />
    <div class="col-lg-12 col-sm-12" style="margin-top:10px;">
        <b style="font-size:16px;"> Perpetual Campaign Setting </b><br />
        @if (Model.lstCampaignOtherConfig != null)
        {
            foreach (var item in Model.lstCampaignOtherConfig)
            {
                if (item.CampaignType == "Birthday" || item.CampaignType == "Anniversary")
                {
                    <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                        @if (item.CampaignType == "Birthday")
                        {
                            <b> @item.CampaignType - Script Count - @Model.BirthdayScriptCount</b>
                        }
                        @if (item.CampaignType == "Anniversary")
                        {
                            <b> @item.CampaignType - Script Count - @Model.AnniversaryScriptCount</b>
                        }

                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4">Bonus Points - <b> @item.BonusPoints </b></div>
                            <div class="col-lg-4 col-sm-4">Points valid before - <b> @item.PointsValidBefore  days</b> </div>
                            <div class="col-lg-4 col-sm-4">Points valid after - <b> @item.PointsValidAfter  days </b> </div>


                        </div>
                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4">Introduction Message <b> @item.IntroDays1 days </b>  before event</div>
                            <div class="col-lg-4 col-sm-4">Reminder1 Message <b> @item.ReminderDays1 days  @item.ReminderWhen1 </b> event </div>
                            <div class="col-lg-4 col-sm-4">Reminder2 Message <b> @item.ReminderDays2 days  @item.ReminderWhen2 </b> event</div>
                        </div>
                    </div>
                }
                if (item.CampaignType == "DLC Referral Reminder")
                {
                    <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                        @if (item.CampaignType == "DLC Referral Reminder")
                        {
                            <b> DLC Referral Connect - Script Count - @Model.DLCReferralReminderScriptCount</b>
                        }

                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays1 days </b></div>
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays2 days </b></div>
                        </div>
                    </div>
                }
                if (item.CampaignType == "DLC Update Reminder")
                {
                    <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                        @if (item.CampaignType == "DLC Update Reminder")
                        {
                            <b> @item.CampaignType - Script Count - @Model.DLCUpdateReminderScriptCount</b>
                        }

                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays1 days </b></div>
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays2 days </b></div>
                        </div>
                    </div>
                }
                if (item.CampaignType == "Balance Updates")
                {
                    <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                        @if (item.CampaignType == "Balance Updates")
                        {
                            <b> Points Balance - Script Count - @Model.BalanceUpdatesScriptCount</b>
                        }

                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays1 days </b></div>
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays2 days </b></div>
                        </div>
                    </div>
                }
                if (item.CampaignType == "Reminder Bulk Uploaded Users")
                {
                    <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                        @if (item.CampaignType == "Reminder Bulk Uploaded Users")
                        {
                            <b> Reminder to Bulk Uploaded Users - Script Count - @Model.BalanceUpdatesScriptCount</b>
                        }

                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays1 days </b></div>
                            <div class="col-lg-4 col-sm-4">Frequency - <b> @item.IntroDays2 days </b></div>
                        </div>
                    </div>
                }
            }
        }

        @if (Model.lstCampaignInactive != null)
        {
            <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                <b> Inactive - Script Count - @Model.InactiveScriptCount</b>

                @foreach (var item in Model.lstCampaignInactive)
                {
                    if (item.InactiveType == "Inactive")
                    {
                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4"><b> @item.Days days</b>  after last transaction</div>
                            <div class="col-lg-4 col-sm-4"> less than  <b> @item.LessThanDays </b>points </div>
                            <div class="col-lg-4 col-sm-4">greater/equal <b> @item.GreaterThanDays </b>points </div>
                        </div>
                    }
                }
            </div>
        }
        @if (Model.lstCampaignInactive != null)
        {
            <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                <b> Only Once Inactive - Script Count - @Model.OnlyOnceInactiveScriptCount</b>

                @foreach (var item in Model.lstCampaignInactive)
                {
                    if (item.InactiveType == "Only Once Inactive")
                    {
                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4"><b> @item.Days days</b>  after last transaction</div>
                            <div class="col-lg-4 col-sm-4"> less than  <b> @item.LessThanDays </b>points </div>
                            <div class="col-lg-4 col-sm-4">greater/equal <b> @item.GreaterThanDays </b>points </div>
                        </div>
                    }
                }
            </div>
        }
        @if (Model.lstCampaignInactive != null)
        {
            <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                <b> Non Redemption Inactive - Script Count - @Model.NonRedemptionInactiveScriptCount</b>

                @foreach (var item in Model.lstCampaignInactive)
                {
                    if (item.InactiveType == "Non Redemption Inactive")
                    {
                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4"><b> @item.Days days</b>  after last transaction</div>
                            <div class="col-lg-4 col-sm-4"> less than  <b> @item.LessThanDays </b>points </div>
                            <div class="col-lg-4 col-sm-4">greater/equal <b> @item.GreaterThanDays </b>points </div>
                        </div>
                    }
                }
            </div>
        }
        @if (Model.lstCampaignInactive != null)
        {
            <div style="border:1px solid grey;border-radius:10px; padding:10px;margin-bottom:10px;">
                <b> Point Expiry - Script Count - @Model.PointExpiryScriptCount</b>

                @foreach (var item in Model.lstCampaignInactive)
                {
                    if (item.InactiveType == "Point Expiry")
                    {
                        <div class="col-lg-12 col-sm-12 row">
                            <div class="col-lg-4 col-sm-4"><b> @item.Days days</b>  after last transaction</div>
                            <div class="col-lg-4 col-sm-4"> less than  <b> @item.LessThanDays </b>points </div>
                            <div class="col-lg-4 col-sm-4">greater/equal <b> @item.GreaterThanDays </b>points </div>
                        </div>
                    }
                }
            </div>
        }





    </div>




