@model WebApp.ViewModel.OnBoardingSalesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OnBoardingLayout.cshtml";
}
<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .section-heading {
        cursor: pointer;
        text-align: left;
        /*background-color: #022C48;*/
        color: white;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        background-color: #000000 !important;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%) !important;
        font-size: 16px;
    }
</style>
<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-12 section-heading" data-toggle="collapse" data-target="#custdetails">Customer Detail</div>
            <div id="custdetails" class="collapse show">
                <div class="row" style="margin: 0; padding-top:10px;">
                    <div style="float:left;text-align:right;width:100px;">
                        Legal Name
                    </div>
                    <div class="col-sm-4" style="float:left;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.GroupName, new { @class = "input100", @id = "txtGroupName", tabindex = 1 })
                    </div>
                    <div style="float:left;text-align:right;width:115px;">
                        Owner’s Name
                    </div>
                    <div class="col-sm-4" style="float:left;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.OwnerName, new { @class = "input100", @id = "txtOwnerName", tabindex = 2 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float:left;text-align:right;width:100px;">
                        Mobile No
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.OwnerMobileNo, new { @class = "input100", @id = "txtOwnerMobileNo", tabindex = 3 })
                    </div>
                    <div style="float:left;text-align:right;width:115px;">
                        Owner’s Email
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.OwnerEmailId, new { @class = "input100", @id = "txtOwnerEmailId", tabindex = 4 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float:left;text-align:right;width:100px;">
                        Upload GST
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.GSTDocumentFile, new { type = "file", tabindex = "5" })
                    </div>
                    <div style="float:left;text-align:right;width:115px;">
                        Upload PAN
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.PANDocumentFile, new { type = "file", tabindex = "6" })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float:left;text-align:right;width:100px;">
                        City
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.bots_TblGroupMaster.City, new SelectList(Model.lstCity, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlCity", tabindex = 10 })
                        <input type="text" id="txtCity" class="input100" placeholder="Enter City" style="margin-top:10px;display:none;" disabled />
                    </div>
                    <div style="float:left;text-align:right;width:115px;">
                        Other Person Name
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.AnyOtherName, new { @class = "input100", tabindex = 8 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float:left;text-align:right;width:100px;">
                        Mobile No
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.AlternateMobileNo, new { @class = "input100", tabindex = 9 })
                    </div>
                    <div style="float:left;text-align:right;width:115px;">
                        Email
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.AlternateEmailId, new { @class = "input100", tabindex = 10 })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float:left;text-align:right;width:100px;">
                        No of Retail Categories
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.NoOfRetailCategory, new { @class = "input100", @id = "txtNoOfRetailCategory", tabindex = 11 })
                    </div>

                </div>


                <div class="row" style="margin: 0;margin-top:20px;display:none;border:1px solid grey;border-radius:5px;" id="dvRetailCategory">
                    <div class="col-sm-3" style="float:left;">
                        <br /><br /><span>Retail Category</span><br /><br />
                        <span>Retail / Brand Name</span><br /><br />
                        <span>Total Outlets</span><br /><br />
                        <span>Enrolled Outlets</span><br /><br />
                        <span>BO Product </span><br /><br />
                        <span>Billing Partner</span><br /><br />
                        <span>Billing Product </span><br /><br />
                    </div>
                    <div class="col-sm-2" style="float:left;margin-top:10px;" id="dvCategory1">
                        <span style="padding-left:10px;font-weight:bold;">Category 1</span>
                        <br />
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.CategoryId, new SelectList(Model.lstRetailCategory, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlCategory1" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BrandName, new { @class = "input40", @id = "ddlBrandName1" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfOutlets, new { @class = "input40", @id = "ddlNoOfOutlets1" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfEnrolled, new { @class = "input40", @id = "ddlNoOfEnrolled1" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BOProduct, new SelectList(Model.BOProducts(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBOProduct1" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BillingPartner, new SelectList(Model.lstBillingPartner, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner1" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BOProduct, new { @class = "input40", @id = "ddlBOProduct1" })
                    </div>
                    <div class="col-sm-2" style="float:left;margin-top:10px;" id="dvCategory2">
                        <span style="padding-left: 10px; font-weight: bold;">Category 2</span>
                        <br />
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.CategoryId, new SelectList(Model.lstRetailCategory, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlCategory2" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BrandName, new { @class = "input40", @id = "ddlBrandName2" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfOutlets, new { @class = "input40", @id = "ddlNoOfOutlets2" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfEnrolled, new { @class = "input40", @id = "ddlNoOfEnrolled2" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BOProduct, new SelectList(Model.BOProducts(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBOProduct2" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BillingPartner, new SelectList(Model.lstBillingPartner, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner2" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BOProduct, new { @class = "input40", @id = "ddlBOProduct2" })
                    </div>
                    <div class="col-sm-2" style="float:left;margin-top:10px;" id="dvCategory3">
                        <span style="padding-left: 10px; font-weight: bold;">Category 3</span>
                        <br />
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.CategoryId, new SelectList(Model.lstRetailCategory, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlCategory3" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BrandName, new { @class = "input40", @id = "ddlBrandName3" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfOutlets, new { @class = "input40", @id = "ddlNoOfOutlets3" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfEnrolled, new { @class = "input40", @id = "ddlNoOfEnrolled3" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BOProduct, new SelectList(Model.BOProducts(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBOProduct3" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BillingPartner, new SelectList(Model.lstBillingPartner, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner3" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BOProduct, new { @class = "input40", @id = "ddlBOProduct3" })
                    </div>
                    <div class="col-sm-2" style="float:left;margin-top:10px;" id="dvCategory4">
                        <span style="padding-left: 10px; font-weight: bold;">Category 4</span>
                        <br />
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.CategoryId, new SelectList(Model.lstRetailCategory, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlCategory4" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BrandName, new { @class = "input40", @id = "ddlBrandName4" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfOutlets, new { @class = "input40", @id = "ddlNoOfOutlets4" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.NoOfEnrolled, new { @class = "input40", @id = "ddlNoOfEnrolled4" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BOProduct, new SelectList(Model.BOProducts(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBOProduct4" })
                        @Html.DropDownListFor(model => model.bots_TblRetailMaster.BillingPartner, new SelectList(Model.lstBillingPartner, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner4" })
                        @Html.TextBoxFor(model => model.bots_TblRetailMaster.BOProduct, new { @class = "input40", @id = "ddlBOProduct4" })
                    </div>
                </div>



                <div class="row" style="margin: 0;">
                    <div style="float:left;text-align:right;width:100px;margin-top:10px;">
                        MWP
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.RadioButtonFor(model => model.bots_TblGroupMaster.IsMWP, "1") Yes
                        @Html.RadioButtonFor(model => model.bots_TblGroupMaster.IsMWP, "0") No
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float:left;text-align:right;width:100px;margin-top:10px;">
                        Whataspp Int
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.RadioButtonFor(model => model.bots_TblGroupMaster.IsWhatsApp, "1") Yes
                        @Html.RadioButtonFor(model => model.bots_TblGroupMaster.IsWhatsApp, "0") No
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        WA Free Msgs
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.NoOfFreeWhatsAppMsg, new { @class = "input100", @id = "txtNoOfFreeWhatsAppMsg" })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        WA Paid Msgs
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.NoOfPaidWhatsAppMsg, new { @class = "input100", @id = "txtNoOfPaidWhatsAppMsg" })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        SMS Free Msgs
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.NoOfFreeSMS, new { @class = "input100", @id = "txtNoOfFreeSMS" })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        SMS Paid Msgs
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.NoOfPaidSMS, new { @class = "input100", @id = "txtNoOfPaidSMS" })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Mobile App
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.bots_TblGroupMaster.IsMobileApp, new SelectList(Model.YesNo(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlIsMobileApp" })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Mobile App Description
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.MobileAppDescription, new { @class = "input100", @id = "txtNoOfPaidSMS" })
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-12 section-heading" data-toggle="collapse" data-target="#productdetails">Assignment Details</div>
            <div id="productdetails" class="collapse">
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Sourced By
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.bots_TblGroupMaster.SourcedBy, new SelectList(Model.lstSourcedBy, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlSourcedBy" })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Assigned CS
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.bots_TblGroupMaster.AssignedCS, new SelectList(Model.lstRMAssigned, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlAssignedCS" })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Referred by
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.bots_TblGroupMaster.Referredby, new SelectList(Model.RefferedCategory(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlReferredby" })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        Referred Name
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.DropDownListFor(model => model.bots_TblGroupMaster.ReferredName, new SelectList(Model.lstAllGroups, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlReferredName" })
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Comments
                    </div>
                    <div class="col-sm-8" style="float:left;margin-top:10px;">
                        @Html.TextAreaFor(model => model.bots_TblGroupMaster.Comments, new { @class = "input100", @id = "txtComments" })
                    </div>                   
                </div>
            </div>
        </div>

        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-12 section-heading" data-toggle="collapse" data-target="#dealdetails">Deal Details</div>
            <div id="dealdetails" class="collapse">
                <div class="row" style="margin: 0;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Loyalty Fees
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.fee, new { @class = "input100", @id = "txtNoOfFreeSMS" })
                    </div>
                    <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                        SMS Paid Msgs
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        @Html.TextBoxFor(model => model.bots_TblGroupMaster.NoOfPaidSMS, new { @class = "input100", @id = "txtNoOfPaidSMS" })
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-12 section-heading" data-toggle="collapse" data-target="#paymentmodule">Payment Schedule</div>
            <div id="paymentmodule" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-12 section-heading" data-toggle="collapse" data-target="#updatepaymentdetails">Update Payment Details</div>
            <div id="updatepaymentdetails" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>

        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-12 section-heading" data-toggle="collapse" data-target="#notifications">Notifications</div>
            <div id="notifications" class="collapse">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ddlCity').change(function () {
            if ($('#ddlCity').val() == "11") {
                $('#txtCity').removeAttr("disabled");
                $('#txtCity').show();
            }
            else {
                $('#txtCity').attr("disabled", "disabled");
                $('#txtCity').hide();
            }
        });

        $("#txtNoOfRetailCategory").focusout(function () {
            if ($("#txtNoOfRetailCategory").val() > 4 || $("#txtNoOfRetailCategory").val() == 0) {
                if ($("#txtNoOfRetailCategory").val() == "") {
                    $("#dvRetailCategory").hide();
                }
                else {
                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Retail Category can not be 0 or greater than 4",
                        buttonText: "Okay"
                    })
                }
            }
            else {
                $("#dvRetailCategory").show();
                if ($("#txtNoOfRetailCategory").val() == 1) {
                    $("#dvCategory1").show();
                    $("#dvCategory2").hide();
                    $("#dvCategory3").hide();
                    $("#dvCategory4").hide();
                }
                if ($("#txtNoOfRetailCategory").val() == 2) {
                    $("#dvCategory1").show();
                    $("#dvCategory2").show();
                    $("#dvCategory3").hide();
                    $("#dvCategory4").hide();
                }
                if ($("#txtNoOfRetailCategory").val() == 3) {
                    $("#dvCategory1").show();
                    $("#dvCategory2").show();
                    $("#dvCategory3").show();
                    $("#dvCategory4").hide();
                }
                if ($("#txtNoOfRetailCategory").val() == 4) {
                    $("#dvCategory1").show();
                    $("#dvCategory2").show();
                    $("#dvCategory3").show();
                    $("#dvCategory4").show();
                }

            }
        });
    });

</script>