@model WebApp.ViewModel.TestingModuleViewModel
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OnBoardingLayout.cshtml";
}


<style>

    .rbtnClass {
        height: 20px;
        width: 20px;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 10px;
    }

    .app-main__outer {
        background-color: white;
    }
</style>

<div class="multisteps-form__panel p-4 list-box bg-white" data-animation="scaleIn">

    <div class="col-lg-12" style="border: 1px solid grey; border-radius: 12px;">
        <div class="col-lg-12 row">
            <div style="margin-top: 20px;" class="col-md-4 col-lg-12">
                <a href="@Url.Action("CheckerView", "CustomerOnBoarding", new { groupId = ViewBag.GroupId })" class="login" title="Go To Configration sheet" target="_blank">
                    <button type="button" id="btnCheckerView" onclick="" class="btn btn-primary" style="margin-left: 150px; float:right; margin-right: 10px; margin-bottom: 5px;">
                        Configration sheet
                    </button>
                </a>
            </div> <br />

            <div style="margin-top: 20px;" class="col-md-4 col-lg-4">
                Billing Partner
                @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(Model.billingpartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
            </div>
            <div style="margin-top: 20px;" class="col-md-4 col-lg-4">
                Outlets
                @Html.DropDownListFor(model => model.outletId, new SelectList(Model.lstOutlets, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlOutlet" })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Mobile No <input type="text" id="txtMobileNo" class="input50" />
            </div>
        </div>
        <div class="col-lg-12" style="margin-bottom:20px;margin-top:20px;margin-left:50px;margin-right:200px;">
            <input id="rbtnEnrlment" name="campaign" type="radio" checked class="rbtnClass"> Enrollment
            <input id="rbtnEnrlmntWithEarn" name="campaign" type="radio" class="rbtnClass"> Enrollment With Earn
            <input id="rbtnEarn" name="campaign" type="radio" class="rbtnClass"> Earn
            <input id="rbtnBurnValidation" name="campaign" type="radio" class="rbtnClass"> Burn Validation
            <input id="rbtnBurn" name="campaign" type="radio" class="rbtnClass"> Burn
            <input id="rbtnCancel" name="campaign" type="radio" class="rbtnClass"> Cancel
            <input id="rbtnSendOtp" name="campaign" type="radio" class="rbtnClass"> Send OTP
        </div>
    </div>
</div>
<div class="multisteps-form__panel p-4 list-box bg-white" style="border: 1px solid grey; border-radius: 12px;margin:20px;" id="sec7" data-animation="scaleIn">

    @*Enrolment*@
    <div class="multisteps-form__content bg-white" id="dvEnrlment">
        <input type="hidden" id="hdnEnrlmentId" />
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; ">

        </div>
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px;">
            <div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request Packet <br />
                    @Html.TextAreaFor(model => model.RequestPacketEnrollnment, new { @class = "input100", @rows = 10, @id = "txtRequestPacket1", tabindex = 4 })
                </div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request URL <br />
                    @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL1", tabindex = 4 })

                </div>
                <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                    Response Packet<br /><textarea id="txtResponsePacket1" rows="10" cols="40" class="input100"></textarea>
                </div>
            </div>
        </div>
    </div>

    @*Enrolnment With Earn*@
    <div class="multisteps-form__content bg-white" id="dvEnrlmentWithEarn" style="display:none;">
        <input type="hidden" id="hdnEnrlmentWithEarnId" />
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; ">

            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
                Invoice No <input type="text" id="txtInvoiceNo2" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                Invoice Amt<input type="text" id="txtInvoiceAmt2" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
               
            </div>
        </div>
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; ">
            <div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request Packet <br />
                    @Html.TextAreaFor(model => model.RequestPacketEnrollnmentWithEarn, new { @class = "input100", @rows = 10, @id = "txtRequestPacket2", tabindex = 4 })
                </div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request URL <br />
                    @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL2", tabindex = 4 })

                </div>
                <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                    Response Packet<br /><textarea id="txtResponsePacket2" rows="10" cols="40" class="input100"></textarea>
                </div>
            </div>
        </div>
    </div>


    @*Earn*@
    <div class="multisteps-form__content bg-white" id="dvEarn" style="display:none;">
        <input type="hidden" id="hdnEarnId" />
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; ">

            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
                Invoice No <input type="text" id="txtInvoiceNo3" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                Invoice Amt<input type="text" id="txtInvoiceAmt3" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                
            </div>
        </div>
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; ">
            <div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request Packet <br />
                    @Html.TextAreaFor(model => model.RequestPacketEarn, new { @class = "input100", @rows = 10, @id = "txtRequestPacket3", tabindex = 4 })
                </div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request URL <br />
                    @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL3", tabindex = 4 })

                </div>
                <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                    Response Packet<br /><textarea id="txtResponsePacket3" rows="10" cols="40" class="input100"></textarea>
                </div>
            </div>
        </div>
    </div>

    @*Burn Validation*@
    <div class="multisteps-form__content bg-white" id="dvBurnValidation" style="display:none;">
        <input type="hidden" id="hdnBurnValidationId" />
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; ">

            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
                Invoice No <input type="text" id="txtInvoiceNo4" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                Invoice Amt<input type="text" id="txtInvoiceAmt4" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
               
            </div>
        </div>
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; ">
            <div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request Packet <br />
                    @Html.TextAreaFor(model => model.RequestPacketBurnValidation, new { @class = "input100", @rows = 10, @id = "txtRequestPacket4", tabindex = 4 })
                </div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request URL <br />
                    @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL4", tabindex = 4 })

                </div>
                <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                    Response Packet<br /><textarea id="txtResponsePacket4" rows="10" cols="40" class="input100"></textarea>
                </div>
            </div>
        </div>
    </div>


    @*Burn*@
    <div class="multisteps-form__content bg-white" id="dvBurn" style="display:none;">
        <input type="hidden" id="hdnBurnId" />
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; ">

            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
                Invoice No <input type="text" id="txtInvoiceNo5" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                Invoice Amt<input type="text" id="txtInvoiceAmt5" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                
            </div>
        </div>
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; ">
            <div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request Packet <br />
                    @Html.TextAreaFor(model => model.RequestPacketBurn, new { @class = "input100", @rows = 10, @id = "txtRequestPacket5", tabindex = 4 })
                </div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request URL <br />
                    @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL5", tabindex = 4 })

                </div>
                <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                    Response Packet<br /><textarea id="txtResponsePacket5" rows="10" cols="40" class="input100"></textarea>
                </div>
            </div>
        </div>
    </div>


    @*Cancel*@
    <div class="multisteps-form__content bg-white" id="dvCancel" style="display:none;">
        <input type="hidden" id="hdnCancelId" />
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px;">

            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
                Invoice No <input type="text" id="txtInvoiceNo6" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                Invoice Amt<input type="text" id="txtInvoiceAmt6" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
                
            </div>
        </div>
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px;">
            <div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request Packet <br />
                    @Html.TextAreaFor(model => model.RequestPacketCancel, new { @class = "input100", @rows = 10, @id = "txtRequestPacket6", tabindex = 4 })
                </div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request URL <br />
                    @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL6", tabindex = 4 })

                </div>
                <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                    Response Packet<br /><textarea id="txtResponsePacket6" rows="10" cols="40" class="input100"></textarea>
                </div>
            </div>
        </div>
    </div>


    @*Send Otp*@
    <div class="multisteps-form__content bg-white" id="dvSendOtp" style="display:none;">
        <input type="hidden" id="hdnSendOtpId" />
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; ">

        </div>
        <div class="col-lg-12" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; ">
            <div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request Packet <br />
                    @Html.TextAreaFor(model => model.RequestPacketSendOTP, new { @class = "input100", @rows = 10, @id = "txtRequestPacket7", tabindex = 4 })
                </div>
                <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                    Request URL <br />
                    @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL7", tabindex = 4 })

                </div>
                <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                    Response Packet<br /><textarea id="txtResponsePacket7" rows="10" cols="40" class="input100"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button type="button" id="btnSend" class="btn btn-primary" style="float: right; margin-right: 50px; margin-left: 10px; margin-bottom: 25px; margin-top: 20px;">Send</button>
    <button type="button" id="btnReset" class="btn btn-primary" style="float: right; margin-bottom: 25px; margin-top: 20px;">Reset</button><br />
</div>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/js/bootstrap-datetimepicker.min.js"></script>

<script>
    var oldMobileNo1 = "";
    var oldMobileNo2 = "";
    var oldMobileNo3 = "";
    var oldMobileNo4 = "";
    var oldMobileNo5 = "";
    var oldMobileNo6 = "";
    var oldMobileNo7 = "";

    var oldCounterId1 = "";
    var oldCounterId2 = "";
    var oldCounterId3 = "";
    var oldCounterId4 = "";
    var oldCounterId5 = "";
    var oldCounterId6 = "";
    var oldCounterId7 = "";
    var flag = false;

    $(document).ready(function () {
        
        $("#ddlOutlet").on("change", function () {
            ReplaceCounterId();
        });

       $("#txtMobileNo").on("change", function () {
           ReplaceMobileNo();
       });

       $('#rbtnEnrlment').click(function () {
           ShowHideTxnTypeSection("dvEnrlment");
           ReplaceMobileNo();
       });

       $('#rbtnEnrlmntWithEarn').click(function () {
           ShowHideTxnTypeSection("dvEnrlmentWithEarn");
           ReplaceMobileNo();
       });

       $('#rbtnEarn').click(function () {
           ShowHideTxnTypeSection("dvEarn");
           ReplaceMobileNo();
       });

       $('#rbtnBurnValidation').click(function () {
           ShowHideTxnTypeSection("dvBurnValidation");
           ReplaceMobileNo();
       });

       $('#rbtnBurn').click(function () {
           ShowHideTxnTypeSection("dvBurn");
           ReplaceMobileNo();
       });

       $('#rbtnCancel').click(function () {
           ShowHideTxnTypeSection("dvCancel");
           ReplaceMobileNo();
       });

       $('#rbtnSendOtp').click(function () {
           ShowHideTxnTypeSection("dvSendOtp");
           ReplaceMobileNo();
       });

       $('#btnSend').click(function () {
           var fromId = "";
           var toId = "";
           var url = "";
           var apiType = "";
           if ($("#rbtnEnrlment").is(":checked")) {
               fromId = "txtRequestPacket1";
               toId = "txtResponsePacket1";
               url = "txtRequestPacketURL1";
               apiType = "Enrollment";

           }
           if ($("#rbtnEnrlmntWithEarn").is(":checked")) {
               fromId = "txtRequestPacket2";
               toId = "txtResponsePacket2";
               url = "txtRequestPacketURL2";
               apiType = "Enrollment With Earn";
           }
           if ($("#rbtnEarn").is(":checked")) {
               fromId = "txtRequestPacket3";
               toId = "txtResponsePacket3";
               url = "txtRequestPacketURL3";
               apiType = "Earn";
           }
           if ($("#rbtnBurnValidation").is(":checked")) {
               fromId = "txtRequestPacket4";
               toId = "txtResponsePacket4";
               url = "txtRequestPacketURL4";
               apiType = "Burn Validation";
           }
           if ($("#rbtnBurn").is(":checked")) {
               fromId = "txtRequestPacket5";
               toId = "txtResponsePacket5";
               url = "txtRequestPacketURL5";
               apiType = "Burn";
           }
           if ($("#rbtnCancel").is(":checked")) {
               fromId = "txtRequestPacket6";
               toId = "txtResponsePacket6";
               url = "txtRequestPacketURL6";
               apiType = "Cancel";
           }
           if ($("#rbtnSendOtp").is(":checked")) {
               fromId = "txtRequestPacket7";
               toId = "txtResponsePacket7";
               url = "txtRequestPacketURL7";
               apiType = "Send OTP";
           }

           CheckAPI(fromId, toId, url, apiType);
       });


       $("#btnReset").click(function () {
           ResetAll();
       });


       $("#txtInvoiceNo2").focusout(function () {
           UpdateInvoiceNo2();
       });
       $("#txtInvoiceNo3").focusout(function () {
           UpdateInvoiceNo3();
       });
       $("#txtInvoiceNo4").focusout(function () {
           UpdateInvoiceNo4();
       });
       $("#txtInvoiceNo5").focusout(function () {
           UpdateInvoiceNo5();
       });
       $("#txtInvoiceNo6").focusout(function () {
           UpdateInvoiceNo6();
       });


       $("#txtInvoiceAmt2").focusout(function () {
           UpdateInvoiceAmt2();
       });
       $("#txtInvoiceAmt3").focusout(function () {
           UpdateInvoiceAmt3();
       });
       $("#txtInvoiceAmt4").focusout(function () {
           UpdateInvoiceAmt4();
       });
       $("#txtInvoiceAmt5").focusout(function () {
           UpdateInvoiceAmt5();
       });
       $("#txtInvoiceAmt6").focusout(function () {
           UpdateInvoiceAmt6();
       });
        ReplaceCurrentDateTime();
   });

    function ReplaceCurrentDateTime() {
        
        var fullDateTime = new Date().getFullYear() + '' + (new Date().getMonth() + 1) + '' + new Date().getDate() + '' + new Date().getHours() + '' + new Date().getMinutes() + '' + new Date().getSeconds();

        var rPacket1 = $("#txtRequestPacket1").val();
        rPacket1 = rPacket1.replace("<Datetime></Datetime>", "<Datetime>" + fullDateTime +"</Datetime>");
        $("#txtRequestPacket1").val(rPacket1);

        var rPacket2 = $("#txtRequestPacket2").val();
        rPacket2 = rPacket2.replace("<Datetime></Datetime>", "<Datetime>" + fullDateTime + "</Datetime>");
        $("#txtRequestPacket2").val(rPacket2);

        var rPacket3 = $("#txtRequestPacket3").val();
        rPacket3 = rPacket3.replace("<Datetime></Datetime>", "<Datetime>" + fullDateTime + "</Datetime>");
        $("#txtRequestPacket3").val(rPacket3);

        var rPacket4 = $("#txtRequestPacket4").val();
        rPacket4 = rPacket4.replace("<Datetime></Datetime>", "<Datetime>" + fullDateTime + "</Datetime>");
        $("#txtRequestPacket4").val(rPacket4);

        var rPacket5 = $("#txtRequestPacket5").val();
        rPacket5 = rPacket5.replace("<Datetime></Datetime>", "<Datetime>" + fullDateTime + "</Datetime>");
        $("#txtRequestPacket5").val(rPacket5);

        var rPacket6 = $("#txtRequestPacket6").val();
        rPacket6 = rPacket6.replace("<Datetime></Datetime>", "<Datetime>" + fullDateTime + "</Datetime>");
        $("#txtRequestPacket6").val(rPacket6);

        var rPacket7 = $("#txtRequestPacket7").val();
        rPacket7 = rPacket7.replace("<Datetime></Datetime>", "<Datetime>" + fullDateTime + "</Datetime>");
        $("#txtRequestPacket7").val(rPacket7);

    }

    function UpdateInvoiceNo2() {
        var RequestPacket = $("#txtRequestPacket2").val();
        var InvoiceNo = $("#txtInvoiceNo2").val();
        var oldInvoiceNo2 = "";
        if (oldInvoiceNo2 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceNo>" + oldInvoiceNo2 + "</InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceNo></InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket2").val(RequestPacket);
        oldInvoiceNo2 = InvoiceNo;
    }
    function UpdateInvoiceNo3() {
        var RequestPacket = $("#txtRequestPacket3").val();
        var InvoiceNo = $("#txtInvoiceNo3").val();
        var oldInvoiceNo3 = "";
        if (oldInvoiceNo3 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceNo>" + oldInvoiceNo3 + "</InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceNo></InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket3").val(RequestPacket);
        oldInvoiceNo3 = InvoiceNo;
    }
    function UpdateInvoiceNo4() {
        var RequestPacket = $("#txtRequestPacket4").val();
        var InvoiceNo = $("#txtInvoiceNo4").val();
        var oldInvoiceNo4 = "";
        if (oldInvoiceNo4 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceNo>" + oldInvoiceNo4 + "</InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceNo></InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket4").val(RequestPacket);
        oldInvoiceNo4 = InvoiceNo;
    }
    function UpdateInvoiceNo5() {
        var RequestPacket = $("#txtRequestPacket5").val();
        var InvoiceNo = $("#txtInvoiceNo5").val();
        var oldInvoiceNo5 = "";
        if (oldInvoiceNo5 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceNo>" + oldInvoiceNo5 + "</InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceNo></InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket5").val(RequestPacket);
        oldInvoiceNo5 = InvoiceNo;
    }
    function UpdateInvoiceNo6() {
        var RequestPacket = $("#txtRequestPacket6").val();
        var InvoiceNo = $("#txtInvoiceNo6").val();
        var oldInvoiceNo6 = "";
        if (oldInvoiceNo6 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceNo>" + oldInvoiceNo6 + "</InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceNo></InvoiceNo>";
            var strToReplace = "<InvoiceNo>" + InvoiceNo + "</InvoiceNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket6").val(RequestPacket);
        oldInvoiceNo6 = InvoiceNo;
    }

    function UpdateInvoiceAmt2() {
        var RequestPacket = $("#txtRequestPacket2").val();
        var InvoiceAmt = $("#txtInvoiceAmt2").val();
        var oldInvoiceAmt2 = "";
        if (oldInvoiceAmt2 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceAmt>" + oldInvoiceAmt2 + "</InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceAmt></InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket2").val(RequestPacket);
        oldInvoiceAmt2 = InvoiceAmt;
    }
    function UpdateInvoiceAmt3() {
        var RequestPacket = $("#txtRequestPacket3").val();
        var InvoiceAmt = $("#txtInvoiceAmt3").val();
        var oldInvoiceAmt3 = "";
        if (oldInvoiceAmt3 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceAmt>" + oldInvoiceAmt3 + "</InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceAmt></InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket3").val(RequestPacket);
        oldInvoiceAmt3 = InvoiceAmt;
    }
    function UpdateInvoiceAmt4() {
        var RequestPacket = $("#txtRequestPacket4").val();
        var InvoiceAmt = $("#txtInvoiceAmt4").val();
        var oldInvoiceAmt4 = "";
        if (oldInvoiceAmt4 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceAmt>" + oldInvoiceAmt4 + "</InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceAmt></InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket4").val(RequestPacket);
        oldInvoiceAmt4 = InvoiceAmt;
    }
    function UpdateInvoiceAmt5() {
        var RequestPacket = $("#txtRequestPacket5").val();
        var InvoiceAmt = $("#txtInvoiceAmt5").val();
        var oldInvoiceAmt5 = "";
        if (oldInvoiceAmt5 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceAmt>" + oldInvoiceAmt5 + "</InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceAmt></InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket5").val(RequestPacket);
        oldInvoiceAmt5 = InvoiceAmt;
    }
    function UpdateInvoiceAmt6() {
        var RequestPacket = $("#txtRequestPacket6").val();
        var InvoiceAmt = $("#txtInvoiceAmt6").val();
        var oldInvoiceAmt6 = "";
        if (oldInvoiceAmt6 == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<InvoiceAmt>" + oldInvoiceAmt6 + "</InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<InvoiceAmt></InvoiceAmt>";
            var strToReplace = "<InvoiceAmt>" + InvoiceAmt + "</InvoiceAmt>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket6").val(RequestPacket);
        oldInvoiceAmt6 = InvoiceAmt;
    }

    function ReplaceCounterId() {
        var outletId = $("#ddlOutlet").val();
        var counterId = outletId + "01";
        if ($('#rbtnEnrlment').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket1").val();
            if (oldCounterId1 == "") {
                flag = false;
            }
            else {
                flag = true;
            }
            if (flag) {
                var strInReplace = "<CounterId>" + oldCounterId1 + "</CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<CounterId></CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket1").val(RequestPacket);
            oldCounterId1 = counterId;
        }

        if ($('#rbtnEnrlmntWithEarn').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket2").val();
            if (oldCounterId2 == "") {
                flag = false;
            }
            else {
                flag = true;
            }
            if (flag) {
                var strInReplace = "<CounterId>" + oldCounterId2 + "</CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<CounterId></CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket2").val(RequestPacket);
            oldCounterId2 = counterId;
        }

        if ($('#rbtnEarn').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket3").val();
            if (oldCounterId3 == "") {
                flag = false;
            }
            else {
                flag = true;
            }
            if (flag) {
                var strInReplace = "<CounterId>" + oldCounterId3 + "</CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<CounterId></CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket3").val(RequestPacket);
            oldCounterId3 = counterId;
        }

        if ($('#rbtnBurnValidation').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket4").val();
            if (oldCounterId4 == "") {
                flag = false;
            }
            else {
                flag = true;
            }
            if (flag) {
                var strInReplace = "<CounterId>" + oldCounterId4 + "</CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<CounterId></CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket4").val(RequestPacket);
            oldCounterId4 = counterId;
        }

        if ($('#rbtnBurn').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket5").val();
            if (oldCounterId5 == "") {
                flag = false;
            }
            else {
                flag = true;
            }
            if (flag) {
                var strInReplace = "<CounterId>" + oldCounterId5 + "</CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<CounterId></CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket5").val(RequestPacket);
            oldCounterId5 = counterId;
        }

        if ($('#rbtnCancel').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket6").val();
            if (oldCounterId6 == "") {
                flag = false;
            }
            else {
                flag = true;
            }
            if (flag) {
                var strInReplace = "<CounterId>" + oldCounterId6 + "</CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<CounterId></CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket6").val(RequestPacket);
            oldCounterId6 = counterId;
        }

        if ($('#rbtnSendOtp').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket7").val();
            if (oldCounterId7 == "") {
                flag = false;
            }
            else {
                flag = true;
            }
            if (flag) {
                var strInReplace = "<CounterId>" + oldCounterId7 + "</CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<CounterId></CounterId>";
                var strToReplace = "<CounterId>" + counterId + "</CounterId>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket7").val(RequestPacket);
            oldCounterId7 = counterId;
        }
    }

    function ReplaceMobileNo() {
        //var MobileNo = $("#txtMobileNo").val();
        if ($('#rbtnEnrlment').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket1").val();
            var MobileNo1 = $("#txtMobileNo").val();
            if (oldMobileNo1 == "") {
                flag = false;
            }
            else {
                flag = true;
            }

            if (flag) {
                var strInReplace = "<MobileNo>" + oldMobileNo1 + "</MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo1 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<MobileNo></MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo1 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket1").val(RequestPacket);
            oldMobileNo1 = MobileNo1;

        }

        if ($('#rbtnEnrlmntWithEarn').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket2").val();
            var MobileNo2 = $("#txtMobileNo").val();
            if (oldMobileNo2 == "") {
                flag = false;
            }
            else {
                flag = true;
            }

            if (flag) {
                var strInReplace = "<MobileNo>" + oldMobileNo2 + "</MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo2 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<MobileNo></MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo2 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket2").val(RequestPacket);
            oldMobileNo2 = MobileNo2;
        }

        if ($('#rbtnEarn').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket3").val();
            var MobileNo3 = $("#txtMobileNo").val();
            if (oldMobileNo3 == "") {
                flag = false;
            }
            else {
                flag = true;
            }

            if (flag) {
                var strInReplace = "<MobileNo>" + oldMobileNo3 + "</MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo3 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<MobileNo></MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo3 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket3").val(RequestPacket);
            oldMobileNo3 = MobileNo3;
        }

        if ($('#rbtnBurnValidation').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket4").val();
            var MobileNo4 = $("#txtMobileNo").val();
            if (oldMobileNo4 == "") {
                flag = false;
            }
            else {
                flag = true;
            }

            if (flag) {
                var strInReplace = "<MobileNo>" + oldMobileNo4 + "</MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo4 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<MobileNo></MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo4 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket4").val(RequestPacket);
            oldMobileNo4 = MobileNo4;
        }

        if ($('#rbtnBurn').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket5").val();
            var MobileNo5 = $("#txtMobileNo").val();
            if (oldMobileNo5 == "") {
                flag = false;
            }
            else {
                flag = true;
            }

            if (flag) {
                var strInReplace = "<MobileNo>" + oldMobileNo5 + "</MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo5 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<MobileNo></MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo5 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket5").val(RequestPacket);
            oldMobileNo5 = MobileNo5;
        }

        if ($('#rbtnCancel').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket6").val();
            var MobileNo6 = $("#txtMobileNo").val();
            if (oldMobileNo6 == "") {
                flag = false;
            }
            else {
                flag = true;
            }

            if (flag) {
                var strInReplace = "<MobileNo>" + oldMobileNo6 + "</MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo6 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<MobileNo></MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo6 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket6").val(RequestPacket);
            oldMobileNo6 = MobileNo6;
        }

        if ($('#rbtnSendOtp').is(':checked')) {
            var RequestPacket = $("#txtRequestPacket7").val();
            var MobileNo7 = $("#txtMobileNo").val();
            if (oldMobileNo7 == "") {
                flag = false;
            }
            else {
                flag = true;
            }

            if (flag) {
                var strInReplace = "<MobileNo>" + oldMobileNo7 + "</MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo7 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            else {
                var strInReplace = "<MobileNo></MobileNo>";
                var strToReplace = "<MobileNo>" + MobileNo7 + "</MobileNo>";
                RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
            }
            $("#txtRequestPacket7").val(RequestPacket);
            oldMobileNo7 = MobileNo7;
        }
    }

    function ResetAll() {
        if ($('#rbtnEnrlment').is(':checked')) {
            $("#ddlBillingPartner").val('');
            $("#ddlOutlet").val('');
            $("#txtMobileNo").val('');
            $("#txtDatetime1").val('');
            ResetSection("1");
        }
        if ($('#rbtnEnrlmntWithEarn').is(':checked')) {
            $("#ddlBillingPartner").val('');
            $("#ddlOutlet").val('');
            $("#txtMobileNo").val('');
            $("#txtInvoiceNo2").val('');
            $("#txtInvoiceAmt2").val('');
            $("#txtDatetime2").val('');
            ResetSection("2");
        }

        if ($('#rbtnEarn').is(':checked')) {
            $("#ddlBillingPartner").val('');
            $("#ddlOutlet").val('');
            $("#txtMobileNo").val('');
            $("#txtInvoiceNo3").val('');
            $("#txtInvoiceAmt3").val('');
            $("#txtDatetime3").val('');
            ResetSection("3");
        }
        if ($('#rbtnBurnValidation').is(':checked')) {
            $("#ddlBillingPartner").val('');
            $("#ddlOutlet").val('');
            $("#txtMobileNo").val('');
            $("#txtInvoiceNo4").val('');
            $("#txtInvoiceAmt4").val('');
            $("#txtDatetime4").val('');
            ResetSection("4");
        }
        if ($('#rbtnBurn').is(':checked')) {
            $("#ddlBillingPartner").val('');
            $("#ddlOutlet").val('');
            $("#txtMobileNo").val('');
            $("#txtInvoiceNo5").val('');
            $("#txtInvoiceAmt5").val('');
            $("#txtDatetime5").val('');
            ResetSection("5");
        }
        if ($('#rbtnCancel').is(':checked')) {
            $("#ddlBillingPartner").val('');
            $("#ddlOutlet").val('');
            $("#txtMobileNo").val('');
            $("#txtInvoiceNo6").val('');
            $("#txtInvoiceAmt6").val('');
            $("#txtDatetime6").val('');
            ResetSection("6");
        }
        if ($('#rbtnSendOtp').is(':checked')) {
            $("#ddlBillingPartner").val('');
            $("#ddlOutlet").val('');
            $("#txtMobileNo").val('');
            $("#txtInvoiceNo7").val('');
            $("#txtInvoiceAmt7").val('');
            $("#txtDatetime7").val('');
            ResetSection("7");
        }
    }

    function ResetSection(id) {
         $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ResetSection", "TestingModule")',
                data: '{Id: ' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    ResetControls(result, id)
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }

    function ResetControls(data, id) {

        if (id == "1") {
            $("#txtRequestPacket1").val(data.RequestPacketEnrollnment);
            $("#txtRequestPacketURL1").val(data.RequestURL);
            $("#txtResponsePacket1").val('');
        }
        if (id == "2") {
            $("#txtRequestPacket2").val(data.RequestPacketEnrollnmentWithEarn);
            $("#txtRequestPacketURL2").val(data.RequestURL);
            $("#txtResponsePacket2").val('');
        }
        if (id == "3") {
            $("#txtRequestPacket3").val(data.RequestPacketEarn);
            $("#txtRequestPacketURL3").val(data.RequestURL);
            $("#txtResponsePacket3").val('');
        }
        if (id == "4") {
            $("#txtRequestPacket4").val(data.RequestPacketBurnValidation);
            $("#txtRequestPacketURL4").val(data.RequestURL);
            $("#txtResponsePacket4").val('');
        }
        if (id == "5") {
            $("#txtRequestPacket5").val(data.RequestPacketBurn);
            $("#txtRequestPacketURL5").val(data.RequestURL);
            $("#txtResponsePacket5").val('');
        }
        if (id == "6") {
            $("#txtRequestPacket6").val(data.RequestPacketCancel);
            $("#txtRequestPacketURL6").val(data.RequestURL);
            $("#txtResponsePacket6").val('');
        }
        if (id == "7") {
            $("#txtRequestPacket7").val(data.RequestPacketSendOTP);
            $("#txtRequestPacketURL7").val(data.RequestURL);
            $("#txtResponsePacket7").val('');
        }
    }

    function ShowHideTxnTypeSection(Id) {
        $("#dvEnrlment").hide();
        $("#dvEnrlmentWithEarn").hide();
        $("#dvEarn").hide();
        $("#dvBurnValidation").hide();
        $("#dvBurn").hide();
        $("#dvCancel").hide();
        $("#dvSendOtp").hide();

        $("#" + Id).show();
        ReplaceCounterId();
    }

    function CheckAPI(requestId, responseId, apiurl1, APIType) {
        var RequestPacket = $("#" + requestId).val();
        var ResponsePacket = $("#" + responseId).val();
        var ApiURL = $("#" + apiurl1).val();

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetResponse", "TestingModule")',
                data: '{RequestPacket: ' + JSON.stringify(RequestPacket) + ',APIType: ' + JSON.stringify(APIType) + ',RequestURL: ' + JSON.stringify(ApiURL) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $("#" + responseId).val(result);
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }
</script>