@model WebApp.ViewModel.TestingModuleViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OnBoardingLayout.cshtml";
}


<style>
    .rbtnClass {
        height: 20px;
        width: 20px;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 10px;
    }
</style>

<div class="multisteps-form__panel shadow p-4 list-box bg-white" style="height:auto !important;" id="sec7" data-animation="scaleIn">
    <a href="@Url.Action("CheckerView", "CustomerOnBoarding", new { groupId = ViewBag.GroupId })" class="login" title="Go To Configration sheet" target="_blank">
        <button type="button" id="btnCheckerView" onclick="" class="btn btn-primary" style="float: right; margin-left: 150px; margin-right: 100px; margin-bottom: 35px;">
            Configration sheet
        </button>
    </a>
    <div style="margin-bottom:30px;margin-top:30px;margin-left:20px;margin-right:20px;">
        <input id="rbtnEnrlment" name="campaign" type="radio" checked class="rbtnClass"> Enrollment
        <input id="rbtnEnrlmntWithEarn" name="campaign" type="radio" class="rbtnClass"> Enrollment With Earn
        <input id="rbtnEarn" name="campaign" type="radio" class="rbtnClass"> Earn
        <input id="rbtnBurnValidation" name="campaign" type="radio" class="rbtnClass"> Burn Validation
        <input id="rbtnBurn" name="campaign" type="radio" class="rbtnClass"> Burn
        <input id="rbtnCancel" name="campaign" type="radio" class="rbtnClass"> Cancel
        <input id="rbtnSendOtp" name="campaign" type="radio" class="rbtnClass"> Send OTP
    </div>
  
</div>

@*//Enrolment*@
<div class="multisteps-form__content bg-white" id="dvEnrlment">
    <input type="hidden" id="hdnEnrlmentId" />
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
            Billing Partner Name
            @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(ViewBag.BillingPartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            Mobile No <input type="text" id="txtMobileNo1" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            CounterId <input type="text" id="txtCounterId1" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
            Invoice No <input type="text" id="txtInvoiceNo" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Invoice Amt<input type="text" id="txtInvoiceAmt" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Date Time <input type="datetime" id="txtDatetime" class="input50" style="margin-bottom:10px; margin-right:20px;">
        </div>
    </div>
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request Packet <br />
                @Html.TextAreaFor(model => model.RequestPacketEnrollnment, new { @class = "input100", @rows = 10, @id = "txtRequestPacket1", tabindex = 4 })
            </div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request URL <br />
                @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL1", tabindex = 4 })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Response Packet<br /><textarea id="txtResponsePacket1" rows="10" cols="40" class="input100"></textarea>
            </div>
        </div>
    </div>
</div>

@*Enrolnment With Earn**@
<div class="multisteps-form__content bg-white" id="dvEnrlmentWithEarn" style="display:none;">
    <input type="hidden" id="hdnEnrlmentWithEarnId" />
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
            Billing Partner Name
            @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(ViewBag.BillingPartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            Mobile No <input type="text" id="txtMobileNo2" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            CounterId <input type="text" id="txtCounterId2" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
            Invoice No <input type="text" id="txtInvoiceNo" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Invoice Amt<input type="text" id="txtInvoiceAmt" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Date Time <input type="datetime" id="txtDatetime" class="input50" style="margin-bottom:10px; margin-right:20px;">
        </div>
    </div>
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request Packet <br />
                @Html.TextAreaFor(model => model.RequestPacketEnrollnmentWithEarn, new { @class = "input100", @rows = 10, @id = "txtRequestPacket2", tabindex = 4 })
            </div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request URL <br />
                @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL2", tabindex = 4 })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Response Packet<br /><textarea id="txtResponsePacket2" rows="10" cols="40" class="input100"></textarea>
            </div>
        </div>
    </div>  
</div>


@*Earn*@
<div class="multisteps-form__content bg-white" id="dvEarn" style="display:none;">
    <input type="hidden" id="hdnEarnId" />
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
            Billing Partner Name
            @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(ViewBag.BillingPartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            Mobile No <input type="text" id="txtMobileNo3" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            CounterId <input type="text" id="txtCounterId3" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
            Invoice No <input type="text" id="txtInvoiceNo" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Invoice Amt<input type="text" id="txtInvoiceAmt" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Date Time <input type="datetime" id="txtDatetime" class="input50" style="margin-bottom:10px; margin-right:20px;">
        </div>
    </div>
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request Packet <br />
                @Html.TextAreaFor(model => model.RequestPacketEarn, new { @class = "input100", @rows = 10, @id = "txtRequestPacket3", tabindex = 4 })
            </div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request URL <br />
                @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL3", tabindex = 4 })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Response Packet<br /><textarea id="txtResponsePacket3" rows="10" cols="40" class="input100"></textarea>
            </div>
        </div>
    </div>  
</div>

@*Burn Validation*@
<div class="multisteps-form__content bg-white" id="dvBurnValidation" style="display:none;">
    <input type="hidden" id="hdnBurnValidationId" />
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
            Billing Partner Name
            @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(ViewBag.BillingPartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            Mobile No <input type="text" id="txtMobileNo4" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            CounterId <input type="text" id="txtCounterId4" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
            Invoice No <input type="text" id="txtInvoiceNo" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Invoice Amt<input type="text" id="txtInvoiceAmt" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Date Time <input type="datetime" id="txtDatetime" class="input50" style="margin-bottom:10px; margin-right:20px;">
        </div>
    </div>
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request Packet <br />
                @Html.TextAreaFor(model => model.RequestPacketBurnValidation, new { @class = "input100", @rows = 10, @id = "txtRequestPacket4", tabindex = 4 })
            </div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request URL <br />
                @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL4", tabindex = 4 })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Response Packet<br /><textarea id="txtResponsePacket4" rows="10" cols="40" class="input100"></textarea>
            </div>
        </div>
    </div>  
</div>


@*Burn*@
<div class="multisteps-form__content bg-white" id="dvBurn" style="display:none;">
    <input type="hidden" id="hdnBurnId" />
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
            Billing Partner Name
            @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(ViewBag.BillingPartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            Mobile No <input type="text" id="txtMobileNo5" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            CounterId <input type="text" id="txtCounterId5" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
            Invoice No <input type="text" id="txtInvoiceNo" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Invoice Amt<input type="text" id="txtInvoiceAmt" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Date Time <input type="datetime" id="txtDatetime" class="input50" style="margin-bottom:10px; margin-right:20px;">
        </div>
    </div>
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request Packet <br />
                @Html.TextAreaFor(model => model.RequestPacketBurn, new { @class = "input100", @rows = 10, @id = "txtRequestPacket5", tabindex = 4 })
            </div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request URL <br />
                @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL5", tabindex = 4 })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Response Packet<br /><textarea id="txtResponsePacket5" rows="10" cols="40" class="input100"></textarea>
            </div>
        </div>
    </div>   
</div>


@*Cancel*@
<div class="multisteps-form__content bg-white" id="dvCancel" style="display:none;">
    <input type="hidden" id="hdnCancelId" />
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
            Billing Partner Name
            @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(ViewBag.BillingPartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            Mobile No <input type="text" id="txtMobileNo6" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            CounterId <input type="text" id="txtCounterId6" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
            Invoice No <input type="text" id="txtInvoiceNo" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Invoice Amt<input type="text" id="txtInvoiceAmt" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Date Time <input type="datetime" id="txtDatetime" class="input50" style="margin-bottom:10px; margin-right:20px;">
        </div>
    </div>
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request Packet <br />
                @Html.TextAreaFor(model => model.RequestPacketCancel, new { @class = "input100", @rows = 10, @id = "txtRequestPacket6", tabindex = 4 })
            </div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request URL <br />
                @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL6", tabindex = 4 })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Response Packet<br /><textarea id="txtResponsePacket6" rows="10" cols="40" class="input100"></textarea>
            </div>
        </div>
    </div>
 </div> 


@*Send Otp*@
<div class="multisteps-form__content bg-white" id="dvSendOtp" style="display:none;">
    <input type="hidden" id="hdnSendOtpId" />
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 30px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
            Billing Partner Name
            @Html.DropDownListFor(model => model.billingPartnerId, new SelectList(ViewBag.BillingPartners, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input40", @id = "ddlBillingPartner" })
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            Mobile No <input type="text" id="txtMobileNo7" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
            CounterId <input type="text" id="txtCounterId7" class="input50" />
        </div>
        <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-12 col-lg-12">
            Invoice No <input type="text" id="txtInvoiceNo" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Invoice Amt<input type="text" id="txtInvoiceAmt" class="input50" style="margin-bottom: 10px; margin-right: 50px;" />
            Date Time <input type="datetime" id="txtDatetime" class="input50" style="margin-bottom:10px; margin-right:20px;">
        </div>
    </div>
    <div class="col-lg-10" style="float: left; border: 1px solid grey; border-radius: 12px; margin-bottom: 10px; margin-top: 10px; margin-left: 50px; margin-right: 50px;">
        <div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request Packet <br />
                @Html.TextAreaFor(model => model.RequestPacketSendOTP, new { @class = "input100", @rows = 10, @id = "txtRequestPacket7", tabindex = 4 })
            </div>
            <div style="float: left; margin-top: 20px;" class="col-md-4 col-lg-4">
                Request URL <br />
                @Html.TextAreaFor(model => model.RequestURL, new { @class = "input100", @rows = 10, @id = "txtRequestPacketURL7", tabindex = 4 })

            </div>
            <div style="float: left; margin-top: 20px; margin-bottom: 20px;" class="col-md-4 col-lg-4">
                Response Packet<br /><textarea id="txtResponsePacket7" rows="10" cols="40" class="input100"></textarea>
            </div>
        </div>
    </div>  
</div>

<div style="float: left;" class="col-md-3 col-lg-12 bg-white">
    <button type="button" id="btnSend" onclick="" class="btn btn-primary" style="float: right; margin-right: 50px; margin-left: 10px; margin-bottom: 25px; margin-top: 20px;">Send</button>
    <button type="button" id="btnReset" onclick="btnReset" class="btn btn-primary" style="float: right; margin-bottom: 25px; margin-top: 20px;">Reset</button><br />
</div>

<script>
    var oldMobileNo = "";
    var flag = false;
    $(document).ready(function () {
        $('#rbtnEnrlment').click(function () {
            ShowHideTxnTypeSection("dvEnrlment");
        });

        $('#rbtnEnrlmntWithEarn').click(function () {
            ShowHideTxnTypeSection("dvEnrlmentWithEarn");
        });

        $('#rbtnEarn').click(function () {
            ShowHideTxnTypeSection("dvEarn");
        });

        $('#rbtnBurnValidation').click(function () {
            ShowHideTxnTypeSection("dvBurnValidation");
        });

        $('#rbtnBurn').click(function () {
            ShowHideTxnTypeSection("dvBurn");
        });

        $('#rbtnCancel').click(function () {
            ShowHideTxnTypeSection("dvCancel");
        });

        $('#rbtnSendOtp').click(function () {
            ShowHideTxnTypeSection("dvSendOtp");
        });

        $('#btnSend').click(function () {
            var fromId = "";
            var toId = "";
            var url = "";
            if ($("#rbtnEnrlment").is(":checked")) {
                fromId = "txtRequestPacket1";
                toId = "txtResponsePacket1";
                url = "txtRequestPacketURL1";
            }
            if ($("#rbtnEnrlmntWithEarn").is(":checked")) {
                fromId = "txtRequestPacket2";
                toId = "txtResponsePacket2";
                url = "txtRequestPacketURL2";
            }
            if ($("#rbtnEarn").is(":checked")) {
                fromId = "txtRequestPacket3";
                toId = "txtResponsePacket3";
                url = "txtRequestPacketURL3";
            }
            if ($("#rbtnBurnValidation").is(":checked")) {
                fromId = "txtRequestPacket4";
                toId = "txtResponsePacket4";
                url = "txtRequestPacketURL4";
            }
            if ($("#rbtnBurn").is(":checked")) {
                fromId = "txtRequestPacket5";
                toId = "txtResponsePacket5";
                url = "txtRequestPacketURL5";
            }
            if ($("#rbtnCancel").is(":checked")) {
                fromId = "txtRequestPacket6";
                toId = "txtResponsePacket6";
                url = "txtRequestPacketURL6";
            }
            if ($("#rbtnSendOtp").is(":checked")) {
                fromId = "txtRequestPacket7";
                toId = "txtResponsePacket7";
                url = "txtRequestPacketURL7";
            }


            CheckAPI(fromId, toId, url);
        });

        $("#btnReset").click(function () {
            location.reload();
        });

        $("#txtMobileNo1").focusout(function () {
            UpdatePacket1();
        });

        $("#txtMobileNo2").focusout(function () {
            UpdatePacket2();
        });

        $("#txtMobileNo3").focusout(function () {
            UpdatePacket3();
        });

        $("#txtMobileNo4").focusout(function () {
            UpdatePacket4();
        });

        $("#txtMobileNo5").focusout(function () {
            UpdatePacket5();
        });

        $("#txtMobileNo6").focusout(function () {
            UpdatePacket6();
        });

        $("#txtMobileNo7").focusout(function () {
            UpdatePacket7();
        });
    });

    function ShowHideTxnTypeSection(Id) {
        $("#dvEnrlment").hide();
        $("#dvEnrlmentWithEarn").hide();
        $("#dvEarn").hide();
        $("#dvBurnValidation").hide();
        $("#dvBurn").hide();
        $("#dvCancel").hide();
        $("#dvSendOtp").hide();

        $("#" + Id).show();
    }

    function UpdatePacket1() {
        var RequestPacket = $("#txtRequestPacket1").val();
        var mobileNo1 = $("#txtMobileNo1").val();
        if (oldMobileNo == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<MobileNo>" + oldMobileNo + "</MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo1 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<MobileNo></MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo1 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket1").val(RequestPacket);
        oldMobileNo = mobileNo;
    }

    function UpdatePacket2() {
        var RequestPacket = $("#txtRequestPacket2").val();
        var mobileNo2 = $("#txtMobileNo2").val();
        if (oldMobileNo == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<MobileNo>" + oldMobileNo + "</MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo2 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<MobileNo></MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo2 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket2").val(RequestPacket);
        oldMobileNo = mobileNo;
    }

    function UpdatePacket3() {
        var RequestPacket = $("#txtRequestPacket3").val();
        var mobileNo3 = $("#txtMobileNo3").val();
        if (oldMobileNo == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<MobileNo>" + oldMobileNo + "</MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo3 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<MobileNo></MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo3 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket3").val(RequestPacket);
        oldMobileNo = mobileNo;
    }

    function UpdatePacket4() {
        var RequestPacket = $("#txtRequestPacket4").val();
        var mobileNo4 = $("#txtMobileNo4").val();
        if (oldMobileNo == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<MobileNo>" + oldMobileNo + "</MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo4 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<MobileNo></MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo4 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket4").val(RequestPacket);
        oldMobileNo = mobileNo;
    }

    function UpdatePacket5() {
        var RequestPacket = $("#txtRequestPacket5").val();
        var mobileNo5 = $("#txtMobileNo5").val();
        if (oldMobileNo == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<MobileNo>" + oldMobileNo + "</MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo5 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<MobileNo></MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo5 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket5").val(RequestPacket);
        oldMobileNo = mobileNo;
    }

    function UpdatePacket6() {
        var RequestPacket = $("#txtRequestPacket6").val();
        var mobileNo6 = $("#txtMobileNo6").val();
        if (oldMobileNo == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<MobileNo>" + oldMobileNo + "</MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo6 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<MobileNo></MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo6 + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket6").val(RequestPacket);
        oldMobileNo = mobileNo;
    }

    function UpdatePacket7() {
        var RequestPacket = $("#txtRequestPacket7").val();
        var mobileNo = $("#txtMobileNo7").val();
        if (oldMobileNo == "") {
            flag = false;
        }
        else {
            flag = true;
        }

        if (flag) {
            var strInReplace = "<MobileNo>" + oldMobileNo + "</MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        else {
            var strInReplace = "<MobileNo></MobileNo>";
            var strToReplace = "<MobileNo>" + mobileNo + "</MobileNo>";
            RequestPacket = RequestPacket.replace(strInReplace, strToReplace);
        }
        $("#txtRequestPacket7").val(RequestPacket);
        oldMobileNo = mobileNo;
    }


    function CheckAPI(requestId, responseId, apiurl1) {        
        var RequestPacket = $("#" + requestId).val();
        var ResponsePacket = $("#" + responseId).val();
        var ApiURL = $("#" + apiurl1).val();      

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetResponse", "TestingModule")',
                data: '{RequestPacket: ' + JSON.stringify(RequestPacket) + ',RequestURL: ' + JSON.stringify(ApiURL) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $("#" + responseId).val(result);
                    //$("#" + fromId).val(RequestPacket);
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }
</script>
