@model List<BOTS_BL.Models.FeedbackModule.Feedback_Report>

<div class="row mb-3 card">
    <div class="container-fluid pt-3 pl-3 pr-3">
        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
            <div class="row">
                <div class="col search-container">
                    <i class="fas fa-search"></i>
                    <input class="input100" type="text" id="txtSearch" placeholder="Search Feedback..." />
                </div>
            </div>
            <div class="col text-right">
                <button class="btn btn-primary login-btn" onclick='ExportDataExcel("0");' type="button" id="btnExport">
                    <i class="fas fa-file-export"></i> Export
                </button>
            </div>

            <div class="row mt-3" id="dvReportDataNew">
                <div class="table-responsive">
                    <table class="table" id="reportTable">
                        <thead>
                            <tr>
                                <th scope="col">Outlet Name</th>
                                <th scope="col">SR Name</th>
                                <th scope="col">Mobile No</th>
                                <th scope="col">Member Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date Time</th>
                                <th scope="col">Q1</th>
                                <th scope="col">Q2</th>
                                <th scope="col">Q3</th>
                                <th scope="col">Q4</th>
                                <th scope="col">Source</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Txn</th>
                                <th scope="col">Txn Amount</th>
                                <th scope="col">Audio</th>
                                <th scope="col">CustomText</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {

                                    <tr>

                                        <td>@item.OutletName</td>
                                        <td>@item.SalesRName</td>
                                        <td>@item.MobileNo</td>
                                        <td>@item.MemberName</td>
                                        <td>@item.Type</td>
                                        <td>@item.Datetime</td>
                                        @if (item.Q1 > 0)
                                        {
                                            <td>@item.Q1</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        @if (item.Q2 > 0)
                                        {
                                            <td>@item.Q2</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        @if (item.Q3 > 0)
                                        {
                                            <td>@item.Q3</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        @if (item.Q4 > 0)
                                        {
                                            <td>@item.Q4</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }

                                        @if (!string.IsNullOrEmpty(item.Source))
                                        {
                                            <td>@item.Source</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Comments))
                                        {
                                            <td style="text-align:center;">@item.Comments</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Txn))
                                        {
                                            <td>Yes</td>
                                        }
                                        else
                                        {
                                            <td>No</td>
                                        }
                                        @if ((item.TxnAmount != 0))
                                        {
                                            <td>@item.TxnAmount</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        @if (item.AudioStream != "" && item.AudioStream != null && item.AudioStream != "data:")
                                        {
                                            <td>
                                                <audio controls="controls" autobuffer="autobuffer">
                                                    <source src="@item.AudioStream" />
                                                </audio>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        @if ((item.CustomText != "" && item.CustomText != null))
                                        {
                                            <td style="text-align:center;">@item.CustomText</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="14" align="center">No Feedback Available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#reportTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 50,
            "pagingType": "simple_numbers"
        });

        $('#reportTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table1 = $('#reportTable').DataTable();
            table1.draw();
        });


    });




</script>

