@model  WebApp.ViewModel.FeedbackAuthorViewModel
@{
    ViewBag.Title = "Create Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="app-main__inner">
        <div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">
            <div class="container-fluid pl-3 pr-3 pb-3" style="border:2px solid grey; border-radius:10px;">
                <div class="row">
                    <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                        <h4> Home Section </h4>
                    </div>
                </div>
                @Html.HiddenFor(model => model.GroupId)
                @Html.HiddenFor(model => model.lstOutletDetail.Count, new { @id = "hdnOutletCount" })


                @if (Model.lstFeedbackData != null)
                {
                    int count = 0;
                    foreach (var item in Model.lstFeedbackData)
                    {
                        count++;
                        if (item.Section == "Home")
                        {

                            <div class="row">
                                <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                                    @Html.CheckBoxFor(model => item.IsDisplay, new { @id = "chkIsDisplayHome" + count })
                                    @Html.TextBoxFor(model => item.Text, new { @class = "input200", @id = "txtHomeHeadingText" + count })
                                    @Html.DropDownListFor(model => item.IsMandatory.Value, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlIsMandatoryHome" + count })

                                </div>
                            </div>

                        }

                    }
                    if (Model.PointsAndMessages != null)
                    {
                        <div class="row">
                            <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                                @Html.CheckBoxFor(model => model.PointsAndMessages.IsAddRepresentative, new { @id = "chkSalesRep" }) Add Sales Representative
                               <div id="dvSalesRep" style="display:none;">
                                    @Html.TextBoxFor(model => model.PointsAndMessages.RepresentativesList, new { @class = "input200", @id = "txtHomeRepresentative", @placeholder = "Enter with comma separated" })
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>


            <div class="container-fluid  pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
                <div class="row">
                    <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                        <h4> Question Section </h4>
                    </div>
                </div>
                @if (Model.lstFeedbackData != null)
                {
                    int count = 0;
                    foreach (var item in Model.lstFeedbackData)
                    {
                        count++;
                        if (item.Section == "FeedbackQuestions")
                        {
                            <div class="row">
                                <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                                    @Html.CheckBoxFor(model => item.IsDisplay, new { @id = "chkIsDisplayQuestion" + count })
                                    @Html.TextBoxFor(model => item.Text, new { @class = "input200", @id = "txtQuestionHeadingText" + count })
                                    @Html.DropDownListFor(model => item.IsMandatory.Value, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlIsMandatoryQuestion" + count })

                                </div>
                            </div>
                        }
                    }
                }
            </div>

            <div class="container-fluid   pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
                <div class="row">
                    <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                        <h4> Other information </h4>
                    </div>
                    @if (Model.lstFeedbackData != null)
                    {
                        int count = 0;
                        foreach (var item in Model.lstFeedbackData)
                        {
                            count++;
                            if (item.Section == "OtherInformation")
                            {
                                <div class="row">
                                    <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                                        @Html.CheckBoxFor(model => item.IsDisplay, new { @id = "chkIsDisplayOther" + count })
                                        @Html.TextBoxFor(model => item.Text, new { @class = "input200", @id = "txtOtherHeadingText" + count })
                                        @Html.DropDownListFor(model => item.IsMandatory.Value, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlIsMandatoryOther" + count })

                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

            <div class="container-fluid   pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
                <div class="row">
                    <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                        <h4> Bonus Points </h4>
                    </div>
                    <div class="row col-md-12 col-xl-12">
                        <div class="col-md-12 col-xl-12">
                            @Html.CheckBoxFor(model => model.PointsAndMessages.IsFeedbackPoints, new { @id = "chkIsFeedbackPoints" }) Do you want to give any bonus points for submitting the feedback?
                        </div>
                    </div>
                    <div class="row" id="dvAwardPoints" style="display:none;">
                        <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                            How many points? @Html.TextBoxFor(model => model.PointsAndMessages.AwardFeedbackPoints, new { @class = "input100", @id = "txtAwardFeedbackPoints" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid   pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
                <div class="row">
                    <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                        <h3> Message Scripts </h3>
                    </div>
                    <div class="row col-md-12 col-xl-12">
                        <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                            Thank You Message to Customer (will be sent through your whatsapp account) @Html.TextAreaFor(model => model.PointsAndMessages.MsgToCustomer, new { @class = "input100", rows = "3", @style = "width:100% !important;", @id = "txtMsgToCustomer" })
                        </div>
                    </div>

                    <div class="row col-md-12 col-xl-12">
                        <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                            Negative Feedback real-time to some numbers (will be sent from blue ocktopus sender id) @Html.TextAreaFor(model => model.PointsAndMessages.MsgNegativeFeedback, new { @class = "input100", rows = "3", @style = "width:100% !important;", @id = "txtMsgNegativeFeedback" })
                        </div>
                    </div>
                    @if (Model.lstOutletDetail != null)
                    {
                        int count = 0;
                        <div class="row col-md-12 col-xl-12">
                            <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                                <table border="1" cellpadding="10" cellspacing="10">
                                    <tr>
                                        <td style="font-weight:bold;">Outlet Name</td>
                                        <td style="font-weight:bold;">Mobile Numbers (separate with a comma (,))</td>
                                    </tr>

                                    @foreach (var item in Model.lstOutletDetail)
                                    {
                                        var id = "txtOutlet" + item.Value;
                                        <tr>
                                            <td>@item.Text</td>
                                            <td><input type="text" id="@id" class="input200" /></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                    <div class="row col-md-12 col-xl-12">
                        <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                            <b>All members who have transacted but not given feedback, can be approached the next day through an SMS / message <br /></b>
                            @Html.CheckBoxFor(model => model.PointsAndMessages.IsMsgMissedFeedback, new { @id = "chkMissedMessage" })  Do you want to send a message

                        </div>
                    </div>

                    <div class="row col-md-12 col-xl-12" id="dvMsgMissedFeedback" style="display:none;">
                        <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                            @Html.TextAreaFor(model => model.PointsAndMessages.MsgMissedFeedback, new { @class = "input100", @id = "txtMsgMissedFeedback", rows = "3", @style = "width:100% !important;" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
                <button type="button" id="btnFeedbackSave" class="btn btn-primary pull-right" onclick="return CheckValidationAndSubmit();" style="margin-right:10px;">Submit</button>
            </div>

            <div class="container-fluid   pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
                <div class="row">
                    <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                        <h3> Feedback Links </h3>
                    </div>
                    @if (Model.lstOutletDetail != null)
                    {
                        <div class="row col-md-12 col-xl-12">
                            <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                                <table border="1" cellpadding="10" cellspacing="10">
                                    <tr>
                                        <td style="font-weight:bold;">Outlet Name</td>
                                        <td style="font-weight:bold;">Feedback Links to be used at Respective Outlets</td>
                                    </tr>

                                    @foreach (var item in Model.lstOutletDetail)
                                    {
                                        var id = "http://localhost:57265/Feedback/GetFeedBack/Id?" + item.Value;
                                        <tr>
                                            <td>@item.Text</td>
                                            <td><a href="@id" target="_blank">@id</a></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>



<script>
    $(document).ready(function () {
        $('#chkSalesRep').click(function () {
            if ($(this).is(':checked')) {
                $("#dvSalesRep").show();
            }
            else {
                $("#txtHomeRepresentative").val("");
                $("#dvSalesRep").hide();

            }
        });

        $('#chkIsFeedbackPoints').click(function () {
            if ($(this).is(':checked')) {
                $("#dvAwardPoints").show();
            }
            else {
                $("#txtAwardFeedbackPoints").val("");
                $("#dvAwardPoints").hide();

            }
        });

        $('#chkMissedMessage').click(function () {
            if ($(this).is(':checked')) {
                $("#dvMsgMissedFeedback").show();
            }
            else {
                $("#txtMsgMissedFeedback").val("");
                $("#dvMsgMissedFeedback").hide();

            }
        });
    });

    function CheckValidationAndSubmit() {       
        var HomeData = [];
        var countHome = 3;
        for (var i = 1; i <= countHome; i++) {
            itemHome = {}
            itemHome["Id"] = i;
            itemHome["Text"] = $("#txtHomeHeadingText" + i).val(); 
            itemHome["IsDisplay"] = $("#chkIsDisplayHome" + i).is(":checked"); 
            itemHome["IsMandatory"] = $("#ddlIsMandatoryHome" + i).val();
            HomeData.push(itemHome);
        }        

        var QuestionData = [];
        var countQue = 9;
        for (var i = 4; i <= countQue; i++) {
            itemQuestion = {}
            itemQuestion["Id"] = i;
            itemQuestion["Text"] = $("#txtQuestionHeadingText" + i).val();
            itemQuestion["IsDisplay"] = $("#chkIsDisplayQuestion" + i).is(":checked");
            itemQuestion["IsMandatory"] = $("#ddlIsMandatoryQuestion" + i).val();
            QuestionData.push(itemQuestion);
        }
        
        var OtherInfoData = [];
        var countOtherInfo = 15;
        for (var i = 10; i <= countOtherInfo; i++) {
            itemOtherInfo = {}
            itemOtherInfo["Id"] = i;
            itemOtherInfo["Text"] = $("#txtOtherHeadingText" + i).val();
            itemOtherInfo["IsDisplay"] = $("#chkIsDisplayOther" + i).is(":checked");
            itemOtherInfo["IsMandatory"] = $("#ddlIsMandatoryOther" + i).val();
            OtherInfoData.push(itemOtherInfo);
        }
       
        var OtherConfigData = [];
        itemOtherConfig = {}
        itemOtherConfig["IsRepresentative"] = $("#chkSalesRep").is(":checked");
        itemOtherConfig["RepresentativeList"] = $("#txtHomeRepresentative").val();
        itemOtherConfig["IsFeedbackPoints"] = $("#chkIsFeedbackPoints").is(":checked");
        itemOtherConfig["AwardFeedbackPoints"] = $("#txtAwardFeedbackPoints").val();
        itemOtherConfig["MsgToCustomer"] = $("#txtMsgToCustomer").val();
        itemOtherConfig["MsgNegativeFeedback"] = $("#txtMsgNegativeFeedback").val();
        itemOtherConfig["IsMsgMissedFeedback"] = $("#chkMissedMessage").is(":checked");
        itemOtherConfig["MsgMissedFeedback"] = $("#txtMsgMissedFeedback").val();        
        OtherConfigData.push(itemOtherConfig);        

        var OutletMobileNos = [];
        $('[id^=txtOutlet]').each(function (i, item) {
            itemOutlet = {}            
            itemOutlet["OutletId"] = item.id.substr(9);
            
            itemOutlet["Numbers"] = $(item).val();

            OutletMobileNos.push(itemOutlet);
        });        

        var AllData = [];
        item = {}
        item["Home"] = HomeData;
        item["Question"] = QuestionData;
        item["OtherInfo"] = OtherInfoData;
        item["OtherConfig"] = OtherConfigData;
        item["OutletMobileNos"] = OutletMobileNos;
        AllData.push(item);

        console.log(JSON.stringify(AllData));
        console.log(AllData);




        return false;
    }

</script>
