@model  WebApp.ViewModel.FeedbackAuthorViewModel
@{
    ViewBag.Title = "CreateFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">
        <div class="container-fluid pl-3 pr-3 pb-3" style="border:2px solid grey; border-radius:10px;">
            <div class="row">
                <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                    <h3> Feedback Home Page </h3>
                </div>
            </div>
            <div class="row">
                @Html.HiddenFor(model => model.headings.GroupId)
                @Html.HiddenFor(model => model.questions.GroupId)

                <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                    Heading 1 @Html.TextBoxFor(model => model.headings.HomeHeading1, new { @class = "input200" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                    Heading 2 @Html.TextBoxFor(model => model.headings.HomeHeading2, new { @class = "input200" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                    Heading 3 @Html.TextBoxFor(model => model.headings.HomeHeading3, new { @class = "input200" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                    <input type="checkbox" id="chkSalesRep" /> Add Sales Representative
                    <div id="dvSalesRep" style="display:none;">
                        @Html.TextBoxFor(model => model.headings.HomeRepresentative, new { @class = "input200", @id = "txtHomeRepresentative", @placeholder = "Enter with comma separated" })
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid  pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
            <div class="row">
                <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                    <h3> Feedback Questions </h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Heading 1 @Html.TextBoxFor(model => model.headings.QuestionsHeading1, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Heading 2 @Html.TextBoxFor(model => model.headings.QuestionsHeading2, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 1 @Html.TextBoxFor(model => model.questions.FeedbackQuestion1, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 2 @Html.TextBoxFor(model => model.questions.FeedbackQuestion2, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 3 @Html.TextBoxFor(model => model.questions.FeedbackQuestion3, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 4 @Html.TextBoxFor(model => model.questions.FeedbackQuestion4, new { @class = "input200" })
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid   pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
            <div class="row">
                <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                    <h3> Other information </h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Heading 1 @Html.TextBoxFor(model => model.headings.OtherInfoHeading1, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Heading 2 @Html.TextBoxFor(model => model.headings.OtherInfoHeading2, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 1 @Html.TextBoxFor(model => model.questions.OtherInfoQuestion1, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 2 @Html.TextBoxFor(model => model.questions.OtherInfoQuestion2, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 3 @Html.TextBoxFor(model => model.questions.OtherInfoQuestion3, new { @class = "input200" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" style="margin-left:20px; margin-top:20px;">
                        Question 4 @Html.TextBoxFor(model => model.questions.OtherInfoQuestion4, new { @class = "input200" })
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid   pl-3 pr-3 pb-3 mt-2" style="border:2px solid grey; border-radius:10px;">
            <div class="row">
                <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                    <h3> Bonus Feedback Points </h3>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12" style="margin-left:20px; margin-top:20px;">
                        @Html.CheckBoxFor(model => model.PointwsAndMessages.IsFeedbackPoints, new { @id = "chkIsFeedbackPoints" }) Do you want to give any bonus points for submitting the feedback?
                    </div>
                </div>
                <div class="row" id="dvAwardPoints" style="display:none;">
                    <div class="col-md-6 col-xl-6" style="margin-left:20px; margin-top:20px;">
                        how many points? @Html.TextBoxFor(model => model.PointwsAndMessages.AwardFeedbackPoints, new { @class = "input100", @id = "txtAwardFeedbackPoints" })
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#chkSalesRep').click(function () {
            if ($(this).is(':checked')) {
                $("#dvSalesRep").show();
            }
            else {
                $("#txtHomeRepresentative").val("");
                $("#dvSalesRep").hide();

            }
        });

        $('#chkIsFeedbackPoints').click(function () {
            if ($(this).is(':checked')) {
                $("#dvAwardPoints").show();
            }
            else {
                $("#txtAwardFeedbackPoints").val("");
                $("#dvAwardPoints").hide();

            }
        });
    });
</script>