@model WebApp.ViewModel.FeedbackGetFeedbackViewModel

@{
    ViewBag.Title = "GetFeedBack";
    Layout = null;
}
<link href="~/Content/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />
<style>
    body {
        font-size: 16px !important;
    }

    .cc-selector input {
        margin: 0;
        padding-right: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .rbtvariety1 {
        background-image: url("../../Content/assets/images/15.png");
    }

    .rbtvariety2 {
        background-image: url("../../Content/assets/images/3.png");
    }

    .rbtvariety3 {
        background-image: url("../../Content/assets/images/7.png");
    }

    .rbtvariety4 {
        background-image: url("../../Content/assets/images/14.png");
    }

    .cc-selector input:active + .drinkcard-cc {
        opacity: .9;
    }

    .cc-selector input:checked + .drinkcard-cc {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
        border: 2px solid red;
        border-radius: 25px;
    }

    .drinkcard-cc {
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 45px;
        height: 45px;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);
        /* -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
        -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
        filter: brightness(1.8) grayscale(1) opacity(.7);*/
    }
</style>
<div class="app-main__inner">
    <div class="row card">
        @if (Model != null)
        {
            if (Model.lstFeedbackData != null)
            {
                @Html.HiddenFor(model => model.GroupId)
                @Html.HiddenFor(model => model.OutletId)
                <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                    <img src="@Model.LogoUrl" style="width:300px;" alt="Logo">
                </div>
                <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="divwelcome">
                    @foreach (var item in Model.lstFeedbackData)
                    {
                        if (item.Section == "Home")
                        {
                            <div class="row">
                                <div class="col-md-12 col-xl-12  mb-1" style="margin-top:20px;text-align:center;">
                                    @if (item.Type == "Heading")
                                    {
                                        if (item.TypeId == 1)
                                        {
                                            <h1 style="font-size:34px;"><span id="spnCustomerName"> @item.Text</span></h1>
                                        }
                                        if (item.TypeId == 2)
                                        {
                                            <h2 style="font-size:26px;"> @item.Text</h2>
                                        }
                                        if (item.TypeId == 3)
                                        {
                                            <h3 style="font-size:20px;"> @item.Text</h3>
                                        }
                                    }

                                </div>
                            </div>
                        }
                    }
                    <div class="row">
                        <div class="col-md-12 col-sm-12 pt-5 pl-5 pr-5 pb-5" style="text-align:center;">
                            <input type="number" class="input100" id="txtMobileNo" placeholder="Enter Mobile number" />

                        </div>
                        <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                            <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnProceed" onclick="return CheckCustomer();">ENTER</button>
                        </div>
                    </div>
                </div>

                <div class="container-fluid pt-3 pl-3 pr-3 pb-3" style="display:none;" id="divquestions">
                    <div class="row">
                        @foreach (var item in Model.lstFeedbackData)
                        {
                            if (item.Section == "FeedbackQuestions")
                            {
                                <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                                    @if (item.Type == "Heading")
                                    {
                                        if (item.TypeId == 1)
                                        {
                                            <h1 style="font-size: 34px; color: red;"> @item.Text</h1>
                                        }
                                        if (item.TypeId == 2)
                                        {
                                            <h2 style="font-size: 34px;"> @item.Text</h2>
                                        }
                                    }
                                </div>
                            }

                            if (item.Section == "FeedbackQuestions")
                            {
                                <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                                    @if (item.Type == "Question")
                                    {
                                        var rbtn1 = "rbtvariety" + item.Id + "1";
                                        var rbtn2 = "rbtvariety" + item.Id + "2";
                                        var rbtn3 = "rbtvariety" + item.Id + "3";
                                        var rbtn4 = "rbtvariety" + item.Id + "4";
                                        var name = "variety" + item.Id;
                                        <h3 style="font-size:20px;">
                                            @item.Text
                                        </h3>
                                        <div class="cc-selector">
                                            <input id="@rbtn1" type="radio" name="@name" />
                                            <label class="drinkcard-cc rbtvariety1" for="@rbtn1"></label>
                                            <input id="@rbtn2" type="radio" name="@name" />
                                            <label class="drinkcard-cc rbtvariety2" for="@rbtn2"></label>
                                            <input id="@rbtn3" type="radio" name="@name" />
                                            <label class="drinkcard-cc rbtvariety3" for="@rbtn3"></label>
                                            <input id="@rbtn4" type="radio" name="@name" />
                                            <label class="drinkcard-cc rbtvariety4" for="@rbtn4"></label>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                            <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnNextpg" onclick="SubmitRating();">Next Page</button>
                        </div>
                    </div>
                </div>
                if (Model.PointsAndMessages.IsOtherInfoShow)
                {
                    <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="divthankyou" style="display:none;">
                        <div class="row">
                            @foreach (var item in Model.lstFeedbackData)
                            {
                                if (item.Section == "OtherInformation")
                                {
                                    <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                                        @if (item.Type == "Heading")
                                        {
                                            if (item.TypeId == 1)
                                            {
                                                <h1 style="color:red; font-size:34px;">
                                                    @item.Text
                                                </h1>
                                            }
                                            if (item.TypeId == 2)
                                            {
                                                <h1 style="font-size: 26px;">
                                                    @item.Text
                                                </h1>
                                            }
                                        }
                                        @if (item.Type == "Question")
                                        {
                                            <span style="padding-right:5px;"> @item.Text </span>
                                            if (item.TypeId == 1)
                                            {
                                                @Html.DropDownList("abc", new SelectList(Model.Gender(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlGender" })
                                            }
                                            if (item.TypeId == 2)
                                            {
                                                <input type="date" class="input50" id="txtBirthDate" />
                                            }
                                            if (item.TypeId == 3)
                                            {
                                                <input type="date" class="input50" id="txtAniversary" />
                                            }

                                            if (item.TypeId == 4)
                                            {
                                                @Html.DropDownList("abc", new SelectList(Model.lstKnowAboutUs, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlKnowAboutUs" })
                                            }
                                        }

                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 pb-5 pt-5" style="text-align:center;">
                                <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnsubmit" onclick="SubmitPoints();">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#txtbirthdt').attr('max', maxDate);
        $('#txtanniversary').attr('max', maxDate);

        $("#txtMobileNo").focusout(function () {
            if ($("#txtMobileNo").val() != "") {
                $('#txtMobileNo').css('border-color', '');
            }
            else {
                $('#txtMobileNo').css('border-color', 'red');
            }
        });
        $("#txtbirthdt").focusout(function () {
            if ($("#txtbirthdt").val() != "") {
                $('#txtbirthdt').css('border-color', '');
            }
            else {
                $('#txtbirthdt').css('border-color', 'red');
            }
        });
        $('#ddllivein').change(function () {
            if ($("#ddllivein option:selected").text() == "Please Select") {
                $('#ddllivein').css('border-color', 'red');
            }
            else {
                $('#ddllivein').css('border-color', '');
            }
        });

    });
    function SubmitRating() {

        $("#divthankyou").show();
        $("#divquestions").hide();
        $("#divwelcome").hide();
        @*var returnStatus = true;
        if ($("#txtMobileNo").val() == "") {
            $('#txtMobileNo').css('border-color', 'red');
            returnStatus = false;
        }
        if ($("#rbtvariety1").is(":checked") || $("#rbtvariety2").is(":checked") || $("#rbtvariety3").is(":checked") || $("#rbtvariety4").is(":checked")) {

        }
        else {

            returnStatus = false;
        }
        if ($("#rbtservice1").is(":checked") || $("#rbtservice2").is(":checked") || $("#rbtservice3").is(":checked") || $("#rbtservice4").is(":checked")) {

        }
        else {

            returnStatus = false;
        }
        if (returnStatus == true) {

            var ratevariety;
            var rateservice;
            if ($("#rbtvariety1").is(":checked")) {
                ratevariety = 4;
            }
            if ($("#rbtvariety2").is(":checked")) {
                ratevariety = 3;
            }
            if ($("#rbtvariety3").is(":checked")) {
                ratevariety = 2;
            }
            if ($("#rbtvariety4").is(":checked")) {
                ratevariety = 1;
            }
            if ($("#rbtservice1").is(":checked")) {
                rateservice = 4;
            }
            if ($("#rbtservice2").is(":checked")) {
                rateservice = 3;
            }
            if ($("#rbtservice3").is(":checked")) {
                rateservice = 2;
            }
            if ($("#rbtservice4").is(":checked")) {
                rateservice = 1;
            }
            var SeardhData = [];
            item = {}


            SeardhData.push(ratevariety);
            SeardhData.push(rateservice);


            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SubmitRating", "Feedback")',
                data: '{mobileNo: ' + JSON.stringify($("#txtMobileNo").val()) + ', ranking: ' + JSON.stringify(SeardhData) + ', GroupId: ' + JSON.stringify($("#hdngroupid").val()) + ', outletId: ' + JSON.stringify($("#hdnoutletid").val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    // console.log(response.CustomerName);
                    if (response == "true") {
                        var nm = $('#spnCustName').text();
                        $('#spnCustName1').text(nm);
                        if (nm == "Esteemed Patron") {
                            $("#divknowabt").show();
                        }

                        $("#divLoader").hide();
                        $("#divthankyou").show();
                        $("#divmember").hide();
                        $("#divwelcome").hide();

                    }
                    if (response == "false") {
                        // $('#spnCustName').text("Esteemed Patron,");
                        $("#divLoader").hide();
                        $("#divmember").hide();
                        $("#divwelcome").hide();
                    }
                    if (response == "pointsGiven") {
                        $("#divLoader").hide();
                        setTimeout(cuteAlert({
                            type: "success",
                            title: "Save",
                            message: "FeedBack Save Successfully!",
                            buttonText: "Okay"
                        }), 10000);

                        window.location.replace('https://blueocktopus.in/GM_feedback?outletid=10131001');

                    }


                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            return false;
        }*@
    }
    function CheckCustomer() {
        $("#divwelcome").hide();
        $("#divquestions").show();
        $("#divthankyou").hide();
        @*var returnStatus = true;
        var MobileNo = $('#txtMobileNo').val();
        if ($("#txtMobileNo").val() == "") {
            alert("Please enter Required fields");
            $('#txtMobileNo').css('border-color', 'red');
            returnStatus = false;
        }
        else {
            if (/^[6789]\d{9,9}$/.test(MobileNo)) {

            }
            else {
                alert("Mobile Number entered seems incorrect. Please try again");
                $('#txtMobileNo').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if (returnStatus == true) {

            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomerStatus", "Feedback")',
                data: '{mobileNo: ' + JSON.stringify($("#txtMobileNo").val()) + ', GroupId: ' + JSON.stringify($("#hdngroupid").val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    if (response.IsFeedBackGiven) {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "Feedback for this mobile number is already captured today. Thanks!",
                            buttonText: "Okay"
                        })
                        $('#txtMobileNo').val("");
                    }
                    else {


                        if (response.CustomerName != null) {
                            $('#spnCustName').text(response.CustomerName);
                            $("#divLoader").hide();
                            $("#divmember").show();
                            $("#divwelcome").hide();
                        }
                        else {

                            $('#spnCustName').text("Esteemed Patron");
                            $("#divLoader").hide();
                            $("#divmember").show();
                            $("#divwelcome").hide();
                        }




                    }


                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            return false;
        }*@

    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>