@model WebApp.ViewModel.FeedbackGetFeedbackViewModel
@using System.Configuration;

@{
    ViewBag.Title = "GetFeedBack";
    Layout = null;
    var feedbackURL = ConfigurationManager.AppSettings["FeedbackOutletLink"].ToString();

}
<link href="~/Content/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />
<style>
    #loader {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 1;
        z-index: 1021;
        background: rgba(255, 255, 255, .7);
    }

    .loader-inner {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: relative;
        margin: auto;
    }

        .loader-inner:before,
        .loader-inner:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            /* border-radius: 100%;
                border: 10px solid transparent;
                border-top-color: darkblue;*/
        }

        .loader-inner:before {
            z-index: 100;
            /*background-image: url(~/Content/assets/BlueocktopusLoadingGIF.mp4);
                animation: spinner-border 1s infinite;*/
        }

        .loader-inner:after {
            /*border: 10px solid lightblue;*/
        }
    
        body {
            font-size: 16px !important;
        }

    .cc-selector input {
        margin: 0;
        padding-right: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .rbtvariety1 {
        background-image: url("../../Content/assets/images/15.png");
    }

    .rbtvariety2 {
        background-image: url("../../Content/assets/images/3.png");
    }

    .rbtvariety3 {
        background-image: url("../../Content/assets/images/7.png");
    }

    .rbtvariety4 {
        background-image: url("../../Content/assets/images/14.png");
    }

    .cc-selector input:active + .drinkcard-cc {
        opacity: .9;
    }

    .cc-selector input:checked + .drinkcard-cc {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
        border: 2px solid red;
        border-radius: 40px;
    }

    .drinkcard-cc {
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 75px;
        height: 75px;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);
        /* -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
        -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
        filter: brightness(1.8) grayscale(1) opacity(.7);*/
    }
</style>
<div class="app-main__inner">
    <div id="divLoader" runat="server" style="display:none">
        <div id="loader">
            <div class="loader-inner">
                <img src="~/Content/assets/BlueocktopusLoadingGIF.gif" width="100px" height="100px" />
            </div>
        </div>
    </div>
    <div class="row card">
        @if (Model != null)
        {
            if (Model.IsExpiredOrStopped)
            {
                if (Model.lstFeedbackData != null)
                {
                    @Html.HiddenFor(model => model.GroupId, new { @id = "hdGroupId" })
                    @Html.HiddenFor(model => model.GroupName, new { @id = "hdGroupNm" })
                    @Html.HiddenFor(model => model.OutletId, new { @id = "hdoutletId" })
                    <span id="url" style="display:none;">@feedbackURL</span>
                    @Html.Hidden("HiddenDOB", null, new { @id = "hdDOB" })
                    @Html.Hidden("HiddenDOA", null, new { @id = "hdDOA" })
                    @Html.Hidden("HiddenHowToKnow", null, new { @id = "hdHowToKnow" })

                    <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;" id="dvLogo">
                        <img src="@Model.LogoUrl" style="width:300px;" alt="Logo">
                    </div>
                    <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="divwelcome">
                        @foreach (var item in Model.lstFeedbackData)
                        {
                            if (item.Section == "Home")
                            {
                                <div class="row">
                                    <div class="col-md-12 col-xl-12  mb-1" style="margin-top:20px;text-align:center;">
                                        @if (item.Type == "Heading")
                                        {
                                            if (item.TypeId == 1)
                                            {
                                                <h1 style="font-size:34px;">@item.Text @Model.GroupName!!!</h1>
                                            }
                                            if (item.TypeId == 2)
                                            {
                                                <h2 style="font-size:26px;"> @item.Text</h2>
                                            }
                                            if (item.TypeId == 3)
                                            {
                                                <h3 style="font-size:20px;"> @item.Text</h3>
                                            }
                                        }

                                    </div>
                                </div>
                            }
                        }
                        <div class="row">

                            @if (Model.PointsAndMessages.IsAddRepresentative)
                            {
                                <span id="hdshowrepresentative" style="display:none;">@Model.PointsAndMessages.IsAddRepresentative</span>
                                <div class="col-md-12 col-sm-12 pt-3 pl-5 pr-5 pb-5" style="text-align:center;">
                                    <h6>Sales Representive</h6> @Html.DropDownList("abc", new SelectList(Model.lstsalesRepresentive, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlsaleslist" })

                                </div>
                            }
                            @if (Model.GroupId != "1051")
                            {
                                <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                                    <input type="number" class="input100" id="txtMobileNo" placeholder="Enter Mobile number" />

                                </div>
                                <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                                    <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnProceed" onclick="return CheckCustomer();">ENTER</button>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 col-sm-12 pb-5 mt-5" style="text-align:center;">
                                    <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnProceedNew" onclick="ProceedToQuestion();">Proceed</button>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="container-fluid pt-3 pl-3 pr-3 pb-3" style="display:none;" id="divquestions">
                        <div class="row">
                            @foreach (var item in Model.lstFeedbackData)
                            {
                                if (item.Section == "FeedbackQuestions")
                                {
                                    <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                                        @if (item.Type == "Heading")
                                        {
                                            if (item.TypeId == 1)
                                            {
                                                <h1 style="font-size: 34px; color: red;">Welcome <span id="spnCustomerName"></span></h1>
                                            }
                                            if (item.TypeId == 2)
                                            {
                                                <h2 style="font-size: 34px;"> @item.Text</h2>
                                            }
                                        }
                                    </div>
                                }

                                if (item.Section == "FeedbackQuestions")
                                {
                                    <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                                        @if (item.Type == "Question")
                                        {
                                            @Html.HiddenFor(model => item.Id, new { @id = "hdnQuestionId" + item.Id })
                                            @Html.HiddenFor(model => item.IsMandatory, new { @id = "hdnMandatoryQuestionId" + item.Id })
                                            var rbtn1 = "rbtvariety" + item.Id + "1";
                                            var rbtn2 = "rbtvariety" + item.Id + "2";
                                            var rbtn3 = "rbtvariety" + item.Id + "3";
                                            var rbtn4 = "rbtvariety" + item.Id + "4";
                                            var name = "variety" + item.Id;
                                            <h3 style="font-size:20px;">
                                                @Html.Raw(@item.Text)
                                                @if (item.IsMandatory == "Mandatory")
                                                {
                                                    <span style="color:red;">*</span>
                                                }
                                            </h3>
                                            <div class="cc-selector">
                                                <input id="@rbtn1" type="radio" name="@name" />
                                                <label class="drinkcard-cc rbtvariety1" for="@rbtn1" style="margin-right:30px;"></label>
                                                <label style="position: absolute; margin-top: 80px; margin-left: -110px; font-weight: bold;">Very High</label>
                                                <input id="@rbtn2" type="radio" name="@name" />
                                                <label class="drinkcard-cc rbtvariety2" for="@rbtn2" style="margin-right:30px;"></label>
                                                <input id="@rbtn3" type="radio" name="@name" />
                                                <label class="drinkcard-cc rbtvariety3" for="@rbtn3" style="margin-right:30px;"></label>
                                                <input id="@rbtn4" type="radio" name="@name" />
                                                <label class="drinkcard-cc rbtvariety4" for="@rbtn4"></label>
                                                <label style="position: absolute; margin-top: 80px; margin-left: -70px;font-weight:bold;">Very Low</label>
                                            </div>

                                        }
                                        @if (item.Type == "Textbox")
                                        {
                                            @Html.HiddenFor(model => item.Id, new { @id = "hdnQuestionId" + item.Id })
                                            @Html.HiddenFor(model => item.IsMandatory, new { @id = "hdnQuestionType" + item.Id })
                                            <h3 style="font-size:20px;">

                                                @if (item.IsMandatory == "Mandatory")
                                                {
                                                    <span style="color:red;">*</span>
                                                }
                                            </h3>
                                            if (Model.GroupId != "1051")
                                            {
                                                <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                                                    <textarea class="input100" id="txtComments" cols="50" rows="5" placeholder="Enter Comments"></textarea>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                                                    <textarea class="input150" id="txtComments" cols="50" rows="5" placeholder="Enter Comments"></textarea>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            }
                        </div>
                        <div class="row mt-3">
                            @if (Model.GroupId != "1051")
                            {
                                <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                                    <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnNextpg" onclick="SubmitRating();">Next Page</button>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                                    <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnNextpg" onclick="SubmitRating();">Submit</button>
                                </div>
                            }
                        </div>
                    </div>
                    if (Model.PointsAndMessages.IsOtherInfoShow)
                    {
                        <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="divthankyou" style="display:none;">
                            <div class="row">
                                @foreach (var item in Model.lstFeedbackData)
                                {
                                    if (item.Section == "OtherInformation")
                                    {
                                        <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                                            @if (item.Type == "Heading")
                                            {
                                                if (item.TypeId == 1)
                                                {
                                                    <h1 style="color:red; font-size:34px;">
                                                        @item.Text
                                                    </h1>
                                                }
                                                if (item.TypeId == 2)
                                                {
                                                    <h1 style="font-size: 26px;">
                                                        @item.Text
                                                    </h1>
                                                }
                                            }
                                            @if (item.Type == "Question")
                                            {
                                                <span style="padding-right:5px;"> @item.Text  </span>
                                                if (item.IsMandatory == "Mandatory")
                                                {
                                                    <span style="color:red;">*</span>
                                                }

                                                if (item.TypeId == 1)
                                                {
                                                    @*@Html.Hidden(item.IsMandatory, new { @id = "hdMandatorygender" })*@
                                                    <span id="hdMandatorygender" style="display:none;">@item.IsMandatory</span>
                                                    @Html.DropDownList("abc", new SelectList(Model.Gender(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlGender" })
                                                }

                                                if (item.TypeId == 2)
                                                {
                                                    <span id="hdMandatoryDtBirth" style="display:none;">@item.IsMandatory</span>
                                                    <input type="date" class="input50" id="txtBirthDate" />
                                                }
                                                if (item.TypeId == 3)
                                                {
                                                    <span id="hdMandatoryDtAnni" style="display:none;">@item.IsMandatory</span>
                                                    <input type="date" class="input50" id="txtAniversary" />
                                                }

                                                if (item.TypeId == 4)
                                                {
                                                    <span id="hdMandatoryHowTo" style="display:none;">@item.IsMandatory</span>
                                                    @Html.DropDownList("abc", new SelectList(Model.lstKnowAboutUs, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlKnowAboutUs" })
                                                }
                                            }

                                        </div>
                                    }
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 pb-5 pt-5" style="text-align:center;">
                                    <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnsubmit" onclick="SubmitOtherInfo();">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3 mt-5" style="text-align:center;"><h3>Subscription is Expired. Please contact Administrator !!!</h3></div>
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#txtbirthdt').attr('max', maxDate);
        $('#txtanniversary').attr('max', maxDate);

        $("#txtMobileNo").focusout(function () {
            if ($("#txtMobileNo").val() != "") {
                $('#txtMobileNo').css('border-color', '');
            }
            else {
                $('#txtMobileNo').css('border-color', 'red');
            }
        });
        $("#txtBirthDate").focusout(function () {
            if ($("#txtBirthDate").val() != "") {
                $('#txtBirthDate').css('border-color', '');
            }
            else {
                $('#txtBirthDate').css('border-color', 'red');
            }
        });


        $('#ddlKnowAboutUs').change(function () {
            if ($("#ddlKnowAboutUs option:selected").text() == "Please Select") {
                $('#ddlKnowAboutUs').css('border-color', 'red');
            }
            else {
                $('#ddlKnowAboutUs').css('border-color', '');
            }
        });

    });

    function SubmitRating() {
        var returnStatus = false;
        var HomeData = [];
        var Comments = "";
            $('[id^=hdnQuestionId]').each(function (i, itemid) {
                var id11 = itemid.id.substr(13); //hdnMandatoryQuestionId

                $('[id^=hdnMandatoryQuestionId' + id11 + ']').each(function (i, itemman) {
                    if (itemman.value == "Mandatory") {
                        var count = 0;
                            $('[id^=rbtvariety' + id11 + ']').each(function (i, itemradio) {

                                if ($("#" + itemradio.id).is(":checked")) {
                                    console.log(itemradio.id + "  - Checked");
                                    count = 1;
                                }
                            });
                        if (count == 1)
                            returnStatus = true;
                        else {
                            returnStatus = false;
                            return false;
                        }
                    }
                });
                if (!returnStatus) {
                    return false;
                }
            });

            $('[id^=hdnQuestionType]').each(function (i, itemid) {
                console.log($("#" + itemid.id).val())
                if ($("#" + itemid.id).val() == "Mandatory") {
                    if ($("#txtComments").val() == "") {
                        returnStatus = false;
                        return false;
                    }
                    else {
                        Comments = $("#txtComments").val();
                    }
                }
                else {
                    Comments = $("#txtComments").val();
                }
            });
        if (!returnStatus) {
            console.log("required");
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            return false;
        }

        if (returnStatus == true) {
            $('[id^=hdnQuestionId]').each(function (i, itemid) {

                var id11 = itemid.id.substr(13);
                $('[id^=rbtvariety' + id11 + ']').each(function (i, itemradio) {
                    if ($("#" + itemradio.id).is(":checked")) {
                        HomeData.push(itemradio.id);
                        //console.log(HomeData);
                    }
                });

            });

            var sales = "";
            if ($("#hdshowrepresentative").text()=="True") {
                if ($("#ddlsaleslist").prop('selectedIndex') !== 0) {
                    sales = $("#ddlsaleslist option:selected").text();
                }
            }

            var mobileNo = "";
            if (@Model.GroupId != "1051") {
                mobileNo = $("#txtMobileNo").val();
            }

            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SubmitPoints", "Feedback")',
                data: '{mobileNo: ' + JSON.stringify(mobileNo) + ', ranking: ' + JSON.stringify(JSON.stringify(HomeData)) + ', GroupId: ' + JSON.stringify($("#hdGroupId").val()) + ', SalesRepresentative: ' + JSON.stringify(sales) + ',Comments: ' + JSON.stringify(Comments) + ', outletId: ' + JSON.stringify($("#hdoutletId").val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                     console.log(response);
                    if (response == "true") {
                        console.log("111");
                        var nm = $('#spnCustName').text();
                        $('#spnCustName1').text(nm);
                        $("#divLoader").hide();
                        $("#divthankyou").show();
                        $("#divquestions").hide();
                        $("#divwelcome").hide();

                        if ($("#hdGroupId").val() == "1051") {
                            $("#dvLogo").hide();
                            cuteAlert({
                                type: "success",
                                title: "Save",
                                message: "Feedback Sent Successfully!",
                                buttonText: "Okay"
                            }).then((e) => {
                                if (e == ("confirm")) {
                                    location.reload();
                                }
                            });                            
                        }
                    }
                    if (response == "false") {
                        console.log("222");
                        // $('#spnCustName').text("Esteemed Patron,");
                        $("#divLoader").hide();
                        $("#divquestions").hide();
                        $("#divwelcome").hide();
                    }
                    if (response == "pointsGiven") {
                        console.log("333");
                        $("#divLoader").hide();
                        setTimeout(cuteAlert({
                            type: "success",
                            title: "Save",
                            message: "FeedBack Save Successfully!",
                            buttonText: "Okay"
                        }), 10000);
                        window.location.replace($("#url").text() + $("#hdoutletId").val());
                    }

                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {

                    $("#divLoader").hide();
                }
            });
        }

    }
    function CheckCustomer() {
        var returnStatus = true;
        var MobileNo = $('#txtMobileNo').val();
        if ($("#hdshowrepresentative").text()) {
            if ($("#ddlsaleslist option:selected").text() == "Please Select") {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please select Sales Reprentative",
                    buttonText: "Okay"
                })
                $("#ddlsaleslist").css('border-color', 'red');
                returnStatus = false;
            }
        }
        if ($("#txtMobileNo").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter mobile number",
                buttonText: "Okay"
            })

            $('#txtMobileNo').css('border-color', 'red');
            returnStatus = false;

        }
        else {

            if (/^[6789]\d{9,9}$/.test(MobileNo)) {
            }
            else {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Mobile Number entered seems incorrect. Please try again",
                    buttonText: "Okay"
                })
                $('#txtMobileNo').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if (returnStatus == true) {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetIsCustomerExist", "Feedback")',
                data: '{mobileNo: ' + JSON.stringify($("#txtMobileNo").val()) + ', GroupId: ' + JSON.stringify($("#hdGroupId").val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response !=null) {
                        $('#hdDOB').val(response.IsDateOfBirth);
                        $('#hdDOA').val(response.IsDOA);
                        $('#hdHowToKnow').val(response.IsHowtoKnow);
                    }
                    if (response.IsFeedBackGiven) {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "Feedback for this mobile number is already captured today. Thanks!",
                            buttonText: "Okay"
                        })
                        $('#txtMobileNo').val("");
                    }
                    else {
                        if (response.CustomerName != null) {
                            $('#spnCustomerName').text(response.CustomerName);
                            $("#divLoader").hide();
                            $("#divquestions").show();
                            $("#divwelcome").hide();
                        }
                        else {
                            console.log("hi");
                            $('#spnCustomerName').text("Esteemed Patron");
                            $("#divLoader").hide();
                            $("#divquestions").show();
                            $("#divwelcome").hide();
                        }
                    }

                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
        else {
            return false;
        }

    }

    function SubmitOtherInfo()
    {
        var returnStatus = true;

        if ($("#hdMandatorygender").text() == "Mandatory") {
            console.log(333);
            if ($("#ddlGender option:selected").text() == "Please Select") {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please select gender",
                    buttonText: "Okay"
                })
                $("#ddlGender").css('border-color', 'red');
                returnStatus = false;
            }
        }
        if ($("#hdMandatoryDtBirth").text() == "Mandatory") {
            if ($("#txtBirthDate").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please enter Date of Birth",
                    buttonText: "Okay"
                })
                $('#txtBirthDate').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if ($("#hdMandatoryDtAnni").text() == "Mandatory") {
            if ($("#txtAniversary").val() == "") {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please enter Date of Anniversary",
                    buttonText: "Okay"
                })
                $('#txtAniversary').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if ($("#hdMandatoryHowTo").text() == "Mandatory") {
            if ($("#ddlKnowAboutUs option:selected").text() == "Please Select") {
                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please select How To Know about us",
                    buttonText: "Okay"
                })
                $("#ddlKnowAboutUs").css('border-color', 'red');
                returnStatus = false;
            }
        }
        var dtToday = new Date();
        var selecteddate = new Date($('#txtBirthDate').val())
        dtToday.setFullYear(dtToday.getFullYear() - 18);

        if (selecteddate > dtToday) {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Date of Birth must be older than 18 years",
                buttonText: "Okay"
            })
            returnStatus = false;
        }

        if ($("#ddlKnowAboutUs").prop('selectedIndex') !== 0) {
            howtoknow = $("#ddlKnowAboutUs :selected").text();
        }

        if (returnStatus == true) {
            console.log(howtoknow);
            var annidt;
            if ($("#txtAniversary").val() == null || $("#txtAniversary").val() == "") {
                annidt = null;
            }
            else {
                annidt = $("#txtAniversary").val();
            }
            var urlnew = $("#url").text();
            $("#divLoader").show();
             $.ajax({
            type: "POST",
                 url: '@Url.Action("SubmitotherinfowithPoints", "Feedback")',
                 data: '{MemberName: ' + JSON.stringify("") + ', Gender: ' + JSON.stringify($("#ddlGender").val()) + ',BirthDt: ' + JSON.stringify($("#txtBirthDate").val()) + ', mobileNo: ' + JSON.stringify($("#txtMobileNo").val()) + ', AnniversaryDt: ' + JSON.stringify(annidt) + ', Knowabt: ' + JSON.stringify(howtoknow) + ', GroupId: ' + JSON.stringify($("#hdGroupId").val()) + ', OutletId: ' + JSON.stringify($("#hdoutletId").val()) +'}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                 success: function (response) {
                     if (response) {
                         $("#divLoader").hide();
                         $("#txtbirthdt").val("");
                         $("#txtanniversary").val("");

                         setTimeout(cuteAlert({
                             type: "success",
                             title: "Save",
                             message: "FeedBack Save Successfully!",
                             buttonText: "Okay"
                         }), 10000);
                         //feedbackURL
                         console.log(urlnew);
                         window.location.replace(urlnew + $("#hdoutletId").val());
                     }
                     else {
                         setTimeout(cuteAlert({
                             type: "success",
                             title: "Save",
                             message: "FeedBack Save Successfully!",
                             buttonText: "Okay"
                         }), 10000);

                         window.location.replace(urlnew + $("#hdoutletId").val());
                     }
                 },
                 failure: function (response) {

                     $("#divLoader").hide();
                 },
                 error: function (response) {

                     $("#divLoader").hide();
                     setTimeout(cuteAlert({
                         type: "success",
                         title: "Save",
                         message: "FeedBack Save Successfully!",
                         buttonText: "Okay"
                     }), 10000);

                     window.location.replace(urlnew + $("#hdoutletId").val());
                 }
             });
        }
        else
        {
            return false;
        }
    }

    function ProceedToQuestion() {
        $("#divquestions").show();
        $("#divwelcome").hide();
    }


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>