@model WebApp.ViewModel.EventViewModel
@{
    ViewBag.Title = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
        .title{
            text-align:center;
            font-size:20px;
            font-style:italic;
        }
    </style>*@

<div class="container-fluid pt-3 pl-3 pr-3" style="margin-top:10px">
    @*<div class="title">
            <b>Create Event</b>
        </div>*@
    @Html.HiddenFor(model => model.objEvent.EventId, new { @id = "hdnEventId" })
    <div class="mb-2 pr-3 pt-3 pl-3 card" style="padding-bottom:20px; border-radius:20px">
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Event Name
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.EventName, new { @class = "input100", @id = "IdEventName" })
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                Event Date
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.strEventdate, new { @class = "input100", @id = "IdEventDate" })
            </div>
        </div>

        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Event Place
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.Place, new { @class = "input100", @id = "IdEventPlace" })
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                Event Type
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.DropDownListFor(model => model.objEvent.EventType, new SelectList(Model.EventType(), "Value", "Text"), "Please Select", new { @class = "input100", @id = "ddlIdEventType" })
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Event Start Date
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.EventStartDate, new { @class = "input100", @id = "IdEventStrDate", @onclick = "Showdatetime1();" })
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                Event End Date
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.EventEndDate, new { @class = "input100", @id = "IdEventEndDate", @onclick = "Showdatetime2();" })
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Bonus Points
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.BonusPoints, new { @class = "input100", @id = "IdBonusPoints" })
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                Bonus Points Expiry
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.PointsExpiryDays, new { @class = "input100", @id = "IdPointsExp" })
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                First Remainder
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextAreaFor(model => model.objEvent.C1stReminderScript, new { @class = "input100", @id = "IdFirstRemaind" })
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                First Remd Days
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.C1stRemBefore, new { @class = "input100", @id = "IdFirstRemdDays" })
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Second Remainder
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextAreaFor(model => model.objEvent.C2ndReminderScript, new { @class = "input100", @id = "IdSecondRemaind" })
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                Second Remd Days
            </div>
            
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextBoxFor(model => model.objEvent.C2ndRemBefore, new { @class = "input100", @id = "IdSecondRemdDays" })
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Description
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextAreaFor(model => model.objEvent.Desciption, new { @class = "input100", @id = "idDescription" })
            </div>
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Event Bonus Script
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @Html.TextAreaFor(model => model.objEvent.BonusMessageScript, new { @class = "input100", @id = "idScript" })
            </div>
        </div>

        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-6" style="margin-left: 18px; margin-top: 20px; ">
                <button type="button" id="btnSave" style="margin-left:25px;" class="btn btn-primary" Onclick="Validation()"><b>Submit</b></button>
                <button type="button" id="btnDownload" style="margin-left:15px;" class="btn btn-primary" Onclick="ResetForm()"><b>Cancel</b></button>
            </div>
        </div>
    </div>
</div>
@*<link rel="stylesheet" href="~/Scripts/datetimepicker-master/build/jquery.datetimepicker.min.css">
<script src="~/Scripts/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>*@

<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#IdEventDate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-0:+10"
            
        })
        $('#IdEventStrDate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-0:+10"
        })
        $('#IdEventEndDate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-0:+10"
        })
    });
    function Validation() {
        var EventName = $("#IdEventName").val();
        var EventDate = $("#IdEventDate").val();
        var EventPlace = $("#IdEventPlace").val();
        var EventType = $("#ddlIdEventType").val();
        var EventStrDate = $("#IdEventStrDate").val();
        var EventEndDate = $("#IdEventEndDate").val();
        var BonusPoints = $("#IdBonusPoints").val();
        var PointsExp = $("#IdPointsExp").val();
        var FirstRemaindScript = $("#IdFirstRemaind").val();
        var FirstRemdDays = $("#IdFirstRemdDays").val();
        var SecondRemaindScript = $("#IdSecondRemaind").val();
        var SecondRemdDays = $("#IdSecondRemdDays").val();
        var Description = $("#idDescription").val();
        var Script = $("#idScript").val();

        if (EventName =="") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Name",
                buttonText: "Okay"
            })
        }
        else if (EventDate == "")
        {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Date",
                buttonText: "Okay"
            })
        }
        else if (EventPlace == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Place",
                buttonText: "Okay"
            })
        }
        else if (EventType == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the EventType",
                buttonText: "Okay"
            })
        }
        else if (EventStrDate == "") {
              cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Start Date",
                buttonText: "Okay"
               })
        }
        else if (EventEndDate == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event End Date",
                buttonText: "Okay"
            })
        }
        else if (BonusPoints == "") {
             cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please enter Bonus Points",
                    buttonText: "Okay"
             })
        }
        else if (PointsExp == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Bonus Expiry",
                buttonText: "Okay"
            })
        }
        else if (FirstRemaindScript == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter 1st Remainder script",
                buttonText: "Okay"
            })
        }
        else if (FirstRemdDays == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Remainder Date",
                buttonText: "Okay"
            })
        }

        else
        {
            var FilterData = [];
            item = {};
            item["EventId"] = $("#hdnEventId").val();
            item["EventName"] = EventName;
            item["EventDate"] = EventDate;
            item["EventPlace"] = EventPlace;
            item["EventType"] = EventType;
            item["EventStrDate"] = EventStrDate;
            item["EventEndDate"] = EventEndDate;
            item["BonusPoints"] = BonusPoints;
            item["PointsExp"] = PointsExp;
            item["FirstRemaindScript"] = FirstRemaindScript;
            item["FirstRemdDays"] = FirstRemdDays;
            item["SecondRemaindScript"] = SecondRemaindScript;
            item["SecondRemdDays"] = SecondRemdDays;
            item["Description"] = Description;
            item["Script"] = Script;
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $("#divLoader").show();

               $.ajax({
                  type: "POST",
                  url: '@Url.Action("SaveEvent", "Events")',
                  data: '{jsonData: ' + JSON.stringify(data) + '}',
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (result) {
                      console.log(result)
                      if (result = true) {
                          cuteAlert({
                              type: "success",
                              title: "Success Title",
                              message: "Event Created Successfully",
                              buttonText: "Okay"
                          }).then(() => {
                            var urlLink = "@Url.Action("Index", "Events")";
                            window.location.href = urlLink;
                        })
                        $("#divLoader").hide();
                      }
                      else {
                          cuteAlert({
                              type: "error",
                              title: "Oops..",
                              message: "couldn't create Event",
                              buttonText: "Okay"
                          })
                      }

                    $("#divLoader").hide();
                  },
                   error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                   }
               });
         }
    }
    function ResetForm() {
        var urlLink = "@Url.Action("Index", "Events")";
        window.location.href = urlLink;
    }
    
   
    

</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
