
@{
    ViewBag.Title = "EventForm";
    Layout = null;
}
<link href="~/Content/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />

<input type="hidden" value="@ViewBag.GroupId" id="hdnGroupId" />
<input type="hidden" value="@ViewBag.EventId" id="hdnEventId" />
<input type="hidden" value="@ViewBag.Place" id="hdnPlace" />
<div class="container-fluid pt-3 pl-3 pr-3" style="margin-top:10px">
    <div class="mb-2 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">
        <div class="row mb-2 ml-2">
            <label style="padding-right:5px;padding-top:10px;">Enter Mobile Number </label>
            <input type="number" id="txtMobileNo" class="input50" />

        </div>
        @*<div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-6" style="margin-left: 18px; margin-top: 20px; ">
                <button type="button" id="btnNew" style="margin-left:25px;" class="btn btn-primary"><b>New</b></button>
                <button type="button" id="btnExisting" style="margin-left:15px;" class="btn btn-primary"><b>Existing</b></button>
            </div>
        </div>*@


        <div class="col-md-12 col-lg-12" style="padding-left: 0px !important; margin-top: 30px; ">
            <input type="hidden" id="hdnCustomerId" />
            <div class="col-md-4 col-lg-4" style="padding-left: 0px !important; margin-bottom: 10px;  ">
                <table border="1" cellpadding="5" cellspacing="5" style="display:none;" id="tblNewMemberData">
                    <tr>
                        <th colspan="2" style="padding:10px;text-align:center;">New Member Details</th>
                    </tr>
                    <tr>
                        <td style="padding:10px;">Name</td>
                        <td>
                            <input type="text" id="txtName" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">Gender</td>
                        <td>
                            <input type="text" id="txtGender" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">DOB</td>
                        <td>
                            <input type="text" id="dtDOB" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">DOA</td>
                        <td>
                            <input type="text" id="dtDOA" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">Address</td>
                        <td>
                            <input type="text" id="txtAddress" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">EmailId</td>
                        <td>
                            <input type="text" id="txtEmail" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">AlternateMobileNo</td>
                        <td>
                            <input type="text" id="txtAlternateMobileNo" class="input50" />
                        </td>
                    </tr>


                </table>
            </div>
        </div>



        <div class="col-md-12 col-lg-12" style="padding-left: 0px !important; float: left;margin-top:30px;">
            <input type="hidden" id="hdnCustomerId" />
            <div class="col-md-4 col-lg-4" style="padding-left: 0px !important; margin-bottom: 10px; ">
                <table border="1" cellpadding="5" cellspacing="5" style="float: left;display:none;" id="tblExistingDetails">
                    <tr>
                        <th colspan="2" style="padding:10px;text-align:center;">Existing Member Details</th>
                    </tr>
                    <tr>
                        <td style="padding:10px;">Name</td>
                        <td>
                            <input type="text" id="txtextName" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">Gender</td>
                        <td>
                            <input type="text" id="txtextGender" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">DOB</td>
                        <td>
                            <input type="text" id="dtextDOB" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">DOA</td>
                        <td>
                            <input type="text" id="dtextDOA" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">Address</td>
                        <td>
                            <input type="text" id="txtextAddress" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">EmailId</td>
                        <td>
                            <input type="text" id="txtextEmail" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">TotalAvailablePoints</td>
                        <td>
                            <input type="text" id="txtextAvailablePoints" class="input50" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">LastTxnDate</td>
                        <td style="padding:10px;"><input type="text" id="LastTxnDate" class="input50" /></td>
                    </tr>
                    <tr>
                        <td style="padding:10px;">PointsExpiryDate</td>
                        <td style="padding:10px;"><input type="text" id="PointsExpDate" class="input50" /></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="button-row mt-5" style="text-align:end;">
            <button class="btn btn-primary ml-auto mt-3" type="button" title="Next" id="btnSaveMemberName" tabindex="20" Onclick="Validate()">Submit</button>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#dtDOB").datepicker({

            dateFormat: "yy-mm-dd",
            maxDate: today,
            //  minDate: '-4'
        });
        $("#btnNew").on("click", function () {
            $("#tblNewMemberData").show();
            $("#tblExistingDetails").hide();

        });
        $("#btnExisting").on("click", function () {
            $("#tblNewMemberData").hide();
            $("#tblExistingDetails").show();

        });
        $("#hdnGroupId").val(@Html.Raw(ViewBag.GroupId));
    });

    $("#txtMobileNo").focusout(function () {
        var Mobileno = $("#txtMobileNo").val();
        var GroupId = $("#hdnGroupId").val();
        var Place = $("#hdnPlace").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCustomerdata", "Events")',
            //data: '{groupId: ' + JSON.stringify(GroupId) + ', Mobileno: ' + JSON.stringify(Mobileno) + ', Place: ' + JSON.stringify(Place) +'}',
            data: '{groupId: ' + JSON.stringify(GroupId) + ',Mobileno: ' + JSON.stringify(Mobileno) + ',Place: ' + JSON.stringify(Place)+'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (responce) {
                if (responce.Mobileno != null) {
                    $("#txtextName").val(responce.CustomerName);
                    $("#txtextGender").val(responce.Gender);
                    $("#dtextDOB").val(responce.DOB);
                    $("#dtextDOA").val(responce.AnniversaryDate);
                    $("#txtextAddress").val(responce.Address);
                    $("#txtextEmail").val(responce.EmailId);
                    $("#txtextAvailablePoints").val(responce.Points);
                    $("#LastTxnDate").val(responce.LastTxnDate);
                    $("#PointsExpDate").val(responce.PointExp);
                    $("#tblExistingDetails").show();
                    $("#tblNewMemberData").hide();
                }
                else {
                    $("#tblNewMemberData").show();
                    $("#tblExistingDetails").hide();
                }
            },
            error: function (responce) {
                alert("666");
            }
        });
    });

    function Validate() {
        
        var MobileNo = $("#txtMobileNo").val();
        var Name = $("#txtName").val();
        var Gender = $("#txtGender").val();
        var DOB = $("#dtDOB").val();
        var DOA = $("#dtDOA").val();
        var EmailId = $("#txtEmail").val();
        var Address = $("#txtAddress").val();       
        var AlternateMobileNo = $("#txtAlternateMobileNo").val();

        if (Name == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Name",
                buttonText: "Okay"
            })
        }
        else if (Gender == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Gender",
                buttonText: "Okay"
            })
        }
        else if (DOB == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter DOB",
                buttonText: "Okay"
            })
        }
        else if (Address == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Address",
                buttonText: "Okay"
            })
        }
        else
        {
            var FilterData = [];
            item = {};
            item["GroupId"] = $("#hdnGroupId").val();
            item["EventId"] = $("#hdnEventId").val();
            item["Place"] = $("#hdnPlace").val();
            item["Name"] = Name;
            item["Mobileno"] = MobileNo;
            item["Gender"] = Gender;
            item["DOB"] = DOB;
            item["DOA"] = DOA;
            item["EmailId"] = EmailId;
            item["Address"] = Address;
            item["AlternateNo"] = AlternateMobileNo;
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $("#divLoader").show();

               $.ajax({
                  type: "POST",
                  url: '@Url.Action("SaveNewMemberData", "Events")',
                  data: '{jsonData: ' + JSON.stringify(data) + '}',
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (result) {
                      console.log(result)
                      if (result = true) {
                          cuteAlert({
                              type: "success",
                              title: "Success Title",
                              message: "Member Details saved Successfully",
                              buttonText: "Okay"
                          }).then(() => {
                            var urlLink = "@Url.Action("EventForm", "Events")";
                            window.location.href = urlLink;
                        })
                        $("#divLoader").hide();
                      }
                      else {
                          cuteAlert({
                              type: "error",
                              title: "Oops..",
                              message: "There is problem while saving data",
                              buttonText: "Okay"
                          })
                      }

                    $("#divLoader").hide();
                  },
                   error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                   }
               });
         }
    }

</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />



