@model WebApp.ViewModel.EventViewModel
@{
    ViewBag.Title = "EventForm";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="~/Content/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />
<style>
    #loader {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 1;
        z-index: 1021;
        background: rgba(255, 255, 255, .7);
    }

    .loader-inner {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: relative;
        margin: auto;
    }

        .loader-inner:before,
        .loader-inner:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            /* border-radius: 100%;
                border: 10px solid transparent;
                border-top-color: darkblue;*/
        }

        .loader-inner:before {
            z-index: 100;
            /*background-image: url(~/Content/assets/BlueocktopusLoadingGIF.mp4);
                animation: spinner-border 1s infinite;*/
        }

        .loader-inner:after {
            /*border: 10px solid lightblue;*/
        }
</style>
<input type="hidden" value="@ViewBag.GroupId" id="hdnGroupId" />
<input type="hidden" value="@ViewBag.EventId" id="hdnEventId" />
<input type="hidden" value="@ViewBag.Place" id="hdnPlace" />
<div id="divLoader" runat="server" style="display:none">
    <div id="loader">
        <div class="loader-inner">
            <img src="~/Content/assets/BlueocktopusLoadingGIF.gif" width="100px" height="100px" />
        </div>
    </div>
</div>



<div class="container-fluid pt-3 pl-3 pr-3" style="margin-top:10px">
    <div class="mb-2 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">

        <div class="row mb-2 ml-2 justify-content-center" style="margin: 0;">
            <div class="row col-lg-10 col-md-10">
                <div class="col-lg-10 col-md-10" style="margin-bottom:20px; text-align: center;"><img src="@Model.Logo" alt="Logo" width="50%" ></div>
            </div>
        </div>
        @if (ViewBag.EventEnded == "Ended")
        {
            <div class="row justify-content-center">
                <h2>This event is expired</h2>
            </div>
        }
        else if (ViewBag.EventStarted == "Not Started")
        {
            <div class="row justify-content-center">
                <h2> This event is not started yet</h2>
            </div>
        }
        else
        {

            <div class="row mb-2 ml-2 justify-content-center" style="margin: 0;">
                <div class="col-lg-2 col-md-2" style="font-size: medium;">
                    Enter Mobile Number
                </div>
                <div class="col-lg-4 col-md-2">
                    <input type="number" id="txtMobileNo" class="input100" maxlength="10" style="font-size:medium;" />
                    <button class="btn btn-primary ml-auto mt-3" type="button" title="GO" id="btnGo" tabindex="20" style="margin-bottom:20px;">GO</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mt-5 mb-2 pr-3 pt-3 pl-3 card col-md-12 col-xl-5" id="tblNewMemberData" style="padding-bottom: 20px; border-radius: 20px; display: none">
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium;">
                            Member Name *
                        </div>
                        <div class="col-lg-4 col-md-2">
                            <input type="text" id="txtName" class="input100" style="font-size:medium;" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Gender *
                        </div>
                        <div class="col-lg-4 col-md-2">
                            <select id="ddlGender" name="Gender" class="input100" style="font-size: medium; margin-top: 10px;">
                                <option>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Date Of Birth *
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <input type="text" id="dtDOB" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Date Of Anniversary
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <input type="text" id="dtDOA" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Address *
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <textarea type="text" id="txtAddress" class="input100"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Email Id
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <Input type="text" id="txtEmail" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Alternate Mobile No
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <input type="text" id="txtAlternateMobileNo" class="input100" />
                        </div>
                    </div>
                    <div class="button-row mt-5" style="text-align:center;">
                        <button class="btn btn-primary ml-auto mt-3" type="button" title="Next" id="btnNewMember" tabindex="20" Onclick="Validate()">Submit</button>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="mt-5 mb-2 pr-3 pt-3 pl-3 card  col-md-12 col-xl-5" id="tblExistingDetails" style="padding-bottom: 20px; border-radius: 20px; display: none">
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Member Name
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <input type="text" id="txttxtName" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Gender
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <select id="ddltxtGender" name="Gender" class="input100" style="font-size:medium;">
                                <option>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Date Of Birth
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <input type="text" id="dtextDOB" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Date Of Anniversary
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <input type="text" id="dttextDOA" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Address
                        </div>
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            <textarea type="text" id="txtextAddress" class="input100"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Email Id
                        </div>
                        <div class="col-lg-4 col-md-2" style="float:left;margin-top:10px;">
                            <Input type="text" id="txtextEmail" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Alternate Mobile No
                        </div>
                        <div class="col-lg-4 col-md-2" style="float:left;margin-top:10px;">
                            <input type="text" id="txttextAlternateMobileNo" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="float:left;margin-top:10px;">
                            Total Available Points
                        </div>
                        <div class="col-lg-4 col-md-2" style="float:left;margin-top:10px;">
                            <input type="text" id="txtextAvailablePoints" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="float:left;margin-top:10px;">
                            Last Txn Date
                        </div>
                        <div class="col-lg-4 col-md-2" style="float:left;margin-top:10px;">
                            <input type="text" id="LastTxnDate" class="input100" />
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 col-md-2" style="font-size: medium; margin-top: 10px;">
                            Points Expiry Date
                        </div>
                        <div class="col-lg-4 col-md-2" style="float:left;margin-top:10px;">
                            <input type="text" id="PointsExpDate" class="input100" />
                        </div>
                    </div>
                    <div class="button-row mt-5" style="text-align:center;">
                        <button class="btn btn-primary ml-auto mt-3" type="button" title="Next" id="btnExistMember" tabindex="20">Submit</button>
                    </div>
                </div>
            </div>

        }

    </div>
</div>
<script>
    $(document).ready(function () {
            var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#dtDOB').datepicker({
                changeMonth: true,
            changeYear: true,
            yearRange: "-80:+0"
        })
        $('#dtDOA').datepicker({
                changeMonth: true,
            changeYear: true,
            yearRange: "-80:+0"
        })
        $('#dtextDOB').datepicker({
                changeMonth: true,
            changeYear: true,
            yearRange: "-80:+0"
        })
        $('#dttextDOA').datepicker({
                changeMonth: true,
            changeYear: true,
            yearRange: "-80:+0"
        })

        $("#hdnGroupId").val(@Html.Raw(ViewBag.GroupId));
        });

    //$("#txtMobileNo").focusout(function () {
    $("#btnGo").click(function () {
        var Mobileno = $("#txtMobileNo").val();
        var GroupId = $("#hdnGroupId").val();
        var Place = $("#hdnPlace").val();
        var EventId = $("#hdnEventId").val();

        if (Mobileno == '') {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Mobile No",
                buttonText: "Okay"
            })
        }
        else if ((Mobileno.length) != 10)
        {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Mobile number with 10 digits",
                buttonText: "Okay"
            })
        }
        
        else {
            $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCustomerdata", "Events")',
            //data: '{groupId: ' + JSON.stringify(GroupId) + ', Mobileno: ' + JSON.stringify(Mobileno) + ', Place: ' + JSON.stringify(Place) +'}',
            data: '{groupId: ' + JSON.stringify(GroupId) + ',Mobileno: ' + JSON.stringify(Mobileno) + ',Place: ' + JSON.stringify(Place) + ',EventId: ' + JSON.stringify(EventId) +'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (responce) {
                console.log(responce);
                if (responce.Mobileno != null) {

                    if (responce.CustomerAvailFlag != null) {
                        cuteAlert({
                            type: "question",
                            title: "Bonus Points Notification",
                            message: "You can update your details, as you already enrolled in event you will not get bonus points.",
                            confirmText: "Yes",
                            cancelText: "No"
                        }).then((e) => {
                            if (e == ("confirm")) {
                                $("#txttxtName").val(responce.CustomerName);

                                if (responce.Gender == "M") {
                                    $("#ddltxtGender").val("Male");
                                }
                                else if (responce.Gender == "F") {
                                    $("#ddltxtGender").val("Female");
                                }
                                $("#dtextDOB").val(responce.strDOB);
                                $("#dttextDOA").val(responce.strDOA);
                                $("#txtextAddress").val(responce.Address);
                                $("#txtextEmail").val(responce.EmailId);
                                $("#txtextAvailablePoints").val(responce.Points);
                                $("#LastTxnDate").val(responce.strLsttxndate);
                                $("#PointsExpDate").val(responce.strPointExp);
                                $("#txttextAlternateMobileNo").val(responce.AlternateMobileno);
                                $("#LastTxnDate").attr("disabled", "disabled");
                                $("#PointsExpDate").attr("disabled", "disabled");
                                $("#txtextAvailablePoints").attr("disabled", "disabled");
                                $("#tblExistingDetails").show();
                                $("#tblNewMemberData").hide();
                                $("#divLoader").hide();
                            }
                            else {
                                $("#divLoader").hide();
                                location.reload();
                            }
                        })
                    }

                    else {
                        $("#txttxtName").val(responce.CustomerName);

                        if (responce.Gender == "M") {
                            $("#ddltxtGender").val("Male");
                        }
                        else if (responce.Gender == "F") {
                            $("#ddltxtGender").val("Female");
                        }
                        $("#dtextDOB").val(responce.strDOB);
                        $("#dttextDOA").val(responce.strDOA);
                        $("#txtextAddress").val(responce.Address);
                        $("#txtextEmail").val(responce.EmailId);
                        $("#txtextAvailablePoints").val(responce.Points);
                        $("#LastTxnDate").val(responce.strLsttxndate);
                        $("#PointsExpDate").val(responce.strPointExp);
                        $("#txttextAlternateMobileNo").val(responce.AlternateMobileno);
                        $("#LastTxnDate").attr("disabled", "disabled");
                        $("#PointsExpDate").attr("disabled", "disabled");
                        $("#txtextAvailablePoints").attr("disabled", "disabled");
                        $("#tblExistingDetails").show();
                        $("#tblNewMemberData").hide();
                        $("#divLoader").hide();
                    }
                }
                else {
                    $("#tblNewMemberData").show();
                    $("#tblExistingDetails").hide();
                    $("#divLoader").hide();
                }
            },
            error: function (responce) {
                alert("666");
            }
        });

        }
    });



    function Validate() {

        var MobileNo = $("#txtMobileNo").val();
        var Name = $("#txtName").val();
        var Gender = $("#ddlGender").val();
        var DOB = $("#dtDOB").val();
        var DOA = $("#dtDOA").val();
        var EmailId = $("#txtEmail").val();
        var Address = $("#txtAddress").val();
        var AlternateMobileNo = $("#txtAlternateMobileNo").val();

        if (Name == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Name",
                buttonText: "Okay"
            })
        }
        else if (Gender == "Select") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Gender",
                buttonText: "Okay"
            })
        }
        else if (DOB == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter DOB",
                buttonText: "Okay"
            })
        }
        else if (Address == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Address",
                buttonText: "Okay"
            })
        }
        else {
            var FilterData = [];
            item = {};
            item["GroupId"] = $("#hdnGroupId").val();
            item["EventId"] = $("#hdnEventId").val();
            item["Place"] = $("#hdnPlace").val();
            item["Name"] = Name;
            item["Mobileno"] = MobileNo;
            item["Gender"] = Gender;
            item["DOB"] = DOB;
            item["DOA"] = DOA;
            item["EmailId"] = EmailId;
            item["Address"] = Address;
            item["AlternateNo"] = AlternateMobileNo;
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveNewMemberData", "Events")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result = true) {
                        cuteAlert({
                            type: "success",
                            title: "Success Title",
                            message: "Member Details saved Successfully",
                            buttonText: "Okay"
                        }).then(() => {
                            window.location.reload(history.back());
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is problem while saving data",
                            buttonText: "Okay"
                        })
                    }

                    $("#divLoader").hide();
                },
                error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                }
            });
        }

    }
    $("#btnExistMember").click(function () {

        var Gender = $("#ddltxtGender").val();
        if (Gender == "Select") {
            Gender = null;
        }

            var FilterData = [];
            item = {};
            item["GroupId"] = $("#hdnGroupId").val();
            item["EventId"] = $("#hdnEventId").val();
            item["Place"] = $("#hdnPlace").val();
            item["Name"] = $("#txttxtName").val();
            item["Mobileno"] = $("#txtMobileNo").val();
            item["Gender"] = Gender;
            item["DOB"] = $("#dtextDOB").val();
            item["DOA"] = $("#dttextDOA").val();
            item["EmailId"] = $("#txtextEmail").val();
            item["Address"] = $("#txtextAddress").val();
            item["AlternateNo"] = $("#txttextAlternateMobileNo").val();
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveNewMemberData", "Events")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result = true) {
                        cuteAlert({
                            type: "success",
                            title: "Success Title",
                            message: "Member Details saved Successfully",
                            buttonText: "Okay"
                        }).then(() => {
                            window.location.reload(history.back());
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is problem while saving data",
                            buttonText: "Okay"
                        })
                    }

                    $("#divLoader").hide();
                },
                error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                }
            });

        });

</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />



