@model DLC.ViewModel.DLCDashboardFrontData
@using System.Configuration;
@{
    var baseURL = ConfigurationManager.AppSettings["baseDLCUrl"].ToString();
}
<!doctype html>
<html lang="en">
<head>
    <title>DLC Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/DLCMain.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <input type="hidden" id="hdnOtpOrPassword" />
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-4">
                    <div class="login-wrap py-5" id="dvMain" style="box-shadow: 5px 5px 19px 3px #888888;">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(@Model.objDashboardConfig.UseLogoURL);"></div>
                        <h3 style="text-align:center;">Welcome</h3>
                        <p style="text-align:center;">
                            Sign-up or Log-in now and start earning tons of reward points!!! <br />
                            @*साईन -अप किंवा लॉगिन करा आणि भरपूर रिवॉर्ड पॉईंट्स मिळवा*@
                        </p>
                        <form action="#" class="login-form">
                            <div class="form-group row">
                                @Html.DropDownListFor(model => model.objDashboardConfig.CountryCode, new SelectList(ViewBag.Codes, "Code", "Code"), htmlAttributes: new { @class = "input15", @style = "height:30px;margin-top:15px;", @id = "ddlCountryCode" })
                                <div class="icon d-flex align-items-end justify-content-end" style="margin-left:52px;padding-bottom:13px;"><span class="fa fa-mobile"></span></div>
                                <input type="number" id="txtMobileNo" class="form-control" style="width:75%;" placeholder="Mobile Number" required>

                                <input type="password" id="txtPassword" class="form-control" style="width: 75%; margin-left: 58px;display:none;" placeholder="Password" required>
                                <a href="@Url.Action("ResetPassword", "Start")" id="lnkForgotPassword" style="display:none;margin-left:60px;"> Forgot Password</a>

                                <input type="password" id="txtOtp" class="form-control" style="width: 75%; margin-left: 58px; display: none;" placeholder="OTP" required>
                                <button class="btn form-control btn-primary1" id="btnResend" onclick="ResendOTP();" style="width:90%;margin-top:10px;margin-left:13px;display:none;">Resend OTP</button>
                                <div class="optoutCHK mt-4" id="dvTNC" style="display:none;">
                                    <input type="checkbox" id="chkTerms" style="cursor: pointer; margin-right: 5px;height:15px;width:15px;" />
                                    <span><label for="chkTerms" style="cursor: pointer;"> I agree to the Brand Loyalty Terms & Conditions</label></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <button type="button" id="btnLogin" class="btn form-control btn-primary1  submit px-3" style="font-weight:bold;">Get Started</button>
                                <button type="button" id="btnSubmit" class="btn form-control btn-primary1  submit px-3" style="font-weight:bold;display:none;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @if (Model.objDashboardConfig.ShowLogoToFooter)
            {
                <div class="row justify-content-center" style="margin-top: 20px;">
                    <div class="col-md-8 col-lg-4" style="text-align: center; font-size: 18px; line-height: 21px; color: #6f7880; font-weight: bold; margin-bottom: 3px; ">
                        Powered By <br />
                        <img src="~/Content/assets/images/Blue-Ocktopus-TLC_white.jpg" width="150" />
                    </div>
                </div>
            }
        </div>
    </section>


    <script src="~/Content/popper.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/main.js"></script>
    <script>
        $(document).ready(function () {
            var color = '@Model.objDashboardConfig.HeaderColor';
            var fontcolor = '@Model.objDashboardConfig.FontColor';

            document.querySelector("#dvMain").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            document.querySelector("#dvMain").style.color = fontcolor

            $("#btnLogin").on("click", function () {
                CheckUser();
            });
            $("#btnSubmit").on("click", function () {
                ValidateUser();
            });
        });
        function CheckUser() {
            var status = true;
            if ($("#txtMobileNo").val() == "") {
                toastr.error('Please enter mobile no');
                status = false;
            }
            else if (/^[6789]\d{9,9}$/.test($("#txtMobileNo").val())) {
            }
            else {
                toastr.error('Please enter valid mobile no');
                status = false;
            }
            if (status) {
                var code = $("#ddlCountryCode").val();
                var mobileno = $("#txtMobileNo").val();
                var data = code + mobileno;
                $("#divLoader").show();
                    $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckandSendOTP", "Start")',
                        data: '{MobileNo: ' + JSON.stringify(data) + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == "Password") {
                                $("#hdnOtpOrPassword").val("Password");
                                $("#txtPassword").show();
                                $("#txtOtp").hide();
                                $("#btnSubmit").show();
                                $("#btnLogin").hide();
                                $("#btnResend").hide();
                                $("#lnkForgotPassword").show();
                                $("#dvTNC").show();


                            }
                            if (result == "OTP") {
                                $("#hdnOtpOrPassword").val("OTP");
                                $("#txtPassword").hide();
                                $("#txtOtp").show();
                                $("#btnSubmit").show();
                                $("#btnLogin").hide();
                                $("#btnResend").show();
                                $("#lnkForgotPassword").hide();

                                $("#dvTNC").show();
                            }

                            $("#divLoader").hide();
                        },
                        error: function (result) {
                            alert(111)
                            console.log(result.responseText)
                        }
                    });
                $("#divLoader").hide();
            }

        }

        function ValidateUser() {
            var status = true;
            if ($("#hdnOtpOrPassword").val() == "OTP") {
                if ($("#txtOtp").val() == "") {
                    toastr.error('Please enter OTP');
                    status = false;
                }
            }
            if ($("#hdnOtpOrPassword").val() == "Password") {
                if ($("#txtPassword").val() == "") {
                    toastr.error('Please enter Password');
                    status = false;
                }
            }
            if ($("#chkTerms").is(":checked")) {
            }
            else {
                toastr.warning('Please accept the loyalty program TnC to continue!!!!');
                status = false;
                return false;
            }
            if (status) {
                var code = $("#ddlCountryCode").val();
                var mobileno = $("#txtMobileNo").val();
                var data = code + mobileno;
                var OtpOrPassword = "";
                if ($("#hdnOtpOrPassword").val() == "Password") {
                    OtpOrPassword = $("#txtPassword").val();
                }
                if ($("#hdnOtpOrPassword").val() == "OTP") {
                    OtpOrPassword = $("#txtOtp").val();
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ValidateUser", "Start")',
                    data: '{mobileno: ' + JSON.stringify(mobileno) + ',code: ' + JSON.stringify(code) + ',OtpOrPassword: ' + JSON.stringify(OtpOrPassword) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result)
                        if (result != "" || result != null) {
                            var url = '@baseURL' + result;
                            window.location.href = url;
                        }

                        $("#divLoader").hide();
                    },
                    error: function (result) {
                    }
                });
            }
        }

        function ResendOTP() {
            var code = $("#ddlCountryCode").val();
            var mobileno = $("#txtMobileNo").val();
            var data = code + mobileno;
            $("#divLoader").show();
                 $.ajax({
                    type: "POST",
                    url: '@Url.Action("ResentOTP", "Start")',
                     data: '{mobileNo: ' + JSON.stringify(data) + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result) {
                                toastr.success('OTP resent successfully !!!');
                            }
                            else
                            {
                                toastr.error('There is problem while sending OTP !!!');
                            }
                            $("#divLoader").hide();
                        },
                        error: function (result) {                            
                            console.log(result.responseText)
                        }
                 });
            $("#divLoader").hide();
        }


    </script>
</body>
</html>


