@model DLC.ViewModel.DLCDashboardFrontData
@using System.Configuration;
@using BOTS_BL.Models;
@using DLC.ViewModel;
@{
    var baseURL = ConfigurationManager.AppSettings["baseDLCUrl"].ToString();
    var sessionVariables = (SessionVariables)Session["SessionVariables"];
    var logoSize = sessionVariables.objDashboardConfig.UseLogo;
}
<!doctype html>
<html lang="en">
<head>
    <title>DLC Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/DLCMain.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /*  background: linear-gradient(to right, #02159B, #4CAF50);*/
            font-family: 'Roboto', sans-serif;
        }

        .container1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            padding: 20px;
        }

        .login-box {
            background: rgba(255, 255, 255, 0.95);
            border-radius: 20px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
            /*padding: 40px 60px;*/
            width: 100%;
            max-width: 500px;
            max-height: 550px;
            transition: all 0.3s ease-in-out;
            min-height: 188px;
        }

            .login-box:hover {
                transform: scale(1.05);
            }

        .header-section {
            text-align: center;
            border-radius: 20px 20px 0 0;
            /*background: linear-gradient(to right, #02159B, #4CAF50);*/
            color: white;
            padding: 10px 25px;
        }

        button.resend {
            background-color: transparent;
            border: none;
            font-weight: 600;
            color: #3DAFE1;
            cursor: pointer;
        }

            button.resend i {
                margin-left: 5px;
            }

        .logo {
            width: 70%;
        }

        .heading {
            margin: 0;
        }

        .content-section {
            text-align: center;
            padding: 0px 25px;
        }

        .description {
            color: #000;
            margin-bottom: 10px;
            font-size: 1.1em;
            font-weight: 600;
        }

        .form-group-inline {
            /*display: flex;*/
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .country-code {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .dropdown {
            width: 16%;
            padding: 13px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .input-field {
            flex: 1;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .input-field1 {
            flex: 1;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-left: 4%;
            width: 81%;
        }

        .input-field2 {
            flex: 1;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-left: 18%;
            width: 81%;
        }

        .link-forgot {
            text-align: right;
            color: #02159B;
            text-decoration: none;
            font-size: 0.9em;
            padding: 10px;
        }

            .link-forgot:hover {
                text-decoration: underline;
            }

        .btn-action {
            padding: 12px;
            padding-left: 30px;
            padding-right: 30px;
            border: none;
            border-radius: 20px;
            /* background: linear-gradient(to right, #4CAF50, #02159B);*/
            background: #2828b8;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

            .btn-action:hover {
                background-color: #2828b8;
            }

        .btn-resend {
            border: none;
            padding: 12px;
            border-radius: 20px;
            background: linear-gradient(to right, #FF5722, #D84315);
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

            .btn-resend:hover {
                background-color: #D84315;
            }

        .terms-conditions {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 0.9em;
            gap: 10px;
        }

        .powered-by {
            text-align: center;
            color: #666;
            margin-top: 20px;
        }

        @@media screen and (min-width: 320px) and (max-width: 667px) {

            .country-code {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .dropdown {
                width: 27%;
                padding: 13px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }

            .input-field {
                flex: 1;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                width: 0%;
            }

            .input-field1 {
                flex: 1;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-left: 16%;
                width: 70%;
            }

            .input-field2 {
                flex: 1;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-left: 30%;
                width: 70%;
            }
        }

        #resend-otp-group {
            text-align: center;
        }

        button.resend {
            display: inline-block;
            margin-top: 2px;
        }

        backgroundimage {
            width: 100%;
            height: 100%
        }
    </style>
</head>
<body style="background-image: url(../Content/assets/images/DLCBackground.png);">
    <section class="ftco-section">
        <div class="container1">
            <input type="hidden" id="hdnOtpOrPassword" />
            <div class="login-box">
                <div class="header-section" id="dvMain">
                    @if (logoSize == "Small")
                    {
                        <img src="@Model.objDashboardConfig.UseLogoURL" alt="Company Logo" class="logo" width="200" height="100" />
                    }
                    @if (logoSize == "Medium")
                    {
                        <img src="@Model.objDashboardConfig.UseLogoURL" alt="Company Logo" class="logo" width="300" height="150" />
                    }
                    @if (logoSize == "Big")
                    {
                        <img src="@Model.objDashboardConfig.UseLogoURL" alt="Company Logo" class="logo" width="400" height="200" />
                    }
                </div>
                <div class="content-section">
                    <p class="description">@Model.objDashboardConfig.SignInText</p>
                    <div class="form-group-inline">
                        <div class="country-code">

                            @Html.DropDownListFor(model => model.objDashboardConfig.CountryCode,
                                                   new SelectList(ViewBag.Codes, "Code", "Code"),
                                                   new { @class = "dropdown", @id = "ddlCountryCode" })
                            <input type="number" id="txtMobileNo" name="phone" class="input-field" oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10);">
                            @*<input type="number" id="txtMobileNo" name="phone" class="input-field" placeholder="Enter your phone number" />*@
                        </div>
                    </div>
                    <div class="form-group hidden-group" id="password-group" style="display:none;">
                        <div style="width:16%;"></div>
                        <input type="password" id="txtPassword" class="input-field2" placeholder="Password" />
                        <div>
                            <a href="@Url.Action("ResetPassword", "Start")" id="lnkForgotPassword" class="link-forgot">Forgot Password?</a>
                        </div>

                    </div>
                    <div class="form-group hidden-group row" id="otp-group" style="display:none;">
                        <div style="width:16%;"></div>
                        @*<input type="password" id="txtOtp" class="input-field1" placeholder="Enter OTP" style=" width: 80%;margin-right:15px;" />*@
                        <input type="number" id="txtOtp" class="input-field1" placeholder="Enter OTP" style=" width: 80%;margin-right:15px;" />

                    </div>

                    <div class="terms-conditions" id="terms-group" style="display:none;">
                        <input type="checkbox" id="chkTerms" style="width:20px;height:20px;cursor:pointer;" checked />
                        <label for="chkTerms" style="margin-bottom:0px !important;">I agree to the Brand Loyalty Terms & Conditions</label>
                    </div>
                    <div>
                        <button type="button" id="btnLogin" class="btn-action">Get Started</button>
                        <button type="button" id="btnSubmit" class="btn-action" style="display: none; width: 180px;">Login</button>
                    </div>
                    <div>
                        <button class="resend" id="btnResend" onclick="ResendOTP();">Resend OTP<i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
                @if (Model.objDashboardConfig.ShowLogoToFooter)
                {
                    <div class="powered-by">
                        <span>Powered by</span>
                        <img src="~/Content/assets/images/Blue-Ocktopus-TLC_white.jpg" width="150" alt="Company Logo" />
                    </div>
                }
            </div>
        </div>
    </section>





    <footer class="footer">
    </footer>

    <script src="~/Content/popper.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/main.js"></script>
    <script>
        $(document).ready(function ()
        {

            var color = '@Model.objDashboardConfig.HeaderColor';
            var fontcolor = '@Model.objDashboardConfig.FontColor';

            //document.querySelector("#dvMain").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            //document.querySelector("#btnLogin").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            //document.querySelector("#btnSubmit").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            document.querySelector("#dvMain").style.color = fontcolor

            $("#btnLogin").on("click", function ()
            {

                CheckUser();
            });
            $("#btnSubmit").on("click", function () {
                ValidateUser();
            });
        });
        function CheckUser() {

            var status = true;

            var mo = $("#txtMobileNo").val();
            if ($("#txtMobileNo").val() == "")
            {
                toastr.error('Please enter mobile no');
                status = false;
            }
            else if (/^[6789]\d{9,9}$/.test($("#txtMobileNo").val()))
            {

            }
            else
            {
                toastr.error('Please enter valid mobile no');
                status = false;
            }
            if (status)
            {

                var code = $("#ddlCountryCode").val();
                var mobileno = $("#txtMobileNo").val();
                var data = code + mobileno;

                $("#divLoader").show();
                    $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckandSendOTP", "Start")',
                        data: '{MobileNo: ' + JSON.stringify(data) + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result)
                        {
                            console.log(result);
                            if (result == "Password")
                            {
                                $("#hdnOtpOrPassword").val("Password");
                                $("#txtPassword").parent().show(); // Hide the parent div of the password field
                                $("#txtOtp").parent().hide();
                                $("#btnSubmit").show();
                                $("#btnLogin").hide();
                                $("#btnResend").hide();
                                $("#lnkForgotPassword").show();
                                $("#dvTNC").show();
                                $("#terms-group").show();
                                $("#txtMobileNo").prop("disabled",true);
                            }
                            if (result == "OTP") {
                                $("#hdnOtpOrPassword").val("OTP");
                                $("#txtPassword").parent().hide(); // Hide the parent div of the password field
                                $("#txtOtp").parent().show();
                                $("#txtOtp1").parent().show();
                                $("#btnSubmit").show();
                                $("#btnLogin").hide();
                                $("#btnResend").show();
                                $("#lnkForgotPassword").hide();
                                $("#terms-group").show();
                                $("#dvTNC").show();
                                $("#txtMobileNo").prop("disabled", true);
                            }

                            $("#divLoader").hide();
                        },
                        error: function (result) {

                            console.log(result.responseText)
                        }
                    });
                $("#divLoader").hide();
            }

        }

        function ValidateUser() {
            var status = true;
            if ($("#hdnOtpOrPassword").val() == "OTP")
            {
                if ($("#txtOtp").val() == "")
                {
                    toastr.error('Please enter OTP');
                    status = false;
                }
            }
            if ($("#hdnOtpOrPassword").val() == "Password")
            {
                if ($("#txtPassword").val() == "")
                {
                    toastr.error('Please enter Password');
                    status = false;
                }
            }
            if ($("#chkTerms").is(":checked"))
            {
            }
            else
            {
                toastr.warning('Please accept the loyalty program TnC to continue!!!!');
                status = false;
                return false;
            }
            if (status)
            {
                var code = $("#ddlCountryCode").val();
                var mobileno = $("#txtMobileNo").val();
                var data = code + mobileno;
                var OtpOrPassword = "";
                if ($("#hdnOtpOrPassword").val() == "Password")
                {
                    OtpOrPassword = $("#txtPassword").val();
                }
                if ($("#hdnOtpOrPassword").val() == "OTP")
                {
                    OtpOrPassword = $("#txtOtp").val();
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ValidateUser", "Start")',
                    data: '{mobileno: ' + JSON.stringify(mobileno) + ',code: ' + JSON.stringify(code) + ',OtpOrPassword: ' + JSON.stringify(OtpOrPassword) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result)
                    {
                        if (result != "" && result != null && result != "False") {

                            var url = '@baseURL' + result;
                            window.location.href = url;
                        }
                        else {
                            toastr.error('Invalid OTP. Please enter correct OTP');
                        }

                        $("#divLoader").hide();
                    },
                    error: function (result) {

                    }
                });
            }
        }

        function ResendOTP() {
            var code = $("#ddlCountryCode").val();
            var mobileno = $("#txtMobileNo").val();
            var data = code + mobileno;
            $("#divLoader").show();
                 $.ajax({
                    type: "POST",
                    url: '@Url.Action("ResentOTP", "Start")',
                     data: '{mobileNo: ' + JSON.stringify(data) + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result) {
                                toastr.success('OTP resent successfully !!!');
                            }
                            else
                            {
                                toastr.error('There is problem while sending OTP !!!');
                            }
                            $("#divLoader").hide();
                        },
                        error: function (result) {
                            console.log(result.responseText)
                        }
                 });
            $("#divLoader").hide();
        }


    </script>
</body>
</html>


