@model DLC.ViewModel.DLCDashboardFrontData
@using System.Configuration;
@{
    var baseURL = ConfigurationManager.AppSettings["baseDLCUrl"].ToString();
}
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>DLC Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/popper.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/main.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/DLCMain.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          /*  background: linear-gradient(to right, #02159B, #4CAF50);*/
            font-family: 'Roboto', sans-serif;
        }

        .container1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            padding: 20px; /* Add padding to avoid content overflow on smaller screens */
        }

        .login-box {
            background: rgba(255, 255, 255, 0.95); /* Increase opacity for better contrast */
            border-radius: 20px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Increase shadow for better depth */
            padding: 30px;
            width: 100%;
            max-width: 450px; /* Slightly wider for better layout */
            transition: all 0.3s ease-in-out;
        }

            .login-box:hover {
                transform: scale(1.05);
            }

        .header-section {
            text-align: center;
            border-radius: 20px 20px 0 0;
            background: linear-gradient(to right, #02159B, #4CAF50);
            color: white;
            padding: 25px; /* Slightly larger padding for better visual impact */
        }

        .logo {
            width: 100px; /* Increase logo size for better visibility */
           
        }

        .heading {
            margin: 0;
        }

        .content-section {
            text-align: center;
            padding: 25px; /* Larger padding for content section */
        }

        .description {
            color: #000;
            margin-bottom: 20px;
            font-size: 1.1em;
            font-weight: 600;
        }
           

        .input-field {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            width: 100%; /* Make input fields full width */
        }

        .btn-action {
            padding: 12px; /* Increase padding for better touch interaction */
            border: none;
            border-radius: 20px;
            /*background: linear-gradient(to right, #4CAF50, #02159B);*/
            background: #2828b8;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

            .btn-action:hover {
                background-color: #2828b8; /* Darker shade for hover */
            }

        .btn-resend {
            border: none;
            padding: 12px; /* Consistent padding with other buttons */
            border-radius: 20px;
            background: linear-gradient(to right, #FF5722, #D84315);
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

            .btn-resend:hover {
                background-color: #D84315;
            }

        .terms-conditions {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 0.9em;
            gap: 10px; /* Add spacing between checkbox and label */
        }

        .powered-by {
            text-align: center;
            color: #666;
            margin-top: 20px;
        }

        @@media screen and (max-width: 450px) {
            .container1 {
                padding: 15px; /* Increased padding for small screens */
            }

            .login-box {
                padding: 20px; /* Adjust padding to avoid content overflow */
            }

            .input-field,
            .dropdown {
                width: 100%; /* Make fields full-width for smaller screens */
            }

            .btn-action,
            .btn-resend {
                width: 100%; /* Full-width buttons for smaller screens */
            }
        }
    </style>
</head>
<body>
    @*<section class="ftco-section">
            <div class="container">
                <input type="hidden" id="hdnMobileNo" value="@ViewBag.MobileNo" />
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap py-5" id="dvMain">
                            <div class="img d-flex align-items-center justify-content-center" style="background-image: url(@Model.objDashboardConfig.UseLogoURL);"></div>
                            <h3 style="text-align:center;">Reset Your Password</h3>
                            <form action="#" class="login-form">
                                <div class="justify-content-center" style="text-align:center;" id="dvOTP">
                                    <input type="password" id="txtOTP" class="form-control"placeholder="OTP" required>
                                    <button type="button" id="btnVerifyOTP" class="btn form-control btn-primary1 submit px-3 mt-2" style="font-weight: bold; width: 75%;">Verify OTP</button>

                                </div>
                                <div class="form-group row" id="dvPWD" style="display:none;">
                                    <input type="password" id="txtPassword" class="form-control" placeholder="Password" required>
                                    <input type="password" id="txtConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                                </div>
                                <div class="form-group" id="dvSubmitBtn" style="display: none; text-align: center;">
                                    <button type="button" id="btnSubmit" class="btn form-control btn-primary1 submit px-3" style="font-weight: bold; width: 75%;">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="ftco-section">
        <div class="container1">
            <input type="hidden" id="hdnMobileNo" value="@ViewBag.MobileNo" />

            <div class="login-box" >
                <div class="header-section"id="dvMain"  style="background-image: url('@Url.Content("~/img/Header2.png")');">
                    <img src="@Model.objDashboardConfig.UseLogoURL" alt="Company Logo" class="logo" />
                    @*<h2 class="heading" style="color: white;">Reset Your Password</h2>*@
                </div>

                <div class="content-section">
                    <p class="description">Securely create a new password to regain access to your account.!</p>

                    <div class="form-group hidden-group" id="dvOTP">
                        <input type="password" id="txtOTP" class="form-control input-field" placeholder="OTP" required>
                        <button type="button" id="btnVerifyOTP" class="btn-action">Verify OTP</button>
                    </div>

                    <div class="form-group hidden-group" id="dvPWD" style="display:none;">
                        <input type="password" id="txtPassword" class="input-field" placeholder="Password" required>
                        <input type="password" id="txtConfirmPassword" class="form-control input-field" placeholder="Confirm Password" required>
                    </div>

                    <div class="form-group" id="dvSubmitBtn" style="display: none;">
                        <button type="button" id="btnSubmit" class="btn-action">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <script>
        $(document).ready(function () {
            var color = '@Model.objDashboardConfig.HeaderColor';
            var fontcolor = '@Model.objDashboardConfig.FontColor';

            //document.querySelector("#dvMain").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            //document.querySelector("#btnSubmit").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            //document.querySelector("#btnVerifyOTP").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            //document.querySelector("#dvMain").style.color = fontcolor

            $("#btnVerifyOTP").on("click", function () {
                VerifyOTP();
            });
            $("#btnSubmit").on("click", function () {
                SetPassword();
            });
        });

        function VerifyOTP() {
            if ($("#txtOTP").val() != "") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("VerifyOTP", "Start")',
                    data: '{otp: ' + JSON.stringify($("#txtOTP").val()) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result)
                    {

                        if (result)
                        {
                            $("#dvOTP").hide();
                            $("#dvPWD").show();
                            $("#dvSubmitBtn").show();
                        }
                        else {
                            toastr.error('Please enter correct OTP');
                        }

                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText);
                        $("#divLoader").hide();
                    }
                });
            }
            else {
                toastr.error('Please enter OTP');
            }
        }

        function SetPassword() {
            if ($("#txtPassword").val() == "") {
                toastr.error('Password can not be blank');
                return false;
            }
            else if ($("#txtConfirmPassword").val() == "") {
                toastr.error('Confirm password can not be blank');
                return false;
            }
            else if ($("#txtPassword").val() == $("#txtConfirmPassword").val()) {
                var mobileNo = $("#hdnMobileNo").val();
                var password = $("#txtPassword").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InsertPassword", "Start")',
                    data: '{mobileNo: ' + JSON.stringify(mobileNo) + ',password: ' + JSON.stringify(password) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        var url = '@baseURL' + "dashboard/Index";
                        window.location.href = url;

                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText);
                    }
                });
            }
            else {
                toastr.error('Password and Confirm Password should be same !!!');
            }
        }
    </script>
</body>
</html>