@model DLC.ViewModel.DLCDashboardFrontData
@using System.Configuration;
@{
    var baseURL = ConfigurationManager.AppSettings["baseDLCUrl"].ToString();
}
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>DLC Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/popper.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/main.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/DLCMain.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <input type="hidden" id="hdnMobileNo" value="@ViewBag.MobileNo" />
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5" id="dvMain">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(@Model.objDashboardConfig.UseLogoURL);"></div>
                        <h3 style="text-align:center;">Reset Your Password</h3>
                        <form action="#" class="login-form">
                            <div class="justify-content-center" style="text-align:center;" id="dvOTP">
                                <input type="password" id="txtOTP" class="form-control"placeholder="OTP" required>
                                <button type="button" id="btnVerifyOTP" class="btn form-control btn-primary1 submit px-3 mt-2" style="font-weight: bold; width: 75%;">Verify OTP</button>

                            </div>
                            <div class="form-group row" id="dvPWD" style="display:none;">
                                <input type="password" id="txtPassword" class="form-control" placeholder="Password" required>
                                <input type="password" id="txtConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group" id="dvSubmitBtn" style="display: none; text-align: center;">
                                <button type="button" id="btnSubmit" class="btn form-control btn-primary1 submit px-3" style="font-weight: bold; width: 75%;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <script>
        $(document).ready(function () {
            var color = '@Model.objDashboardConfig.HeaderColor';
            var fontcolor = '@Model.objDashboardConfig.FontColor';

            document.querySelector("#dvMain").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            document.querySelector("#dvMain").style.color = fontcolor

            $("#btnVerifyOTP").on("click", function () {
                VerifyOTP();
            });
            $("#btnSubmit").on("click", function () {
                SetPassword();
            });
        });

        function VerifyOTP() {
            if ($("#txtOTP").val() != "") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("VerifyOTP", "Start")',
                    data: '{otp: ' + JSON.stringify($("#txtOTP").val()) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                         
                        if (result) {
                            $("#dvOTP").hide();
                            $("#dvPWD").show();
                            $("#dvSubmitBtn").show();
                        }
                        else {
                            toastr.error('Please enter correct OTP');
                        }

                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText);
                        $("#divLoader").hide();
                    }
                });
            }
            else {
                toastr.error('Please enter OTP');
            }
        }

        function SetPassword() {
            if ($("#txtPassword").val() == "") {
                toastr.error('Password can not be blank');
                return false;
            }
            else if ($("#txtConfirmPassword").val() == "") {
                toastr.error('Confirm password can not be blank');
                return false;
            }
            else if ($("#txtPassword").val() == $("#txtConfirmPassword").val()) {
                var mobileNo = $("#hdnMobileNo").val();
                var password = $("#txtPassword").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InsertPassword", "Start")',
                    data: '{mobileNo: ' + JSON.stringify(mobileNo) + ',password: ' + JSON.stringify(password) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        var url = '@baseURL' + "dashboard/Index";
                        window.location.href = url;

                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText);
                    }
                });
            }
            else {
                toastr.error('Password and Confirm Password should be same !!!');
            }
        }
    </script>
</body>
</html>