@model DLC.ViewModel.DLCDashboardFrontData
@using System.Configuration;
@{
    var baseURL = ConfigurationManager.AppSettings["baseDLCUrl"].ToString();
}
@{
    ViewBag.Title = "Set Password";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>DLC Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/DLCMain.css" rel="stylesheet" />
    <script src="~/Content/cute-alert-master/cute-alert.js"></script>
    <link href="~/Content/cute-alert-master/style-alert.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <input type="hidden" id="hdnMobileNo" value="@ViewBag.MobileNo" />
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5" id="dvMain">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(@Model.objDashboardConfig.UseLogoURL);"></div>
                        <h3 style="text-align:center;">Set Your Password</h3>
                        <form action="#" class="login-form">
                            <div class="form-group row">
                                <input type="password" id="txtPassword" class="form-control" style="width:75%;" placeholder="Password" required>
                                <input type="password" id="txtConfirmPassword" class="form-control" style="width: 75%;" placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group">
                                <button type="button" id="btnSubmit" class="btn form-control btn-primary  submit px-3" style="font-weight:bold;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/popper.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/main.js"></script>

    <script>
        $(document).ready(function () {
            var color = '@Model.objDashboardConfig.HeaderColor';
            var fontcolor = '@Model.objDashboardConfig.FontColor';

            document.querySelector("#dvMain").style.background = "linear-gradient(to bottom," + color + ", #000000)";
            document.querySelector("#dvMain").style.color = fontcolor

            $("#btnSubmit").on("click", function () {
                SetPassword();
            });
        });
        function SetPassword() {
            if ($("#txtPassword").val() == $("#txtConfirmPassword").val()) {
                var mobileNo = $("#hdnMobileNo").val();
                var password = $("#txtPassword").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InsertPassword", "Start")',
                    data: '{mobileNo: ' + JSON.stringify(mobileNo) + ',password: ' + JSON.stringify(password) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        var url = '@baseURL' + "dashboard/Index";
                        window.location.href = url;

                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText);
                    }
                });
            }
            else {
                cuteAlert({
                    type: "error",
                    title: "OOPS",
                    message: "Password and Confirm Password should be same !!!",
                    buttonText: "Okay"
                })
            }
        }
    </script>
</body>
</html>