@model List<BOTS_BL.Models.ChitaleModel.ParticipantList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<div class="app-main__inner">
    <div class="row" style="margin-left:20px;">

        <div class="row mb-3 pt-3 pl-3 pr-3 card">
            <div id="dvOutletWiseData">
                <b>PARTICIPANT LIST</b>
                <div class="row mb-3">
                    <div class="container-fluid pt-3 pl-3 pr-3">

                        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col search-container">
                                    <i class="fas fa-search"></i>
                                    <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                                </div>
                                <div class="col text-right">
                                    <ul class="list-inline progress-list mt-2">
                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                @*<button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                                    <i class="fas fa-file-export"></i> Export
                                                </button>*@
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-3" id="dvActivityData">

                                <div class="table-responsive">
                                    <table class="table" id="activityTable">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Participant Type</th>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Cluster</th>
                                                <th scope="col">Sub-Cluster</th>
                                                <th scope="col">Rank</th>
                                                <th scope="col">Total Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.Count > 0)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        var imgId = "imgExpand" + item.Id;
                                                        <tr>
                                                            <td style="text-align:center;">
                                                                @if (item.participantType == "Distributors")
                                                                {
                                                                    <img id="@imgId" src="~/Content/assets/images/details_open.png" style="cursor:pointer;" onclick="ShowActivities(@item.Id);" />
                                                                }
                                                            </td>
                                                            <td>@item.participantType</td>
                                                            <td>@item.Id</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.city</td>
                                                            <td>@item.cluster</td>
                                                            <td>@item.subcluster</td>
                                                            <td>@item.Rank</td>
                                                            <td>@item.Totalpoints</td>
                                                        </tr>
                                                        if (item.participantType == "Distributors")
                                                        {
                                                            var dynamicIdTr = "trActivities" + item.Id;
                                                            var dynamicIdDiv = "dvActivities" + item.Id;
                                                            <tr id="@dynamicIdTr" style="display:none;">
                                                                <td colspan="9">
                                                                    <div id="@dynamicIdDiv" style="display:none;" class="table-responsive">

                                                                    </div>
                                                                </td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"></td>
                                                                <td style="display:none;"></td>
                                                            </tr>
                                                        }
                                                    }

                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="9" align="center">No Data Available</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="9" align="center">No Data Available</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#activityTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            //language: {
            //    paginate: {
            //        next: '&#8594;', // or '→'
            //        previous: '&#8592;' // or '←'
            //    }
            //}
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });

        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });
       //GetParticipantList();
    });


    function ShowActivities(id) {
        var pType = "Distributors";
        if ($("#dvActivities" + id).is(":visible")) {
            $("#dvActivities" + id).hide(1000);
            $("#trActivities" + id).hide(1000);

            $("#imgExpand" + id).attr("src", "/chitaleweb/Content/assets/images/details_open.png");
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                 url: '@Url.Action("GetNestedParticipantList")',
                data: '{customerId:' + JSON.stringify(id) + ', CustomerType:' + JSON.stringify(pType) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    BindActivities(id, response);
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    
                    $("#divLoader").hide();
                }
            });
        }
    }

    function BindActivities(id, data) {
        console.log(data);
        var htmlStr = "<table border=\"2\" style=\"background-color:gray;margin-left: 11px;width: 98%;\" class=\"table\">";
        htmlStr += "<tr style=\"text-align: center;\">"

        htmlStr += "<th scope=\"col\">Participant Type</th>";
        htmlStr += "<th scope=\"col\">ID</th>";
        htmlStr += "<th scope=\"col\" style=\"text-align: left;\">Name</th>";
        htmlStr += "<th scope=\"col\">City</th>";
        htmlStr += "<th scope=\"col\">Cluster</th>";
        htmlStr += "<th scope=\"col\">Sub-Cluster</th>";
        htmlStr += "<th scope=\"col\">Rank</th>";
        htmlStr += "<th scope=\"col\">Total Points</th>";
        htmlStr += "</tr>";
        $.map(data, function (item) {
            htmlStr += "<tr style=\"text-align: center;\">"

            //htmlStr += "<td>" + item.TxnType + "</td>";
            htmlStr += "<td>" + item.participantType + "</td>";
            htmlStr += "<td>" + item.Id + "</td>";
            htmlStr += "<td style=\"text-align: left; width: 150px;\">" + item.Name + "</td>";
            htmlStr += "<td style=\"width: 100px;\">" + item.city + "</td>";
            htmlStr += "<td style=\"width: 100px;\">" + item.cluster + "</td>";
            htmlStr += "<td style=\"width: 100px;\">" + item.subcluster + "</td>";
            htmlStr += "<td style=\"text-align: center;\">" + item.Rank.toFixed(2) + "</td>";
            htmlStr += "<td style=\"text-align: center;\">" + item.Totalpoints.toFixed(2) + "</td>";            
            htmlStr += "</tr>"
        });

        htmlStr += "</table>";
        $("#dvActivities" + id).html(htmlStr);

        $("#trActivities" + id).show(1000);
        $("#dvActivities" + id).show(1000);
        $("#imgExpand" + id).attr("src", "/chitaleweb/Content/assets/images/details_close.png");

    }










    var tableData = [];
    function GetParticipantList() {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetParticipantList", "Participant")',//"/ITOperations/GetChangeNameData",

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
               // console.log(response);
                if (response.lstparticipantLists != null) {
                    console.log("in");
                    tableData.length = 0;
                    $.map(response.lstparticipantLists, function (item) {
                        alert(item.participantType);
                        optionItem = {}
                        optionItem["participantType"] = item.participantType;
                        optionItem["Id"] = item.Id;
                        optionItem["Name"] = item.Name;
                        optionItem["city"] = item.city;
                        optionItem["cluster"] = item.cluster;
                        optionItem["subcluster"] = item.subcluster;
                        optionItem["Rank"] = item.Rank;
                        optionItem["Totalpoints"] = item.Totalpoints;
                       // optionItem["Reset"] = "<input type='button' id='" + item.CounterId + "' onclick='UpdateSecurityKey(" + item.CounterId + ")' value='Reset'>";
                        tableData.push(optionItem);
                    });
                    DrawTable();

                } else {
                    tableData.length = 0;
                    $.map(response, function (item) {

                        optionItem = {}
                        optionItem["participantType"] = item.participantType;
                        optionItem["Id"] = item.Id;
                        optionItem["Name"] = item.Name;
                        optionItem["city"] = item.city;
                        optionItem["cluster"] = item.cluster;
                        optionItem["subcluster"] = item.subcluster;
                        optionItem["Rank"] = item.Rank;
                        optionItem["Totalpoints"] = item.Totalpoints;
                        // optionItem["Reset"] = "<input type='button' id='" + item.CounterId + "' onclick='UpdateSecurityKey(" + item.CounterId + ")' value='Reset'>";
                        tableData.push(optionItem);
                    });

                    DrawTable();
                }
                $("#divLoader").hide();
            },
            error: function (response) {
                console.log(result.responseText)
                $("#divLoader").hide();
            }
        });

    }
    function GetNestedParticipantList(Id, participantType) {
        console.log(Id);
        console.log(participantType);
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNestedParticipantList", "Participant")',//"/ITOperations/GetChangeNameData",
            data: '{customerId:' + JSON.stringify(Id) + ', CustomerType:' + JSON.stringify(participantType) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                BindActivities(Id, response);
                $("#divLoader").hide();
            },
            error: function (response) {
                console.log(result.responseText)
                $("#divLoader").hide();
            }
        });

    }

    function BindNestedList(Id, data) {

    }

</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
