@model List<BOTS_BL.Models.DashboardCustomerLogin>
@using BOTS_BL.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
 var userDetails = (CustomerLoginDetail)Session["UserSession"];
    var logintype = userDetails.LoginType;
    
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                @*<h4><b>Billing Partner Product Master</b></h4>*@
            </div>

            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 mb-5" id="divadd" style="display:none; border:1px solid grey; border-radius:10px;">
                    <div class="mb-4">
                        <h6><b>Add Customer Login</b></h6>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-2 mb-4">

                        <div class="row" style="margin: 0;">
                            <div style="float:left;text-align:left;width:100px;margin-top:10px;">
                                Login Type
                            </div>
                            <div>
                                @Html.DropDownList("CustomerLoginType", new SelectList(ViewBag.lstLogintype, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlCustomerlogintype" })
                            </div>
                        </div>
                        <div class="row mt-2" style="margin: 0;">
                            <div style="float:left;text-align:left;width:100px;margin-top:10px;">
                                Outlet Name
                            </div>
                            <div>
                                @Html.DropDownList("outletlist", new SelectList(ViewBag.lstoutletlist, "Value", "Text"), htmlAttributes: new { @class = "input100", @type = "number", @id = "ddloutletlist", disabled = "true" })
                            </div>
                        </div>
                        <div class="row mt-2" style="margin: 0;">
                            <div style="float:left;text-align:left;width:100px;margin-top:10px;">
                                Mobile Number
                            </div>
                            <div>
                                <input class="input100" type="text" id="txtcustomerloginNm" />
                            </div>
                        </div>
                        <div class="row mt-2" style="margin: 0;">
                            <button class="btn btn-primary login-btn ml-5 mr-2" type="button" id="btnSave">
                                Save
                            </button>
                            <button class="btn btn-primary login-btn" type="button" id="btnCancle">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                @if (logintype == "1" || logintype == "7" || logintype == "6" || logintype == "9")
                {
                <div class="row" id="divadd">

                    <div style="text-align:right;" class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                    </div>
                    <div style="text-align:right;" class="pr-2">
                        <button class="btn btn-primary login-btn" type="button" id="btnAdd">
                            ADD
                        </button>

                    </div>
                </div>
                }
                <div id="dvcustomer">
                    @Html.Partial("~/Views/DashBoardCustomerLogin/_DashboardCustomerloginList.cshtml", Model)
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    
    var tableData = [];
    $('#btnAdd').on("click", function () {
        $("#divadd").show(1000);

    });
    $('#btnCancle').on("click", function () {
        $("#divadd").hide(1000);
        $('#divadd').find(':input').val('');
        $("#txtcustomerloginNm").text("");
    });
    $("#ddlCustomerlogintype").change(function () {
        var selected = $("#ddlCustomerlogintype option:selected").val();
        console.log(selected);       
        if (selected == "Outlet") {           
            $('#ddloutletlist').prop('disabled', false);        
            
        }        
         if(selected == "Admin") {           
            $('#ddloutletlist').prop('disabled', true);
        }
        
    });
    function BindcustomerList() {
        console.log("hi");
        $.ajax({
                type: "POST",
                url: '@Url.Action("CustomerLoginList", "DashBoardCustomerLogin")',          
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            success: function (responce) {
                console.log(responce);
                $("#dvcustomer").html(responce);

            },
            error: function (responce) {
                $("#dvcustomer").html(responce.responseText);

            }
            });
    }
    
    
     $('#btnSave').on("click", function () {

         if ($('#txtcustomerloginNm').val() == "") {
            toastr.error('Please enter Customer Mobile number');
             $('#txtcustomerloginNm').focus();
            return false;
         }
         var selected = $("#ddlCustomerlogintype option:selected").val();
         if (selected == "0") {
             toastr.error('Please select Customer login type');
             return false;
         }
         var selectedoutlet = $("#ddloutletlist option:selected").val();
         if (confirm("Are you sure? You want to Create Customer login")) {
            var Customerlogindata = [];
            item = {}
             item["Customermobileno"] = $("#txtcustomerloginNm").val();
             
            
             if (selected =="Outlet") {
                 item["outletid"] = selectedoutlet;                
                 item["Logintype"] = "04";
            }
            else {
                 item["outletid"] = null;
                 item["Logintype"] = "02";
             }
             
             Customerlogindata.push(item);
             var data = JSON.stringify(Customerlogindata);
            console.log(data)
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddCustomerLogin", "DashBoardCustomerLogin")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);
                        console.log("result");
                        $("#txtcustomerloginNm").val("");                        
                        BindcustomerList();
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                        $("#divadd").hide(1000);
                        BindcustomerList();
                        $("#txtcustomerloginNm").val("");
                        $('#ddlCustomerlogintype').prop('selectedIndex', 0);
                        $('#ddloutletlist').prop('selectedIndex', 0);            
                       
                    }
                    if (result.responseText == "False") {
                       // toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "Customer Login Already Created",
                            buttonText: "Okay"
                        })
                        $("#txtcustomerloginNm").val("");
                        $('#ddlCustomerlogintype').prop('selectedIndex', 0);
                        $('#ddloutletlist').prop('selectedIndex', 0);
                        return false;
                    }
                }
            });
       // }
    }
     });

</script>
<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>


