@model List<DLC.ViewModel.outletNmaelist>
@using BOTS_BL.Models;
@using DLC.ViewModel;

@{
    ViewBag.Title = "Index";
    Layout = null;
    var sessionVariables = (SessionVariables)Session["SessionVariables"];

    //var url = "https://maps.google.com/maps?q=";
    //url = url + Model.dLCDashboardContent.OutletLatitude + "," + Model.dLCDashboardContent.OutletLongitude;
    //url = url + "&z=12 &output=embed";
    var logoUrl = sessionVariables.objDashboardConfig.UseLogoURL;
    var logoSize = sessionVariables.objDashboardConfig.UseLogo;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Store Locator</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
          rel="stylesheet" />

    <link href="~/css/storelocator.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <style>
        .footer {
            background-color: #344966;
            height: 10vh;
            padding: 20px 20px;
            clear: both;
        }

        .heading_pt {
            margin-top: 208px !important;
            margin-left: 1.5%;
            padding-left: 15px;
            text-align: center;
        }

        .dropdown-content {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            width: 90%;
            max-height: 200px;
            overflow-y: auto;
            padding: 12px 10px 12px 15px !important;
            border-radius: 10px !important;
            border: solid 1px #e1e1e1;
            cursor: pointer;
        }

        .dropdown-item {
            padding: 8px 16px;
            cursor: pointer;
        }

            .dropdown-item:hover {
                background-color: #f1f1f1;
            }

        .sticky-nav {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000; /*Ensure it's on top of other elements */
            background-color: white; /*Change as needed */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*Optional shadow */
        }

        .features {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }

        /*Make sure there's padding on the page to compensate for the sticky nav's height */
        body {
            padding-top: 30px; /*Adjust this value based on the height of your navbar */
        }

        /*Optional: Customize appearance of nav links */
        /*.sticky-nav a {
            text-decoration: none;
            color: black;
        }

            .sticky-nav a:hover {
                text-decoration: underline;
            }

        Ensure logo scales properly
        .logo img {
            max-width: 100%;
            height: auto;
        }*/
        .sticky-nav {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

            .sticky-nav.scrolled .logo {
                display: none; /* Hide the logo when scrolled */
            }

            .sticky-nav.scrolled .features {
                padding-top: 10px; /* Adjust padding if needed */
            }

        .features {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }

        body {
            padding-top: 30px;
        }

        .sticky-nav a {
            text-decoration: none;
            color: black;
        }

            .sticky-nav a:hover {
                text-decoration: underline;
            }

        /*Ensure logo scales properly*/
        .logo img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

    <nav class="sticky-nav">
        @if (logoSize == "Small")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 100px !important; width: 180px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="200" height="100" />
            </div>}
        @if (logoSize == "Medium")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 150px !important; width: 300px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="300" height="150" />
            </div>}
        @if (logoSize == "Big")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 200px !important; width: 400px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="400" height="200" />
            </div>}
        <div class="profile_links">
            <!-- Profile links here -->
        </div>
        <div class="language" style="display:none">
            <select name="language" id="">
                <option value="language">Language</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Marathi">Marathi</option>
            </select>
        </div>
        <div class="features" style="margin-left:250px;margin-top:15px;">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1 class="active">Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
        <div class="hamburger">
            <i class="ri-menu-2-line"></i>
        </div>
    </nav>
    <div class="menu-container1">
        <div id="menu1">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1 class="active">Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1>Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
    </div>

    <h1 class="heading_pt">Store Locator</h1>

    <div class="search-container">
        <select id="ddlOutlet" class="dropdown-content"></select><br /><br />
    </div>
    <div class="content">
        <h4> </h4>
        <p>

        </p>
        <p class="phone-icon" id="contactInfo" style="display:none;">
            <i class="material-icons">&#xe551;</i>
            <span id="spnContact"></span>
        </p>
    </div>
    <div class="map-container">
        <div class="map">
            <iframe id="storeFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4327452779316!2d73.82960137335087!3d18.509336569520933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf6e0b6b0b33%3A0xd8facbf3c039f08b!2sThe%20Millennium!5e0!3m2!1sen!2sin!4v1704216476194!5m2!1sen!2sin" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>


    <section class="footer" style="text-align:center;">
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.FacebookUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.FacebookUrl">
                <img src="~/img/facebook.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.InstagramUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.InstagramUrl">
                <img src="~/img/instagram.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.TwitterUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.TwitterUrl">
                <img src="~/img/twitterx.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.YoutubeURL))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.YoutubeURL">
                <img src="~/img/youtube.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.WhatsappUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.WhatsappUrl">
                <img src="~/img/whatsapp.svg" />
            </a>
        }
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        window.onscroll = function () {
            var navbar = document.querySelector('.sticky-nav');
            if (window.pageYOffset > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        };
        function Hamburger() {
            var hamburger = document.querySelector('.hamburger');
            var menu = document.querySelector('.menu-container1');
            var logo = document.querySelector('.logo');

            var isMenuVisible = false;

            hamburger.addEventListener('click', function () {
                if (!isMenuVisible) {
                    menu.style.display = 'block';
                    menu.style.transform = 'translateY(0)';
                    isMenuVisible = true;
                    logo.style.display = 'none';
                } else {
                    menu.style.transform = 'translateY(-100vh)';
                    isMenuVisible = false;
                    logo.style.display = 'block';

                }
            });

        }

        Hamburger();
    </script>
    <script>
        $('#ddlOutlet').change(function () {
            submitSearch();
        });

        function FillOutlet() {
            $.ajax({
            url: '@Url.Action("GetOutlets", "Store")',
            type: 'GET',
                success: function (data) {
                    console.log(data);
                    outletDetails = data;
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(UserLocation);
                    }
                $("#ddlOutlet").empty();
                data.forEach(function (outlet) {
                        $("#ddlOutlet").append($("<option />").val(outlet.OutletId).text(outlet.OutletName));
                });
            },
            error: function() {
               // alert('Failed to fetch outlet names.');
                toastr.error('Failed to fetch outlet names.');
            }
        });
        }

    function fetchOutlets()
    {

        $.ajax({
            url: '@Url.Action("GetOutlets", "Store")',
            type: 'GET',
            success: function (data) {
                var dropdown = $('#dropdown');
                dropdown.empty();
                data.forEach(function (outlet) {
                    var listItem = $('<li class="dropdown-item"></li>').text(outlet.OutletName);
                    listItem.on('click', function() {
                        $('#search-input').val(outlet.OutletName);
                        dropdown.hide();
                    });
                    dropdown.append(listItem);
                });
                dropdown.show();
            },
            error: function() {
               // alert('Failed to fetch outlet names.');
                toastr.error('Failed to fetch outlet names.');
            }
        });
    }

        document.addEventListener("click", function (event) {
            var dropdown = document.getElementById("dropdown");
            var searchInput = document.getElementById("search-input");
            if (event.target !== searchInput && !dropdown.contains(event.target)) {
                dropdown.style.display = "none";
            }
        });

        $('#search-input').on('input', function() {
            var filter = this.value.toUpperCase();
            var items = $('.dropdown-item');
            items.each(function() {
                var item = $(this);
                var txtValue = item.text();
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    item.show();
                } else {
                    item.hide();
                }
            });
        });
    </script>


    <script>
        function submitSearch() {
            var outletName = $("#ddlOutlet option:selected").text();

            /*alert(outletName)*/
            if (outletName) {
                $.ajax({
                    url: '@Url.Action("GetMapUrl", "Store")',
                    type: 'POST',
                    data: { outletName: outletName },
                    success: function (data) {
                        console.log(data)
                        if (data) {
                            updateMapUrl(data.url);
                            updateContent(data.address, data.ownerName, data.contactNo);
                        } else {
                            //  alert('Map URL not found.');
                            toastr.error("Map URL not found.");
                        }
                    },
                    error: function () {
                        toastr.error("Failed to fetch map URL.");
                    }
                });
            } else {
                toastr.error('Please select an outlet.');
            }
        }

        function updateMapUrl(url) {
            $('.map iframe').attr('src', url);
        }

        function updateContent(address, ownerName, contact) {
            $('.content h4').text(address);
            $('.content p').first().text(ownerName);
            $("#spnContact").text(contact);
            $("#contactInfo").show();

        }

    </script>
    <script>

        var outletDetails;
        $(document).ready(function () {
            FillOutlet();
        });

        function UserLocation(position) {
            NearestCity(position.coords.latitude, position.coords.longitude);
        }

        function Deg2Rad(deg) {
            return deg * Math.PI / 180;
        }

        function PythagorasEquirectangular(lat1, lon1, lat2, lon2) {
            lat1 = Deg2Rad(lat1);
            lat2 = Deg2Rad(lat2);
            lon1 = Deg2Rad(lon1);
            lon2 = Deg2Rad(lon2);
            var R = 6371; // km
            var x = (lon2 - lon1) * Math.cos((lat1 + lat2) / 2);
            var y = (lat2 - lat1);
            var d = Math.sqrt(x * x + y * y) * R;
            return d;
        }

        function NearestCity(latitude, longitude) {
            var minDif = 99999;
            var closest;

            for (index = 0; index < outletDetails.length; ++index) {
                var dif = PythagorasEquirectangular(latitude, longitude, outletDetails[index]["Lat"], outletDetails[index]["Long"]);
                if (dif < minDif) {
                    closest = index;
                    minDif = dif;
                }
            }

            // echo the nearest city
            console.log(outletDetails[closest]);
            var url = "https://maps.google.com/maps?q=";
            url = url + outletDetails[closest]["Lat"] + "," + outletDetails[closest]["Long"];
            url = url + "&z=12 &output=embed";
            console.log(url)
            $('#storeFrame').attr('src', url)

            $("#ddlOutlet").val(outletDetails[closest]["OutletId"]);
        }

    </script>
</body>
</html>
