@model WebApp.ViewModel.DashboardSummaryViewModel
@using System.Globalization
@{
    ViewBag.Title = "GeneratePDF";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
    <link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />

</head>
<body>
    <div class="col-lg-8 col-md-8 row" style="padding: 10px; margin:10px;">
        <table style="width:100%;">
            <tr>
                <td style="text-align: left; font-size: 20px;width:20%"><img width="100%" src="@Model.CustomerLogoURL" /></td>
                <td style="text-align: center; font-size: 20px; width: 60%; border-top: 2px solid darkred; border-bottom: 2px solid darkred; ">
                    <h3><b> @Model.CustomerName </b></h3>
                    <h4>
                        LOYALTY PROGRAM SYNOPSIS
                    </h4>
                    <h5>  SUMMARY for: <b><i style="color:darkred;"> @Model.ReportMonth </i></b></h5>
                </td>
                <td style="text-align: center; font-size: 20px; width: 20%;"><img src="~/Content/assets/OnlyLogo.png" /></td>
            </tr>
            <tr>
                <th colspan="4" style="padding:10px;"></th>
            </tr>
            <tr style="background-color:grey;color:white;">
                <th colspan="4" style="padding:5px; text-align:left;">A. MEMBER BASE & TRANSACTIONS</th>
            </tr>
            <tr>
                <th colspan="4" style="padding:2px;"></th>
            </tr>
            <tr>
                <td colspan="4">
                    <table border="1" cellpadding="5" cellspacing="5" class="col-lg-12 col-md-12">
                        <tr style="text-align: center; color: white;">
                            <th style="background-color: #1D65A6;" width="25%">Member Type</th>
                            <th style="background-color: #1D65A6;" width="25%">Base Count</th>
                            <th style="background-color: #1D65A6;" width="25%">Txn Count</th>
                            <th style="background-color: #1D65A6;" width="25%">Biz Gen (Rs.)</th>
                        </tr>
                        @foreach (var item in Model.lstMemberBaseAndTransaction)
                        {
                            <tr style="text-align: center;">
                                <td width="25%">@item.MemberType</td>
                                <td width="25%">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(item.BaseCount))</td>
                                <td width="25%">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(item.TxnCount))</td>
                                <td width="25%">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(item.BizGen))</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <th colspan="4" style="padding:10px;"></th>
            </tr>
            <tr style="background-color:grey;color:white;">
                <th colspan="4" style="padding: 5px; text-align: left;">B. BUSINESS GENERATED</th>
            </tr>
            <tr>
                <th colspan="5" style="padding:2px;"></th>
            </tr>
        </table>

        <table cellpadding="5" cellspacing="5" class="col-lg-12 col-md-12">
            <tr style="color: white;">
                <td width="30%" style="background-color: #b2e061; padding: 15px; ">
                    <b><u>Total Biz (Rs.) </u></b> <br /> <b style="font-size:20px;"> @String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.objTotalStats.TotalBiz))</b>
                </td>
                <td width="5%"></td>
                <td width="30%" style="background-color: #ffb55a; padding: 15px;">
                    <b><u>Loyalty Biz (Rs.)</u></b> <br /><b style="font-size:20px;"> @String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.objTotalStats.LoyaltyBiz)) </b>
                </td>
                <td width="5%"></td>
                <td width="30%" style="background-color: #c86558; padding: 15px; ">
                    <b><u> Loyalty % to Total Biz</u></b> <br />
                    <b style="font-size:20px;"> @String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(Model.objTotalStats.LoyaltyPercentage))% </b>
                </td>
            </tr>
        </table>

        <table style="width:100%;margin-top:10px;">
            <tr style="background-color:grey;color:white;">
                <th colspan="5" style="padding: 5px; text-align: left;">C. KEY METRICS (TILL DATE)</th>
            </tr>
            <tr>
                <th colspan="5" style="padding:2px;"></th>
            </tr>
            <tr style="color:white;">
                <td width="30%" style="background-color: #b2e061; padding: 15px; ">
                    <b>Redemption Rates</b> <br /> <b style="font-size:20px;">@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(Model.objKeyMetricsTillDate.RedemptionRate))% </b>

                </td>
                <td width="5%"></td>
                <td width="30%" style="background-color: #ffb55a; padding: 15px; ">
                    <b>Redeem to Inv (times)</b> <br /><b style="font-size:20px;">@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(Model.objKeyMetricsTillDate.RedeemToInv))</b>

                </td>
                <td width="5%"></td>
                <td width="30%" style="background-color: #c86558; padding: 15px; ">
                    <b>Inactive Base(> 6 mths)</b> <br />
                    <b style="font-size:20px;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.objKeyMetricsTillDate.InactiveBase))</b>
                </td>
            </tr>
        </table>
        <table style="width:100%;margin-top:10px;">
            <tr>
                <th colspan="5" style="padding:2px;"></th>
            </tr>
            <tr style="color:white;">
                <td width="30%" style="background-color: #b2e061; padding: 15px; ">
                    <b>Only Once Base</b> <br /> <b style="font-size:20px;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.objKeyMetricsTillDate.OnlyOnceBase))</b>
                </td>
                <td width="5%"></td>
                <td width="30%" style="background-color: #ffb55a; padding: 15px; ">
                    <b>Non-redeem base</b> <br /><b style="font-size:20px;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.objKeyMetricsTillDate.NonRedeemBase))</b>
                </td>
                <td width="5%"></td>
                <td width="30%" style="background-color: #c86558; padding: 15px; ">
                    <b>Non-transacting base</b> <br />
                    <b style="font-size:20px;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.objKeyMetricsTillDate.BulkImportBase))</b>
                </td>
            </tr>
        </table>
        <table style="width:100%;margin-top:10px;">
            <tr style="background-color:grey;color:white;">
                <th colspan="5" style="padding: 5px; text-align: left;">D. POINTS SUMMARY</th>
            </tr>
        </table>
        <table style="width:100%;margin-top:5px;" border="1">
            <tr style="background-color: grey; color: white; text-align: center; background-color: #1D65A6;">
                <th style="padding: 5px;">Issued </th>
                <th style="padding: 5px;">Redeemed</th>
                <th style="padding: 5px;">Expired</th>
                <th style="padding: 5px;">Available</th>
            </tr>
            <tr style="text-align: center;">
                <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(Model.objKeyMetricsTillDate.Issued))</td>
                <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(Model.objKeyMetricsTillDate.Redeemed))</td>
                <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(Model.objKeyMetricsTillDate.Expired))</td>
                <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(Model.objKeyMetricsTillDate.Available))</td>
            </tr>
        </table>
        <table style="width:100%;margin-top:10px;">
            <tr style="background-color:grey;color:white;">
                <th colspan="5" style="padding: 5px; text-align: left;">
                    E. KEY INFORMATION (for Next Month)
                </th>
            </tr>
        </table>
        <div class="col-lg-12 col-md-12 mt-1">

            <table border="1" style="float:left;text-align:center;" width="48%">
                <tr style="background-color:grey;color:white;">
                    <th width="20%" style="background-color: #1D65A6;">Elements</th>
                    <th width="20%" style="background-color: #1D65A6;">
                        Base Count
                    </th>
                </tr>
                @foreach (var item in @Model.lstKeyInfoForNextMonth)
                {
                    <tr>
                        <td>@item.Elements</td>
                        <td>@item.BaseCount</td>
                    </tr>

                }
            </table>

            <table border="1" style="float: left; margin-left: 10px; text-align: center;" width="48%">
                <tr style="background-color:grey;color:white;">
                    <th width="20%" style="background-color: #1D65A6;">Event</th>
                    <th width="20%" style="background-color: #1D65A6;">Date</th>
                </tr>
                @foreach (var item in @Model.lstFestivals)
                {
                    <tr>
                        <td>@item.Festival</td>
                        <td>@item.Date.ToString("dd-MMM-yyyy")</td>
                    </tr>

                }
            </table>
        </div>

    </div>
</body>
</html>

