@model BOTS_BL.Models.ExecutiveSummary
@using System.Globalization
@{
    ViewBag.Title = "Executive Summary";
}


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>*@

<div class="app-main__inner">
    <input type="hidden" id="hdnNames" />
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-midnight-bloom">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">
                            Total Biz (Rs.)
                        </div>

                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.TotalBiz))</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-arielle-smile">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">
                            Loyalty Biz (Rs.)
                        </div>

                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@Model.LoyaltyBiz</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-grow-early">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">
                            Loyalty % to Biz
                        </div>

                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@Model.LoyaltyPercentageBiz%</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                        MEMBER SEGMENT <span id="spnPeriod" style="margin-left:100px;"></span>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0);" onclick="ShowAll();" class="active nav-link">All</a></li>
                        <li class="nav-item">
                            @Html.DropDownListFor(x => Model.ActiveBase_Total, new SelectList(ViewBag.OutletList, "Value", "Text"), "Select Outlet", htmlAttributes: new { @class = "input50", @id = "memberSegmentOutletList", style = "margin-top:20px;" })
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="canvasContainer">
                                        <canvas id="barcanvas"></canvas>
                                    </div>
                                </div>
                            </div>
                            <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal" style="color:blue !important; cursor:pointer;" id="btnExpand" onclick="ToggleKeyPointers();"><b>Expand to see key pointers</b></h6>
                            <div class="scroll-area-sm" id="dvKeyPointers" style="display:none;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                        OUTLET ENROLMENTS
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showOutletEnrolmentChart('')" id="outletTillDate" class="active nav-link">Till Date</a></li>
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showOutletEnrolmentChart('1')" id="outletCurrentDate" class="nav-link second-tab-toggle">Current Month</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div style="overflow:scroll" id="containerOutlet">
                                        <canvas id="cvOutlet"></canvas>
                                        @*// widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                        POINTS SUMMARY
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showPointSummeryChart('')" id="pointsTillDate" class="active nav-link">Till Date</a></li>
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showPointSummeryChart('1')" id="pointsCurrentMonth" class="nav-link second-tab-toggle">Current Month</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerPointSummery">
                                        <canvas id="cvPointSummery"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                        REDEMPTION
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showRedemptionChart('1');" class="active nav-link">Base</a></li>
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showRedemptionChart('2');" class="nav-link second-tab-toggle">Bonus</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div style="display:flex;margin-top:30px;">
                                        <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerRedemption" style="width:250px;border-right:1px solid black;text-align:center;">
                                            <span style="font-weight:bold;">Redemption<br /> Rate</span>
                                            <canvas id="cvRedemption"></canvas>
                                        </div>
                                        <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerRedemptionMember" style="width:250px;text-align:center;">
                                            <span style="font-weight:bold;">Unique Redeeming <br /> Members</span>
                                            <canvas id="cvRedemptionMember"></canvas>
                                        </div>
                                    </div>
                                    <div>
                                        <table border="1" width="100%" id="tblReferrals" style="margin-top:30px;">
                                            <tr>
                                                <th style="text-align:center;">
                                                    Redeemed Members
                                                </th>
                                                <th style="text-align:center;">
                                                    Redemption Txn Count
                                                </th>
                                                <th style="text-align:center;">
                                                    Redeemed Points
                                                </th>
                                                <th style="text-align:center;">
                                                    Points Value (Rs.)
                                                </th>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;"><span id="spnRedeemedMembers"></span></td>
                                                <td style="text-align:center;"><span id="spnRedemptionTxnCount"></span></td>
                                                <td style="text-align:center;"><span id="spnRedeemedPoints"></span></td>
                                                <td style="text-align:center;"><span id="spnPointsValue"></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="height:20px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;font-weight:bold;">
                                                    Business Generated
                                                </td>
                                                <td style="text-align:center;"><span id="spnBusinessGenerated"></span></td>
                                                <td style="text-align:center;font-weight:bold;">
                                                    Redeem to Invoice
                                                </td>
                                                <td style="text-align:center;"><span id="spnRedeemToInvoice"></span></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                        BULK UPLOAD
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerBulkUpload">
                                        <canvas id="cvBulkUpload"></canvas>
                                    </div>
                                    <div>
                                        <table border="1" width="100%">
                                            <tr>
                                                <th style="text-align:center;">
                                                    Total Upload
                                                </th>
                                                <th style="text-align:center;">
                                                    Unique Transacted
                                                </th>
                                                <th style="text-align:center;">
                                                    Transaction Count
                                                </th>
                                                <th style="text-align:center;">
                                                    Business Generated
                                                </th>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;"><span id="spnTotalUpload"></span></td>
                                                <td style="text-align:center;"><span id="spnUniqueTransacted"></span></td>
                                                <td style="text-align:center;"><span id="spnTransactionCount"></span></td>
                                                <td style="text-align:center;"><span id="spnBusinessGenerated"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                        CAMPAIGN REPORT
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Till Date</a></li>
                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link second-tab-toggle">Current Month</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        @*<canvas id="cvOutlet"></canvas>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
                <div class="card-header-tab card-header-tab-animation card-header">
                    <div class="card-header-title">
                        <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                        MEMBER WEBPAGE
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showMemberWebpageChart('1');" id="memberWebpageReferrals" class="active nav-link">Referrals</a></li>
                        <li class="nav-item"><a href="javascript:void(0);" onclick="showMemberWebpageChart('0');" id="memberWebpageProfile" class="nav-link second-tab-toggle">Profile</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerMemberWebpage">
                                        <div id="dvMWPMsessage" style="display:none;margin:20px;padding:20px;font-weight:bold;">Member WebPage - Not Opted. Please connect with the team to start your Profile Update & Referral journey</div>
                                        <canvas id="cvMemberWebpage"></canvas>
                                    </div>
                                    <div id="dvWebpageData">
                                        <table border="1" width="100%" id="tblReferrals">
                                            <tr>
                                                <th style="text-align:center;">
                                                    Member Base
                                                </th>
                                                <th style="text-align:center;">
                                                    Referring Base
                                                </th>
                                                <th style="text-align:center;">
                                                    Referrals Generated
                                                </th>
                                                <th style="text-align:center;">
                                                    Referrals Transacted
                                                </th>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;"><span id="spnMemberBase">@Model.NoofMember_Total</span></td>
                                                <td style="text-align:center;"><span id="spnNoofReferee">@Model.NoofReferee</span></td>
                                                <td style="text-align:center;"><span id="spnNoofReferral">@Model.NoofReferral</span></td>
                                                <td style="text-align:center;"><span id="spnUniqueReferralTxn">@Model.UniqueReferralTxn</span></td>
                                            </tr>
                                            <tr>

                                                <td style="text-align:center;" colspan="2">
                                                    Referrals Txn Count: <span id="spnTotalReferralTxn">@Model.TotalReferralTxn</span>
                                                </td>
                                                <td style="text-align:center;" colspan="2">
                                                    Business Generated:<span id="spnTotalReferralBusniess"> @Model.TotalReferralBusniess</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




</div>

<script>
    $(document).ready(function () {        
        ShowMemberSegmentChart();
        showOutletEnrolmentChart('');
        showPointSummeryChart('');
        showMemberWebpageChart('1');
        showBulkUploadChart();
        showRedemptionChart('1');
        $("#memberSegmentOutletList").on("change", function () {
            ShowMemberSegmentChart();
        });
        
    });
    function ToggleKeyPointers() {
        $("#dvKeyPointers").toggle(1000);
    }
    function ShowAll() {
        $("#memberSegmentOutletList").prop('selectedIndex', 0);
        ShowMemberSegmentChart();
    }

    function ShowMemberSegmentChart() {
        $("#divLoader").show();
        var selectedOutlet = $("#memberSegmentOutletList").val();
        var outletData = [];
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMemberSegmentResult", "Home")',
            data: "{'OutletId': '" + selectedOutlet + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                var resp = response[0];
                if (resp != null) {

                    $('#barcanvas').remove(); // this is my <canvas> element
                    $('#canvasContainer').append('<canvas id="barcanvas"><canvas>');

                    var barChartData =
                    {
                        labels: ["Total Base", "Repeat Members", "Never Redeemed", "Recently Enrolled", "Only Once"],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [resp[0], resp[1], resp[2], resp[3], resp[4]]
                        }]
                    };


                    var ctx10 = document.getElementById("barcanvas").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'bar',
                            data: barChartData,
                            options:
                            {
                                plugins: {
                                    datalabels: {
                                        display: false
                                    }
                                },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },

                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },
                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                "animation": {
                                    "duration": 1,
                                    "onComplete": function () {
                                        var chartInstance = this.chart,
                                            ctx = chartInstance.ctx;

                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'bottom';

                                        this.data.datasets.forEach(function (dataset, i) {
                                            var meta = chartInstance.controller.getDatasetMeta(i);
                                            meta.data.forEach(function (bar, index) {
                                                var data = dataset.data[index];
                                                ctx.fillStyle = 'rgba(0, 0, 0, 1)';

                                                var res = addComma(data);
                                                ctx.fillText(res, bar._model.x, bar._model.y - 5);
                                            });
                                        });
                                    }
                                }
                            }
                        });



                    var resp1 = response[1];
                    if (resp1[0] != null && resp1[1] != null) {
                        $("#spnPeriod").text("PERIOD : " + resp1[0] + " TO " + resp1[1]);
                    }
                    else {
                        $("#spnPeriod").text("");
                    }

                    //--------------------------Member segment Transaction-----------------------------------------

                    $.ajax({
                        type: "POST",
                        url: "Home/GetMemberSegmentTxnResult",
                        data: "{'OutletId': '" + selectedOutlet + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                var tableHTML = "<table border=\"1\" cellpadding=\"10\" cellspacing=\"10\" style=\"width:100%;\">";
                                tableHTML += "<tr style=\"text-align:center; background-color:lightgrey;font-weight: bold;\">";
                                tableHTML += "<td>Title</td>";
                                tableHTML += "<td>Unit</td>";
                                tableHTML += "<td>Total Base</td>";
                                tableHTML += "<td>Repeat Members</td>";
                                tableHTML += "<td>Never Redeemed</td>";
                                tableHTML += "<td>Recently Enrolled</td>";
                                tableHTML += "<td>Only Once</td>";
                                tableHTML += "</tr>";
                                $.map(response, function (item) {
                                    tableHTML += "<tr style=\"text-align:center;\">";
                                    tableHTML += "<td style=\"background-color:lightgrey;font-weight: bold;\">" + item.Title + "</td>";
                                    tableHTML += "<td style=\"background-color:lightgrey;font-weight: bold;\">" + item.Unit + "</td>";
                                    tableHTML += "<td>" + addComma(item.TotalBase) + "</td>";
                                    tableHTML += "<td>" + addComma(item.RepeatBase) + "</td>";
                                    tableHTML += "<td>" + addComma(item.NeverRedeem) + "</td>";
                                    tableHTML += "<td>" + addComma(item.RecentlyEnrolled) + "</td>";
                                    tableHTML += "<td>" + addComma(item.OnlyOnce) + "</td>";
                                    tableHTML += "</tr>";
                                });
                                tableHTML += "</table>";
                                $("#dvKeyPointers").html(tableHTML);
                                //ToggleKeyPointers();
                            }
                        },
                        failure: function (response) {
                            //$("#divLoader").hide();
                        },
                        error: function (response) {
                            //$("#divLoader").hide();
                        }

                    });
                    //--------------------------------------------------------------------------------------------

                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });
    }

    function showOutletEnrolmentChart(flag) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetOutletEnrolmentResult", "Home")',
            data: "{'monthFlag': '" + flag + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                var names = response[0];
                var count = names.length;

                var dataList = response[1];
                if (response != null) {
                    $('#cvOutlet').remove(); // this is my <canvas> element
                    $('#containerOutlet').append('<canvas id="cvOutlet"><canvas>');
                    var barChartData =
                    {

                        labels: [...names],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [...dataList]
                        }]
                    };


                    var ctx10 = document.getElementById("cvOutlet").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'horizontalBar',
                            data: barChartData,
                            options:
                            {
                                plugins: {
                                    datalabels: {
                                        display: false
                                    }
                                },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },

                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                "animation": {
                                    "duration": 1,
                                    "onComplete": function () {
                                        var chartInstance = this.chart,
                                            ctx = chartInstance.ctx;

                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'bottom';

                                        this.data.datasets.forEach(function (dataset, i) {
                                            var meta = chartInstance.controller.getDatasetMeta(i);
                                            meta.data.forEach(function (bar, index) {
                                                var data = dataset.data[index];
                                                ctx.fillStyle = 'rgba(0, 0, 0, 1)';
                                                ctx.fillText(addComma(data), bar._model.x, bar._model.y - 5);
                                            });
                                        });
                                    }
                                }
                            }
                        });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (flag == '') {
            $("#outletTillDate").addClass("active");
            $("#outletCurrentDate").removeClass("active");
        }
        else {
            $("#outletTillDate").removeClass("active");
            $("#outletCurrentDate").addClass("active");
        }
    }

    function showPointSummeryChart(flag) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPointsSummaryResult", "Home")',
            data: "{'monthFlag': '" + flag + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    $('#cvPointSummery').remove(); // this is my <canvas> element
                    $('#containerPointSummery').append('<canvas id="cvPointSummery"><canvas>');
                    var barChartData =
                    {
                        labels: ["Issued", "Redeemed", "Expired", "Cancelled", "Balance"],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [response[0], response[1], response[2], response[3], response[4]]
                        }]
                    };

                    var ctx10 = document.getElementById("cvPointSummery").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'bar',
                            data: barChartData,
                            options:
                            {
                                plugins: {
                                    datalabels: {
                                        display: false
                                    }
                                },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },
                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                "animation": {
                                    "duration": 1,
                                    "onComplete": function () {
                                        var chartInstance = this.chart,
                                            ctx = chartInstance.ctx;

                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'bottom';

                                        this.data.datasets.forEach(function (dataset, i) {
                                            var meta = chartInstance.controller.getDatasetMeta(i);
                                            meta.data.forEach(function (bar, index) {
                                                var data = dataset.data[index];
                                                ctx.fillStyle = 'rgba(0, 0, 0, 1)';
                                                ctx.fillText(addComma(data), bar._model.x, bar._model.y - 5);
                                            });
                                        });
                                    }
                                }
                            }
                        });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
               $("#divLoader").hide();
            }
        });

        if (flag == '') {
            $("#pointsTillDate").addClass("active");
            $("#pointsCurrentMonth").removeClass("active");
        }
        else {
            $("#pointsTillDate").removeClass("active");
            $("#pointsCurrentMonth").addClass("active");
        }
    }

    function showMemberWebpageChart(flag) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
             url: '@Url.Action("GetMemberWebPageResult", "Home")',
            data: "{'profileFlag': '" + flag + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (response != null) {
                    if (response[7] == "1") {
                        $("#dvMWPMsessage").show();
                        $("#dvWebpageData").hide();
                        $("#cvMemberWebpage").hide();
                    }
                    else {
                        $("#dvMWPMsessage").hide();
                        $("#dvWebpageData").show();
                        $("#cvMemberWebpage").show();
                        $('#cvMemberWebpage').remove(); // this is my <canvas> element
                        $('#containerMemberWebpage').append('<canvas id="cvMemberWebpage"><canvas>');
                        var options = {
                            plugins: {
                                datalabels: {
                                    display: false
                                }
                            },
                            rotation: (-0.5 * Math.PI) - (-90 / 180 * Math.PI),
                            legend: {
                                display: true,
                                position: 'bottom'
                            }
                        }
                        var label1 = 'Total Member Base';
                        var label2 = 'Referring Base';
                        if (flag == 1) {
                            label2 = 'No of Profile Update';
                        }
                        var data1 = response[0];
                        var data2 = response[6];
                        if (flag == 1) {
                            console.log("Profile");
                            data2 = response[1];
                        }
                        var data = {
                            datasets: [{
                                data: [data1, data2],
                                backgroundColor: ["#f990a7", "#aad2ed"]
                            }],

                            // These labels appear in the legend and in the tooltips when hovering different arcs
                            labels: [
                                label1,
                                label2
                            ],

                        };

                        var ctx4 = document.getElementById("cvMemberWebpage").getContext("2d");
                        window.myBar = new Chart(ctx4, {
                            type: 'pie',
                            data: data,
                            options: options

                        });
                        if (flag == 1) {
                            $("#spnMemberBase").text(addComma(response[0]));
                            $("#spnNoofReferee").text(addComma(response[1]));
                            $("#spnNoofReferral").text(addComma(response[2]));
                            $("#spnUniqueReferralTxn").text(addComma(response[3]));
                            $("#spnTotalReferralTxn").text(addComma(response[4]));
                            $("#spnTotalReferralBusniess").text(addComma(response[5]));
                        }
                    }
                }
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (flag == '1') {
            $("#memberWebpageReferrals").addClass("active");
            $("#memberWebpageProfile").removeClass("active");
            $("#tblReferrals").show();
        }
        else {
            $("#memberWebpageReferrals").removeClass("active");
            $("#memberWebpageProfile").addClass("active");
            $("#tblReferrals").hide();
        }
    }

     function showBulkUploadChart() {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
             url: '@Url.Action("GetBulkUploadResult", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var count = 0;
                if (response != null) {
                    $('#cvBulkUpload').remove(); // this is my <canvas> element
                    $('#containerBulkUpload').append('<canvas id="cvBulkUpload"><canvas>');
                   
                    var options = {
                        rotation: (-0.5 * Math.PI) - (-90 / 180 * Math.PI),
                        legend: {
                            display: false,
                            position: 'bottom'
                        },
                        tooltips: {
                            enabled: false
                        },
                        hover: { mode: null },
                        plugins: {
                            datalabels: {
                                formatter: (value, ctx) => {
                                    if (value != null) {
                                        let sum = 0;
                                        let dataArr = ctx.chart.data.datasets[0].data;
                                        dataArr.map(data => {
                                            sum += data;
                                        });
                                        count++;                                       
                                        let percentage = (value * 100 / sum).toFixed(2) + "%";
                                        if (count == 1) {
                                            return "";
                                        }
                                        if (count == 2) {
                                            count = 0;
                                            return percentage;                                            
                                        }
                                    }
                                },
                                color: '#000',
                            }
                        }
                    }
                    var label1 = '';
                    var label2 = '';
                    var data1 = response[4];
                    var data2 = response[5];

                    var data = {
                        datasets: [{
                            data: [data1, data2],
                            backgroundColor: ["#f990a7", "#aad2ed"]
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: [
                            label1,
                            label2
                        ],
                    };

                    var ctx4 = document.getElementById("cvBulkUpload").getContext("2d");
                        window.myBar = new Chart(ctx4, {
                            type: 'pie',
                            data: data,
                            options: options
                        });

                        $("#spnTotalUpload").text(addComma(response[0]));
                        $("#spnUniqueTransacted").text(addComma(response[1]));
                        $("#spnTransactionCount").text(addComma(response[2]));
                        $("#spnBusinessGenerated").text(addComma(response[3]));

                    }

                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });
    }

    function showRedemptionChart(type) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRedemptionResult", "Home")',
            data: "{'type': '" + type + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {                 
                if (response != null) {
                    console.log(response[0]);
                    $('#cvRedemption').remove(); // this is my <canvas> element
                    $('#containerRedemption').append('<canvas id="cvRedemption"><canvas>');

                    $('#cvRedemptionMember').remove(); // this is my <canvas> element
                    $('#containerRedemptionMember').append('<canvas id="cvRedemptionMember"><canvas>');

                    var count = 0;
                    var options = {
                        rotation: (-0.5 * Math.PI) - (-90 / 180 * Math.PI),
                        legend: {
                            display: false,
                            position: 'bottom'
                        },
                        tooltips: {
                            enabled: false
                        },
                        hover: { mode: null },
                        plugins: {
                            datalabels: {
                                formatter: (value, ctx) => {
                                    let sum = 0;
                                    let dataArr = ctx.chart.data.datasets[0].data;
                                    dataArr.map(data => {
                                        sum += data;
                                    });

                                    count++;
                                    let percentage = (value * 100 / sum).toFixed(2) + "%";
                                    if (count == 1) {
                                        return "";
                                    }
                                    if (count == 2) {
                                        count = 0;
                                        return percentage;
                                    }
                                },
                                color: '#000',
                            }
                        }
                    }
                    var label1 = '';
                    var label2 = '';
                    var data1 = response[6];
                    var data2 = response[7];

                    var data = {
                        datasets: [{
                            data: [data1, data2],
                            backgroundColor: ["#f990a7", "#aad2ed"]
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: [
                            label1,
                            label2
                        ],
                    };
                    var ctx4 = document.getElementById("cvRedemption").getContext("2d");
                    window.myBar = new Chart(ctx4, {
                        type: 'pie',
                        data: data,
                        options: options
                    });

                    var count1 = 0;
                    var options1 = {
                        rotation: (-0.5 * Math.PI) - (-90 / 180 * Math.PI),
                        legend: {
                            display: false,
                            position: 'bottom'
                        },
                        tooltips: {
                            enabled: false
                        },
                        hover: { mode: null },
                        plugins: {
                            datalabels: {
                                formatter: (value, ctx) => {
                                    let sum = 0;
                                    let dataArr = ctx.chart.data.datasets[0].data;
                                    dataArr.map(data => {
                                        sum += data;
                                    });
                                    count1++;
                                    let percentage = (value * 100 / sum).toFixed(2) + "%";
                                    if (count1 == 1) {
                                        return "";
                                    }
                                    if (count1 == 2) {
                                        count1 = 0;
                                        return percentage;
                                    }
                                },
                                color: '#000',
                            }
                        }
                    }
                    var label3 = '';
                    var label4 = '';
                    var data3 = response[8];
                    var data4 = response[9];

                    var data1 = {
                        datasets: [{
                            data: [data3, data4],
                            backgroundColor: ["#f990a7", "#aad2ed"]
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: [
                            label3,
                            label4
                        ],
                    };

                    var ctx5 = document.getElementById("cvRedemptionMember").getContext("2d");
                    window.myBar = new Chart(ctx5, {
                        type: 'pie',
                        data: data1,
                        options: options1
                    });
                    if (response[0] != null) {
                        $("#spnRedeemedMembers").text(addComma(response[0]));
                    }
                    else {
                        $("#spnRedeemedMembers").text("-");
                    }
                    if (response[1] != null) {
                        $("#spnRedemptionTxnCount").text(addComma(response[1]));
                    }
                    else {
                        $("#spnRedemptionTxnCount").text("-");
                    }
                    if (response[2] != null) {
                        $("#spnRedeemedPoints").text(addComma(response[2]));
                    }
                    else {
                        $("#spnRedeemedPoints").text("-");
                    }
                    if (response[3] != null) {
                        $("#spnPointsValue").text(addComma(response[3]));
                    }
                    else {
                        $("#spnPointsValue").text("-");
                    }
                    if (response[4] != null) {
                        $("#spnBusinessGenerated").text(addComma(response[4]));
                    }
                    else {
                        $("#spnBusinessGenerated").text("-");
                    }
                    if (response[5] != null) {
                        $("#spnRedeemToInvoice").text(response[5]);
                    }
                    else {
                        $("#spnRedeemToInvoice").text("-");
                    }
                 }

                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });
    }
</script>