@model List<BOTS_BL.Models.Reports.DLCNewRegDetail>
@using System.Globalization

@{var count = 1;}
<div class="app-main__inner">
    @*<div class="mb-2 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">*@
        @foreach (var item in Model)
        {
            if (count == 1)
            {
                if (@item.SourceCreation.HasValue)
                {
                    <div><p><span><b>Source Creation :</b>  @item.SourceCreation.Value.ToString("dd-MMM-yyyy") <b> | Source Description :</b>   @item.SourceDescription<b> | Start Date :</b>  @item.StartDate.Value.ToString("dd-MMM-yyyy")<b> | End Date :</b> @item.EndDate.Value.ToString("dd-MMM-yyyy")</span> </p></div>
                }
                else
                {
                    <div><p><span><b>Source Creation :</b>  @item.SourceCreation <b> | Source Description :</b>   @item.SourceDescription<b> | Start Date :</b>  @item.StartDate<b> | End Date :</b> @item.EndDate</span> </p></div>
                }
            }
            count = count + 1;
         }

        <div class="table-responsive">
            <table class="table" id="tblDLCDetail">
                <thead>
                    <tr>
                        <th>MobileNo</th>
                        <th>Member Name</th>
                        <th>Type</th>
                        <th>Bonus Points Issued</th>
                        <th>Reg Date</th>
                        <th>1st TxnDate</th>
                        <th>TxnAfterDays</th>
                        <th>Total Txn Count</th>
                        <th>Business Generated</th>
                        <th>Points Redeemed</th>
                        <th>Points Expired</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MobileNo</td>
                            <td>@item.Name</td>
                            <td>@item.MemberType</td>
                            <td>@item.BonusPointsIssued</td>
                            @if(item.RegDate.HasValue)
                            {
                            <td>@item.RegDate.Value.ToString("yyyy/MM/dd")</td>
                            }
                            else
                            {
                            <td>@item.RegDate</td>
                            }

                            <td>@item.FirstTxnDateAfterReg</td>
                            <td>@item.TxnAfterDays</td>
                            <td>@item.TotalTxnCount</td>
                            <td>@item.BusinessGenerated</td>
                            <td>@item.PointsRedeemed</td>
                            <td>@item.PointsExpired</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    @*</div>*@
</div>

<script>
    $(document).ready(function () {
        $('#tblDLCDetail').DataTable({
            "aaSorting": [[1, "asc"]],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });
        var table = $('#tblDLCDetail').DataTable();
        table.draw();
    });
</script>
