@model WebApp.ViewModel.GroupConfigDetailsViewModel
@using System.Globalization

<style>
    .tab1 {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
    }

    .tabs1 {
        padding-left: 25px;
    }

    .panels1 {
        background: #ffffff;
        box-shadow: 0 1rem 1rem #00000010;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel1 {
        display: none;
        animation: fadein .8s;
    }

    .panel-title1 {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio1 {
        display: none;
    }

    #one1:checked ~ .panels1 #one-panel1,
    #two1:checked ~ .panels1 #two-panel1,
    #three1:checked ~ .panels1 #three-panel1,
    #four1:checked ~ .panels1 #four-panel1,
    #five1:checked ~ .panels1 #five-panel1,
    #six1:checked ~ .panels1 #six-panel1 {
        display: block
    }

    #one1:checked ~ .tabs1 #one-tab1,
    #two1:checked ~ .tabs1 #two-tab1,
    #three1:checked ~ .tabs1 #three-tab1,
    #four1:checked ~ .tabs1 #four-tab1,
    #five1:checked ~ .tabs1 #five-tab1,
    #six1:checked ~ .tabs1 #six-tab1 {
        background: #fff !important;
        color: #000;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        font-weight: bold;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
</style>

<div class="row col-md-12 col-lg-12 p-2">
    <div class="col-md-3 col-lg-3">
        <b>   Group Name </b> <br /> @Model.objGroupDetails.GroupName
    </div>
    <div class="col-md-4 col-lg-4">
        <b>Brand Name </b><br />
        @{
            var count = 0;
        }
        @foreach (var item in Model.lstBrandDetails)
        {
            count++;
            if (Model.lstBrandDetails.Count > 1)
            {
                if (Model.lstBrandDetails.Count == count)
                {
                    <div> @item.BrandName</div>
                }
                else
                {
                    <div> @item.BrandName,</div>
                }
            }
            else
            {
                <div> @item.BrandName</div>
            }

        }
    </div>
    <div class="col-md-2 col-lg-2">
        <b>Member Base</b><br />
        @String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.objGroupDetails.MemberBase))

    </div>
    <div class="col-md-3 col-lg-3"><img src="@Model.objGroupDetails.Logo" style="width:200px;" alt="Logo"></div>
</div>

<input class="radio1" id="one1" name="group" type="radio" checked>
<input class="radio1" id="two1" name="group" type="radio">
<input class="radio1" id="three1" name="group" type="radio">
<input class="radio1" id="four1" name="group" type="radio">
<input class="radio1" id="five1" name="group" type="radio">
<input class="radio1" id="six1" name="group" type="radio">
<div class="tabs1">
    <label class="tab1" id="one-tab1" for="one1"> Group, Brand & Outlet</label>
    <label class="tab1" id="two-tab1" for="two1"> Points Rule</label>
    <label class="tab1" id="three-tab1" for="three1"> Communication</label>
    <label class="tab1" id="four-tab1" for="four1"> Perpetual Campaigns</label>
    <label class="tab1" id="five-tab1" for="five1"> DLC Link</label>
    <label class="tab1" id="six-tab1" for="six1"> Others</label>
</div>
<div class="panels1">

    <div class="multisteps-form__panel p-3 m-3 list-box bg-white panel1" id="one-panel1">
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>Authorized Person</td>
                <td>@Model.objGroupDetails.OwnerName</td>
            </tr>
            <tr>
                <td>Reg Mobile No </td>
                <td>@Model.objGroupDetails.OwnerMobileNo</td>
            </tr>
            <tr>
                <td>Reg Email </td>
                <td>@Model.objGroupDetails.OwnerEmail</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@Model.objGroupDetails.CityName</td>
            </tr>
            <tr>
                <td>No of Outlets </td>
                <td>@Model.objGroupDetails.OutletCount</td>
            </tr>
        </table>
    </div>

    <div class="multisteps-form__panel  p-3 m-3 list-box bg-white panel1" id="two-panel1">
        Points Rule
    </div>
    <div class="multisteps-form__panel  p-3 m-3 list-box bg-white panel1" id="three-panel1">
        Communication
    </div>
    <div class="multisteps-form__panel  p-3 m-3 list-box bg-white panel1" id="four-panel1">
        Perpetual Campaigns
    </div>
    <div class="multisteps-form__panel  p-3 m-3 list-box bg-white panel1" id="five-panel1">
        DLC Link
    </div>
    <div class="multisteps-form__panel  p-3 m-3 list-box bg-white panel1" id="six-panel1">
        Others
    </div>
</div>

