@model NPC.ViewModels.NPCViewModel
@{
    Layout = null;
    ViewBag.Title = "NPC Page";
}
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/style.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<style>
    .input50 {
        width: 200px;
        margin-bottom: 20px;
        padding: 12px 10px 12px 25px !important;
        border-radius: 25px !important;
        border: solid 1px #e1e1e1;
    }
</style>

<div class="p-3 m-5 col-lg-10 col-md-10" style=" border: 1px solid grey; border-radius: 10px;">
    <div class="row col-lg-10 col-md-10">
        <div class="col-lg-10 col-md-10" style="margin-bottom:30px;text-align:center;"><img src="@Model.Logo" alt="Logo" width="40%"></div>
    </div>

    @*<div class="col-md-3 col-lg-3"><img src="@Model.Logo" style="width:200px;" alt="Logo"></div>*@

    <div style="padding-right:10px; margin-top:20px;" class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Outlet Name
        </div>
        <div class="col-lg-3 col-md-3">
            @Html.DropDownListFor(model => model.tblNPCDetail.Outlet, new SelectList(Model.lstOutlets, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlOutlet" })
        </div>
    </div>
    <div style="padding-right:10px;" class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Customer Mobile No
        </div>
        <div class="col-lg-3 col-md-3">
            <input type="Text" id="CustomerMobileNo" class="input50" />
        </div>
    </div>

    <div style="padding-right:10px; margin-top:10px; " class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Customer Name
        </div>
        <div class="col-lg-3 col-md-3">
            <input type="Text" id="txtCustomerName" class="input50" />
        </div>
    </div>
    <div style="padding-right: 10px; margin-top: 10px; " class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Employee Name
        </div>
        <div class="col-lg-3 col-md-3">
            @*<input type="Text" id="txtEmployeeName" class="input50" />*@
            @Html.DropDownListFor(model => model.tblNPCDetail.EmployeeName, new SelectList(Model.lstNPCEmployees, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "txtEmployeeName" })
        </div>
    </div>
    <div style="padding-right:10px; margin-top:20px;" class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Category Name
        </div>
        <div class="col-lg-3 col-md-3">
            @Html.DropDownListFor(model => model.tblNPCDetail.CategoryName, new SelectList(Model.lstNPCCategory, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlCategoryList" })
        </div>
    </div>
    <div style="padding-right: 10px; margin-top: 20px;" class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Sub-Category Name
        </div>
        <div class="col-lg-3 col-md-3">
            @Html.DropDownListFor(model => model.tblNPCDetail.SubCategoryName, new SelectList(Model.lstNPCSubCategory, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlSubCategoryName" })

        </div>
    </div>
    <div style="padding-right:10px; margin-top:20px;" class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Next Visit day
        </div>
        <div class="col-lg-3 col-md-3">
            <select id="ddlNextVisitDay" name="NextVisitday" class="input50">
                <option value="1">Select</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
    </div>
    <div style="padding-right:10px; margin-top:20px;" class="row">
        <div class="col-lg-3 col-md-3" style="padding-left:30px;">
            Remarks
        </div>
        <div class="col-lg-3 col-md-3">
            <textarea id="txtRemarks" class="input100"></textarea>
        </div>
    </div>

    <div style="text-align:center;">
        <button type="button" id="btnNPCSave" onclick="return SaveNPC();" class="btn btn-primary" style="margin-right:10px;margin-bottom:20px; margin-top:20px; margin-left:30px;">Submit</button>
        <button type="button" id="btnClear" onclick="return NPCPage();" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 20px; margin-top: 20px; margin-left: 30px;">Clear</button>
    </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/Scripts/cute-alert-master/style-alert.css">
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<script>
    $(document).ready(function () {

        RemoveRequiredBorderNPC();

    })
    function SaveNPC() {
        var validationStatus1 = ValidateNPC();
        if (validationStatus1) {
        if (/^[6789]\d{9,9}$/.test($("#CustomerMobileNo").val())) {
            
            
                var NPCData = [];
                item = {};
                item["OutletName"] = $("#ddlOutlet").val();
                item["CustomerMobileNo"] = /*document.getElementById("SMSScript");*/$("#CustomerMobileNo").val();
                item["CustomerName"] = $("#txtCustomerName").val();
                item["EmployeeName"] = $("#txtEmployeeName").val();
                item["CategoryName"] = $("#ddlCategoryList").val();
                item["SubCategoryName"] = $("#ddlSubCategoryName").val();
                item["NextVisitDay"] = $("#ddlNextVisitDay").val();
                item["Remarks"] = $("#txtRemarks").val();


                NPCData.push(item);
                var NPCDataStr = JSON.stringify(NPCData);
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveNPC", "Login")',
                    data: '{jsonData: ' + JSON.stringify(NPCDataStr) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result)
                        if (result == true) {
                            cuteAlert({
                                type: "success",
                                title: "Saved",
                                message: "NPC Data saved successfully",
                                buttonText: "Okay"
                            }).then(() => {
                                var urlLink = "@Url.Action("NPCPage", "Login")";
                                window.location.href = urlLink;
                            })

                            $("#divLoader").hide();
                        }
                        else {
                            cuteAlert({
                                type: "error",
                                title: "Oops..",
                                message: "There is a problem in saving NPC Data",
                                buttonText: "Okay"
                            })
                            $("#divLoader").hide();
                        }
                    },
                    error: function (result) {
                        //console.log(result.responseText)
                    }
                });
            }
            else {

                cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Invalide MobileNo Or Enter MobileNo",
                    buttonText: "Okay"
                })
                $("#CustomerMobileNo").focus();
                return false;

            }
        }

    }
    function ValidateNPC() {
        var status = true;
        if ($("#CustomerMobileNo").val() == "") {
            $('#CustomerMobileNo').css('border-color', 'red');
            status = false;
        }
        if ($("#txtCustomerName").val() == "") {
            $('#txtCustomerName').css('border-color', 'red');
            status = false;
        }
        if ($("#txtEmployeeName").val() == "") {
            $('#txtEmployeeName').css('border-color', 'red');
            status = false;
        }

        if (!status) {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Enter required fields",
                buttonText: "Okay"
            })

        }

        return status;
    }

    function RemoveRequiredBorderNPC() {
        $("#CustomerMobileNo").focusout(function () {
            if ($("#CustomerMobileNo").val() != "") {
                $('#CustomerMobileNo').css('border-color', '');
            }
            else {
                $('#CustomerMobileNo').css('border-color', 'red');
            }
        });

        $("#txtCustomerName").focusout(function () {
            if ($("#txtCustomerName").val() != "") {
                $('#txtCustomerName').css('border-color', '');
            }
            else {
                $('#txtCustomerName').css('border-color', 'red');
            }
        });
        $("#txtEmployeeName").focusout(function () {
            if ($("#txtEmployeeName").val() != "") {
                $('#txtEmployeeName').css('border-color', '');
            }
            else {
                $('#txtEmployeeName').css('border-color', 'red');
            }
        });
    }
    function NPCPage()
    {
        var urlLink = "@Url.Action("NPCPage", "Login")";
        window.location.href = urlLink;
    }

</script>
