<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    <link href="~/Content/main.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
    <link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />
    <style>
        #loader {
            display: flex;
            width: 100%;
            height: 100%;
            position: fixed;
            opacity: 1;
            z-index: 1021;
            background: rgba(255, 255, 255, .7);
        }

        .loader-inner {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            position: relative;
            margin: auto;
        }

            .loader-inner:before,
            .loader-inner:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                /* border-radius: 100%;
                border: 10px solid transparent;
                border-top-color: darkblue;*/
            }

            .loader-inner:before {
                z-index: 100;
                /*background-image: url(~/Content/assets/BlueocktopusLoadingGIF.mp4);
                animation: spinner-border 1s infinite;*/
            }

            .loader-inner:after {
                /*border: 10px solid lightblue;*/
            }
    </style>

</head>
<body>
    <div id="divLoader" runat="server" style="display:none">
        <div id="loader">
            <div class="loader-inner">
                <img src="~/Content/assets/BlueocktopusLoadingGIF.gif" width="100px" height="100px" />
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
