@model WebApp.ViewModel.DiscussionViewModel

<style>
    #one:checked ~ .panels #one-panel,
    #two:checked ~ .panels #two-panel {
        display: block
    }
    /* The Modal (background) */
    .modal {
        display: none; /*Hidden by default */
        position: fixed; /*Stay in place */
        z-index: 5000 !important; /*Sit on top */
        padding-top: 100px; /*Location of the box */
        left: 120px;
        top: 0;
        width: 100%; /*Full width */
        height: 100%; /*Full height */
        overflow: auto; /*Enable scroll if needed */
        background-color: rgb(0,0,0); /*Fallback color */
        background-color: rgba(0,0,0,0.4); /*Black w/ opacity*/
    }

    Modal Content
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        border-radius: 25px;
    }

    The Close Button
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .warpper {
        display: grid;
        flex-direction: column;
        align-items: center;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .tab {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
    }

    .panels {
        background: #ffffff;
        box-shadow: 0 2rem 2rem #00000080;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel {
        display: none;
        animation: fadein .8s;
    }

    .panel-title {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio {
        display: none;
    }

    #one:checked ~ .tabs #one-tab,
    #two:checked ~ .tabs #two-tab {
        background: #fff !important;
        color: #000;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        font-weight: bold;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
</style>
<div class="row mb-3 card">
    <input class="radio" id="one" name="group" type="radio" >
    <input class="radio" id="two" name="group" type="radio" checked>
    <div class="tabs" style="margin-left:20px;">
        <label class="tab" id="two-tab" for="two">Open Item</label>
        <label class="tab" id="one-tab" for="one">All Discussion</label>

    </div>
    <div class="panels">
        <div class="multisteps-form__panel  p-3 m-3 list-box bg-white panel" id="two-panel">
            <div class="container-fluid pt-3 pl-3 pr-3">
                <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col search-container">
                            <i class="fas fa-search"></i>
                            <input class="input100" type="text" id="txtSearch" placeholder="Search discussion..." />
                        </div>
                    </div>
                    <div class="row mt-3" id="dvFollowupDataNew">
                        <div class="table-responsive">
                            <table class="table" id="followupTable">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Ticket No</th>
                                        <th scope="col">Group Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Customer Details</th>
                                        <th scope="col">Call Type</th>
                                        <th scope="col">Sub Call Type</th>
                                        <th scope="col">FollowUp Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Assigned Member</th>
                                        <th scope="col">Raised By</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.lstFollowUpsDiscussions)
                                        {
                                            var followupdate = "--";
                                            if (item.FollowupDate.HasValue)
                                            {
                                                followupdate = item.FollowupDate.Value.ToString();//.ToString("yyyy-MM-dd");
                                            }
                                            var imgId = "imgExpandFollowup" + item.Id;
                                    <tr>

                                        <td style="text-align:center;">
                                            @*@if (item.SubDiscussionCount > 0)
            {*@
                                            <img id="@imgId" src="~/Content/assets/images/details_open.png" style="cursor:pointer;" onclick="ShowFollowUpActivities(@item.Id);" />
                                            @*}*@
                                        </td>
                                        <td>@item.Id</td>
                                        <td style="max-width:100px !important;">@item.GroupName</td>
                                        <td>@item.AddedDate</td>
                                        <td>@item.SpokenTo/<br />@item.ContactNo/<br />@item.CustomerType/<br />@item.CallMode</td>
                                        <td>@item.CallType</td>
                                        <td>@item.SubCallType</td>
                                        @if (followupdate == "--")
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        else
                                        {
                                            <td>@followupdate</td>
                                        }

                                        @if (item.Status == "Completed")
                                        {
                                            <td style="background-color:lightgreen;">@item.Status</td>
                                        }
                                        else if (item.Status == "WIP")
                                        {
                                            if (item.FollowupDate <= DateTime.Now.AddDays(-3))
                                            {
                                                <td style="background-color:red;">@item.Status</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:orange;">@item.Status</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:orange;">--</td>
                                        }

                                        @if (!string.IsNullOrEmpty(item.Description))
                                        {
                                            <td style="min-width:250px !important;">@item.Description</td>
                                        }
                                        else
                                        {
                                            <td>--</td>
                                        }

                                        <td style="min-width:100px !important;">@item.AssignedMember</td>
                                        <td>@item.AddedBy</td>
                                        @if (item.Status != "Completed")
                                        {
                                            <td style="text-align:center;">
                                                <a href="#" onclick="OpenStatusPopupNew(@item.Id,'@item.AddedBy');">
                                                    <img src="~/Content/assets/images/task.png" width="35" />
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                    </tr>

                                            var dynamicIdTr = "trFollowUpActivities" + item.Id;
                                            var dynamicIdDiv = "dvFollowupData" + item.Id;

                                <tr id="@dynamicIdTr" style="display:none;">
                                    <td colspan="13">
                                        <div id="@dynamicIdDiv" style="display:none;" class="table-responsive">

                                        </div>
                                    </td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="13" align="center">No Discussion Available</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="multisteps-form__panel shadow  list-box bg-white panel" id="one-panel">
            <div class="container-fluid pt-3 pl-3 pr-3">
                <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col search-container">
                            <i class="fas fa-search"></i>
                            <input class="input100" type="text" id="txtSearch1" placeholder="Search discussion..." />
                        </div>
                    </div>
                    <div class="row mt-3" id="dvDiscussionData">
                        <div class="table-responsive">
                            <table class="table" id="discussionTable">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Group Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Customer Details</th>
                                        <th scope="col">Call Type</th>
                                        <th scope="col">Sub Call Type</th>
                                        <th scope="col">FollowUp Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Assigned Member</th>
                                        <th scope="col">Raised By</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.lstDiscussions)
                                        {
                                            var followupdate = "--";
                                            if (item.FollowupDate.HasValue)
                                            {
                                                followupdate = item.FollowupDate.Value.ToString();//.ToString("yyyy-MM-dd");
                                            }
                                            var imgId = "imgExpand" + item.Id;
                                    <tr>

                                        <td style="text-align:center;">
                                            @if (item.SubDiscussionCount > 0)
                                            {
                                                <img id="@imgId" src="~/Content/assets/images/details_open.png" style="cursor:pointer;" onclick="ShowActivities(@item.Id);" />
                                            }
                                        </td>
                                        <td style="max-width:100px !important;">@item.GroupName</td>
                                        <td>@item.AddedDate</td>
                                        <td>@item.SpokenTo/<br />@item.ContactNo/<br />@item.CustomerType/<br />@item.CallMode</td>
                                        <td>@item.CallType</td>
                                        <td>@item.SubCallType</td>
                                        @if (followupdate == "--")
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                        else
                                        {
                                            <td>@followupdate</td>
                                        }


                                        @if (item.Status == "Completed")
                                        {
                                            <td style="background-color:lightgreen;">@item.Status</td>
                                        }
                                        else if (item.Status == "WIP")
                                        {
                                            if (item.FollowupDate <= DateTime.Now.AddDays(-3))
                                            {
                                                <td style="background-color:red;">@item.Status</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:orange;">@item.Status</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:orange;">--</td>
                                        }

                                        @if (!string.IsNullOrEmpty(item.Description))
                                        {
                                            <td style="min-width:250px !important;">@item.Description</td>
                                        }
                                        else
                                        {
                                            <td>--</td>
                                        }
                                        @*@if (!string.IsNullOrEmpty(item.AssignedMember))
        {*@
                                        <td>@item.AssignedMember</td>
                                        @*}
        else
        {
            <td>--</td>
        }*@


                                        <td>@item.AddedBy</td>
                                        @if (item.Status != "Completed")
                                        {
                                            <td style="text-align:center;">
                                                <a href="#" onclick="OpenStatusPopupNew(@item.Id,'@item.AddedBy');">
                                                    <img src="~/Content/assets/images/task.png" width="35" />
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">--</td>
                                        }
                                    </tr>

                                            var dynamicIdTr = "trActivities" + item.Id;
                                            var dynamicIdDiv = "dvDiscussionData" + item.Id;

                                <tr id="@dynamicIdTr" style="display:none;">
                                    <td colspan="13">
                                        <div id="@dynamicIdDiv" style="display:none;" class="table-responsive">

                                        </div>
                                    </td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                    <td style="display:none;"></td>
                                </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="13" align="center">No Discussion Available</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $('#discussionTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 50,
            "pagingType": "simple_numbers"
        });

        $('#discussionTable_filter').hide();

        $('#txtSearch1').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch1').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table1 = $('#discussionTable').DataTable();
            table1.draw();
        });

        $('#followupTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 50,
            "pagingType": "simple_numbers"
        });

        $('#followupTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table2 = $('#followupTable').DataTable();
            table2.draw();
        });

    });
</script>
