@model WebApp.ViewModel.DiscussionViewModel
@{
    ViewBag.Title = "Discussions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    /* The Modal (background) */
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 0 !important; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 120px;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        border-radius: 25px;
    }

    The Close Button
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    input:read-only {
        background-color: lightgray;
    }
</style>
<div class="app-main__inner">
    @*<input type="hidden" id="uploadDocBase64" /> 
    <input type="hidden" id="uploadFileName" />*@
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            @using (Html.BeginForm("AddDiscussion", "Discussion", FormMethod.Post, new { id = "frmadddiscussion", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.File, new { @id = "uploadDocBase64" })
                @Html.HiddenFor(model => model.FileName, new { @id = "uploadFileName" })
                @Html.HiddenFor(model => model.objDiscussion.GroupId, new { @id = "hdnGroupID" })
                <div class="card" style="margin-bottom: 20px;">
                    <div class="row" style="margin: 10px;align-self:center;font-size:22px;">
                        Customer Name -  @Model.objDiscussion.GroupName
                    </div>
                </div>
                <div id="dvAddDiscussion" class="card" style="display:none;padding:20px;margin-bottom:10px;">
                    <div class="row" style="margin: 0;">
                        <div style="float:left;text-align:right;width:100px;margin-top:10px;">
                            Spoken To
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.TextBoxFor(model => model.objDiscussion.SpokenTo, new { @class = "input100", @id = "txtSpokenTo" })
                        </div>
                        <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                            Contact No
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.TextBoxFor(model => model.objDiscussion.ContactNo, new { @class = "input100", @type = "number", @id = "txtContactNo" })
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">

                        <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                            Customer Type
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.DropDownListFor(model => model.objDiscussion.CustomerType, new SelectList(Model.CustomerType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlCustomerType" })

                        </div>
                        <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                            Call Mode
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.DropDownListFor(model => model.objDiscussion.CallMode, new SelectList(Model.CallMode(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlCallMode" })
                        </div>
                    </div>

                    <div class="row" style="margin: 0;">
                        <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                            Call Type
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.DropDownListFor(model => model.objDiscussion.CallType, new SelectList(Model.lstCallTypes, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlCallType" })
                        </div>
                        <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                            Call Sub Type
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.DropDownListFor(model => model.objDiscussion.SubCallType, new SelectList(Model.lstCallSubTypes, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlSubCallType" })
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                            Department
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.DropDownListFor(model => model.dept, new SelectList(Model.Departments(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddlDepartment" })
                        </div>
                        <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                            Members
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            <select id="ddMembers" class="input100"><option value="S">Please Select</option></select>
                        </div>
                    </div>
                          
                    <div class="row" style="margin: 0;">
                        <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                            Status
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.DropDownListFor(model => model.objDiscussion.Status, new SelectList(Model.Status(), "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlStatus" })
                        </div>
                        <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                            FollowUp Date
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.TextBoxFor(model => model.objDiscussion.FollowupDate, new { @class = "input100", @id = "txtFollowupDate" })
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                            Description
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.TextAreaFor(model => model.objDiscussion.Description, new { @class = "input100", @id = "txtDescription" })
                        </div>
                        <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                            Action Items
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            @Html.TextAreaFor(model => model.objDiscussion.ActionItems, new { @class = "input100" })
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                            Upload
                        </div>
                        <div class="col-sm-4" style="float:left;margin-top:10px;">
                            <input type="file" id="uploadfile" />
                            @*@Html.TextBoxFor(model => model.File, new { type = "file", @id = "FileUpload" })*@
                        </div>
                        <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                            Priority
                        </div>
                        <div id="ddlPriority" class="input100" style="float:left;margin-top:10px;margin-left:30px;">
                            <select>
                                <option>Select</option>
                                <option>Critical</option>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        @*<div class="col-sm-4" style="float:left;margin-top:10px;">
            @Html.DropDownListFor(model => model.objDiscussion.Priority, new SelectList(Model.Status(), "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlPriority" })
        </div>*@
                    </div>

                    <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
                        <button type="button" id="btnCancel" class="btn btn-primary pull-right" style="margin-right:10px;">Cancel</button>
                        <button type="button" id="btnDiscussionSave" class="btn btn-primary pull-right" onclick="return CheckValidation();" style="margin-right:10px;">Save</button>
                    </div>

                </div>
            }
            <div class="row">
                <div class="col search-container">
                    <input type="hidden" id="hdnId" name="hdnId" />
                </div>
                <div style="text-align:right;">
                    <a href="#" onclick="ShowAddDiscussion();" title="Add New Discussion">  <img src="~/Content/assets/images/AddCustomer.png" /></a>
                </div>
            </div>

            <div id="dvDiscussionList">
                @Html.Partial("~/Views/Discussion/_DiscussionList.cshtml", Model.lstDiscussions)
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0;">
            <div style="float:left;text-align:right;width:100px;margin-top:10px;">
                Description
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <textarea id="txtDesc" rows="5" cols="45" style="border-radius:10px;"></textarea>
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                ReAssign -
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <select id="ddReassign" class="input100"><option value="S">Please Select</option></select>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Status
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <select id="ddlPopupStatus" class="input100">
                    <option value="WIP">WIP</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Followup Date
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <input type="text" id="txtFollowupDateNew1" class="input50" />

            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Request Type
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <select id="ddlRequestType" class="input100">
                    <option>Valid</option>
                    <option>Invalid</option>
                </select>
            </div>
        </div>


        <div class="row justify-content-end pr-4" style="margin-top:20px;margin-right:465px;">

            <button type="button" id="btnUpdateStatus" class="btn btn-primary" style="margin-right:10px;"> Update</button>
            <button type="button" id="btnPopupClose" class="btn btn-outline-primary cancel-btn"> Close</button>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script>
    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $("#txtFollowupDate").datepicker({
        dateFormat: "yy-mm-dd",
        minDate: today,
    });
    $("#txtFollowupDateNew1").datepicker({
        dateFormat: "yy-mm-dd",
        minDate: today,
    });
    $(document).ready(function () {

        document.getElementById("uploadfile").addEventListener('change', handleFileSelect, false);

        $('#txtFollowupDate').attr("disabled", "disabled");

        $('#ddlStatus').change(function () {
            if ($('#ddlStatus').val() == "Completed") {
                $('#txtFollowupDate').attr("disabled", "disabled");
            }
            else {

                $('#txtFollowupDate').removeAttr("disabled");
            }
        });
        RemoveRequiredBorder();
        $('#ddlCallType').change(function () {
            if ($("#ddlCallType option:selected").text() != "Please Select") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSubCallTypes", "Discussion")',
                    //url: "/Discussion/GetSubCallTypes",
                    data: '{callId: ' + JSON.stringify($("#ddlCallType").val()) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $("#ddlSubCallType").empty();
                        $.each(result, function () {
                            $("#ddlSubCallType").append($("<option />").val(this.Value).text(this.Text));
                        });
                    },
                    error: function (result) {
                        console.log(result.responseText);
                    }
                });
            }
            else {
                $("#ddlSubCallType").empty();
                $("#ddlSubCallType").append($("<option />").val(0).text("Please Select"));
            }
        });

        $("#btnCancel").on("click", function () {
            $("#dvAddDiscussion").hide(1000);
        });
        $('#btnPopupClose').on("click", function () {
            $("#myModal").hide(1000);
        });
        $('#btnUpdateStatus').on("click", function () {
            UpdateStatus();
        });

    });

    function handleFileSelect(evt) {

        var id = evt.currentTarget.id;

        var f = evt.target.files[0];
        var Name = evt.target.files[0].name;
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                var binaryData = e.target.result;
                var base64String = window.btoa(binaryData);
                $("#uploadDocBase64").val(base64String);
                $("#uploadFileName").val(Name);
            };
        })(f);
        reader.readAsBinaryString(f);
    }

    function ShowAddDiscussion() {
        $("#dvAddDiscussion").show(1000);
    }
    function RemoveRequiredBorder() {
        $("#txtSpokenTo").focusout(function () {
            if ($("#txtSpokenTo").val() != "") {
                $('#txtSpokenTo').css('border-color', '');
            }
            else {
                $('#txtSpokenTo').css('border-color', 'red');
            }
        });
        $("#txtContactNo").focusout(function () {
            if ($("#txtContactNo").val() != "") {
                $('#txtContactNo').css('border-color', '');
            }
            else {
                $('#txtContactNo').css('border-color', 'red');
            }
        });
        $("#txtDescription").focusout(function () {
            if ($("#txtDescription").val() != "") {
                $('#txtDescription').css('border-color', '');
            }
            else {
                $('#txtDescription').css('border-color', 'red');
            }
        });
        $("#txtFollowupDate").focusout(function () {
            if ($("#txtFollowupDate").val() != "") {
                $('#txtFollowupDate').css('border-color', '');
            }
            else {
                $('#txtFollowupDate').css('border-color', 'red');
            }
        });

        $('#ddlCallMode').change(function () {
            if ($("#ddlCallMode option:selected").text() == "Please Select") {
                $('#ddlCallMode').css('border-color', 'red');
            }
            else {
                $('#ddlCallMode').css('border-color', '');
            }
        });
        $('#ddlCallType').change(function () {
            if ($("#ddlCallType option:selected").text() == "Please Select") {
                $('#ddlCallType').css('border-color', 'red');
            }
            else {
                $('#ddlCallType').css('border-color', '');
            }
        });
        $('#ddlSubCallType').change(function () {
            if ($("#ddlCallType option:selected").text() == "Issue") {
                if ($("#ddlSubCallType option:selected").text() == "Please Select") {
                    $('#ddlSubCallType').css('border-color', 'red');
                }
                else {
                    $('#ddlSubCallType').css('border-color', '');
                }
            }
            else {
                $('#ddlCallType').css('border-color', '');
            }
        });

        $("#txtDesc").focusout(function () {
            if ($("#txtDesc").val() != "") {
                $('#txtDesc').css('border-color', '');
            }
            else {
                $('#txtDesc').css('border-color', 'red');
            }
        });
    }
    function CheckValidation() {
        var returnStatus = true;
        if ($("#txtSpokenTo").val() == "") {
            $('#txtSpokenTo').css('border-color', 'red');
            returnStatus = false;
        }
        if ($("#txtContactNo").val() == "") {
            $('#txtContactNo').css('border-color', 'red');
            returnStatus = false;
        }
        if ($("#ddlCallMode option:selected").text() == "Please Select") {
            $('#ddlCallMode').css('border-color', 'red');
            returnStatus = false;
        }
        if ($("#ddlCallType option:selected").text() == "Please Select") {
            $('#ddlCallType').css('border-color', 'red');
            returnStatus = false;

        }
        if ($("#ddlCustomerType option:selected").text() == "Please Select") {
            $('#ddlCustomerType').css('border-color', 'red');
            returnStatus = false;

        }
        if ($("#ddlCallType option:selected").text() == "Issue") {
            if ($("#ddlSubCallType option:selected").text() == "Please Select") {
                $('#ddlSubCallType').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if ($("#ddlStatus option:selected").text() == "WIP") {
            if ($("#txtFollowupDate").val() == "") {
                $('#txtFollowupDate').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if ($("#txtDescription").val() == "") {
            $('#txtDescription').css('border-color', 'red');
            returnStatus = false;
        }

        if (returnStatus) {

            var File = $("#uploadDocBase64").val();
            //console.log(File);
            //var data = $('#frmadddiscussion').serialize() + '&Member=' + Member + '&File=' + File + '&FileName=' + UploadFileName; //'&FileUpload=' + UploadFile +

            var data = $('#frmadddiscussion').serialize();
            var id = $("#hdnGroupID").val();
            $("#divLoader").show();
            $.ajax({
                url: $('#frmadddiscussion').attr('action'),
                type: 'post',
                dataType: "html",
                data: data,
                success: function (response) {
                    console.log(response)
                    if (response) {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "Discussion Details saved Successfully !!!",
                            buttonText: "Okay"
                        })
                        BindListing();
                        $("#dvAddDiscussion").hide(1000);
                        $("#divLoader").hide();
                    }
                    else {
                        $("#divLoader").hide();
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "Problem occured in saving Discussion Details",
                            buttonText: "Okay"
                        })
                    }
                }
            });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            return false;
        }
    }

    function BindListing() {
        var id = $("#hdnGroupID").val();
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetDiscussionList", "Discussion")',
            data: '{groupId: ' + JSON.stringify(id) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (responce) {
                $("#dvDiscussionList").html(responce);
                $("#divLoader").hide();
            },
            error: function (responce) {
                $("#dvDiscussionList").html(responce.responseText);
                $("#divLoader").hide();

            }
        });
    }
    function OpenStatusPopup(id, AddedBy) {
        
        $("#ddReassign").append("<option>" + AddedBy + "</option>");

        
        var FilterData = [];
        item = {};
        item["id"] = id;
        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        $("#divLoader").show();
        $.ajax({
                type: "POST",
                url: '@Url.Action("GetReAssignMember", "Discussion")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)

                    $("#ddMembers").empty()
                    $("#ddMembers").append("<option>Please Select</option>");
                    for (item in result) {
                        $("#ddMembers").append("<option>" + result[item].Members + "</option>");
                    }

                    $("#divLoader").hide();
                },
                error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                }
            });


        $("#myModal").show(1000);
        $("#hdnId").val(id);


    }
    function UpdateStatus() {
        var id = $("#hdnId").val();
        var Desc = $("#txtDesc").val();
        var Status = $("#ddlPopupStatus").val();
        var FollowupDate = $("#txtFollowupDateNew1").val();
        if (Desc != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateStatusAndDiscussion", "Discussion")',
                data: '{dId: ' + JSON.stringify(id) + ',Desc: ' + JSON.stringify(Desc) + ',Status: ' + JSON.stringify(Status) + ',FollowupDate: ' + JSON.stringify(FollowupDate) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#myModal").hide(1000);
                },
                error: function (result) {
                    if (result.responseText == "True") {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "Status updated Successfully !!!",
                            buttonText: "Okay"
                        })
                        BindListing();
                        $("#myModal").hide(1000);
                    }
                }
            });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            $('#txtDesc').css('border-color', 'red');
        }
    }
    function ShowActivities(id) {
      //  var pType = "Distributors";
        if ($("#dvDiscussionData" + id).is(":visible")) {
            $("#dvDiscussionData" + id).hide(1000);
            $("#trActivities" + id).hide(1000);

            $("#imgExpand" + id).attr("src", "/Content/assets/images/details_open.png");
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                 url: '@Url.Action("GetSubDiscussionList")',
                data: '{Id:' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    BindActivities(id,response);
                    $("#divLoader").hide();
                },
                failure: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
    }

    function BindActivities(id,data) {
        if (data != "") {
            var htmlStr = "<table border=\"2\" style=\"background-color:gray;margin-left: 11px;width: 98%;\" class=\"table\">";
            htmlStr += "<tr style=\"text-align: center;\">"
            htmlStr += "<th scope=\"col\">Updated Date</th>";
            htmlStr += "<th scope=\"col\">Updated By</th>";
            htmlStr += "<th scope=\"col\">Description</th>";
            htmlStr += "<th scope=\"col\">Followup Date</th>";
            htmlStr += "<th scope=\"col\">Status</th>";
            htmlStr += "</tr>";

            $.map(data, function (item) {
                var d = new Date();
                d = item.FollowupDate;
                console.log(item.UpdatedDate);
                htmlStr += "<tr style=\"text-align: center;\">"
                htmlStr += "<td>" + item.UpdatedDate + "</td>";
                htmlStr += "<td>" + item.UpdatedBy + "</td>";
                htmlStr += "<td style=\"width: 600px;\">" + item.Description + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.FollowupDate + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.Status + "</td>";
                htmlStr += "</tr>"
            });

            htmlStr += "</table>";
            $("#dvDiscussionData" + id).html(htmlStr);
            console.log(htmlStr);
            //$('tr[id^="trActivities"]').hide(1000);
            //$('div[id^="dvDiscussionData"]').hide(1000);
            $('[id^="imgExpand"]').attr("src", "../Content/assets/images/details_open.png");

            $("#trActivities" + id).show(1000);

            $("#dvDiscussionData" + id).show(1000);
            $("#imgExpand" + id).attr("src", "../Content/assets/images/details_close.png");

        }
        else {
            cuteAlert({
                type: "warning",
                title: "Oops..",
                message: "No tracking available",
                buttonText: "Okay"
            })
        }
    }

    $("#ddlDepartment").change(function () {
        var Department = $("#ddlDepartment").val();
        var FilterData = [];
        item = {};
        item["Department"] = Department;
        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        $("#divLoader").show();
        $.ajax({
                type: "POST",
                url: '@Url.Action("GetDepartmentMember", "Discussion")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)

                    $("#ddMembers").empty()
                    $("#ddMembers").append("<option>Please Select</option>");
                    for (item in result) {
                        $("#ddMembers").append("<option>" + result[item].Members + "</option>");
                    }

                    $("#divLoader").hide();
                },
                error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                }
            });
    });
</script>
