@model WebApp.ViewModel.DiscussionViewModel
@using BOTS_BL.Models;

@{
    ViewBag.Title = "Common Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userDetails = (CustomerLoginDetail)Session["UserSession"];

}
<style>

    /* The Modal (background) */
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5 !important; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 120px;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        border-radius: 25px;
    }

    The Close Button
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    input:read-only {
        background-color: lightgray;
    }
</style>
<div class="app-main__inner">

    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <input type="hidden" id="hdnIdNew" name="hdnIdNew" />
            <input type="hidden" id="DoneFileName" name="DoneFileName" />
            <input type="hidden" id="DoneDocBase64" name="DoneDocBase64" />
            <b>Common Discussions</b>

            <div class="row" style="margin: 0;">
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                    Group
                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">
                    @Html.DropDownList("Group", new SelectList(ViewBag.lstgroupdetails, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlGroupnm" })
                </div>
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                    Staus
                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">
                    @Html.DropDownList("Staus", new SelectList(ViewBag.lstcommonstatus, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlstatus" })
                </div>

            </div>
            <div class="row" style="margin: 0;">
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                    Raise by
                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">
                    @if (userDetails.LoginType == "7")
                    {
                        @Html.DropDownList("RaisedBy", new SelectList(ViewBag.lstRMAssigned, "Value", "Text"), htmlAttributes: new { @class = "input100", @disabled = "disabled", @id = "ddlRaisedBy" })
                    }
                    else
                    {
                        @Html.DropDownList("RaisedBy", new SelectList(ViewBag.lstRMAssigned, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlRaisedBy" })
                    }
                </div>
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                    Call Type
                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">
                    @Html.DropDownList("calltype", new SelectList(ViewBag.lstCallTypes, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "input100", @id = "ddlcalltype" })
                </div>
            </div>
            <div class="row" style="margin: 0;">
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                    Assigned Member
                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">
                    @Html.DropDownList("AssignedMember", new SelectList(ViewBag.lstMemberAssigned, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlMemberAssign" })
                </div>
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                    Call Sub Type
                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">
                    @Html.DropDownListFor(model => model.objDiscussion.SubCallType, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "--Select--", htmlAttributes: new { @class = "input100", @id = "ddlSubCallType" })
                </div>
            </div>
            <div class="row" style="margin: 0;">
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                    Discussion Type
                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">
                    @Html.DropDownListFor(model => model.objDiscussion.DiscussionType, new SelectList(Model.DiscussionType(), "Value", "Text"), "--Select--", htmlAttributes: new { @class = "input100", @id = "ddlDiscussionType" })
                </div>
                <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">

                </div>
                <div class="col-sm-4" style="float:left;margin-top:10px;">

                </div>
            </div>


            <div class="row mt-3 mb-4">

                <div class="col-md-8 col-xl-8">
                    <input type="radio" id="rdnnorange" checked name="cust_type" /> No Range &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdndaterange" name="cust_type" /> Date Range <br /><br />
                    <input id="txtFromDate" placeholder="From Date" class="input50" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="txtToDate" placeholder="To Date" class="input50" />
                    <button type="button" id="btnFilter" style="margin-left:17px;margin-top:5px;" class="btn btn-primary"><b>FILTER</b></button>
                    <button type="button" id="btncancel" style="margin-left:17px;margin-top:5px;" class="btn btn-primary"><b>CANCEL</b></button>
                    <button class="btn btn-primary login-btn" onclick='ExportDataExcel("0");' type="button" id="btnExport" style="margin-left:17px;margin-top:5px;">
                        <i class="fas fa-file-export"></i> Export
                    </button>
                </div>
            </div>



            <div id="dvListing">
                @Html.Partial("~/Views/Discussion/_CommonDiscussionList.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0;">
            <div style="float:left;text-align:right;width:100px;margin-top:10px;">
                Description
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <textarea id="txtDesc" rows="5" cols="45" style="border-radius:10px;"></textarea>
            </div>
            <div style="float: left; text-align: right; width: 115px; margin-top: 10px;">
                ReAssign -
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                @*<select id="ddReassign" class="input100"><option value="S">Please Select</option></select>*@
                @Html.DropDownListFor(model => model.objDiscussion.ReassignMember, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input100", @id = "ddReassignMember" })
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Status
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <select id="ddlPopupStatus" class="input100">
                    <option value="WIP">WIP</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Upload File
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <input type="file" id="idFileDone" />
            </div>
        </div>
        <div class="row" style="margin: 0;">
            <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                Followup Date
            </div>
            <div class="col-sm-4" style="float:left;margin-top:10px;">
                <input type="text" id="txtFollowupDateNew" class="input50" />
            </div>
        </div>

        <div class="row justify-content-end pr-4" style="margin-top:20px;margin-right:465px;">

            <button type="button" id="btnUpdateStatusNew" class="btn btn-primary" style="margin-right:10px;"> Update</button>
            <button type="button" id="btnPopupCloseNew" class="btn btn-outline-primary cancel-btn"> Close</button>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script>
    var tableData = [];
    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $("#txtFromDate").datepicker({
        dateFormat: "yy-mm-dd",
        maxDate: today,
    });
    $("#txtToDate").datepicker({
        dateFormat: "yy-mm-dd",
        maxDate: today,
    });
    $("#txtFollowupDateNew").datepicker({
        dateFormat: "yy-mm-dd",
        minDate: today,
    });

    $(document).ready(function () {
       // GetData();
        SetFilter();
        $("#rdnnorange").change(function () {
            SetFilter();
        });
        $("#rdndaterange").change(function () {
            SetFilter();
        });

        document.getElementById("idFileDone").addEventListener('change', handleDoneFile, false);

        $("#btnFilter").click(function () {
            GetData();
        });
        $("#btncancel").click(function () {
            resetAll();
        });
        $('#btnPopupCloseNew').on("click", function () {
            $("#myModal").hide(1000);
        });
        $('#btnUpdateStatusNew').on("click", function () {
            UpdateStatusNew();
        });
        $('#ddlcalltype').change(function () {

            if ($("#ddlcalltype option:selected").text() != "--Select--") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSubCallTypes", "Discussion")',
                    //url: "/Discussion/GetSubCallTypes",
                    data: '{callId: ' + JSON.stringify($("#ddlcalltype").val()) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $("#ddlSubCallType").empty();
                        $("#ddlSubCallType").append($("<option />").val(0).text("--Select--"));
                        $.each(result, function () {
                            $("#ddlSubCallType").append($("<option />").val(this.Value).text(this.Text));
                        });
                    },
                    error: function (result) {
                        console.log(result.responseText);
                    }
                });
            }
            else {
                $("#ddlSubCallType").empty();
                $("#ddlSubCallType").append($("<option />").val(0).text("--Select--"));
            }
        });

    });

    function resetAll() {
        $("#rdnnorange").prop("checked", true);
        $("#txtFromDate").attr("disabled", "disabled");
        $("#txtToDate").attr("disabled", "disabled");
        $('#txtFromDate').val('');
        $('#txtToDate').val('');
        $('#ddlGroupnm').prop('selectedIndex', 0);
        $('#ddlstatus').prop('selectedIndex', 0);
        $('#ddlcalltype').prop('selectedIndex', 0);
        $('#ddlRaisedBy').prop('selectedIndex', 0);
        $('#ddlMemberAssign').prop('selectedIndex', 0);
        $("#dvListing").hide();

    }
    function SetFilter() {

        if ($("#rdnnorange").is(":checked")) {
            $("#txtFromDate").attr("disabled", "disabled");
            $("#txtToDate").attr("disabled", "disabled");
            $('#txtFromDate').val('');
            $('#txtToDate').val('');
        }

        if ($("#rdndaterange").is(":checked")) {
            $("#txtFromDate").removeAttr("disabled");
            $("#txtToDate").removeAttr("disabled");
        }
    }

    function handleDoneFile(evt) {

        var id = evt.currentTarget.id;

        var f = evt.target.files[0];
        var Name = evt.target.files[0].name;
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                var binaryData = e.target.result;
                var base64String = window.btoa(binaryData);
                $("#DoneDocBase64").val(base64String);
                $("#DoneFileName").val(Name);


            };
        })(f);
        reader.readAsBinaryString(f);
    }

    function GetData() {

        var FilterData = [];
        item = {};
        $("#divLoader").show();

        if ($("#rdndaterange").is(":checked")) {

            item["fromDate"] = $('#txtFromDate').val();
            item["toDate"] = $('#txtToDate').val();
        }
        if ($("#rdnnorange").is(":checked")) {

            item["fromDate"] = null;
            item["toDate"] = null;
        }
        if ($("#ddlGroupnm").prop('selectedIndex') !== 0) {
            item["selectedgrp"] = $("#ddlGroupnm option:selected").val();

        }
        else {
            item["selectedgrp"] = null;
        }
        if ($("#ddlcalltype").prop('selectedIndex') !== 0) {

            item["selectedcall"]= $("#ddlcalltype option:selected").val();
        }
        else {
            item["selectedcall"] = null;
        }
        if ($("#ddlstatus").prop('selectedIndex') !== 0) {

            item["selectedstatus"]= $("#ddlstatus option:selected").val();
        }
        else {
            item["selectedstatus"] = null;
        }
        if ($("#ddlRaisedBy").prop('selectedIndex') !== 0) {

            item["selectedRaisedBy"] = $("#ddlRaisedBy option:selected").val();
        }
        else {
            item["selectedRaisedBy"] = null;
        }
        if ($("#ddlMemberAssign").prop('selectedIndex') !== 0) {

            item["selectedMemberAssign"] = $("#ddlMemberAssign option:selected").val();
        }
        else {
            item["selectedMemberAssign"] = null;
        }
        if ($("#ddlSubCallType").prop('selectedIndex') !== 0) {

            item["SubCallType"] = $("#ddlSubCallType option:selected").val();
        }
        else {
            item["SubCallType"] = null;
        }
        if ($("#ddlDiscussionType").prop('selectedIndex') !== 0) {
            item["DiscussionType"] = $("#ddlDiscussionType option:selected").val();
        }
        else {
            item["DiscussionType"] = null;
        }

        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        $.ajax({
            async: true,
            type: "POST",
            url: '@Url.Action("GetCommonFilteredDiscussion", "Discussion")',
            data: '{jsonData: ' + JSON.stringify(data) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response)
                if (response != null) {
                    $("#dvDiscussionData").html(response);
                    $("#divLoader").hide();
                }

            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
               // console.log(response)
                $("#dvListing").html(response.responseText);
                $("#divLoader").hide();

            }
        });
    }

    function ExportDataExcel(Id) {
        var emailid = '';
        var fromdt = '';
        var Todt = '';
        var groupnm = '';
        var calltype = 0;
        var subcalltype = 0;
        var status = '';
        var raisedby = '';
        var AssignedMember = '';
        var DiscussionType = '';
        console.log(Id);

        if ($("#rdndaterange").is(":checked")) {

            fromdt = $('#txtFromDate').val();
            Todt = $('#txtToDate').val();
        }
        if ($("#rdnnorange").is(":checked")) {

            fromdt = '';
            Todt = '';
        }
        if ($("#ddlGroupnm").prop('selectedIndex') !== 0) {
            groupnm = $("#ddlGroupnm option:selected").val();

        }
        else {
            groupnm = '';
        }
        if ($("#ddlcalltype").prop('selectedIndex') !== 0) {

            calltype = $("#ddlcalltype option:selected").val();
        }
        else {
            calltype = 0;
        }
        if ($("#ddlstatus").prop('selectedIndex') !== 0) {

            status = $("#ddlstatus option:selected").val();
        }
        else {
            status = '';
        }
        if ($("#ddlRaisedBy").prop('selectedIndex') !== 0) {

            raisedby = $("#ddlRaisedBy option:selected").val();
        }
        else {
            raisedby = '';
        }
        if ($("#ddlMemberAssign").prop('selectedIndex') !== 0) {

            AssignedMember = $("#ddlMemberAssign option:selected").val();
        }
        else {
            AssignedMember = '';
        }
        if ($("#ddlSubCallType").prop('selectedIndex') !== 0) {

            subcalltype = $("#ddlSubCallType option:selected").val();
        }
        else {
            subcalltype = 0;
        }
        if ($("#ddlDiscussionType").prop('selectedIndex') !== 0) {
            DiscussionType = $("#ddlDiscussionType option:selected").val();
        }
        else {
            DiscussionType = '';
        }

        var urlLink = "@Url.Action("ExportToExcelCommonFilteredDiscussion", "Discussion")";
        urlLink = urlLink + "?fromdt=" + fromdt + "&Todt=" + Todt + "&Groupnm=" + groupnm + "&calltype=" + calltype + "&subcalltype=" + subcalltype + "&status=" + status + "&raised=" + raisedby + "&AssignMember=" + AssignedMember + "&DiscussionType=" + DiscussionType +"&ReportName=DiscussionReport";
        console.log(urlLink);
        window.location.href = urlLink;
        $("#divLoader").hide();

    }
    function ShowActivities(id) {
      //  var pType = "Distributors";
        if ($("#dvDiscussionData" + id).is(":visible")) {
            $("#dvDiscussionData" + id).hide(1000);
            $("#trActivities" + id).hide(1000);

            $("#imgExpand" + id).attr("src", "/Content/assets/images/details_open.png");
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                 url: '@Url.Action("GetSubDiscussionList")',
                data: '{Id:' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    BindActivities(id,response);
                    $("#divLoader").hide();
                },
                failure: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
    }

    function BindActivities(id,data) {
        if (data != "") {
            var htmlStr = "<table border=\"2\" style=\"background-color:gray;margin-left: 11px;width: 98%;\" class=\"table\">";
            htmlStr += "<tr style=\"text-align: center;\">"
            htmlStr += "<th scope=\"col\">Updated Date</th>";
            htmlStr += "<th scope=\"col\">Updated By</th>";
            htmlStr += "<th scope=\"col\">Description</th>";
            htmlStr += "<th scope=\"col\">Followup Date</th>";
            htmlStr += "<th scope=\"col\">Uploaded File</th>";
            htmlStr += "<th scope=\"col\">Status</th>";
            htmlStr += "</tr>";

            $.map(data, function (item) {
                var d = new Date();
                d = item.FollowupDate;
                console.log(d);
                htmlStr += "<tr style=\"text-align: center;\">"
                htmlStr += "<td>" + item.UpdatedDate + "</td>";
                htmlStr += "<td>" + item.UpdatedBy + "</td>";
                htmlStr += "<td style=\"width: 600px;\">" + item.Description + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.FollowupDate + "</td>";
                if (item.FileName == null || item.FileName == "") {
                    htmlStr += "<td style=\"width: 100px;\">--</td>";
                }
                else {
                    htmlStr += "<td style=\"width: 100px;\"><a href='" + item.AttachedFile + "' target=_blank>" + item.FileName + "</a></td>";
                }
                htmlStr += "<td style=\"width: 100px;\">" + item.Status + "</td>";
                htmlStr += "</tr>"
            });

            htmlStr += "</table>";
            $("#dvDiscussionData" + id).html(htmlStr);
            console.log(htmlStr);
            //$('tr[id^="trActivities"]').hide(1000);
            //$('div[id^="dvDiscussionData"]').hide(1000);
            $('[id^="imgExpand"]').attr("src", "../Content/assets/images/details_open.png");

            $("#trActivities" + id).show(1000);

            $("#dvDiscussionData" + id).show(1000);
            $("#imgExpand" + id).attr("src", "../Content/assets/images/details_close.png");
        }
        else {
            cuteAlert({
                type: "warning",
                title: "Oops..",
                message: "No tracking available",
                buttonText: "Okay"
            })
        }

    }

    function ShowFollowUpActivities(id) {
        if ($("#dvFollowupData" + id).is(":visible")) {
            $("#dvFollowupData" + id).hide(1000);
            $("#trFollowUpActivities" + id).hide(1000);

            $("#imgExpandFollowup" + id).attr("src", "/Content/assets/images/details_open.png");
        }
        else {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                 url: '@Url.Action("GetSubDiscussionList")',
                data: '{Id:' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    BindFollowupActivities(id,response);
                    $("#divLoader").hide();
                },
                failure: function (response) {

                    $("#divLoader").hide();
                }
            });
        }
    }

    function BindFollowupActivities(id,data) {
        if (data != "") {
            var htmlStr = "<table border=\"2\" style=\"background-color:gray;margin-left: 11px;width: 98%;\" class=\"table\">";
            htmlStr += "<tr style=\"text-align: center;\">"
            htmlStr += "<th scope=\"col\">Updated Date</th>";
            htmlStr += "<th scope=\"col\">Updated By</th>";
            htmlStr += "<th scope=\"col\">Description</th>";
            htmlStr += "<th scope=\"col\">Followup Date</th>";
            htmlStr += "<th scope=\"col\">Uploaded File</th>";
            htmlStr += "<th scope=\"col\">Status</th>";
            htmlStr += "</tr>";

            $.map(data, function (item) {
                var d = new Date();
                d = item.FollowupDate;
                console.log(d);
                htmlStr += "<tr style=\"text-align: center;\">"
                htmlStr += "<td>" + item.UpdatedDate + "</td>";
                htmlStr += "<td>" + item.UpdatedBy + "</td>";
                htmlStr += "<td style=\"width: 600px;\">" + item.Description + "</td>";
                htmlStr += "<td style=\"width: 100px;\">" + item.FollowupDate + "</td>";
                if (item.FileName == null || item.FileName == "") {
                    htmlStr += "<td style=\"width: 100px;\">--</td>";
                }
                else {
                    htmlStr += "<td style=\"width: 100px;\"><a href='" + item.AttachedFile + "' target=_blank>" + item.FileName + "</a></td>";
                }
                htmlStr += "<td style=\"width: 100px;\">" + item.Status + "</td>";
                htmlStr += "</tr>"
            });

            htmlStr += "</table>";
            $("#dvFollowupData" + id).html(htmlStr);

            $('[id^="imgExpandFollowup"]').attr("src", "../Content/assets/images/details_open.png");
            $("#trFollowUpActivities" + id).show(1000);

            $("#dvFollowupData" + id).show(1000);
            $("#imgExpandFollowup" + id).attr("src", "../Content/assets/images/details_close.png");
        }
        else {
            cuteAlert({
                type: "warning",
                title: "Oops..",
                message: "No tracking available",
                buttonText: "Okay"
            })
        }

    }

    function OpenStatusPopupNew(id, AddedBy) {

        $("#ddReassignMember").empty()
        $("#ddReassignMember").append("<option>Please Select</option>");
        $("#ddReassignMember").append("<option>" + AddedBy + "</option>");

        var FilterData = [];
        item = {};
        item["id"] = id;
        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        $("#divLoader").show();
        $.ajax({
                type: "POST",
                url: '@Url.Action("GetReAssignMember", "Discussion")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    for (item in result) {
                        if (result[item].Selected)
                            $("#ddReassignMember").append("<option selected>" + result[item].Text + "</option>");
                        else
                            $("#ddReassignMember").append("<option>" + result[item].Text + "</option>");
                    }

                    $("#divLoader").hide();
                },
                error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                }
        });

        $("#myModal").show(1000);
        $("#hdnIdNew").val(id);
    }

    function UpdateStatusNew() {
        var id = $("#hdnIdNew").val();
        var Desc = $("#txtDesc").val();
        var Status = $("#ddlPopupStatus").val();
        var Reassign = $("#ddReassignMember").val();
        var FileDone = $("#DoneDocBase64").val();
        var DoneFileName = $("#DoneFileName").val();
        var FollowupDate = $("#txtFollowupDateNew").val();
        
        if (Desc != "") {
            alert(111)
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateStatusAndDiscussion", "Discussion")',
                data: '{dId: ' + JSON.stringify(id) + ',Desc: ' + JSON.stringify(Desc) + ',Status: ' + JSON.stringify(Status) + ',FollowupDate: ' + JSON.stringify(FollowupDate) + ',Reassign: ' + JSON.stringify(Reassign) + ',FileName: ' + JSON.stringify(DoneFileName) + ',File: ' + JSON.stringify(FileDone) +'}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#myModal").hide(1000);
                },
                error: function (result) {
                    if (result.responseText == "True") {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "Status updated Successfully !!!",
                            buttonText: "Okay"
                        })
                        GetData();
                        $("#myModal").hide(1000);
                    }
                }
            });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            $('#txtDesc').css('border-color', 'red');
        }
    }


</script>

