@model List<BOTS_BL.Models.MemberSearchTxn>
@using BOTS_BL.Models;
@using DLC.ViewModel;
@{
    ViewBag.Title = "Index";
    Layout = null;
    var sessionVariables = (SessionVariables)Session["SessionVariables"];
    var logoUrl = sessionVariables.objDashboardConfig.UseLogoURL;
    var logoSize = sessionVariables.objDashboardConfig.UseLogo;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="~/css/transaction.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/407b165ed6.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <title>Transaction History</title>
    <style>
        .footer {
            background-color: #344966;
            height: 11vh;
            padding: 20px 20px;
            clear: both;
        }

        .container {
            max-width: 100%;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-top: 11% !important;
        }


        @@media (max-width: 600px) {
            .container {
                margin-top: 10vh !important;
            }
        }

        .sticky-nav {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

            .sticky-nav.scrolled .logo {
                display: none;
            }

            .sticky-nav.scrolled .features {
                padding-top: 10px;
            }

        /* .features {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }*/

        body {
            padding-top: 120px; /* Adjust this value based on the navbar height */
        }

        .sticky-nav a {
            text-decoration: none;
            color: black;
        }

            .sticky-nav a:hover {
                text-decoration: underline;
            }

        /* Ensure the logo scales properly */
        .logo img {
            max-width: 100%;
           /* height: auto;*/
        }
    </style>
</head>
<body>
    <nav class="sticky-nav">
        @if (logoSize == "Small")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 100px !important; width: 180px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="200" height="100" />
            </div>}
        @if (logoSize == "Medium")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 150px !important; width: 300px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="300" height="150" />
            </div>}
        @if (logoSize == "Big")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 200px !important; width: 400px !important; margin-top: -40px;">
                <img id="imgLogo" src="@logoUrl" width="400" height="200" />
            </div>}

        <div class="profile_links">
            <!-- Profile links here -->
        </div>

        <div class="language" style="display:none">
            <select name="language" id="">
                <option value="language">Language</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Marathi">Marathi</option>
            </select>
        </div>

        <div class="features" style="margin-left:250px;margin-top:15px;">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1>Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1 class="active">Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>

        <div class="hamburger">
            <i class="ri-menu-2-line"></i>
        </div>
    </nav>

    <div class="menu-container1">
        <div id="menu1">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1>Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1 class="active">Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1>Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
    </div>

    <div class="container">
        <h1>Transaction History</h1>

        @if (Model != null && Model.Any())
        {
            <div class="table_transaction">
                <table>
                    <thead>
                        <tr>
                            <th>Invoice<br> Number</th>
                            <th>Invoice<br> Amount</th>
                            <th>Transaction<br> Type</th>
                            <th>Points <br>Earned</th>
                            <th>Points<br> Burned</th>
                            <th>Transaction<br> Date & Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.InvoiceNo</td>
                                @if (item.InvoiceAmt.HasValue)
                                {
                                    <td>@item.InvoiceAmt</td>
                                }
                                else
                                {
                                    <td>0.00</td>
                                }

                                <td>@item.TxnType</td>
                                @if (item.PointsEarned.HasValue)
                                {
                                    <td>@item.PointsEarned</td>
                                }
                                else
                                {
                                    <td>0.00</td>
                                }
                                @if (item.PointsBurned.HasValue)
                                {
                                    <td>@item.PointsBurned</td>
                                }
                                else
                                {
                                    <td>0.00</td>
                                }
                                <td>@item.TxnDatetime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p style="margin-left:90px;margin-top:10px;font-size:20px;">No records found</p>
        }
    </div>

    <section class="footer" style="text-align:center;">
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.FacebookUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.FacebookUrl">
                <img src="~/img/facebook.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.InstagramUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.InstagramUrl">
                <img src="~/img/instagram.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.TwitterUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.TwitterUrl">
                <img src="~/img/twitterx.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.YoutubeURL))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.YoutubeURL">
                <img src="~/img/youtube.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.WhatsappUrl))
        {
            <a id="HlnkinstagramURL" style="text-decoration:none;" target="_blank" href="@sessionVariables.objDashboardConfig.WhatsappUrl">
                <img src="~/img/whatsapp.svg" />
            </a>
        }
    </section>

    <script>
        window.onscroll = function () {           
            var navbar = document.querySelector('.sticky-nav');
            if (window.pageYOffset > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        };
        function Hamburger() {
            var hamburger = document.querySelector('.hamburger');
            var menu = document.querySelector('.menu-container1');
            var logo = document.querySelector('.logo');
            var isMenuVisible = false;

            hamburger.addEventListener('click', function () {
                if (!isMenuVisible) {
                    menu.style.display = 'block';
                    menu.style.transform = 'translateY(0)';
                    isMenuVisible = true;
                    logo.style.display = 'none';
                } else {
                    menu.style.transform = 'translateY(-100vh)';
                    isMenuVisible = false;
                    logo.style.display = 'block';

                }
            });

        }

        Hamburger();

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@

</body>
</html>

