<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chitale</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/scripts/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <style>
        #loader {
            display: flex;
            width: 100%;
            height: 100%;
            position: fixed;
            opacity: 1;
            z-index: 1021;
            background: rgba(255, 255, 255, .7);
        }

        .loader-inner {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            position: relative;
            margin: auto;
        }

            .loader-inner:before,
            .loader-inner:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                /* border-radius: 100%;
                border: 10px solid transparent;
                border-top-color: darkblue;*/
            }

            .loader-inner:before {
                z-index: 100;
                /*background-image: url(~/Content/assets/BlueocktopusLoadingGIF.mp4);
                animation: spinner-border 1s infinite;*/
            }

            .loader-inner:after {
                /*border: 10px solid lightblue;*/
            }
    </style>
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div id="divLoader" runat="server" style="display:none">
            <div id="loader">
                <div class="loader-inner">
                    <img src="~/Content/assets/BlueocktopusLoadingGIF.gif" width="100px" height="100px" />
                </div>
            </div>
        </div>
        
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        <div class="app-main">
            @Html.Partial("~/Views/Shared/_SidebarMenu.cshtml")
            <div class="app-main__outer">
                <div id="dvMemberSearch" style="display:none;">
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
   
    <script>
        $(document).ajaxError(function (xhr, props) {
            if (props.status === 401) {
            window.location.href = '@Url.Action("Index", "Login")';
            }
          });
        $("#btnMemberSearch").on("click", function () {
            if ($("#txtMember").val() != "") {
                GetMemberSearchData();
                $("#dvMemberSearch").show(1000);
            }
            else
                $("#dvMemberSearch").hide(1000);

        });
        $("#btnCloseMemberSearch").on("click", function () {
            $("#txtMember").val("");
            $("#dvMemberSearch").hide(1000);

        });

        $('#txtMember').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $("#btnMemberSearch").click();
                return false;
            }
        });
        function GetMemberSearchData() {
            var searchData = $("#txtMember").val();
            var GroupId = $('#hdnGroupId').val();
            var searchURL = "https://blueocktopus.in/bots/Reports/GetMemberSearchResult";
            var searchURL = "../Reports/GetMemberSearchResult";
            $.ajax({
                type: "POST",
                url: searchURL,
                data: "{'searchData': '" + searchData + "', 'GroupId': '" + GroupId + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#dvMemberSearch').html(response);
                    $('#toFocus').focus();
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    $('#dvMemberSearch').html(response.responseText);
                    $("#divLoader").hide();
                }
            });
        }

    </script>


</body>
</html>
