@using BOTS_BL.Models;
@{
    var userDetails = (CustomerLoginDetail)Session["UserSession"];
    var GroupId = userDetails.GroupId;
    var roleId = userDetails.LoginType;
    var level = userDetails.LevelIndicator;
}
<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">                
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        IT OPS
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>

                        <li class="@Html.IsSelected(controller: "NameAndMobile", action: "IndexNew")">
                            <a href="@Url.Action("IndexNew", "NameAndMobile")" class="@Html.IsSelected(controller: "NameAndMobile", action: "IndexNew,AddNewCustomer")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Change Name
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "NameAndMobile", action: "ChangeMobileNew")">
                            <a href="@Url.Action("ChangeMobileNew", "NameAndMobile")" class="@Html.IsSelected(controller: "NameAndMobile", action: "ChangeMobileNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Change Mobile No
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Transaction", action: "ChangeInvoiceMobileNo")">
                            <a href="@Url.Action("ChangeInvoiceMobileNo", "Transaction")" class="@Html.IsSelected(controller: "Transaction", action: "ChangeInvoiceMobileNo")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Change Invoice Mobile No
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "EarnBurn", action: "IndexNew")">
                            <a href="@Url.Action("IndexNew", "EarnBurn")" class="@Html.IsSelected(controller: "EarnBurn", action: "IndexNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Add/Earn
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "EarnBurn", action: "BurnNew")">
                            <a href="@Url.Action("BurnNew", "EarnBurn")" class="@Html.IsSelected(controller: "EarnBurn", action: "BurnNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Redeem/Deduct
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "AddMember", action: "BulkImportNew")">
                            <a href="@Url.Action("BulkImportNew", "AddMember")" class="@Html.IsSelected(controller: "AddMember", action: "BulkImportNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Bulk Import Member
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "BonusPoint", action: "IndexNew")">
                            <a href="@Url.Action("IndexNew", "BonusPoint")" class="@Html.IsSelected(controller: "BonusPoint", action: "IndexNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Load Bonus Points
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "BonusPoint", action: "CancelTransactionNew")">
                            <a href="@Url.Action("CancelTransactionNew", "BonusPoint")" class="@Html.IsSelected(controller: "BonusPoint", action: "CancelTransactionNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Cancel Transaction
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "SMSAndSecurity", action: "IndexNew")">
                            <a href="@Url.Action("IndexNew", "SMSAndSecurity")" class="@Html.IsSelected(controller: "SMSAndSecurity", action: "IndexNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Disable SMS
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "SMSAndSecurity", action: "SecurityKeyNew")">
                            <a href="@Url.Action("SecurityKeyNew", "SMSAndSecurity")" class="@Html.IsSelected(controller: "SMSAndSecurity", action: "SecurityKeyNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Reset Security Key
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "OTPAndLog", action: "IndexNew")">
                            <a href="@Url.Action("IndexNew", "OTPAndLog")" class="@Html.IsSelected(controller: "OTPAndLog", action: "IndexNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                OTP
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "OTPAndLog", action: "EnableDisableOTPNew")">
                            <a href="@Url.Action("EnableDisableOTPNew", "OTPAndLog")" class="@Html.IsSelected(controller: "OTPAndLog", action: "EnableDisableOTPNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                OTP Link - Add Credential
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "OTPAndLog", action: "LogNew")">
                            <a href="@Url.Action("LogNew", "OTPAndLog")" class="@Html.IsSelected(controller: "OTPAndLog", action: "LogNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Log
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "Transaction", action: "IndexNew")">
                            <a href="@Url.Action("IndexNew", "Transaction")" class="@Html.IsSelected(controller: "Transaction", action: "IndexNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Modify Transaction
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Transaction", action: "PointTransferNew")">
                            <a href="@Url.Action("PointTransferNew", "Transaction")" class="@Html.IsSelected(controller: "Transaction", action: "PointTransferNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Point Transfer
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Member", action: "DeleteUserNew")">
                            <a href="@Url.Action("DeleteUserNew", "Member")" class="@Html.IsSelected(controller: "Member", action: "DeleteUserNew")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Delete User
                            </a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Transaction", action: "DeleteTestTxn")">
                            <a href="@Url.Action("DeleteTestTxn", "Transaction")" class="@Html.IsSelected(controller: "Transaction", action: "DeleteTestTxn")">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Delete Test Txn
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
