@model List<BOTS_BL.Models.MeetingMatrix>

<div>
    <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
        <div class="row">
            <div class="col search-container">
                <i class="fas fa-search"></i>
                <input class="input100" type="text" id="txtSearchOnBoarding" placeholder="Search activity..." />
            </div>
        </div>
        <div class="row mt-3" id="dvOnBoardingData">
            <div class="table-responsive">
                <table class="table" id="OnBoardingTable">
                    <thead>
                        <tr>
                            <th scope="col">SM Name</th>
                            <th scope="col">Total Meeting / calls</th>
                            <th scope="col">No. of Unique meeting/ calls</th>
                            <th scope="col">Untouched Followup  date meetings/ calls</th>
                            @*<th scope="col">Fresh to follow up meeting ratio</th>*@
                            <th scope="col">Interested cases & %</th>
                            <th scope="col">Personal Meeting %</th>
                            <th scope="col">Zoom Meeting%</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                var SMId = item.LoginId;
                                <tr>
                                    <td>@item.SMName</td>
                                    @if (item.TotalMeeting > 0)
                                    {
                                        <td><a href="#" onclick="ShowData(@SMId,1)"> @item.TotalMeeting </a></td>
                                    }
                                    else
                                    {
                                        <td>@item.TotalMeeting</td>
                                    }
                                    @if (item.TotalUniqueMeeting > 0)
                                    {
                                        <td><a href="#" onclick="ShowData(@SMId,2)">@item.TotalUniqueMeeting</a></td>
                                    }
                                    else
                                    {
                                        <td>@item.TotalUniqueMeeting</td>
                                    }
                                    @if (item.UntouchedFollowUp > 0)
                                    {
                                        <td><a href="#" onclick="ShowData(@SMId,3)">@item.UntouchedFollowUp</a></td>
                                    }
                                    else
                                    {
                                        <td>@item.UntouchedFollowUp</td>
                                    }

                                    @if (item.IntrestedCases > 0)
                                    {
                                        <td><a href="#" onclick="ShowData(@SMId,4)">@item.IntrestedCases</a> / @item.IntrestedCasesPer</td>
                                    }
                                    else
                                    {
                                        <td>@item.IntrestedCases / @item.IntrestedCasesPer</td>
                                    }

                                    @if (item.PersonalMeeting > 0)
                                    {
                                        <td><a href="#" onclick="ShowData(@SMId,5)">@item.PersonalMeeting</a> / @item.PersonalMeetingPer</td>
                                    }
                                    else
                                    {
                                        <td>@item.PersonalMeeting / @item.PersonalMeetingPer</td>
                                    }

                                    @if (item.ZoomMeeting > 0)
                                    {
                                        <td><a href="#" onclick="ShowData(@SMId,6)">@item.ZoomMeeting</a> / @item.ZoomMeetingPer</td>
                                    }
                                    else
                                    {
                                        <td>@item.ZoomMeeting / @item.ZoomMeetingPer</td>
                                    }

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#OnBoardingTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers"
        });

        $('#OnBoardingTable_filter').hide();

        $('#txtSearchOnBoarding').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearchOnBoarding').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#OnBoardingTable').DataTable();
            table.draw();
        });

        //$(".first.paginate_button, .last.paginate_button").hide();
    });
</script>