@model List<BOTS_BL.Models.DLCCreation>
@{
    ViewBag.Title = "DLC Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="container-fluid pt-3 pl-3 pr-3 card">
        <div class="row">
            <div class="col search-container">

            </div>
            <div style="text-align:right;">
                <a href="@Url.Action("AddEditDLCCreation", "KeyIndicators")" title="Add New Customer">  <img src="~/Content/assets/images/AddCustomer.png" /></a>
            </div>
        </div>
        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
            <div class="row mt-3" id="dvActivityData">
                <div class="table-responsive">
                    <table class="table" id="groupListTable">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align:center;">Date</th>
                                <th scope="col" style="text-align:left;">Points</th>
                                <th scope="col" style="text-align:center;">SMS</th>
                                <th scope="col" style="text-align: left;">WhatsApp</th>
                                <th scope="col" style="text-align:center;">SMS Remainder</th>
                                <th scope="col" style="text-align:center;">WhatsApp Remainder</th>
                                @*<th scope="col" style="text-align:center;">Remainder Days</th>*@
                                <th scope="col" style="text-align:center;">LinkExpiry Date</th>
                                <th scope="col" style="text-align:center;">PointsExpiry Date</th>
                                <th scope="col" style="text-align:center;">AddedBy</th>
                                <th scope="col" style="text-align:center;">AddedDate</th>
                                <th scope="col" style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    string Id = Convert.ToString(item.SlNo);
                                    <tr>
                                        <td>@item.Date.Value.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Points</td>
                                        <td>@item.SMS</td>
                                        <td>@item.WhatsApp</td>
                                        <td>@item.SMSRemainder</td>
                                        <td>@item.WhatsAppRemainder</td>
                                        @*<td>@item.RemainderDays</td>*@
                                        <td>@item.LinkExpiryDate.Value.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.PointsExpiryDate.Value.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.AddedBy</td>
                                        <td>@item.AddedDate.Value.ToString("dd-MMM-yyyy")</td>
                                        <td style="text-align:center; width:160px;">
                                            <a href="@Url.Action("AddEditDLCCreation", "KeyIndicators", new { SlNo = Id })" class="login" title="Edit"><img src="~/Content/assets/images/shape_editUser.png" /></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#groupListTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "bAutoWidth": false,
            "pageLength": 25,
            "pagingType": "simple_numbers"             
        });
        $('#groupListTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#groupListTable').DataTable();
            table.draw();
        });
    });

</script>