@model List<BOTS_BL.Models.CommonDB.tblRenewalData>

<div class="row mb-3 pt-3 pl-3 pr-3">
    @if (Model != null)
    {
        <div>
            <table border="1" cellpadding="10" cellspacing="10" class="m-2">
                <tr style="background-color:lightgray;">
                    <th>Customer Name</th>
                    <th>Renewal Date</th>
                    <th>Renewal Amount</th>
                    <th>Discount Amount</th>
                    <th>Payment Date</th>
                    <th>Is Partial Payment</th>
                    <th>Next Partial Payment Date</th>
                    <th>CS Name</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CustomerName</td>
                        <td>@item.RenewalDateStr</td>
                        <td>@item.RenewalAmount</td>
                        <td>@item.DiscountAmount</td>
                        <td>@item.PaymentDateStr</td>
                        <td>@item.PartialPayment</td>
                        <td>@item.NextPaymentDate</td>
                        <td>@item.CSName</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
