@model List<BOTS_BL.Models.DiscussionCount>
@{
    ViewBag.Title = "DiscussionCountReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-main__inner">
    <div class="mb-3 card pl-4 pr-4 pb-4 pt-4" style="padding-top:20px;">
        <table cellpadding="5" cellspacing="5">
            <tr>
                <th>Name</th>
                <th style="text-align:center;">Total Count(MTD)</th>
                <th style="text-align:center;">Total Count(Yesterday)</th>
                <th style="text-align:center;">WIP Count</th>
                <th style="text-align:center;">WIP Last 3 Days</th>
                <th style="text-align:center;">WIP Before 3 Days</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td style="text-align:center;" >@item.TotalCount</td>
                    <td style="text-align:center;">@item.TotalCountYesterday</td>
                    <td style="text-align:center;">@item.TotalWIPCount</td>
                    <td style="text-align:center;">@item.TotalWIPLast3Days</td>
                    <td style="text-align:center;">@item.TotalWIPBefore3Days</td>
                </tr>
            }
        </table>
    </div>
</div>