@model WebApp.ViewModel.SinglePageViewModel
@using System.Globalization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: 'Arimo', sans-serif;
    }

    h2 {
        color: #000;
        text-align: center;
        font-size: 2em;
    }

    .warpper {
        display: grid;
        flex-direction: column;
        align-items: center;
    }

    .tab {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
    }

    .tabs {
        padding-left: 25px;
    }

    .panels {
        background: #ffffff;
        box-shadow: 0 2rem 2rem #00000080;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel {
        display: none;
        animation: fadein .8s;
    }

    .panel-title {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio {
        display: none;
    }

    #one:checked ~ .panels #one-panel,
    #two:checked ~ .panels #two-panel,
    #three:checked ~ .panels #three-panel,
    #four:checked ~ .panels #four-panel,
    #five:checked ~ .panels #five-panel {
        display: block
    }

    #one:checked ~ .tabs #one-tab,
    #two:checked ~ .tabs #two-tab,
    #three:checked ~ .tabs #three-tab,
    #four:checked ~ .tabs #four-tab,
    #five:checked ~ .tabs #five-tab {
        background: #fff !important;
        color: #000;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        font-weight: bold;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
</style>

<div class="app-main__inner">
    <div class="row mb-3 pt-3 pl-3 pr-3 card">
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <input class="radio" id="three" name="group" type="radio">
        <input class="radio" id="four" name="group" type="radio">
        <input class="radio" id="five" name="group" type="radio">
        <div class="tabs">
            <label class="tab" id="one-tab" for="one">Non-Transacting</label>
            <label class="tab" id="two-tab" for="two">Communication</label>
            <label class="tab" id="three-tab" for="three">Key Indicator</label>
            <label class="tab" id="four-tab" for="four">City Wise</label>
            <label class="tab" id="five-tab" for="five">Discussion</label>
        </div>
        <div class="panels">
            <div class="multisteps-form__panel shadow p-4 m-4 list-box bg-white panel" id="one-panel">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3 widget-content bg-midnight-bloom">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        Total Enrolled Base
                                    </div>

                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.lstsummarytable.TotalEnrolledBase))</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3 widget-content bg-arielle-smile">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        Txn Count (Daily)
                                    </div>

                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.lstsummarytable.TxnCountDaily))</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card mb-3 widget-content bg-grow-early">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        Txn Count (MTD)
                                    </div>

                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white">
                                        <span>
                                            @String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.lstsummarytable.TxnCountMTD))
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="mb-5 col-md-3 col-xl-3">
                        <table border="1" cellpadding="5" cellspacing="5">
                            <thead><b>Non Transacting Group</b></thead>
                            <tr>
                                <th scope="col" style="text-align:left;">Group Name</th>
                                <th scope="col" style="text-align:left;">DSLT</th>
                            </tr>
                            <tbody>
                                @if (Model.lstnontransactingGrp != null)
                                {
                                    if (Model.lstnontransactingGrp.Count > 0)
                                    {
                                        foreach (var item in Model.lstnontransactingGrp)
                                        {
                                            <tr>
                                                <td style="text-align:left;">@item.GroupName</td>
                                                <td style="text-align:left;">@item.DaysSinceLastTxn</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="mb-5 col-md-4 col-xl-4" style="margin-left:-20px !important;">
                        <table border="1" cellpadding="5" cellspacing="5">
                            <thead><b>Non Transacting Outlet</b>&nbsp;&nbsp;<a href="#" onclick="ShowAllNonTransactingOutlet();">Show All</a></thead>
                            <tr>
                                <th scope="col" style="text-align:left;">Group Name</th>
                                <th scope="col" style="text-align:left;">Outlet Name</th>
                                @*<th scope="col" style="text-align:right;">Avg Group Txns</th>*@
                                <th scope="col" style="text-align:left;">LTD</th>
                                <th scope="col" style="text-align:left;">DSLT</th>
                            </tr>
                            <tbody>
                                @if (Model.lstnontransactingOutlet != null)
                                {
                                    if (Model.lstnontransactingOutlet.Count > 0)
                                    {
                                        foreach (var item in Model.lstnontransactingOutlet)
                                        {
                                            <tr>
                                                <td style="text-align:left;">@item.GroupName</td>
                                                <td style="text-align:left;">@item.OutletName</td>
                                                @*<td style="text-align:left;">@item.AvgGroupTxn</td>*@
                                                <td style="text-align:left;">@item.LastTxnDate.Value.ToString("MM/dd/yyyy")</td>
                                                <td style="text-align:left;">@item.DaysSinceLastTxn</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="mb-5 col-md-5 col-xl-5" style="margin-left:20px !important;">
                        <table border="1" cellpadding="5" cellspacing="5">
                            <thead><b>Low Transacting Outlet</b>&nbsp;&nbsp; <a href="#" onclick="ShowAllLowTransactingOutlet();">Show All</a></thead>
                            <tr>
                                <th scope="col" style="text-align:left;">Group Name</th>
                                <th scope="col" style="text-align:left;">Outlet Name</th>
                                <th scope="col" style="text-align:right;">Avg Txns</th>
                                <th scope="col" style="text-align:left;">Avg Group Txns/Avg 30 days</th>
                                <th scope="col" style="text-align:left;">Lower by %</th>

                            </tr>
                            <tbody>
                                @if (Model.lstlowtransactingOutlet != null)
                                {
                                    if (Model.lstlowtransactingOutlet.Count > 0)
                                    {
                                        foreach (var item in Model.lstlowtransactingOutlet)
                                        {

                                            <tr>
                                                <td style="text-align:left;">@item.GroupName</td>
                                                <td style="text-align:left;">@item.OutletName</td>
                                                <td style="text-align:left;">@item.AvgTxn</td>
                                                <td style="text-align:left;">@item.AvgGroupTxnIn30Days</td>
                                                <td style="text-align:left;">@item.LowerByPercentage</td>
                                            </tr>

                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row mb-5 ml-2" id="dvAllData">
                </div>
            </div>

            <div id="two-panel" class="multisteps-form__panel shadow p-4 m-4 list-box bg-white panel">
                <div class="row mb-5 ml-2">
                    <div class="mr-3">
                        <table border="1">
                            <thead><h6><b>Whats App Expiry Date</b></h6></thead>
                            <tr>
                                <th scope="col" style="text-align:left;">Sr No</th>
                                <th scope="col" style="text-align:left;">Group Name</th>
                                <th scope="col" style="text-align:left;">Outlet Name</th>
                                @*<th scope="col" style="text-align:left;">Low SMS Balance</th>
                                    <th scope="col" style="text-align:left;">Low Virtual SMS Balance</th>
                                    <th scope="col" style="text-align:left;">Low Whats App Balance</th>*@
                                <th scope="col" style="text-align:left;">Whats App Expiry</th>
                            </tr>
                            <tbody>
                                @{int indexcomm = 1;}
                                @if (Model.lstCommunication != null)
                                {
                                    if (Model.lstCommunication.objWhatsAppExpiryDate != null)
                                    {
                                        if (Model.lstCommunication.objWhatsAppExpiryDate.Count > 0)
                                        {
                                            foreach (var item in Model.lstCommunication.objWhatsAppExpiryDate)
                                            {

                                                <tr>
                                                    <td>@indexcomm</td>

                                                    <td style="text-align:left;">@item.BrandName</td>
                                                    <td style="text-align:left;">@item.OutletName</td>
                                                    <td style="text-align:left;">@item.WAExpiryDate</td>
                                                </tr>

                                                indexcomm++;
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="mr-1 mt-5">
                        <table border="1">
                            <thead><h6><b>Low Whats App Balance</b></h6></thead>
                            <tr>
                                <th scope="col" style="text-align:left;">Sr No</th>
                                <th scope="col" style="text-align:left;">Group Name</th>
                                <th scope="col" style="text-align:left;">Outlet Name</th>
                                <th scope="col" style="text-align:left;">WhatsApp Balance</th>
                            </tr>
                            <tbody>
                                @{int indexcomm1 = 1;}
                                @if (Model.lstCommunication != null)
                                {
                                    if (Model.lstCommunication.objWhatsAppBalance != null)
                                    {
                                        if (Model.lstCommunication.objWhatsAppBalance.Count > 0)
                                        {
                                            foreach (var item in Model.lstCommunication.objWhatsAppBalance)
                                            {

                                                <tr>
                                                    <td>@indexcomm1</td>

                                                    <td style="text-align:left;">@item.BrandName</td>
                                                    <td style="text-align:left;">@item.OutletName</td>
                                                    <td style="text-align:left;">@item.WABalance</td>
                                                </tr>

                                                indexcomm1++;
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-5 ml-2">
                    <div class="mr-2">
                        <table border="1">
                            <thead><h6><b>Low SMS Balance</b></h6></thead>
                            <tr>
                                <th scope="col" style="text-align:left;">Sr No</th>
                                <th scope="col" style="text-align:left;">Group Name</th>
                                <th scope="col" style="text-align:left;">Outlet Name</th>
                                <th scope="col" style="text-align:left;">SMS Balance</th>
                            </tr>
                            <tbody>
                                @{int indexcomm2 = 1;}
                                @if (Model.lstCommunication != null)
                                {
                                    if (Model.lstCommunication.objSMSBalance != null)
                                    {
                                        if (Model.lstCommunication.objSMSBalance.Count > 0)
                                        {
                                            foreach (var item in Model.lstCommunication.objSMSBalance)
                                            {

                                                <tr>
                                                    <td>@indexcomm2</td>

                                                    <td style="text-align:left;">@item.BrandName</td>
                                                    <td style="text-align:left;">@item.OutletName</td>
                                                    <td style="text-align:left;">@item.SmsBalance</td>
                                                </tr>

                                                indexcomm2++;
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="mr-2">
                        <table border="1">
                            <thead><h6><b>Low Virtual SMS Balance</b></h6></thead>
                            <tr>
                                <th scope="col" style="text-align:left;">Sr No</th>
                                <th scope="col" style="text-align:left;">Group Name</th>
                                <th scope="col" style="text-align:left;">Outlet Name</th>
                                <th scope="col" style="text-align:left;">Virtual SMS Balance</th>
                            </tr>
                            <tbody>
                                @{int indexcomm3 = 1;}
                                @if (Model.lstCommunication != null)
                                {
                                    if (Model.lstCommunication.objVirtualSMSBalance != null)
                                    {
                                        if (Model.lstCommunication.objVirtualSMSBalance.Count > 0)
                                        {
                                            foreach (var item in Model.lstCommunication.objVirtualSMSBalance)
                                            {

                                                <tr>
                                                    <td>@indexcomm3</td>

                                                    <td style="text-align:left;">@item.BrandName</td>
                                                    <td style="text-align:left;">@item.OutletName</td>
                                                    <td style="text-align:left;">@item.VirtualsmsBalance</td>
                                                </tr>

                                                indexcomm3++;
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="three-panel" class="multisteps-form__panel shadow p-4 m-4 list-box bg-white panel">
                <div class="row mb-2">
                    <input type="radio" id="rdnlowerRedemRate" checked name="cust_type" />&nbsp; Lower Redemption Rate &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdndHigherOnly" name="cust_type" />&nbsp; Higher Only Once &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnHigherInactive" name="cust_type" />&nbsp; Higher Inactive &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnLowProfile" name="cust_type" />&nbsp; Low Profile Updates &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnLowReferrals" name="cust_type" />&nbsp; Low Referrals &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdnLowReferralconversion" name="cust_type" />&nbsp; Low Referrals Conversions<br /><br />
                    <button type="button" id="btnFilter" style="margin-left:17px;" class="btn btn-primary"><b>FILTER</b></button>
                </div>
                <div>
                    <table border="1" cellpadding="4" cellspacing="4" style="border:1px solid gray;" width="100%" id="activityTable">
                        <thead>
                            <h6><b></b></h6>
                            <tr>

                                <th scope="col" colspan="2" style="text-align: center;">Less than 6 months</th>
                                <th scope="col" colspan="2" style="text-align: center;">6m to 1 years</th>
                                <th scope="col" colspan="2" style="text-align: center;">1 to 2 years</th>
                                <th scope="col" colspan="2" style="text-align: center;">2 to 3 years</th>
                                <th scope="col" colspan="2" style="text-align:center;">More than 3 years</th>



                            </tr>
                            <tr>

                                <th>Group Name</th>
                                <th>Value %</th>
                                <th>Group Name</th>
                                <th>Value %</th>
                                <th>Group Name</th>
                                <th>Value %</th>
                                <th>Group Name</th>
                                <th>Value %</th>
                                <th>Group Name</th>
                                <th>Value %</th>
                            </tr>
                        </thead>
                        <tbody>

                            @*@if (Model != null)
                                {
                                    if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {

                                            <tr>


                                                <td style="text-align:left;">@item.GroupNamelessthan5</td>
                                                <td style="text-align:left;">@item.Valuethanlessthan5</td>

                                                <td style="text-align:left;">@item.GroupNamelessthan10</td>
                                                <td style="text-align:left;">@item.Valuelessthan10</td>

                                                <td style="text-align:left;">@item.GroupNamelessthan15</td>
                                                <td style="text-align:left;">@item.Valuelessthan15</td>

                                                <td style="text-align:left;">@item.GroupNamelessthan30</td>
                                                <td style="text-align:left;">@item.Valuelessthan30</td>

                                                <td style="text-align:left;">@item.GroupNamelessthan40</td>
                                                <td style="text-align:left;">@item.Valuelessthan40</td>
                                            </tr>


                                        }
                                    }
                                }*@
                        </tbody>
                    </table>
                </div>

            </div>

            <div id="four-panel" class="multisteps-form__panel shadow p-4 m-4 list-box bg-white panel">
                @if (Model.lstCitywiseData != null)
                {
                    <table border="1" cellpadding="5" cellspacing="5" id="tblCityWise">
                        <thead>
                            <tr style="background-color:lightgray;">
                                <th style="width:150px;">City</th>
                                <th style="background-color: palegreen;">City Total</th>
                                @foreach (var item in Model.lstCategories)
                                {
                                    <th style="font-weight:bold; text-align:right;">@item.CategoryName</th>
                                }
                            </tr>
                            <tr style="background-color: palegreen;">
                                <td>Category Total</td>
                                <td style="font-weight: bold; text-align: right; background-color: gold;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(Model.GrandTotal))</td>
                                @foreach (var itemCategory in Model.lstCategoriesTotal)
                                {
                                    <td style="font-weight:bold; text-align:right;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(itemCategory.MemberBase))</td>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstCities)
                            {
                                long total = 0;
                                <tr>
                                    <td style="background-color:lightgray;font-weight:bold;">@item.CityName</td>

                                    @foreach (var item1 in Model.lstCitywiseData)
                                    {
                                        if (item.CityName == item1.CityName)
                                        {
                                            total = total + item1.MemberBase;
                                        }
                                    }
                                    <td style="font-weight: bold; text-align: right; background-color: palegreen;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(total))</td>

                                    @foreach (var item1 in Model.lstCitywiseData)
                                    {
                                        if (item.CityName == item1.CityName)
                                        {
                                            <td style="text-align:right;">@String.Format(new CultureInfo("en-IN", false), "{0:n0}", Convert.ToDouble(item1.MemberBase))</td>

                                        }
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>

                }
            </div>

            <div id="five-panel" class="multisteps-form__panel shadow p-4 list-box bg-white panel">

                <div class="card-body">
                    <div style="margin-bottom:20px;font-weight:bold;">
                        Select CS
                        @Html.DropDownListFor(model => model.CSMember, new SelectList(Model.lstCSMembers, "Value", "Text"), "All", htmlAttributes: new { @class = "input100", @id = "ddlCSMember" })
                    </div>
                    <div style="text-align:center;margin-bottom:20px;font-weight:bold;">Customer Categorywise Campaign / DB discussions – not touched</div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-eg-77">
                            <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="canvasContainer">
                                        <canvas id="barcanvas"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body" id="dvCSViseData" style="display:none;">

                </div>
                <div class="card-body col-md-12 col-xl-12" id="dvGetNoCustomerConnect">

                </div>
                <div class="row col-md-12 col-xl-12">
                    <div class="card-body col-md-6 col-xl-6" id="dvGetMostConnectedCustomers">

                    </div>
                    <div class="card-body col-md-6 col-xl-6" id="dvGetLeastConnectedCustomers">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableData = [];
    $(document).ready(function () {
        GetData();
        GetDiscussionGraphData();
        $('#ddlCSMember').change(function () {
            GetDiscussionGraphData();
        });
        NoCustomerConnect();
        GetMostConnectedCustomers();
        GetLeastConnectedCustomers();



    });
    function RenderNoCustomerConnectTable() {

        var table = $('#NoCustomerConnectTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "bAutoWidth": false,
            "pageLength": 10,
            "pagingType": "simple_numbers"
        });
        $('#NoCustomerConnectTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#NoCustomerConnectTable').DataTable();
            table.draw();
        });
    }

    function RenderMostConnectedCustomersTable() {

        var table = $('#MostConnectedCustomersTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "bAutoWidth": false,
            "pageLength": 10,
            "pagingType": "simple_numbers"
        });
        $('#MostConnectedCustomersTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#MostConnectedCustomersTable').DataTable();
            table.draw();
        });
    }

    function RenderLeastConnectedCustomersTable() {

        var table = $('#LeastConnectedCustomersTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "bAutoWidth": false,
            "pageLength": 10,
            "pagingType": "simple_numbers"
        });
        $('#LeastConnectedCustomersTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#LeastConnectedCustomersTable').DataTable();
            table.draw();
        });
    }

    function GetData() {
        $("#divLoader").show();
        var TableId;
        if ($("#rdnlowerRedemRate").is(":checked")) {

            TableId = "1";
        }
        else if ($("#rdndHigherOnly").is(":checked")) {
            TableId = "2";
        }
        else if ($("#rdnLowProfile").is(":checked")) {
            TableId = "3";
        }
        else if ($("#rdnLowReferrals").is(":checked")) {
            TableId = "4";
        }
        else if ($("#rdnLowReferralconversion").is(":checked")) {
            TableId = "5";
        }
        else if ($("#rdnHigherInactive").is(":checked")) {
            TableId = "6";
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLowerMetricsData", "SinglePage")',
            data: '{Id:' + JSON.stringify(TableId) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    tableData.length = 0;
                    $.map(response, function (item) {
                        optionItem = {}
                        optionItem["GroupNameLT5"] = item.GroupNamelessthan5;
                        optionItem["ValueLT5"] = item.Valuethanlessthan5;
                        optionItem["GroupNameLT10"] = item.GroupNamelessthan10;
                        optionItem["ValueLT10"] = item.Valuelessthan10;
                        optionItem["GroupNameLT15"] = item.GroupNamelessthan15;
                        optionItem["ValueLT15"] = item.Valuelessthan15;
                        optionItem["GroupNameLT30"] = item.GroupNamelessthan30;
                        optionItem["ValueLT30"] = item.Valuelessthan30;
                        optionItem["GroupNameLT40"] = item.GroupNamelessthan40;
                        optionItem["ValueLT40"] = item.Valuelessthan40;
                        tableData.push(optionItem);
                        //console.log(tableData);
                    });
                    DrawTable();
                }
                $("#divLoader").hide();
            },
            failure: function (response) {
                console.log(response);
                $("#divLoader").hide();
            },
            error: function (response) {
                console.log(response);
                $("#divLoader").hide();
            }
    });
    }
    $("#btnFilter").click(function () {
        GetData();
    });
    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();
        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "GroupNameLT5" },
                { data: "ValueLT5" },
                { data: "GroupNameLT10" },
                { data: "ValueLT10" },
                { data: "GroupNameLT15" },
                { data: "ValueLT15" },
                { data: "GroupNameLT30" },
                { data: "ValueLT30" },
                { data: "GroupNameLT40" },
                { data: "ValueLT40" }
            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: []
                }
            ]
        });
        $('#activityTable_filter').hide();
        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

    }

    function ShowAllNonTransactingOutlet() {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllNonTransactingOutletData", "SinglePage")',
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvAllData").html(response);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvAllData").html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }
    function ShowAllLowTransactingOutlet() {
        $("#divLoader").show();
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllLowTransactingOutletData", "SinglePage")',
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
             success: function (response) {
                 $("#dvAllData").html(response);
                 $("#divLoader").hide();
             },
             failure: function (response) {
                 $("#divLoader").hide();
             },
             error: function (response) {
                 $("#dvAllData").html(response.responseText);
                 $("#divLoader").hide();
             }
        });
    }

    function GetDiscussionGraphData() {
        $("#divLoader").show();
        var CsMember = $('#ddlCSMember').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDiscussionGraphData", "SinglePage")',
            data: '{CsMember:' + JSON.stringify(CsMember) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    console.log(response);

                    $('#barcanvas').remove();
                    $('#canvasContainer').append('<canvas id="barcanvas"><canvas>');

                    var barChartData =
                    {
                        labels: ['A', 'B', 'C'],
                            datasets: [{
                                label: '7 to 21 days',
                                backgroundColor: "#4472C4",
                                borderWidth: 2,
                                data: [...response[0]]
                            },
                            {
                                label: '22 to 35 days',
                                backgroundColor: "#ED7D31",
                                borderWidth: 2,
                                data: [...response[1]]
                            },
                            {
                                label: 'More than 36 days',
                                backgroundColor: "#FF0101",
                                borderWidth: 2,
                                data: [...response[2]]
                            }
                        ]
                    };


                    var ctx10 = document.getElementById("barcanvas").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'bar',
                            data: barChartData,
                            options:
                            {
                                plugins: {
                                    datalabels: {
                                        display: true
                                    }
                                },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },

                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: true,
                                    position: 'bottom'
                                },
                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: true },
                                "hover": {
                                    "animationDuration": 0,
                                    onHover: function (e) {
                                        $("#barcanvas").css("cursor", e[0] ? "pointer" : "default");
                                    }
                                },
                                "animation": {
                                    "duration": 1,
                                    "onComplete": function () {
                                        var chartInstance = this.chart,
                                            ctx = chartInstance.ctx;

                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'bottom';

                                        this.data.datasets.forEach(function (dataset, i) {
                                            var meta = chartInstance.controller.getDatasetMeta(i);
                                            meta.data.forEach(function (bar, index) {
                                                var data = dataset.data[index];
                                                ctx.fillStyle = 'rgba(0, 0, 0, 1)';

                                                var res = addComma(data);
                                                ctx.fillText(res, bar._model.x, bar._model.y - 5);
                                            });
                                        });
                                    }
                                }
                            }
                        });

                    var canvas = document.getElementById('barcanvas');
                    canvas.onclick = function (evt) {
                        var activePointLabel = myChart.getElementsAtEvent(evt)[0]._model.label;
                        var activePoint = myChart.getElementAtEvent(evt)[0];
                        var data = activePoint._chart.config.data;
                        var datasetIndex = activePoint._datasetIndex;
                        var label = data.datasets[datasetIndex].label;
                        GetTypeWiseData(activePointLabel, label);

                    };
                }
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });
    }

    function GetTypeWiseData(type, section) {
        console.log(type);
        console.log(section);
        $("#divLoader").show();
        var CsMember = $('#ddlCSMember').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCSWiseReport", "SinglePage")',
            data: '{type:' + JSON.stringify(section) + ',CSMember:' + JSON.stringify(CsMember) + ',CustomerType:' + JSON.stringify(type) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    $("#dvCSViseData").html(response);
                    $("#dvCSViseData").show(1000);
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvCSViseData").html("");
                $("#dvCSViseData").html(response.responseText);
                $("#dvCSViseData").show(1000);
                $("#divLoader").hide();
            }

        });
    }

    function NoCustomerConnect() {
        $("#divLoader").show();
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetNoCustomerConnect", "SinglePage")',
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    console.log(111)
                    $("#dvGetNoCustomerConnect").html(response);
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
             error: function (response) {
                 console.log(222)
                $("#dvGetNoCustomerConnect").html("");
                 $("#dvGetNoCustomerConnect").html(response.responseText);
                 RenderNoCustomerConnectTable();
                $("#divLoader").hide();
             }
            

         });
        
    }

    function GetMostConnectedCustomers() {
        $("#divLoader").show();
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetMostConnectedCustomers", "SinglePage")',
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    console.log(111)
                    $("#dvGetMostConnectedCustomers").html(response);
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
             error: function (response) {
                 console.log(222)
                 $("#dvGetMostConnectedCustomers").html("");
                 $("#dvGetMostConnectedCustomers").html(response.responseText);
                 RenderMostConnectedCustomersTable()
                $("#divLoader").hide();
            }

        });
    }

    function GetLeastConnectedCustomers() {
        $("#divLoader").show();
         $.ajax({
            type: "POST",
            url: '@Url.Action("GetLeastConnectedCustomers", "SinglePage")',
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    console.log(111)
                    $("#dvGetLeastConnectedCustomers").html(response);
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
             error: function (response) {
                 console.log(222)
                 $("#dvGetLeastConnectedCustomers").html("");
                 $("#dvGetLeastConnectedCustomers").html(response.responseText);
                 RenderLeastConnectedCustomersTable();
                $("#divLoader").hide();
            }

        });
    }
</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>


<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
