@model WebApp.ViewModel.ProgrammeViewModel
@{
    ViewBag.Title = "ChangeCSName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-12 col-xl-10 row mt-3 pl-5 mb-4" id="dvGroup">
                <div class="col-lg-2 col-md-3">
                    <b>Group Name</b>
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
                </div>
                <div class="col-lg-2 col-md-2" style="margin-top:5px;">
                    <button type="button" id="btnGO" style="margin-right:30px;" class="btn btn-primary">Show</button>
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row pl-5 " id="dvMemberDetails" style="display: none;">
                <div class="col-md-12 col-xl-10 row">
                    <div class="col-md-3 col-xl-3" style="margin-bottom: 30px;">
                        <b>Existing CS Name</b>
                    </div>
                    <div class="col-md-3 col-xl-3">
                        @Html.TextBoxFor(model => model.tblGroupDetails.RMAssigned, new { @class = "input50", @id = "txtRMAssigned", @disabled="disabled", tabindex = 1 })
                    </div>
                </div>
                <div class="col-md-12 col-xl-10 row">
                    <div class="col-md-3 col-xl-3">
                        <b>New CS Name</b>
                    </div>
                    <div class="col-md-3 col-xl-3">
                        @Html.DropDownListFor(model => model.tblRMAssigned.RMAssignedName, new SelectList(Model.lstRMAssigned, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlRMAssigned" })
                    </div>
                </div>
                <div class="row mb-2 ml-2">
                    <div class="col-md-3 col-xl-6" style="margin-left: 270px; margin-top: 20px; ">
                        <button type="button" id="btnSave" class="btn btn-primary" Onclick="SaveCSName()"><b>Update</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnGO').on("click", function () {
            GetCSNameChange();
        });
        //$("#btnGO").on("click", function () {
        //    $("#dvMemberDetails").show();
        //});
    });

    function GetCSNameChange() {
        if ($('#ddlGroupDetails').val() == "" ) {
            toastr.error('Please Select Group');
            return false
        }

        var GroupId = $('#ddlGroupDetails').val();
        var GroupName = $("#ddlGroupDetails option:selected").text();
        $("#divLoader").show();
        $.ajax({
            type: "POST",

            url: '@Url.Action("GetCSNameData", "CommonDBConfig")',
            data: '{GroupId: ' + JSON.stringify($('#ddlGroupDetails').val()) + ',GroupName: ' + JSON.stringify(GroupName) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.RMAssignedName != null) {
                    $("#txtRMAssigned").val(result.RMAssignedName);
                    $("#dvMemberDetails").show();
                    $("#divLoader").hide();
                }
            }
        });
    }

    function SaveCSName() {
        if ($('#ddlRMAssigned').val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please select CS Name",
                buttonText: "Okay"
            })
        }
        else {

        cuteAlert({
            type: "question",
            title: "Confirmation",
            message: "Do you want to Change the Assign CS?",
            confirmText: "Yes",
            cancelText: "No"
        }).then((e) => {
            if (e == ("confirm")) {
                var MemberData = [];
                var GroupId = $('#ddlGroupDetails').val();
                var RMAssignedId = $('#ddlRMAssigned').val();
                var GroupName = $("#ddlGroupDetails option:selected").text();
                item = {}
                item["GroupID"] = $("#ddlGroupDetails").val();
                item["RMAssignedID"] = $("#ddlRMAssigned").val();

                MemberData.push(item);
                var data = JSON.stringify(MemberData);
                console.log(data)
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveCSName", "CommonDBConfig")',
                    data: '{jsonData: ' + JSON.stringify(data) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result)
                        if (result = true) {
                            cuteAlert({
                                type: "success",
                                title: "Success Title",
                                message: "Assigned CS Changed Successfully",
                                buttonText: "Okay"
                            }).then(() => {
                                window.location.reload();
                            })
                            $("#divLoader").hide();
                        }
                        else {
                            cuteAlert({
                                type: "error",
                                title: "Oops..",
                                message: "couldn't Save Data",
                                buttonText: "Okay"
                            })
                        }

                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText)
                    }
                });
            }
        })
    }

}
</script>
