@model List<BOTS_BL.Models.tblDLCFrontEndPageDataTNC>
@using BOTS_BL.Models;
@using DLC.ViewModel;
@{
    var sessionVariables = (SessionVariables)Session["SessionVariables"];
    ViewBag.Title = "Index";
    Layout = null;
    var logoUrl = sessionVariables.objDashboardConfig.UseLogoURL;
    var logoSize = sessionVariables.objDashboardConfig.UseLogo;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/term.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/407b165ed6.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <link href="~/css/term.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
          rel="stylesheet" />
    <title>Terms and Conditions</title>
    <style>
        .footer {
            background-color: #344966;
            height: 10vh;
        }
    </style>
</head>
<body>
    <nav>
        @if (logoSize == "Small")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 100px !important; width: 180px !important;">
                <img id="imgLogo" src="@logoUrl" width="200" height="100" />
            </div>
        }
        @if (logoSize == "Medium")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 150px !important; width: 300px !important;">
                <img id="imgLogo" src="@logoUrl" width="300" height="150" />
            </div>
        }
        @if (logoSize == "Big")
        {
            <div class="logo" style="box-shadow: rgb(136, 136, 136) 5px 5px 19px 3px; height: 200px !important; width: 400px !important;">
                <img id="imgLogo" src="@logoUrl" width="400" height="200" />
            </div>
        }
        <div class="profile_links">
            <span><i class="user ri-account-circle-fill"></i></span>
            <span><i class="noti ri-notification-3-line"></i></span>
        </div>
        <div class="language" style="display:none">
            <select name="language" id="">
                <option value="language">Language</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Marathi">Marathi</option>
            </select>
        </div>

        <div class="features">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1>Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1 class="active">Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
        <div class="hamburger">
            <i class="ri-menu-2-line"></i>
        </div>
    </nav>
    <div class="menu-container">
        <div id="menu">
            <a href="@Url.Action("Index", "Dashboard")"><h1>Dashboard</h1></a>
            <a href="@Url.Action("Index", "Store")"><h1>Store locator</h1></a>
            <a href="@Url.Action("Index", "ReferEarn")"><h1>Refer and Earn</h1></a>
            <a href="@Url.Action("Index", "PersonalDetails")"><h1>Personal Details</h1></a>
            <a href="@Url.Action("Index", "TransactionHistory")"><h1>Transaction History</h1></a>
            <a href="@Url.Action("Index", "GiftPoints")"><h1>Gift Points</h1></a>
            <a href="@Url.Action("Index", "Terms")"><h1 class="active">Terms and Conditions</h1></a>
            <a href="@Url.Action("Index", "Optout")"><h1>Optout</h1></a>
            <a href="@Url.Action("Logout", "Start")"><h1>Logout</h1></a>
        </div>
    </div>



    <div class="container_tAc">
        <h1 style="padding-top: 4%;">Terms and Conditions</h1>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.MWP_TNC</li>
            }
        </ul>
    </div>

    <section class="footer" style="text-align:end;padding-right:20px;">
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.FacebookUrl))
        {
            <a id="HlnkinstagramURL" target="_blank" href="@sessionVariables.objDashboardConfig.FacebookUrl">
                <img src="~/img/facebook.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.InstagramUrl))
        {
            <a id="HlnkinstagramURL" target="_blank" href="@sessionVariables.objDashboardConfig.InstagramUrl">
                <img src="~/img/instagram.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.TwitterUrl))
        {
            <a id="HlnkinstagramURL" target="_blank" href="@sessionVariables.objDashboardConfig.TwitterUrl">
                <img src="~/img/twitterx.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.YoutubeURL))
        {
            <a id="HlnkinstagramURL" target="_blank" href="@sessionVariables.objDashboardConfig.YoutubeURL">
                <img src="~/img/youtube.svg" />
            </a>
        }
        @if (!string.IsNullOrEmpty(sessionVariables.objDashboardConfig.WhatsappUrl))
        {
            <a id="HlnkinstagramURL" target="_blank" href="@sessionVariables.objDashboardConfig.WhatsappUrl">
                <img src="~/img/whatsapp.svg" />
            </a>
        }
    </section>


    <script>
        function Hamburger() {
            var hamburger = document.querySelector('.hamburger');
            var menu = document.querySelector('.menu-container');
            var logo = document.querySelector('.logo');
            var isMenuVisible = false;

            hamburger.addEventListener('click', function () {
                if (!isMenuVisible) {
                    menu.style.display = 'block';
                    menu.style.transform = 'translateY(0)';
                    isMenuVisible = true;
                    logo.style.display = 'none';
                } else {
                    menu.style.transform = 'translateY(-100vh)';
                    isMenuVisible = false;
                    logo.style.display = 'block';

                }
            });

        }

        Hamburger();
    </script>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



