@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/style.css" />
<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 300px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
</style>
<div class="app-main__inner">
    <div class="col-md-12 col-sm-12 mb-5" style="display:flex;">
        <div class="col-md-2 col-sm-2" style="margin-top:0px;margin-bottom:0px;">
            <img src="https://medration.com/wp-content/uploads/2023/01/MedRation-web23.png"/>
        </div>
        <div class="col-md-9 col-sm-9" style="margin-top:-60px;margin-bottom:0px;padding:20px; padding-left:90px;">
            <table border="1" class="styled-table" cellpadding="5" cellspacing="5" style="text-align:end;">
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>Plan Amount</td>
                    <td>RS. @ViewBag.PlanAmount</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>@ViewBag.Discount%</td>
                </tr>
                <tr style="font-weight: bold; background-color: #B1D242;">
                    <td>Total</td>
                    <td>
                        RS. @ViewBag.TotalAmount
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>
<div id="dvAllDetails">
    @Html.Partial("~/Views/Subscription/_LoadDetailsForSubscription.cshtml")
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hdnNoOfPerson").val('@ViewBag.NumberOfPerson');
    });
    function ShowDetails(type) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadDetails", "Subscription")',
            data: '{num: ' + JSON.stringify(type) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvAllDetails").html(response);
            },
            failure: function (response) {
            },
            error: function (response) {
                $("#dvAllDetails").html(response.responseText);
                $("#dvAllDetails").show(800);
                $("#dvBtnPay").show();
                if (type == 1) {
                    $("#hdnAmount").val(399);
                }
                if (type == 2) {
                    $("#hdnAmount").val(599);
                }
                if (type == 4) {
                    $("#hdnAmount").val(999);
                }
                if (type == 6) {
                    $("#hdnAmount").val(1199);
                }

            }
        });

    }

</script>
