@model Chitale.ViewModel.ManagementViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row">
        <div style="width:100%;  padding:10px; background-color:white;float:left;">
            <div class="card-header-tab card-header-tab-animation card-header" style="margin-bottom:10px;">
                <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                    SUMMARY
                </div>
                @*<ul class="nav">
                        <li class="nav-item"><a href="javascript:void(0);" onclick="GetSummeryDetails('1');" id="SummeryBTD" class="active nav-link">BTD</a></li>
                        <li class="nav-item"><a href="javascript:void(0);" onclick="GetSummeryDetails('0');" id="SummeryCurrentMonth" class="nav-link second-tab-toggle">Current Month</a></li>
                    </ul>*@
            </div>

            <div class="card-header-tab" style="margin-bottom:20px;">
                <div style="display:flex;">
                    <div class="col-md-3 col-xl-3">
                       Cluster <br />@Html.DropDownListFor(model => model.ClusterList, new SelectList(Model.ClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlClusterList" })
                    </div>
                    <div class="col-md-3 col-xl-3">
                        Sub Cluster <br /> @Html.DropDownListFor(model => model.SubClusterList, new SelectList(Model.SubClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlSubClusterList" })&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-3 col-xl-3">
                        City <br /> @Html.DropDownListFor(model => model.CityList, new SelectList(Model.CityList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlCityList" })
                    </div>
                </div>

                <div style="display:flex; margin:20px 0px;">
                    <div class="col-md-3 col-xl-3">
                        From Date <br /><input type="text" class="input50" placeholder="From Date" readonly id="txtFrmDate" />&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-md-3 col-xl-3">
                        To Date <br /><input type="text" class="input50" placeholder="To Date" readonly id="txtToDate" />
                    </div>
                    <div class="col-md-3 col-xl-3">
                        <button type="button" id="btnFilter" style="margin-left:17px;margin-top:30px;" class="btn btn-primary"><b>FILTER</b></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content" style="background-color:palevioletred;">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading" style="font-size:17px; ">
                                    Order Points (Purchase)
                                </div>
                                <div class="widget-numbers text-white"><span id="spnPurchaseOrderPoints"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading" style="font-size:17px;">
                                    Order Points (Sales)
                                </div>
                                <div class="widget-numbers text-white"><span id="spnSalesOrderPoints"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content" style="background-color:orchid;">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading" style="font-size:17px;">
                                    Redeemed Points
                                </div>
                                <div class="widget-numbers text-white"><span id="spnRedeemedPoints"></span></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content " style="background-color: #92D050;">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading" style="font-size:17px;">
                                    Add On Points
                                </div>
                                <div class="widget-numbers text-white"><span id="spnAddOnPoints"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content" style="background-color:coral;">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading" style="font-size:17px;">
                                    Lost Opp Points
                                </div>
                                <div class="widget-numbers text-white"><span id="spnLostPoints"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content " style="background-color:darkkhaki;">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading" style="font-size:17px;">
                                    Total Balance Points
                                </div>
                                <div class="widget-numbers text-white"><span id="spnTotalPointsBalance"></span></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                5 TOP PARTICIPANTS
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Top5Participants('SuperStockiest')" id="navSS" class="active nav-link">SS</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Top5Participants('Distributors')" id="navDist" class="nav-link second-tab-toggle">Dist</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Top5Participants('Retailers')" id="navRetailer" class="nav-link second-tab-toggle">Retailer</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerTop5Participant" style="overflow-y:auto;">
                                                <canvas id="cvTop5Participant"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                5 BOTTOM PARTICIPANTS
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Bottom5Participants('SuperStockiest')" id="navBotSS" class="active nav-link">SS</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Bottom5Participants('Distributors')" id="navBotDist" class="nav-link second-tab-toggle">Dist</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Bottom5Participants('Retailers')" id="navBotRetailer" class="nav-link second-tab-toggle">Retailer</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerBottom5Participant" style="overflow-y:auto;">
                                                <canvas id="cvBottom5Participant"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                TOP 5 LOST OPP PARTICIPANTS
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Top5LostParticipants('SuperStockiest')" id="navLostSS" class="active nav-link">SS</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Top5LostParticipants('Distributors')" id="navLostDist" class="nav-link second-tab-toggle">Dist</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="Top5LostParticipants('Retailers')" id="navLostRetailer" class="nav-link second-tab-toggle">Retailer</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerTop5LostParticipant" style="overflow-y:auto;">
                                                <canvas id="cvTop5LostParticipant"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                TGT vs ACH VOL PERFORMANCE
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a href="javascript:void(0);" onclick="TgtVsAchVolPerformance('SuperStockiest')" id="navPerformanceSS" class="active nav-link">SS</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="TgtVsAchVolPerformance('Distributors')" id="navPerformanceDist" class="nav-link second-tab-toggle">Dist</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="TgtVsAchVolPerformance('Retailers')" id="navPerformanceRetailer" class="nav-link second-tab-toggle">Retailer</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerPerformance" style="overflow-y:auto;">
                                                <canvas id="cvPerformance"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                AVG ORDER TO RAVANE DATES
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a href="javascript:void(0);" onclick="GetManagementDashboardLostOpp('SuperStockiest')" id="navAvgOrderSS" class="active nav-link">SS</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="GetManagementDashboardLostOpp('Distributors')" id="navAvgOrderDist" class="nav-link second-tab-toggle">Dist</a></li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerAvgOrder" style="overflow-y:auto;">
                                                <canvas id="cvAvgOrder"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-12 col-lg-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                ORDER TO RAVANA PERFORMANCE
                            </div>
                            <ul class="nav">
                                <li class="nav-item"><a href="javascript:void(0);" onclick="OrderToRavanaPerformance('SuperStockiest')" id="navOrderToRavanaSS" class="active nav-link">SS</a></li>
                                <li class="nav-item"><a href="javascript:void(0);" onclick="OrderToRavanaPerformance('Distributors')" id="navOrderToRavanaDist" class="nav-link second-tab-toggle">Dist</a></li>
                                
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-eg-77">
                                    <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                        <div class="widget-chat-wrapper-outer">
                                            <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="containerOrderToRavana" style="overflow-y:auto;">
                                                <canvas id="cvOrderToRavana"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>

<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#txtFrmDate").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });
        $("#txtToDate").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });

        GetSummeryDetails('1');
        Top5Participants('SuperStockiest');
        Bottom5Participants('SuperStockiest');
        Top5LostParticipants('SuperStockiest');
        GetManagementDashboardLostOpp('SuperStockiest');
        TgtVsAchVolPerformance('SuperStockiest');
        OrderToRavanaPerformance('SuperStockiest');
        $('#btnFilter').on("click", function () {
            if ($("#SummeryBTD").hasClass("active")) {
                GetSummeryDetails('1');
            }
            else {
                GetSummeryDetails('0');
            }
        });

        $("#ddlClusterList").on('change', function () {
            $('#ddlSubClusterList').prop('selectedIndex', 0);
            $('#ddlCityList').prop('selectedIndex', 0);
        });
        $("#ddlSubClusterList").on('change', function () {
            $('#ddlClusterList').prop('selectedIndex', 0);
            $('#ddlCityList').prop('selectedIndex', 0);
        });
        $("#ddlCityList").on('change', function () {
            $('#ddlClusterList').prop('selectedIndex', 0);
            $('#ddlSubClusterList').prop('selectedIndex', 0);
        });
    });

    function GetSummeryDetails(flag) {
        var SummeryData = [];
        item = {}
        item["Flag"] = flag;
        item["Cluster"] = $('#ddlClusterList :selected').text();
        item["SubCluster"] = $('#ddlSubClusterList :selected').text();
        item["City"] = $('#ddlCityList :selected').text();
        item["FromDate"] = $("#txtFrmDate").val();
        item["Todate"] = $('#txtToDate').val();
        SummeryData.push(item);
        var data = JSON.stringify(SummeryData);
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDashboardSummeryData")',
            data: '{jsonData: ' + JSON.stringify(data) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    $("#spnPurchaseOrderPoints").text(response.PurchaseOrderPointsStr);
                    $("#spnSalesOrderPoints").text(response.SalesOrderPointsStr);
                    $("#spnRedeemedPoints").text(response.RedeemedPointsStr);
                    $("#spnAddOnPoints").text(response.AddOnPointsStr);
                    $("#spnLostPoints").text(response.LostPointsStr);
                    $("#spnTotalPointsBalance").text(response.TotalPointsBalanceStr);

                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });
        if (flag == '1') {
            $("#SummeryBTD").addClass("active");
            $("#SummeryCurrentMonth").removeClass("active");
        }
        else {
            $("#SummeryBTD").removeClass("active");
            $("#SummeryCurrentMonth").addClass("active");
        }
    }
    function Top5Participants(type) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Top5Participants")',
            data: "{'type': '" + type + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var names = response[0];
                var dataList = response[1];

                if (response != null) {
                    $('#cvTop5Participant').remove(); // this is my <canvas> element
                    $('#containerTop5Participant').append('<canvas id="cvTop5Participant"><canvas>');
                    var barChartData =
                    {
                        labels: [...names],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [...dataList]
                        }]
                    };

                    var ctx10 = document.getElementById("cvTop5Participant").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'horizontalBar',
                            data: barChartData,
                            options:
                            {
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },

                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                plugins: {
                                    datalabels: {
                                        formatter: (value, ctx) => {
                                            let datasets = ctx.chart.data.datasets;
                                            if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                                                let percentage = (value).toFixed(2).replace(/(\d)(?=(\d{2})+\d\.)/g, '$1,');
                                                return percentage;
                                            } else {
                                                return percentage;
                                            }
                                        },
                                        color: '#000',
                                    }
                                }
                            }
                        });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (type == 'SuperStockiest') {
            $("#navSS").addClass("active");
            $("#navDist").removeClass("active");
            $("#navRetailer").removeClass("active");
        }
        if (type == 'Distributors') {
            $("#navSS").removeClass("active");
            $("#navDist").addClass("active");
            $("#navRetailer").removeClass("active");
        }
        if (type == 'Retailers') {
            $("#navSS").removeClass("active");
            $("#navDist").removeClass("active");
            $("#navRetailer").addClass("active");
        }
    }
    function Bottom5Participants(type) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Bottom5Participants")',
            data: "{'type': '" + type + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var names = response[0];
                var dataList = response[1];

                if (response != null) {
                    $('#cvBottom5Participant').remove(); // this is my <canvas> element
                    $('#containerBottom5Participant').append('<canvas id="cvBottom5Participant"><canvas>');
                    var barChartData =
                    {
                        labels: [...names],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [...dataList]
                        }]
                    };

                    var ctx10 = document.getElementById("cvBottom5Participant").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'horizontalBar',
                            data: barChartData,
                            options:
                            {
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },

                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                plugins: {
                                    datalabels: {
                                        formatter: (value, ctx) => {
                                            let datasets = ctx.chart.data.datasets;
                                            if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                                                let percentage = (value).toFixed(2).replace(/(\d)(?=(\d{2})+\d\.)/g, '$1,');
                                                return percentage;
                                            } else {
                                                return percentage;
                                            }
                                        },
                                        color: '#000',
                                    }
                                }
                            }
                        });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (type == 'SuperStockiest') {
            $("#navBotSS").addClass("active");
            $("#navBotDist").removeClass("active");
            $("#navBotRetailer").removeClass("active");
        }
        if (type == 'Distributors') {
            $("#navBotSS").removeClass("active");
            $("#navBotDist").addClass("active");
            $("#navBotRetailer").removeClass("active");
        }
        if (type == 'Retailers') {
            $("#navBotSS").removeClass("active");
            $("#navBotDist").removeClass("active");
            $("#navBotRetailer").addClass("active");
        }
    }
    function Top5LostParticipants(type) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Top5LostParticipants")',
            data: "{'type': '" + type + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var names = response[0];
                var dataList = response[1];

                if (response != null) {
                    $('#cvTop5LostParticipant').remove(); // this is my <canvas> element
                    $('#containerTop5LostParticipant').append('<canvas id="cvTop5LostParticipant"><canvas>');
                    var barChartData =
                    {
                        labels: [...names],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [...dataList]
                        }]
                    };

                    var ctx10 = document.getElementById("cvTop5LostParticipant").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'horizontalBar',
                            data: barChartData,
                            options:
                            {
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },

                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                plugins: {
                                    datalabels: {
                                        formatter: (value, ctx) => {
                                            let datasets = ctx.chart.data.datasets;
                                            if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                                                let percentage = (value).toFixed(2).replace(/(\d)(?=(\d{2})+\d\.)/g, '$1,');
                                                return percentage;
                                            } else {
                                                return percentage;
                                            }
                                        },
                                        color: '#000',
                                    }
                                }
                            }
                        });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (type == 'SuperStockiest') {
            $("#navLostSS").addClass("active");
            $("#navLostDist").removeClass("active");
            $("#navLostRetailer").removeClass("active");
        }
        if (type == 'Distributors') {
            $("#navLostSS").removeClass("active");
            $("#navLostDist").addClass("active");
            $("#navLostRetailer").removeClass("active");
        }
        if (type == 'Retailers') {
            $("#navLostSS").removeClass("active");
            $("#navLostDist").removeClass("active");
            $("#navLostRetailer").addClass("active");
        }
    }

    function TgtVsAchVolPerformance(type) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetManagementTGTVsACHPerformance")',
            data: "{'type': '" + type + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var names = response[0];
                var dataList = response[1];

                if (response != null) {
                    $('#cvPerformance').remove(); // this is my <canvas> element
                    $('#containerPerformance').append('<canvas id="cvPerformance"><canvas>');
                    var barChartData =
                    {
                        labels: [...names],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [...dataList]
                        }]
                    };

                    var ctx10 = document.getElementById("cvPerformance").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'horizontalBar',
                            data: barChartData,
                            options:
                            {
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },

                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                plugins: {
                                    datalabels: {
                                        formatter: (value, ctx) => {
                                            let datasets = ctx.chart.data.datasets;
                                            if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                                                let percentage = (value).toFixed(2).replace(/(\d)(?=(\d{2})+\d\.)/g, '$1,') + '%';

                                                //let percentage = value + '%';
                                                return percentage;
                                            } else {
                                                return percentage;
                                            }
                                        },
                                        color: '#000',
                                    }
                                }
                            }
                        });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (type == 'SuperStockiest') {
            $("#navPerformanceSS").addClass("active");
            $("#navPerformanceDist").removeClass("active");
            $("#navPerformanceRetailer").removeClass("active");
        }
        if (type == 'Distributors') {
            $("#navPerformanceSS").removeClass("active");
            $("#navPerformanceDist").addClass("active");
            $("#navPerformanceRetailer").removeClass("active");
        }
        if (type == 'Retailers') {
            $("#navPerformanceSS").removeClass("active");
            $("#navPerformanceDist").removeClass("active");
            $("#navPerformanceRetailer").addClass("active");
        }
    }

    function GetManagementDashboardLostOpp(type) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetManagementDashboardLostOpp")',
            data: "{'type': '" + type + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response)
                if (response != null) {
                    $('#cvAvgOrder').remove(); // this is my <canvas> element
                    $('#containerAvgOrder').append('<canvas id="cvAvgOrder"><canvas>');
                    var options = {
                        //rotation: (-0.5 * Math.PI) - (-90 / 180 * Math.PI),
                        legend: {
                            display: true,
                            position: 'bottom'
                        },
                        tooltips: {
                            enabled: false
                        },
                        plugins: {
                            datalabels: {
                                formatter: (value, ctx) => {
                                    let datasets = ctx.chart.data.datasets;
                                    if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                                        let sum = datasets[0].data.reduce((a, b) => a + b, 0);
                                        let percentage = value + '%';
                                        return percentage;
                                    } else {
                                        return percentage;
                                    }
                                },
                                color: '#000',
                            }
                        }
                    }

                    var data = {
                        datasets: [{
                            data: [...response],
                            backgroundColor: ["#4F81BD", "#9BBB59", "#C0504D"]
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: [
                            "Less than 2",
                            "2 to 3",
                            "More than 3"
                        ],
                    };

                    var ctx4 = document.getElementById("cvAvgOrder").getContext("2d");
                    window.myBar = new Chart(ctx4, {
                        type: 'pie',
                        data: data,
                        options: options

                    });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (type == 'SuperStockiest') {
            $("#navAvgOrderSS").addClass("active");
            $("#navAvgOrderDist").removeClass("active");
        }
        if (type == 'Distributors') {
            $("#navAvgOrderSS").removeClass("active");
            $("#navAvgOrderDist").addClass("active");

        }

    }

    function OrderToRavanaPerformance(type) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetManagementOrderToRavanaPerformance")',
            data: "{'type': '" + type + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var names = response[0];
                var dataList = response[1];

                if (response != null) {
                    $('#cvOrderToRavana').remove(); // this is my <canvas> element
                    $('#containerOrderToRavana').append('<canvas id="cvOrderToRavana"><canvas>');
                    var barChartData =
                    {
                        labels: [...names],
                        datasets: [{
                            label: '',
                            backgroundColor: [
                                "#f990a7",
                                "#aad2ed",
                                "#9966FF",
                                "#99e5e5",
                                "#f7bd83",
                            ],
                            borderWidth: 2,
                            data: [...dataList]
                        }]
                    };

                    var ctx10 = document.getElementById("cvOrderToRavana").getContext("2d");
                    var myChart = new Chart(ctx10,
                        {
                            type: 'horizontalBar',
                            data: barChartData,
                            options:
                            {
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: ""
                                },
                                legend: {
                                    display: false
                                },

                                responsive: true,
                                maintainAspectRatio: true,
                                tooltips: { enabled: false },
                                hover: { mode: null },

                                "hover": {
                                    "animationDuration": 0,
                                    mode: null
                                },
                                plugins: {
                                    datalabels: {
                                        formatter: (value, ctx) => {
                                            let datasets = ctx.chart.data.datasets;
                                            if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                                                let percentage = (value).toFixed(2).replace(/(\d)(?=(\d{2})+\d\.)/g, '$1,');

                                                //let percentage = value + '%';
                                                return percentage;
                                            } else {
                                                return percentage;
                                            }
                                        },
                                        color: '#000',
                                    }
                                }
                            }
                        });
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#divLoader").hide();
            }
        });

        if (type == 'SuperStockiest') {
            $("#navOrderToRavanaSS").addClass("active");
            $("#navOrderToRavanaDist").removeClass("active");
        }
        if (type == 'Distributors') {
            $("#navOrderToRavanaSS").removeClass("active");
            $("#navOrderToRavanaDist").addClass("active");            
        }
        
    }
</script>


<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />