@model WebApp.ViewModel.CampaignMgmt



<div class="app-main__inner" id="dvall">
    <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
        <div class="card" style="padding-bottom:20px;">
            <div>

                <div class="col-md-12 col-xl-12" style="text-align:right;">
                    <a href="@Url.Action("NewCampaign", "Campaigns")" class="btn btn-primary" role="button" data-bs-toggle="button">Create Campaign</a>
                </div>

                @if (Model.LstPromo.Count > 0)
                {
                    <div class="row" style="overflow-x:auto;padding-right:20px;margin-top:10px;margin-left:60px;">

                        <table border="1" cellpadding="5" cellspacing="5">
                            <tr>
                                <th>Campaign ID</th>
                                <th>Campaign Name</th>
                                <th>Member Count</th>
                                <th>Campaign Type</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                            </tr>
                            @foreach (var item in Model.LstPromo)
                            {
                                var total = Convert.ToInt64(item.ControlBase) + Convert.ToInt64(item.CampaignBase);
                                <tr>
                                    <td>@item.CampaignId</td>

                                    <td>@item.CampaignName</td>

                                    <td>@total</td>

                                    <td>@item.CommunicationMode</td>

                                    <td>@item.StartDateStr</td>

                                    <td>@item.EndDateStr</td>

                                    <td>@item.Status</td>
                                </tr>
                            }
                        </table>

                    </div>
                    <div class="row" style="margin-top : 20px; margin-left:50px;">
                        * Last 5 Campaigns
                    </div>
                }
                else
                {
                    <div class="col-md-12 col-xl-12" style="text-align:center;">
                        <h6>No Campaigns</h6>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
