@model List<BOTS_BL.Models.PromoBlastSummary>
@using System.Globalization


<div class="table-responsive">
    <div style="font-size:18px;color:blue;font-weight:bold;">Summary</div>
    <table class="table" id="tblCampaignPromoBlastSummary">
        <thead>
            <tr>
                <th>Campaign Name</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Cpg Mem Count</th>
                <th>Total Txns in Cpn Period</th>
                <th>Business Generated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#" onclick="ShowPromoBlastDetail(@item.CampaignId);" style="color:blue;cursor:pointer;"> @item.CampaignName</a></td>
                    <td>@item.CampaignStatus</td>
                    <td>@item.StartDateStr</td>
                    <td>@item.EndDateStr</td>
                    <td>@item.CampaignMemberCount</td>
                    <td>@item.TotalTxnCount</td>
                    <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(item.BusinessGenerated))</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblCampaignPromoBlastSummary').DataTable({
            "aaSorting": [[1, "asc"]],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });
        var table = $('#tblCampaignPromoBlastSummary').DataTable();
        table.draw();
    });
</script>
