@model List<BOTS_BL.Models.CampaignSummary>
@using System.Globalization



@*<div>
    <div class="col-md-12 col-xl-12">
        <input type="radio" checked id="rdnCurrentMonth" name="Campaignfilter" /> Current Month &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnLast3Months" name="Campaignfilter" /> Last 3 Months &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnLast6Months" name="Campaignfilter" /> Last 6 Months &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnLast12Months" name="Campaignfilter" /> Last 12 Months &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnSpecificMonth" name="Campaignfilter" /> For Month &nbsp;&nbsp;&nbsp;&nbsp;
        @Html.DropDownList("Month", new SelectList(ViewBag.MonthList, "Value", "Text"), "Month", htmlAttributes: new { @class = "smallDDL", @id = "ddlMonthList" })
        @Html.DropDownList("Year", new SelectList(ViewBag.YearList, "Value", "Text"), htmlAttributes: new { @class = "smallDDL", @id = "ddlYearList" })
        <button class="btn btn-primary login-btn" id="btnCampaignfilter">Filter</button>
    </div>
</div>*@
<div class="table-responsive">
    <div style="font-size:18px;color:blue;font-weight:bold;">Summary</div>
    <table class="table" id="tblCampaignSummary">
        <thead>
            <tr>
                <th>Campaign Name</th>
                <th>Status</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Cpg MemCount</th>
                <th>Total Txns in Cpn Period</th>
                <th>Business Generated</th>
                <th>Bonus Points Issued</th>
                <th>Bonus Points Redeemed</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><a href="#" onclick="ShowCampaignDetail(@item.CampaignId);" style="color:blue;cursor:pointer;"> @item.CampaignName</a></td>
                <td>@item.CampaignStatus</td>
                <td>@item.StartDateStr</td>
                <td>@item.EndDateStr</td>
                <td>@item.CampaignMemberCount</td>
                <td>@item.TotalTxnCount</td>
                <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(item.BusinessGenerated))</td>
                <td>@item.TotalBonusPointsIssued</td>
                <td>@item.TotalBonusPointsRedeemed</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblCampaignSummary').DataTable({
            "aaSorting": [[1, "asc"]],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });
        var table = $('#tblCampaignSummary').DataTable();
        table.draw();

        $('#btnCampaignfilter').click(function () {
            var flag = 0;
            var year = 0;
            var month = 0;
            if ($("#rdnCurrentMonth").is(":checked")) {
                flag = 0;
            }
            if ($("#rdnLast3Months").is(":checked")) {
                flag = 1;
            }
            if ($("#rdnLast6Months").is(":checked")) {
                flag = 2;
            }
            if ($("#rdnLast12Months").is(":checked")) {
                flag = 3;
            }
            if ($("#rdnSpecificMonth").is(":checked")) {
                flag = 4;
                year = $("#ddlYearList").val();
                month = $("#ddlMonthList").val();
            }
            GetCampaignSummary(flag, year, month);
        });
    });   
</script>

