@*@{
        ViewBag.Title = "_CampaignWA";
        Layout = null;
    }*@

<style>
    .rbtnClass {
        height: 20px;
        width: 20px;
        vertical-align: middle;
        cursor: pointer;
        /* margin-left: 10px;*/
    }
</style>

<div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;" id="WACamppanel">

    @*<div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">*@
    @*<div class="row" style="margin-top : 20px; margin-left: 8px;">
            <div class="col-sm-2">
                WA Instance Details
            </div>
        </div>*@

    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        WA Instance Details
    </div>

    @*@if (ViewBag.ListCampDetails.Count > 0)
        {*@
    @*<div class="row" style="overflow-x:auto;padding-right:20px;margin-top:10px;margin-left:60px;">
            <table class="table" id="InstanceTable" border="1" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <th>Instance Name</th>
                        <th>Token Id</th>
                        <th>Balance</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>*@
    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <table class="table" id="InstanceTable" border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>Instance Name</th>
                    <th>Token Id</th>
                    <th>Balance</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    @*else
        {
            <div class="row" style="margin-top : 20px; margin-left:50px;">
                <h6 style="font:xx-large"><b>No Instance Found</b></h6>
            </div>
        }*@
    @*</div>*@

    @*<div class="row mt-2" style="margin-top : 20px;">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px;">
                Campaign Name*
            </div>
            <div>
                <input type="text" id="WACampName" class="input50" placeholder="Enter Campaign Name" />
            </div>
            <div>
                <input type="hidden" id="WACampId" class="input50" />
            </div>
        </div>*@

    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-md-3 col-xl-3">
            <label>Campaign Name<b>*</b></label>
        </div>
        <div class="col-md-3 col-xl-3">
            <input type="text" id="WACampName" class="input50" placeholder="Enter Campaign Name" />
        </div>
        <div class="col-md-3 col-xl-3">
            <input type="hidden" id="WACampId" class="input50" />
        </div>
    </div>

    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div id="WAdivdaterange" class="col-md-3 col-xl-3">
            <label>Campaign Period<b>*</b></label>
        </div>
        <div class="col-md-3 col-xl-3">
            <input type="date" id="WAtxtEnrollfromdt" class="input50" placeholder="Start" onchange="WAValidateDate();" /> &nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-md-3 col-xl-3">
            <input type="date" id="WAtxtEnrolltodt" class="input50" placeholder="End" onchange="WAValidateDate1();" />
        </div>
    </div>

    @*<div class="row mt-2" style="margin-top : 20px;">
            <div id="WAdivdaterange" class="col-md-2 col-xl-3" style="margin-left: 18px; margin-top: 20px;">
                <label>Campaign Period*</label>
            </div>
            <div style="margin-top: 20px;">
                <input type="date" id="WAtxtEnrollfromdt" class="input50" placeholder="Start" onchange="WAValidateDate();" /> &nbsp;&nbsp;&nbsp;
            </div>
            <div style="margin-top: 20px;">
                <input type="date" id="WAtxtEnrolltodt" class="input50" placeholder="End" onchange="WAValidateDate1();" />
            </div>
        </div>*@

    @*<div class="row" style="margin-top : 20px;">
            <div class="col-sm-2" style="margin-left: 18px;">
                Base Type
            </div>
            <div class="col-sm-2 dropdown" style="margin-left : 70px;">
                <select id="WABaseType" name="BaseType" class="input50" onchange="WABaseCalc();">
                    <option value="1">All</option>
                    <option value="2">Member Base</option>
                    <option value="3">Bulk Upload</option>
                    <option value="4">Based On Points</option>
                </select>
            </div>
        </div>*@
    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-lg-3 col-md-3 ">
            <label>Base Type</label>
        </div>
        <div class="col-md-3 col-xl-3">
            <select id="WABaseType" name="BaseType" class="input50" onchange="WABaseCalc();">
                <option value="1">All</option>
                <option value="2">Member Base</option>
                <option value="3">Bulk Upload</option>
                <option value="4">Based On Points</option>
            </select>
        </div>
    </div>

    @*<div class="row " id="WAdivPoints" style="margin-top : 20px; display: none;">
            <div class="col-sm-2" style="margin-left: 22px;">
                Points
            </div>
            <div class="col-sm-3 dropdown" style="margin-left : 65px;">
                <select id="WAFilter" name="Filter" class="input50" onchange="WApointsvalid();">
                    <option value="1">Less Than</option>
                    <option value="2">Greater Than</option>
                    <option value="3">Equal To</option>
                    <option value="4">Points Range</option>
                </select>
            </div>
            <div class="col-md-2 col-xl-2" style="margin-left:-55px;">
                <input type="number" id="WApoints" name="points" class="input50" />
            </div>
            <div class="col-md-2 col-xl-2" style="display:none;margin-left:25px;" id="WAdivPointsRange">
                <input type="number" id="WApoints2" name="points2" class="input50" />
            </div>
        </div>*@

    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2" id="WAdivPoints" style="display: none;">
        <div class="col-lg-3 col-md-3 ">
            <label>Points<b>*</b></label>
        </div>
        <div class="col-md-3 col-xl-3 ">
            <select id="WAFilter" name="Filter" class="input50" onchange="WApointsvalid();">
                <option value="1">Less Than</option>
                <option value="2">Greater Than</option>
                <option value="3">Equal To</option>
                <option value="4">Points Range</option>
            </select>
        </div>
        <div class="col-md-3 col-xl-3">
            <input type="number" id="WApoints" name="points" class="input50" />
        </div>
        <div class="col-md-3 col-xl-3" id="WAdivPointsRange" style="display:none;">
            <input type="number" id="WApoints2" name="points2" class="input50" />
        </div>
    </div>


    @*<div class="row" style="margin-top: 20px;">
            <div class="col-sm-2" style="margin-left: 18px;">
                OutletData
            </div>
            <div class="col-sm-2 dropdown" style="margin-left: 70px;">
                @Html.DropDownList("OutletData", new SelectList(ViewBag.OutletData, "Value", "Text"), "ALL", htmlAttributes: new { @class = "input50", @id = "WAddlOutletList" })
            </div>
        </div>*@

    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-lg-3 col-md-3 ">
            <div class="button">
                <button type="button" id="WAbtnFilter" style="margin-left:15px;" class="btn btn-primary" onclick="WAShowCount();"><b>FILTER</b></button>
            </div>
        </div>
        <div class="col-md-4 col-xl-4">
            <table style="border:2px solid black;width:70%">
                <tr style="border:2px solid black; ">
                    <td style="border:2px solid black;text-align:left;">
                        <span id="WAAllCount"></span>All Count
                    </td>
                    <td style="border:2px solid black;width:40%">
                        <span id="WAAllCountnum"></span>
                    </td>
                </tr>
                <tr style="border:2px solid black; ">
                    <td style="border:2px solid black;text-align:left;">
                        <span id="WAFiltCount"></span>Filtered Count
                    </td>
                    <td style="border:2px solid black;width:40%">
                        <span id="WAFiltCountnum"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*<div class="row" style="margin-top : 20px;">
            <div class="col-md-3 col-xl-3">
                <div class="button">
                    <button type="button" id="WAbtnFilter" style="margin-left:15px;" class="btn btn-primary" onclick="WAShowCount();"><b>FILTER</b></button>
                </div>
            </div>
            <div class="col-md-4 col-xl-4">
                <table style="border:2px solid black;width:70%">
                    <tr style="border:2px solid black; ">
                        <td style="border:2px solid black;text-align:left;">
                            <span id="WAAllCount"></span>All Count
                        </td>
                        <td style="border:2px solid black;width:40%">
                            <span id="WAAllCountnum"></span>
                        </td>
                    </tr>
                    <tr style="border:2px solid black; ">
                        <td style="border:2px solid black;text-align:left;">
                            <span id="WAFiltCount"></span>Filtered Count
                        </td>
                        <td style="border:2px solid black;width:40%">
                            <span id="WAFiltCountnum"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>*@

    @*<div class="row" style="margin-top : 50px;">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px;">
                Max No Of Msg Per Day*
            </div>
            <div>
                <input type="number" min="1" maxlength="3" id="NoOfMsg" class="input50" placeholder="No of Msg per Day" />
            </div>
        </div>*@

    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-lg-4 col-md-4 ">
            <label>Max No Of Msg Per Day<b>*</b></label>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <input type="number" min="1" maxlength="3" id="NoOfMsg" class="input50" placeholder="No of Msg per Day" />
        </div>
    </div>

    @*<div class="row" style="margin-top: 20px; margin-left: 20px; " id="WAMsgType">
            <div class="col-md-8 col-xl-8">
                <input type="radio" checked id="rdnTextWA" value="1" name="WAType" onclick="WAtypeValidate();" />&nbsp;&nbsp;&nbsp;<b>Text</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rdnImageWA" value="2" name="WAType" onclick="WAtypeValidate();" />&nbsp;&nbsp;&nbsp;<b>File</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rdnImageCaptionWA" value="3" name="WAType" onclick="WAtypeValidate();" />&nbsp;&nbsp;&nbsp;<b>File With Caption</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>*@
    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-lg-3 col-md-3 ">
            <input type="radio" checked id="rdnTextWA" value="1" name="WAType" onclick="WAtypeValidate();" /><b>Text</b>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <input type="radio" id="rdnImageWA" value="2" name="WAType" onclick="WAtypeValidate();" /><b>File</b>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <input type="radio" id="rdnImageCaptionWA" value="3" name="WAType" onclick="WAtypeValidate();" /><b>File With Caption</b>
        </div>
    </div>

    @*<div class="row" style="margin: 20px;">
            <div class="col-md-8 col-xl-8">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="WAScheduleSwitch" value="0" onchange="WAShowScheduledate();">
                    <label class="custom-control-label" for="WAScheduleSwitch"><b>Schedule Date & Time</b></label>
                </div>
            </div>
        </div>*@
    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-md-8 col-xl-8">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="WAScheduleSwitch" value="0" onchange="WAShowScheduledate();">
                <label class="custom-control-label" for="WAScheduleSwitch"><b>Schedule Date & Time</b></label>
            </div>
        </div>
    </div>

    @*<div class="row" style="margin: 20px; display : none" id="WASchedPick">
            <div class="col-md-8 col-xl-8">
                <input id="WAdatetimepicker" type="text" onclick="WAShowdatetime();">&nbsp;&nbsp;<label> Double click to add Datetime</label>
            </div>
        </div>*@
    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-md-8 col-xl-8">
            <input id="WAdatetimepicker" type="text" class="input50" onclick="WAShowdatetime();">&nbsp;&nbsp;<label> Double click to add Datetime</label>
        </div>
    </div>

    @*<div class="row" style="margin: 20px; display:none" id="WAUpload">
            <input type="file" id="FileUpload1" style="margin-left: 30px;" />
            <input type="button" id="btnUpload" class="btn btn-primary" style="margin-left: 10px; background-color: #2651be;" value="Upload" />
        </div>*@
    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2" style="display: none" id="WAUpload">
        <div class="col-md-4 col-xl-4">
            <input type="file" id="FileUpload1" />
        </div>
        <div class="col-md-3 col-xl-3">
            <input type="button" id="btnUpload" class="btn btn-primary" style="background-color: #2651be;" value="Upload" />
        </div>
    </div>
    <!--<div class="col-md-12" style="margin: 20px; display: none" id="UploadImglink">-->
    @*display:none*@
    <!--<span id="WAText">Upload Img Link:</span>
        <a id="a" href="#" target="_blank"><span id="WAUploadImg"></span></a>
    </div>-->

    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2" style="display: none" id="UploadImglink">
        <div class="col-md-3 col-xl-3">
            <span id="WAText">Upload Img Link:</span>
        </div>
        <div class="col-md-3 col-xl-3">
            <a id="a" href="#" target="_blank"><span id="WAUploadImg"></span></a>
        </div>
    </div>

    <div class="col-md-12 col-xl-12 row mt-2 pl-5 mb-2" id="WAScriptText">
        <div class="col-md-6 col-xl-6">
            <textarea class="form-control" id="WASMSScript" rows="7" maxlength="10000" placeholder="Enter SMS Script"></textarea>
        </div>

        <div class="col-md-3 col-xl-3">
            <br><br><br><br><br><br><br>
            <table style="border:2px solid black;width:70%">
                <tr style="border:2px solid black; ">
                    <td style="border:2px solid black;text-align:left;">
                        <span id="CharCount"></span>Char Count
                    </td>
                    <td style="border:2px solid black;width:40%">
                        <span id="WAcurrent">0</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--<div class="row" style="margin: 20px;" id="WAScriptText">
        <div class="col-md-4" style="margin-top:10px;">
            <textarea class="form-control" id="WASMSScript" rows="7" maxlength="10000" placeholder="Enter SMS Script"></textarea>&nbsp;&nbsp;
        </div>
        <div class="col-md-3" style="margin-top:10px;">
            <br><br><br><br><br><br><br>
            <table style="border:2px solid black;width:70%">
                <tr style="border:2px solid black; ">
                    <td style="border:2px solid black;text-align:left;">
                        <span id="CharCount"></span>Char Count
                    </td>
                    <td style="border:2px solid black;width:40%">
                        <span id="WAcurrent">0</span>
                    </td>
                </tr>
            </table>
        </div>-->
    @*<div class="col-md-4" style="margin-top:10px;">
            <textarea class="form-control" id="WASMSScript1" rows="7" maxlength="10000"></textarea>&nbsp;&nbsp;
        </div>*@
    <!--</div>-->

    <div id="GooleLink1" style="margin-left:40px; margin-top:20px;">
        <a href="https://translate.google.co.in/" target="_blank">Google Translator</a>
    </div>

    @*<div class="row" style="margin-top : 20px;">*@
    <div class="col-md-6 col-xl-6" style="margin-top:20px;">
        <div class="button">
            <button type="button" id="WAbtnSave" style="margin-left:15px;" class="btn btn-primary" onclick="WASaveValidate();"><b>SAVE</b></button>
            <!--<button type="button" id="btnDownload" style="margin-left:15px;" class="btn btn-primary" onclick="DownLoad();"><b>DOWNLOAD</b></button>-->
            @*<button type="button" id="WAbtnSendTestSMS" style="margin-left:15px;" class="btn btn-primary" onclick="WASendTestValidate();" disabled><b>TEST SMS</b></button>*@
            @*<button type="button" id="WAbtnSendMsg" style="margin-left:15px;" class="btn btn-primary" onclick="WASendSMSValidate();" disabled><b>SEND SMS</b></button>*@
        </div>
    </div>

    @*<div class="row" style="margin: 20px;">
            <div class="col-md-4" style="margin-top: 10px;">
                <textarea class="form-control" id="WATestNumbers" rows="2" maxlength="10000" style="display: none" placeholder="Enter Test Numbers"></textarea>&nbsp;&nbsp;
            </div>
            <div class="button col-md-4" style="margin-top: 37px;">
                <button type="button" id="WAbtnSendTestSMS" style="margin-left: 25px; display: none" class="btn btn-primary" onclick="WASendTestValidate();"><b>TEST SMS</b></button>
            </div>
        </div>*@
    <div class="col-md-8 col-xl-8 row mt-2 pl-5 mb-2">
        <div class="col-md-3 col-xl-3">
            <textarea class="form-control" id="WATestNumbers" rows="2" maxlength="10000" style="display: none" placeholder="Enter Test Numbers"></textarea>
        </div>
        <div class="col-md-3 col-xl-3">
            <button type="button" id="WAbtnSendTestSMS" style="margin-left: 25px; display: none" class="btn btn-primary" onclick="WASendTestValidate();"><b>TEST SMS</b></button>
        </div>
    </div>

    <div class="col-md-6 col-xl-6" style="margin-top: 10px;">
        <div class="button">
            <button type="button" id="WAbtnSendMsg" style="margin-left:25px; display : none" class="btn btn-primary" onclick="WASendSMSValidate();"><b>SEND SMS</b></button>
        </div>
    </div>
    @*</div>*@
</div>

@*<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@

@*<link rel="stylesheet" type="text/css" href="~/Scripts/datatable/datatables.min.css" />
    <script type="text/javascript" src="~/Scripts/datatable/datatables.min.js"></script>*@


<script>
    var tableData = [];
    $("#NoOfMsg").focusout(function () {
        alert("Hi");
        var V = $("#NoOfMsg").val();
        if (V != '') {
            if (V == '0') {

                alert(V);
            }
            else if (V>700) {
                alert("Value can not be greater than 700");
            }
        }
    });

    $(document).ready(function () {
        $("#ddlOutletList").on("change", function () {
            var OutletId = $("#ddlOutletList").val();
        });
        $("#btnUpload").on("click", function () {
            UploadData();
        });
    });

    function WABaseCalc() {
        var val = document.getElementById("WABaseType").value;
        if (val == 4) {
            $('#WAdivPoints').show();
        }
        else if (val != 4) {
            $('#WAdivPoints').hide();
        }
    }

    function WAtypeValidate() {
        if (document.getElementById("rdnTextWA").checked) {
             $("#WAScriptText").show();
            $("#WAUpload").hide();
            $("#GooleLink1").show();
        }
        else if (document.getElementById("rdnImageWA").checked) {
             $("#WAUpload").show();
            $("#WAScriptText").hide();
            $("#GooleLink1").hide();
        }
        else if (document.getElementById("rdnImageCaptionWA").checked) {
             $("#WAScriptText").show();
            $("#WAUpload").show();
            $("#GooleLink1").show();
        }
    }

    function WApointsvalid() {
        var val = $('#WAFilter').val();
        if (val == 4) {
            $('#WAdivPointsRange').show();
        }
        else if (val != 4) {
            $('#WAdivPointsRange').hide();
        }
    }

    function WAValidateDate() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = year + '-' + month + '-' + day;

        var CampStartDate = $("#WAtxtEnrollfromdt").val();
        if (CampStartDate < Date1) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "StartDate Can't be Older",
                buttonText: "Okay"

            })
            $("#WAtxtEnrollfromdt").val("");
        }
    }

    function WAValidateDate1() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = year + '-' + month + '-' + day;
        var CampEndDate = $("#WAtxtEnrolltodt").val();
        var CampStartDate = $("#WAtxtEnrollfromdt").val();

        if (CampEndDate < Date1) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "EndDate Can't be Older",
                buttonText: "Okay"
            })
            $("#WAtxtEnrolltodt").val("");
        }
        else if (CampEndDate < CampStartDate) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "EndDate Can't be Older than start Date",
                buttonText: "Okay"
            })
        }
    }

    function WAShowScheduledate() {
        $('#WASchedPick').toggle();
    }

    function WAShowdatetime() {
        $('#WAdatetimepicker').datetimepicker();
    }

    function WASaveValidate() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = year + '-' + month + '-' + day;


        var Script = $("#WASMSScript").val();
        var StartDate = $("#WAtxtEnrollfromdt").val();
        var EndDate = $("#WAtxtEnrolltodt").val();
        var CampName = $("#WACampName").val();
        var AllCount = $("#WAAllCountnum").text();
        var FiltCountnum = $("#WAFiltCountnum").text();
        //var TempId = $("#TempId").val();
        var ScriptType = '';
        var TempCalc = '';
        var a = '';
        var TotalCredits;
        var MessageType, Url;

        Url = $("#WAUploadImg").text();

        if (document.getElementById("rdnTextWA").checked) {
            MessageType = $("#rdnTextWA").val();
        }
        else if (document.getElementById("rdnImageWA").checked) {
            MessageType = $("#rdnImageWA").val();
        }
        else if (document.getElementById("rdnImageCaptionWA").checked) {
            MessageType = $("#rdnImageCaptionWA").val();
        }

        if (AllCount == "") {

            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "No Data Selected",
                buttonText: "Okay"
            })
        }
        else if (FiltCountnum == "") {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "No Data Selected",
                buttonText: "Okay"
            })
        }
        else if (Script == "" && MessageType =='1') {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Script can't be Empty",
                buttonText: "Okay"
            })
        }
        else if ((Script == "" && MessageType == '3') || (Url == "" && MessageType == '3')) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Script  or File can't be Empty",
                buttonText: "Okay"
            })
        }
        else if (Url == "" && MessageType == '2') {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "File Url is Empty",
                buttonText: "Okay"
            })
        }
        else if (StartDate < Date1) {

            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "StartDate Can't be Older",
                buttonText: "Okay"
            })
        }
        else if (EndDate < StartDate) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "EndDate Can't be Older than Start Date",
                buttonText: "Okay"
            })
        }
        else if (EndDate < Date1) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "EndDate Can't be Older",
                buttonText: "Okay"
            })
        }
        else if (CampName == "") {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Campaign Name Can't Empty",
                buttonText: "Okay"
            })
        }
        else if (TempId == "") {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Template ID is Empty",
                buttonText: "Okay"
            })
        }
        else if (TempId == "") {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Template ID is Empty",
                buttonText: "Okay"
            })
        }
        else {
            WASave();
        }
    }



    function WAShowCount() {
        var val = '';
        var Equality = '';
        var Points = '';
        var OutletId = '';
        var PointsRange1 = '';

            val = document.getElementById("WABaseType").value;
            Equality = document.getElementById("WAFilter").value;
            Points = document.getElementById("WApoints").value;
            PointsRange1 = $("#WApoints2").val();
        var NPoints = parseInt(Points);
        var NPointsRange1 = parseInt(PointsRange1);
        var Flag = 0;

        OutletId = $("#WAddlOutletList").val();
        if (val != '4') {
            Equality = ''
            Points = ''
        }
        else if (val == '4') {
            if (Points == '') {
                cuteAlert({
                    type: "error",
                    title: "Error Title",
                    message: "Enter Points",
                    buttonText: "Okay"
                })
                Flag = 1;
            }
        }

        if (val == '4') {
            if (Equality != '4') {
                PointsRange1 = ''
            }
            else {
                if (PointsRange1 == '') {

                    cuteAlert({
                        type: "error",
                        title: "Error Title",
                        message: "Enter Points",
                        buttonText: "Okay"
                    })
                    Flag = 1;
                }
                if (NPointsRange1 < NPoints) {
                     cuteAlert({
                         type: "error",
                         title: "Error Title",
                         message: "To point can't be small than from point",
                         buttonText: "Okay"
                     })
                    Flag = 1;
                 }
            }
        }
        if (Flag == 0) {
            var FilterData = [];
            item = {};
            item["BaseType"] = val;
            item["PointsBase"] = Equality;
            item["Points"] = Points; //PointsRange1
            item["PointsRange1"] = PointsRange1;
            item["OutletId"] = OutletId;
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetFilteredData", "Campaigns")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        $("#WAAllCountnum").text(addComma(response.CustCountALL));
                        $("#WAFiltCountnum").text(addComma(response.CustFiltered));
                        $("#divLoader").hide();
                    }
                    else {

                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }
    }

    function WASave() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = day + '-' + month + '-' + year;

        var val = '';
        var Equality = '';
        var Points = '';
        var OutletId = '';
        var Srcipt = '';
        var StartDate = '';
        var EndDate = '';
        var CampaignName = '';
        var SMSType = 3;
        var MessageType = '';
        var Scheduledatetime = '';
        var ScriptType = '';
        var TempId = '';
        var FileUrlink = '';

        val = $("#WABaseType").val();
        Equality = $("#WAFilter").val();
        Points = $("#WApoints").val();
        PointsRange1 = $("#WApoints2").val();

        if (val != '4') {
            Equality = ''
            Points = 0
            PointsRange1 = 0
        }
        if (val == '4') {
            if (Equality != '4') {
                PointsRange1 = 0
            }
        }

        OutletId = $("#WAddlOutletList").val();
        Srcipt = $("#WASMSScript").val();
        StartDate = $("#WAtxtEnrollfromdt").val();
        EndDate = $("#WAtxtEnrolltodt").val();
        CampaignName = $("#WACampName").val();
        Scheduledatetime = $("#WAdatetimepicker").val();
        TempId = $("#WATempId").val();
        FileUrlink = $("#WAUploadImg").text();


        if (document.getElementById("rdnTextWA").checked) {
            MessageType = $("#rdnTextWA").val();
        }
        else if (document.getElementById("rdnImageWA").checked) {
            MessageType = $("#rdnImageWA").val();
        }
        else if (document.getElementById("rdnImageCaptionWA").checked) {
            MessageType = $("#rdnImageCaptionWA").val();
        }

        var FilterData = [];
        item = {};
        item["BaseType"] = val;
        item["Equality"] = Equality;
        item["Points"] = Points;
        item["OutletId"] = OutletId;
        item["Srcipt"] = Srcipt;
        item["StartDate"] = StartDate;
        item["EndDate"] = EndDate;
        item["CampaignName"] = CampaignName;
        item["SMSType"] = SMSType;
        item["MessageType"] = MessageType;
        item["Scheduledatetime"] = Scheduledatetime;
        item["TempId"] = TempId;
        item["PointsRange1"] = PointsRange1;
        item["FileUrlink"] = FileUrlink;

        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        //alert(data);
        $("#divLoader").show();
        $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDataWA", "Campaigns")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (response) {
                    console.log(response);
                    if (response != null) {

                        $("#WACampId").val(response[0].CampaignId);

                        cuteAlert({
                            type: "success",
                            title: "Success Title",
                            message: "Message Send",
                            buttonText: "Campaign Saved"
                        }).then(() => {
                            $("#WAbtnSendTestSMS").show();
                            $("#WATestNumbers").show();
                            $("#WAbtnSave").prop('disabled', true);

                            $("#rdnTextWA").prop('disabled', true);
                            $("#rdnImageWA").prop('disabled', true);
                            $("#rdnImageCaptionWA").prop('disabled', true);
                        })
                        $("#divLoader").hide();
                        //if (SMSType == 1) {
                        //    $("#btnSave").prop('disabled', true);
                        //    $("#btnSendTestSMS").prop('disabled', false);
                        //    $("#btnSendDLT").prop('disabled', false);
                        //}
                    }
                    else {

                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                    $("#divLoader").hide();
                }
            });

    }

    $("#WASMSScript").keyup(function () {
        //alert("Inside Keyup");
        var WAScriptType = '';
        var WATempCalc = '';
        var a = '';
        var characterCount = $(this).val().length,
            current = $('#WAcurrent'),
            maximum = 0
        theCount = maximum + characterCount;
        //alert(theCount);
        $("#WAcurrent").text(theCount);

        //if (document.getElementById("rdnText").checked) {
        //    ScriptType = $("#rdnText").val();
        //}
        //else {
        //    ScriptType = $("#rdnUnicode").val();
        //}
        //if (ScriptType == '1') {
        //    TempCalc = 159;
        //}
        //else if (ScriptType == '2') {
        //    TempCalc = 69;
        //}

        //var Credits = $(this).val().length,
        //    CreditsNeed = $('#Count'),
        //    maximum = 0
        //var theCount1 = maximum + Credits;
        //a = Math.ceil(theCount / TempCalc);
        //$("#Count").text(a);
    });

    function UploadData() {

            if (window.FormData !== undefined) {
                var fileUpload = $("#FileUpload1").get(0);

                var files = fileUpload.files;
                if (files.length > 0) {
                    var fileData = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    fileData.append("groupId", $('#hdnGroupID').val());

                        $("#divLoader").show();
                        $.ajax({
                            url: '@Url.Action("UploadData", "Campaigns")',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {
                                var res = result[0].ResponseCode;
                                var Uri = result[0].Url;

                                if (res == "00") {
                                    var code = result[0].Url;
                                    cuteAlert({
                                        type: "success",
                                        title: "Uploaded",
                                        message: "Data Uploaded Successfully!",
                                        buttonText: "Okay"
                                    })

                                    $("#divLoader").hide();
                                    $("#WAUploadImg").text(code);
                                    $("a").attr("href", Uri);
                                    $("#UploadImglink").show();
                                }
                                else {
                                    cuteAlert({
                                        type: "error",
                                        title: "Oops..",
                                        message: "There is some problem in uploading data",
                                        buttonText: "Okay"
                                    })
                                    $("#divLoader").hide();
                                }
                                //alert(result);
                            },
                            error: function (err) {
                                cuteAlert({
                                    type: "error",
                                    title: "Oops..",
                                    message: "There is some problem in uploading data",
                                    buttonText: "Okay"
                                })
                                $("#divLoader").hide();
                                //alert(err.statusText);
                            }
                        });
                    }


                else {
                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Please select file to upload",
                        buttonText: "Okay"
                    })
                }
        }
    }

    function WASendTestValidate() {
        var CampId = $("#WACampId").val();
        if (CampId == '') {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Campaign Id Not Found",
                buttonText: "Okay"
            })
        }
        else {
            WASendTestSMS();
        }
    }

    function WASendTestSMS(){
        var CampaignId = $("#WACampId").val();
        var TestNumber = $("#WATestNumbers").val();

            var FilterData = [];
            item = {};
        item["WACampId"] = CampaignId;
        item["WATestNumbers"] = TestNumber;

            FilterData.push(item);
            var data = JSON.stringify(FilterData);
        $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("WASendTestSMS", "Campaigns")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        cuteAlert({
                            type: "question",
                            title: "Confirm Title",
                            message: "Has SMS Received",
                            confirmText: "Yes",
                            cancelText: "No"
                        }).then((e) => {
                            if (e == ("confirm")) {
                                $("#WAbtnSendTestSMS").prop('disabled', true);
                                $("#WAbtnSendMsg").show();
                            }
                            //else {
                            //    alert(":-(");
                            //}
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Error Title",
                            message: "Message Not Send",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                },
                error: function (response) {
                    //console.log(response.responseText);
                    alert("InsideError");
                    $("#divLoader").hide();
                }
            });
    }

    function WAInstanceDetails() {
        var Dummy = '1';
        var FilterData = [];
        item = {};
        item["Dummy"] = Dummy;
        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("WAInstanceData", "Campaigns")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        tableData = [];
                        $.map(response, function (item) {
                            optionItem = {}
                            optionItem["InstanceName"] = item.InstanceName;
                            optionItem["TokenId"] = item.TokenId;
                            optionItem["Status"] = item.Status1;
                            optionItem["quota"] = item.quota;

                            tableData.push(optionItem);
                        });

                        DrawTable();
                        $("#divLoader").hide();
                    }
                    else {
                        alert("No Instance Found");
                        $("#divLoader").hide();
                    }
                },
                error: function (response) {
                    //console.log(response.responseText);
                    alert("InsideError");
                    $("#divLoader").hide();
                }
            });
    }

    function DrawTable() {

        //var table1 = $('#InstanceTable').DataTable();
        //table1.destroy();

        var table = $('#InstanceTable').DataTable({
            "aaSorting": [[0, "asc"]],
            "data": tableData,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "InstanceName" },
                { data: "TokenId" },
                { data: "quota" },
                { data: "Status" }


                //{ data: "LastTxnDate" },
                //{ data: "EnrolledDate" }
            ],

            //"aoColumnDefs": [{ "sClass": "hide_me", "aTargets": [3] }]
            //"rowReorder": {
            //    dataSrc: "index"
            //}
        });
       // $('#activityTable_filter').hide();

        //$('#txtSearch').on('keyup', function () {
        //    $.fn.dataTable.ext.search.push(function (settings, searchData) {
        //        var term = $('#txtSearch').val().toLowerCase()
        //        for (var i = 0; i < searchData.length; i++) {
        //            if (searchData[i].toLowerCase().indexOf(term) >= 0) {
        //                return true;
        //            }
        //        }
        //        return false;
        //    });
        var table = $('#InstanceTable').DataTable();
            table.draw();
        //});
    }

</script>

