@model List<BOTS_BL.Models.CelebrationDetail>
@using System.Globalization

<div class="table-responsive">
    <div style="font-size:18px;color:blue;font-weight:bold;">Detailed</div>
    <table class="table" id="tblCelebrationDetails">
        <thead>
            <tr>
                <th>MobileNo</th>
                <th>MemberName</th>
                <th>EnrolledOutlet</th>
                <th>CelebrationDate</th>
                <th>1st TxnDate</th>
                <th>Total Txns in Cpn Period</th>
                <th>Business Generated</th>
                <th>Bonus Points Issued</th>
                <th>Bonus Points Redeemed</th>
                <th>Bonus Points Expired</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MobileNo</td>
                    <td>@item.CustomerName</td>
                    <td>@item.EnrolledOutlet</td>
                    <td>@item.CelebrationDate</td>
                    <td>@item.FirstTxnDate</td>
                    <td>@item.TotalTxnCount</td>
                    <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(item.BusinessGenerated))</td>
                    <td>@item.BonusPointsIssued</td>
                    <td>@item.BonusPointsRedeem</td>
                    <td>@item.ExpiredPoints</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table1 = $('#tblCelebrationDetails').DataTable();
        table1.destroy();
        var table = $('#tblCelebrationDetails').DataTable({
            "bAutoWidth": false,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "MobileNo" },
                { data: "CustomerName" },
                { data: "EnrolledOutlet" },
                { data: "CelebrationDate" },
                { data: "FirstTxnDate" },
                { data: "TotalTxnCount" },
                { data: "BusinessGenerated" },
                { data: "BonusPointsIssued" },
                { data: "BonusPointsRedeem" },
                { data: "ExpiredPoints" }
            ]
        });
        $('#tblCelebrationDetails_filter').hide();

        var table = $('#tblCelebrationDetails').DataTable();
        table.draw();
    });
</script>
