@model List<BOTS_BL.Models.CelebrationDetail>
@using System.Globalization

<div class="table-responsive">
    <div style="font-size:18px;color:blue;font-weight:bold;">Detailed</div>
    <table class="table" id="tblCelebrationDetails">
        <thead>
            <tr>
                <th>MobileNo</th>
                <th>MemberName</th>
                <th>EnrolledOutlet</th>
                <th>CelebrationDate</th>
                <th>1st TxnDate</th>
                <th>Total Txns in Cpn Period</th>
                <th>Business Generated</th>
                <th>Bonus Points Issued</th>
                <th>Bonus Points Redeemed</th>
                <th>Bonus Points Expired</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MobileNo</td>
                    <td>@item.CustomerName</td>
                    <td>@item.EnrolledOutlet</td>
                    <td>@item.CelebrationDate</td>
                    <td>@item.FirstTxnDate</td>
                    <td>@item.TotalTxnCount</td>
                    <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(item.BusinessGenerated))</td>
                    <td>@item.BonusPointsIssued</td>
                    <td>@item.BonusPointsRedeem</td>
                    <td>@item.ExpiredPoints</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblCelebrationDetails').DataTable({
            "aaSorting": [[1, "asc"]],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });
        var table = $('#tblCelebrationDetails').DataTable();
        table.draw();
    });
</script>
