@model List<BOTS_BL.Models.CelebrationSummary>
@using System.Globalization



<div>
    <div class="col-md-12 col-xl-12">
        <input type="radio" checked id="rdnCurrentMonth" name="Celebrationfilter" /> Current Month &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnLast3Months" name="Celebrationfilter" /> Last 3 Months &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnLast6Months" name="Celebrationfilter" /> Last 6 Months &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnLast12Months" name="Celebrationfilter" /> Last 12 Months &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="rdnSpecificMonth" name="Celebrationfilter" /> For Month &nbsp;&nbsp;&nbsp;&nbsp;
        @Html.DropDownList("Month", new SelectList(ViewBag.MonthList, "Value", "Text"), "Month", htmlAttributes: new { @class = "smallDDL", @id = "ddlMonthList" })
        @Html.DropDownList("Year", new SelectList(ViewBag.YearList, "Value", "Text"), htmlAttributes: new { @class = "smallDDL", @id = "ddlYearList" })
        <button class="btn btn-primary login-btn" id="btnCelebrationFilter">Filter</button>
    </div>
</div>
<div class="table-responsive">
    <div style="font-size:18px;color:blue;font-weight:bold;">Summary</div>
    <table class="table" id="tblCelebrationSummary">
        <thead>
            <tr>
                <th>Celebration</th>
                <th>Total Mem Count</th>
                <th>Unique Mem Transacted</th>
                <th>Conv %</th>
                <th>Total Txns in Cpn Period</th>
                <th>Business Generated</th>
                <th>Bonus Points Issued</th>
                <th>Bonus Points Redeemed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.CelebrationType == "Birthday")
                    {
                        <td><a href="#" onclick="ShowCelebrationDetailPre('Birthday');" style="color:blue;cursor:pointer;"> @item.CelebrationType</a></td>
                    }
                    @if (item.CelebrationType == "Anniversary")
                    {
                        <td><a href="#" onclick="ShowCelebrationDetailPre('Anniversary');" style="color:blue;cursor:pointer;"> @item.CelebrationType</a></td>
                    }

                    <td>@item.TotalMemberCount</td>
                    <td>@item.UniqueMemberTxnCount</td>
                    <td>@item.ConversionPercentage%</td>
                    <td>@item.TotalTxnCount</td>
                    <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(item.BusinessGenerated))</td>
                    <td>@item.BonusPointsIssued</td>
                    <td>@item.BonusPointsRedeemed</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var table1 = $('#tblCelebrationSummary').DataTable();
        table1.destroy();
        var table = $('#tblCelebrationSummary').DataTable({             
            "bAutoWidth": false,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "CelebrationType" },
                { data: "TotalMemberCount" },
                { data: "UniqueMemberTxnCount" },
                { data: "ConversionPercentage" },
                { data: "TotalTxnCount" },
                { data: "BusinessGenerated" },
                { data: "BonusPointsIssued" },
                { data: "BonusPointsRedeemed" }

            ]
        });
        $('#tblCelebrationSummary_filter').hide();

        var table = $('#tblCelebrationSummary').DataTable();
        table.draw();

        $('#btnCelebrationFilter').click(function () {
            var flag = 0;
            var year = 0;
            var month = 0;
            if ($("#rdnCurrentMonth").is(":checked")) {
                flag = 0;
            }
            if ($("#rdnLast3Months").is(":checked")) {
                flag = 1;
            }
            if ($("#rdnLast6Months").is(":checked")) {
                flag = 2;
            }
            if ($("#rdnLast12Months").is(":checked")) {
                flag = 3;
            }
            if ($("#rdnSpecificMonth").is(":checked")) {
                flag = 4;                
                year = $("#ddlYearList").val();
                month = $("#ddlMonthList").val();
            }            
            GetCelebration(flag, year, month);
        });

    });

    function ShowCelebrationDetailPre(CelebrationType) {
        var flag = 0;
        var year = 0;
        var month = 0;
        if ($("#rdnCurrentMonth").is(":checked")) {
            flag = 0;
        }
        if ($("#rdnLast3Months").is(":checked")) {
            flag = 1;
        }
        if ($("#rdnLast6Months").is(":checked")) {
            flag = 2;
        }
        if ($("#rdnLast12Months").is(":checked")) {            
            flag = 3;
        }
        if ($("#rdnSpecificMonth").is(":checked")) {
            flag = 4;
            year = $("#ddlYearList").val();
            month = $("#ddlMonthList").val();
        }
        ShowCelebrationDetail(CelebrationType, flag, year, month);
    }
</script>
