@model List<BOTS_BL.Models.InactiveDetailed>
@using System.Globalization


<div class="table-responsive">
    <div style="font-size:18px;color:blue;font-weight:bold;">Detailed</div>
    <table class="table" id="tblInactiveDetails">
        <thead>
            <tr>
                <th>MobileNo</th>
                <th>MemberName</th>
                <th>EnrolledOutlet</th>
                <th>LastTxnDate</th>
                <th>TxnDate</th>
                <th>TxnAfterDays</th>
                <th>Business Generated</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MobileNo</td>
                    <td>@item.CustomerName</td>
                    <td>@item.EnrolledOutlet</td>
                    <td>@item.LastTxnDate</td>
                    <td>@item.FirstTxnDate</td>
                    <td>@item.TxnAfterDays</td>
                    <td>@String.Format(new CultureInfo("en-IN", false), "{0:n2}", Convert.ToDouble(item.BusinessGenerated))</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblInactiveDetails').DataTable({
            "aaSorting": [[1, "asc"]],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });
        var table = $('#tblInactiveDetails').DataTable();
        table.draw();
    });
</script>
