
@{
    ViewBag.Title = "Campaign Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="row card" id="dvMembersInformation">
    <div class="row" style="margin-left:20px;margin-top:20px;">

        <div class="col-md-6 col-xl-1">

        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card mb-3 widget-content" style="background-color: #C5DAEF;cursor:pointer;" onclick="GetCelebration(0);">
                <div class="widget-content-wrapper" style="display:block !important;">
                    <div class="align-content-center" style="text-align:center;">
                        <div style="text-align: center; font-weight: bold; font-size: 18px !important;">
                            Celebrations
                            <hr style="border-top: 2px solid black;margin:0px;" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <span style="font-size: 12px !important; font-weight: bold;"><i><br />Birthday/<br /> Anniversaries</i></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card mb-3 widget-content" style="background-color: #FDEADC; cursor: pointer;" onclick="GetPointsExpiry(0);">
                <div class="widget-content-wrapper" style="display:block !important;">
                    <div class="align-content-center" style="text-align:center;">
                        <div style="text-align:center;font-weight:bold;font-size: 18px !important;">
                            Points Expiry
                            <hr style="border-top: 2px solid black;margin:0px;" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <span style="font-size: 12px !important; font-weight: bold;">
                                <br /> <i>Notification for transaction</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card mb-3 widget-content" style="background-color: #F4DCDC; cursor: pointer;" onclick="GetInactive(0);">
                <div class="widget-content-wrapper" style="display:block !important;">
                    <div class="align-content-center" style="text-align:center;">
                        <div style="text-align:center;font-weight:bold;font-size: 18px !important;">
                            Inactive
                            <hr style="border-top: 2px solid black;margin:0px;" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <span style="font-size: 12px !important; font-weight: bold;">
                                <br /><i>Let’s get them to transact</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card mb-3 widget-content" style="background-color: #DBEEF4; cursor: pointer;" onclick="GetCampaignSummary(0);">
                <div class="widget-content-wrapper" style="display:block !important;">
                    <div class="align-content-center" style="text-align:center;">
                        <div style="text-align:center; font-weight:bold;font-size: 18px !important;">
                            Campaigns
                            <hr style="border-top: 2px solid black;margin:0px;" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <span style="font-size: 12px !important; font-weight: bold;">
                                <br /><i>Data-led / <br />Points-led</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2" style="padding-right:10px;">
            <div class="card mb-3 widget-content" style="background-color: #EAF1E1;">
                <div class="widget-content-wrapper" style="display:block !important;">
                    <div class="align-content-center" style="text-align:center;">
                        <div style="text-align:center;font-weight:bold;font-size: 18px !important;">
                            Promo Blasts
                            <hr style="border-top: 2px solid black;margin:0px;" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <span style="font-size: 12px !important; font-weight: bold;">
                                <br /><i>Genereic SMS / <br /> Whatsapp</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-1">

        </div>
    </div>


    <div class="row card p-3 m-3" style="margin-left:20px;display:none;" id="dvFirstDiv">

    </div>
    <div class="row card p-3 m-3" style="margin-left:20px;display:none;" id="dvSecondDiv">

    </div>


</div>

<script>
    function GetCelebration(flag, year, month)
    {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignCelebrations", "Campaigns")',
            data: "{'flag': " + flag + ",'stryear': '" + year + "','strmonth': '" + month + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                $("#dvFirstDiv").html(response);
                $("#dvFirstDiv").show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvFirstDiv").html(response.responseText);
                if (flag == 0)
                    $("#rdnCurrentMonth").prop("checked", true);

                if (flag == 1)
                    $("#rdnLast3Months").prop("checked", true);

                if (flag == 2)
                    $("#rdnLast6Months").prop("checked", true);

                if (flag == 3)
                    $("#rdnLast12Months").prop("checked", true);

                if (flag == 4) {
                    $("#rdnSpecificMonth").prop("checked", true);
                    $("#ddlYearList").val(year);
                    $("#ddlMonthList").val(month);
                }

                $("#dvFirstDiv").show(1000);
                $("#dvSecondDiv").empty();
                $("#dvSecondDiv").hide();
                $("#divLoader").hide();
            }
        });

    }

    function ShowCelebrationDetail(type, flag, year, month) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignCelebrationDetails", "Campaigns")',
            data: "{'flag': " + flag + ",'type': '" + type + "','year': '" + year + "','month': '" + month + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvSecondDiv").html(response);
                $("#dvSecondDiv").show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvSecondDiv").html(response.responseText);
                $("#dvSecondDiv").show(1000);
                $("#divLoader").hide();
            }
        });
    }

    function GetPointsExpiry(flag, year, month) {

         $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignPointExpirySummary", "Campaigns")',
            data: "{'flag': " + flag + ",'stryear': '" + year + "','strmonth': '" + month + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvFirstDiv").html(response);
                $("#dvFirstDiv").show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvFirstDiv").html(response.responseText);

                if (flag == 0)
                    $("#rdnCurrentMonth").prop("checked", true);

                if (flag == 1)
                    $("#rdnLast3Months").prop("checked", true);

                if (flag == 2)
                    $("#rdnLast6Months").prop("checked", true);

                if (flag == 3)
                    $("#rdnLast12Months").prop("checked", true);

                if (flag == 4) {
                    $("#rdnSpecificMonth").prop("checked", true);
                    $("#ddlYearList").val(year);
                    $("#ddlMonthList").val(month);
                }

                $("#dvFirstDiv").show(1000);
                $("#dvSecondDiv").empty();
                $("#dvSecondDiv").hide();
                $("#divLoader").hide();
            }
        });
    }

    function GetPointsExpiryDetails(flag, year, month) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignPointExpiryDetails", "Campaigns")',
            data: "{'flag': " + flag + ",'year': '" + year + "','month': '" + month + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvSecondDiv").html(response);
                $("#dvSecondDiv").show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvSecondDiv").html(response.responseText);
                $("#dvSecondDiv").show(1000);
                $("#divLoader").hide();
            }
        });
    }

    function GetInactive(flag, year, month) {
         $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignInactiveSummary", "Campaigns")',
            data: "{'flag': " + flag + ",'stryear': '" + year + "','strmonth': '" + month + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvFirstDiv").html(response);
                $("#dvFirstDiv").show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvFirstDiv").html(response.responseText);

                if (flag == 0)
                    $("#rdnCurrentMonth").prop("checked", true);

                if (flag == 1)
                    $("#rdnLast3Months").prop("checked", true);

                if (flag == 2)
                    $("#rdnLast6Months").prop("checked", true);

                if (flag == 3)
                    $("#rdnLast12Months").prop("checked", true);

                if (flag == 4) {
                    $("#rdnSpecificMonth").prop("checked", true);
                    $("#ddlYearList").val(year);
                    $("#ddlMonthList").val(month);
                }

                $("#dvFirstDiv").show(1000);
                $("#dvSecondDiv").empty();
                $("#dvSecondDiv").hide();
                $("#divLoader").hide();
            }
        });
    }

    function ShowInactiveDetail(flag, year, month) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignInactiveDetails", "Campaigns")',
            data: "{'flag': " + flag + ",'year': '" + year + "','month': '" + month + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvSecondDiv").html(response);
                $("#dvSecondDiv").show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvSecondDiv").html(response.responseText);
                $("#dvSecondDiv").show(1000);
                $("#divLoader").hide();
            }
        });
    }

    function GetCampaignSummary(flag, year, month) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCampaignSummary", "Campaigns")',
            data: "{'flag': " + flag + ",'stryear': '" + year + "','strmonth': '" + month + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvFirstDiv").html(response);
                $("#dvFirstDiv").show(1000);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvFirstDiv").html(response.responseText);

                if (flag == 0)
                    $("#rdnCurrentMonth").prop("checked", true);

                if (flag == 1)
                    $("#rdnLast3Months").prop("checked", true);

                if (flag == 2)
                    $("#rdnLast6Months").prop("checked", true);

                if (flag == 3)
                    $("#rdnLast12Months").prop("checked", true);

                if (flag == 4) {
                    $("#rdnSpecificMonth").prop("checked", true);
                    $("#ddlYearList").val(year);
                    $("#ddlMonthList").val(month);
                }

                $("#dvFirstDiv").show(1000);
                $("#dvSecondDiv").empty();
                $("#dvSecondDiv").hide();
                $("#divLoader").hide();
            }
        });
    }


</script>
