@model WebApp.ViewModel.DLCDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .wrap {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }
</style>
<div class="app-main__inner">
    <div class="row mb-3 pt-3 pl-3 pr-3 card">
        <input type="hidden" id="hdnSlNO" />
        <input type="hidden" id="hdnSmallBase64" />
        <input type="hidden" id="hdnMediumBase64" />
        <input type="hidden" id="hdnBigBase64" />
        <input type="hidden" id="hdnColor" />
        <input type="hidden" id="hdnFontColor" />

        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">

            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">Login Config</legend>
                <div class="col-md-12 col-xl-12 mt-4 row">
                    <div class="col-md-4 col-xl-4 row">
                        <input type="radio" id="rbtnLoginWithOTP" name="OTPorPassword" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />
                        <div>Always Login with OTP</div>
                    </div>
                    <div class="col-md-7 col-xl-7 row">
                        <input type="radio" id="rbtnLoginWithOTPandPassword" name="OTPorPassword" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />
                        <div>
                            Login With OTP first time, from second time login with Password
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row ml-2 mt-3 pb-3" style="padding-right: 7px !important; padding-left: 7px !important;">
                    <div style="padding-top:10px;padding-right:5px;">After Login redirect to page </div>
                    <div> @Html.DropDownListFor(model => model.objDLCDashboard.RedirectToPage, new SelectList(Model.RedirectToPage(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlRedirectToPage" })</div>
                </div>
                <div class="col-md-12 col-xl-12 row ml-2 mt-3 pb-3" style="padding-right: 7px !important; padding-left: 7px !important;">
                    <div style="padding-top:10px;padding-right:5px;">Sign In Text </div>
                    <div> <input type="text" class="input200" id="txtSignInText" /></div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">

            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">Widget Config</legend>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-4 col-xl-4 row">
                        <input type="checkbox" id="chkUpdateProfile" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Add personal details <input type="number" class="input10" style="margin-left: 5px; margin-right: 5px;" id="txtPersonalDetailsPoints" /> Points
                    </div>
                    <div class="col-md-4 col-xl-4 row">
                        <input type="checkbox" id="chkReferFriend" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Refer a friend <input type="number" class="input10" style="margin-left: 5px; margin-right: 5px;" id="txtReferFriendPoints" /> Points
                    </div>
                    <div class="col-md-4 col-xl-4 row">
                        <input type="checkbox" id="chkGiftYourPoints" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Gift your point <input type="number" class="input10" style="margin-left: 5px; margin-right: 5px;" id="txtGiftPoints" /> Points
                    </div>
                </div>
                <div class="col-md-11 col-xl-11 row mt-4 pb-3" style="padding-right: 7px !important; padding-left: 7px !important;">
                    <div class="col-md-2 col-xl-3" style="padding-top:30px;">
                        <input type="checkbox" id="chkExtraWidget1" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />  <b>Extra Widget1</b>
                    </div>
                    <div class="col-md-5 col-xl-5">
                        Widget Text1  <input type="text" class="input100" id="txtExtraWidgetText1" />
                    </div>
                    <div class="col-md-4 col-xl-4">
                        Widget Points1  <input type="number" class="input50" id="txtExtraWidgetPoints1" />
                    </div>
                </div>
                <div class="col-md-11 col-xl-11 row mt-4 pb-3" style="padding-right: 7px !important; padding-left: 7px !important;">
                    <div class="col-md-2 col-xl-3" style="padding-top:30px;">
                        <input type="checkbox" id="chkExtraWidget2" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> <b>Extra Widget2</b>
                    </div>
                    <div class="col-md-5 col-xl-5">
                        Widget Text2  <input type="text" class="input100" id="txtExtraWidgetText2" />
                    </div>
                    <div class="col-md-4 col-xl-4">
                        Widget Points2  <input type="number" class="input50" id="txtExtraWidgetPoints2" />
                    </div>
                </div>
                <div class="col-md-11 col-xl-11 row mt-4 pb-3" style="padding-right: 7px !important; padding-left: 7px !important;">
                    <div class="col-md-2 col-xl-3" style="padding-top:30px;">
                        <input type="checkbox" id="chkExtraWidget3" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> <b>Extra Widget3</b>
                    </div>
                    <div class="col-md-5 col-xl-5">
                        Widget Text3  <input type="text" class="input100" id="txtExtraWidgetText3" />
                    </div>
                    <div class="col-md-4 col-xl-4">
                        Widget Points3  <input type="number" class="input50" id="txtExtraWidgetPoints3" />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">
            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">Logo Config</legend>

                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-6">
                        <input type="radio" id="rbtnSmallLogo" name="Logo" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />  Small Image   @Html.TextBoxFor(model => model.objDLCDashboard.LogoFile1, new { type = "file", @id = "logoFile1" })
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox1">
                            <img id="img1" src="" width="200" style="display:none;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-6">
                        <input type="radio" id="rbtnMediumLogo" name="Logo" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Medium Image  @Html.TextBoxFor(model => model.objDLCDashboard.LogoFile2, new { type = "file", @id = "logoFile2" })
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox2">
                            <img id="img2" src="" width="300" style="display:none;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-6">
                        <input type="radio" id="rbtnBigLogo" name="Logo" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />  Big Image   @Html.TextBoxFor(model => model.objDLCDashboard.LogoFile3, new { type = "file", @id = "logoFile3" })
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox3">
                            <img id="img3" src="" width="400" style="display:none;" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">
            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">Theme Config</legend>

                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-3">
                        <input type="radio" id="rbtnThemeOptionOne" name="LoyaltyTheme" checked style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />  Theme Option One
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox1">
                            <img id="Themeimg1" src="~/Content/assets/Header3.png" width="300" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-3">
                        <input type="radio" id="rbtnThemeOptionTwo" name="LoyaltyTheme" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Theme Option Two
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox2">
                            <img id="Themeimg2" src="~/Content/assets/Header2.png" width="300" />
                        </div>
                    </div>
                </div>                
            </fieldset>
        </div>

        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">
            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">Card Config</legend>

                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-3">
                        <input type="radio" id="rbtnCardOptionOne" name="LoyaltyCard" checked style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />  Card Option One
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox1">
                            <img id="Cardimg1" src="~/Content/assets/Card1.jpg" width="300" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-3">
                        <input type="radio" id="rbtnCardOptionTwo" name="LoyaltyCard" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Card Option Two
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox2">
                            <img id="Cardimg2" src="~/Content/assets/Card2.jpg" width="300" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-3">
                        <input type="radio" id="rbtnCardOptionThree" name="LoyaltyCard" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Card Option Three
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div id="imageBox3">
                            <img id="Cardimg3" src="~/Content/assets/Card3.png" width="300" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">
            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">Social Media Config</legend>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-2">
                        Facebook Url
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <input type="text" class="input100" id="txtFacebookUrl" />
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-2">
                        Twitter Url
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <input type="text" class="input100" id="txtTwitterUrl" />
                    </div>
                </div>

                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-2">
                        Instagram Url
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <input type="text" class="input100" id="txtInstagramUrl" />
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-2">
                        Youtube Url
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <input type="text" class="input100" id="txtYoutubeURL" />
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:7px !important;">
                    <div class="col-md-6 col-xl-2">
                        Whatsapp Url
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <input type="text" class="input100" id="txtWhatsappUrl" />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">
            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">Other Config</legend>
                <div class="col-md-12 col-xl-12 row pt-3">
                    <div class="col-md-4 col-xl-4 row">
                        <input type="checkbox" id="chkFooterImage" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" /> Logo to show at footer
                    </div>
                    <div class="col-md-8 col-xl-8 row">
                        <div class="col-md-1 col-xl-1" style="padding-left:0px;">
                            <input type="checkbox" id="chkCollectInfoRendomly" style="width:20px;height:20px;cursor:pointer;margin-right:5px;" />
                        </div>
                        <div class="col-md-11 col-xl-11" style="margin-left:-37px;">Collect Profile details randomly. (<b><i>If this facility taken, we will show randomly popup on dashboard after login and collect data of member, like DOB, next time Anniversary, next time gender, etc</i></b>)</div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row pt-3">
                    <div class="col-md-5 col-xl-5 ml-2 mt-3 pb-3">
                        Select Language
                        @Html.DropDownListFor(model => model.objDLCDashboard.PrefferedLanguage, new SelectList(Model.LanguageList(), "Value", "Text", "English"), htmlAttributes: new { @class = "input50", @id = "ddlLanguage" })
                    </div>
                    <div class="col-md-5 col-xl-5 ml-2 mt-3 pb-3">
                        Select Country
                        @Html.DropDownListFor(model => model.objDLCDashboard.CountryCode, new SelectList(Model.lstCodes, "Code", "Country", "+91"), htmlAttributes: new { @class = "input50", @id = "ddlCountryCode" })
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <button id="btnPublishDashboard" class="btn btn-primary pull-right" style="margin-left:10px;" type="button"><b>Publish</b></button>
            <button id="btnSaveDashboard" class="btn btn-primary pull-right" type="button"><b>Save</b></button>
        </div>
    </div>

</div>
<script src="~/Scripts/jscolor.js"></script>
<script src="~/Scripts/rainbowvis.js"></script>
<script>
    jscolor.presets.default = {
        position: 'right',
        palette: [
            '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
            '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
            '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
            '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
        ],
        //paletteCols: 12,
        //hideOnPaletteClick: true,
    };
    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }
    function rgbToHex(r, g, b) {
        var hexColor = "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
        $("#hdnColor").val(hexColor);
        return hexColor;
    }
    function rgbToHexFontColor(r, g, b) {
        var hexColor = "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
        $("#hdnFontColor").val(hexColor);
        return hexColor;
    }

    function colorValues(color) {
        if (!color)
            return;
        if (color.toLowerCase() === 'transparent')
            return [0, 0, 0, 0];
        if (color[0] === '#') {
            if (color.length < 7) {
                // convert #RGB and #RGBA to #RRGGBB and #RRGGBBAA
                color = '#' + color[1] + color[1] + color[2] + color[2] + color[3] + color[3] + (color.length > 4 ? color[4] + color[4] : '');
            }
            return [parseInt(color.substr(1, 2), 16),
            parseInt(color.substr(3, 2), 16),
            parseInt(color.substr(5, 2), 16),
            color.length > 7 ? parseInt(color.substr(7, 2), 16) / 255 : 1];
        }
        if (color.indexOf('rgb') === -1) {
            // convert named colors
            var temp_elem = document.body.appendChild(document.createElement('fictum')); // intentionally use unknown tag to lower chances of css rule override with !important
            var flag = 'rgb(1, 2, 3)'; // this flag tested on chrome 59, ff 53, ie9, ie10, ie11, edge 14
            temp_elem.style.color = flag;
            if (temp_elem.style.color !== flag)
                return; // color set failed - some monstrous css rule is probably taking over the color of our object
            temp_elem.style.color = color;
            if (temp_elem.style.color === flag || temp_elem.style.color === '')
                return; // color parse failed
            color = getComputedStyle(temp_elem).color;
            document.body.removeChild(temp_elem);
        }
        if (color.indexOf('rgb') === 0) {
            if (color.indexOf('rgba') === -1)
                color += ',1'; // convert 'rgb(R,G,B)' to 'rgb(R,G,B)A' which looks awful but will pass the regxep below
            return color.match(/[\.\d]+/g).map(function (a) {
                return +a
            });
        }
    }
    function update(picker, selector) {
        var abc = colorValues(picker.toRGBAString())
        var color = rgbToHex(abc[0], abc[1], abc[2]);
        //document.querySelector(selector).style.background = "linear-gradient(to bottom," + color +", #000000)";//picker.toRGBAString();

    }
    function updateColor(picker, selector) {
        var abc = colorValues(picker.toRGBAString())
        var color = rgbToHexFontColor(abc[0], abc[1], abc[2]);
        document.querySelector(selector).style.color = color;//picker.toRGBAString();

    }
    jscolor.trigger('input change');

    $(document).ready(function () {
        
        LoadDashboardConfigData();

        $('#logoFile1').change(function (event) {
            $("#img1").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
            var id = event.currentTarget.id;
            var qId = id.substring(4, id.length);
            var f = event.target.files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    var binaryData = e.target.result;
                    var base64String = window.btoa(binaryData);
                    $("#hdnSmallBase64").val(base64String);
                    //$("#hdnLogo").val($("#FileUploadLogo")[0].files[0].name);
                };
            })(f);
            reader.readAsBinaryString(f);
        });

        $('#logoFile2').change(function (event) {
            $("#img2").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
            var id = event.currentTarget.id;
            var qId = id.substring(4, id.length);
            var f = event.target.files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    var binaryData = e.target.result;
                    var base64String = window.btoa(binaryData);
                    $("#hdnMediumBase64").val(base64String);
                    //$("#hdnLogo").val($("#FileUploadLogo")[0].files[0].name);
                };
            })(f);
            reader.readAsBinaryString(f);
        });

        $('#logoFile3').change(function (event) {
            $("#img3").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
            var id = event.currentTarget.id;
            var qId = id.substring(4, id.length);
            var f = event.target.files[0];
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    var binaryData = e.target.result;
                    var base64String = window.btoa(binaryData);
                    $("#hdnBigBase64").val(base64String);
                    //$("#hdnLogo").val($("#FileUploadLogo")[0].files[0].name);
                };
            })(f);
            reader.readAsBinaryString(f);
        });

        $("#btnSaveDashboard").on("click", function () {
            SaveDashboardConfig();
        });
        $("#btnPublishDashboard").on("click", function () {

            cuteAlert({
                type: "question",
                title: "Are you sure?",
                message: "Please Save data before Publish. Only Saved data will get published. Do you want to continue?",
                confirmText: "Okay",
                cancelText: "Cancel"
            }).then((e) => {
                if (e == ("confirm")) {
                    PublishDashboardConfig();
                }
            })
            
        });
    });

    function LoadDashboardConfigData() {
        $("#divLoader").show();
        $.ajax({
            url: '@Url.Action("GetDashboardConfigDetails", "DLCConfig")',
            //data: '{GroupId: ' + JSON.stringify($('#hdnGroupID').val()) + ',SetId: ' + JSON.stringify($("#ddlCommunicationSet").val()) + '}',
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                LoadData(result);

                $("#divLoader").hide();
            },
            error: function (result) {

                $("#divLoader").hide();
            }
        });
    }

    function LoadData(data) {
        if (data.LoginWithOTP == "OTP") {
            $("#rbtnLoginWithOTP").prop("checked", true);
        }
        if (data.LoginWithOTP == "Password") {
            $("#rbtnLoginWithOTPandPassword").prop("checked", true);
        }
        $('#ddlRedirectToPage').val(data.RedirectToPage);
        if (data.AddPersonalDetails) {
            $("#chkUpdateProfile").prop("checked", true);
        }
        if (data.AddReferFriend) {
            $("#chkReferFriend").prop("checked", true);
        }
        if (data.AddGiftPoints) {
            $("#chkGiftYourPoints").prop("checked", true);
        }
        if (data.IsExtraWidgetText1) {
            $("#chkExtraWidget1").prop("checked", true);
        }
        if (data.IsExtraWidgetText2) {
            $("#chkExtraWidget2").prop("checked", true);
        }
        if (data.IsExtraWidgetText3) {
            $("#chkExtraWidget3").prop("checked", true);
        }
        $("#txtPersonalDetailsPoints").val(data.PersonalDetailsPoints);
        $("#txtReferFriendPoints").val(data.ReferPoints);
        $("#txtGiftPoints").val(data.GiftPoints);

        $("#txtExtraWidgetText1").val(data.ExtraWidgetText1);
        $("#txtExtraWidgetPoints1").val(data.ExtraWidgetPoints1);
        $("#txtExtraWidgetText2").val(data.ExtraWidgetText2);
        $("#txtExtraWidgetPoints2").val(data.ExtraWidgetPoints2);
        $("#txtExtraWidgetText3").val(data.ExtraWidgetText3);
        $("#txtExtraWidgetPoints3").val(data.ExtraWidgetPoints3);

        if (data.PrefferedLanguage != null)
            $("#ddlLanguage").val(data.PrefferedLanguage);

        if (data.CountryCode != null)
            $("#ddlCountryCode").val(data.CountryCode);

        if (data.ShowLogoToFooter) {
            $("#chkFooterImage").prop("checked", true);
        }
        if (data.CollectPersonalDataRandomly) {
            $("#chkCollectInfoRendomly").prop("checked", true);
        }
        if (data.UseLogo == "Small") {
            $("#rbtnSmallLogo").prop("checked", true);
        }
        if (data.UseLogo == "Medium") {
            $("#rbtnMediumLogo").prop("checked", true);
        }
        if (data.UseLogo == "Big") {
            $("#rbtnBigLogo").prop("checked", true);
        }
        if (data.LogoFile1 != "" && data.LogoFile1 != null) {
            $("#img1").attr('src', data.LogoFile1);
            $("#img1").show();
        }
        if (data.LogoFile2 != "" && data.LogoFile2 != null) {
            $("#img2").attr('src', data.LogoFile2);
            $("#img2").show();
        }
        if (data.LogoFile3 != "" && data.LogoFile3 != null) {
            $("#img3").attr('src', data.LogoFile3);
            $("#img3").show();
        }
        if (data.UseCard == "One") {
            $("#rbtnCardOptionOne").prop("checked", true);
        }
        if (data.UseCard == "Two") {
            $("#rbtnCardOptionTwo").prop("checked", true);
        }
        if (data.UseCard == "Three") {
            $("#rbtnCardOptionThree").prop("checked", true);
        }
        if (data.HeaderTheme == "One") {
            $("#rbtnThemeOptionOne").prop("checked", true);
        }
        if (data.HeaderTheme == "Two") {
            $("#rbtnThemeOptionTwo").prop("checked", true);
        }
        $("#txtFacebookUrl").val(data.FacebookUrl);
        $("#txtTwitterUrl").val(data.TwitterUrl);
        $("#txtInstagramUrl").val(data.InstagramUrl);
        $("#txtYoutubeURL").val(data.YoutubeURL);
        $("#txtWhatsappUrl").val(data.WhatsappUrl);

        $("#hdnSlNO").val(data.SlNo);
       
        //document.querySelector("#pr1").style.background = "linear-gradient(to bottom," + data.HeaderColor + ", #000000)";
        $("#hdnColor").val(data.HeaderColor);

        //document.querySelector("#pr1").style.color = data.FontColor;
        $("#hdnFontColor").val(data.FontColor);
    }

    function SaveDashboardConfig() {
        var PrimaryData = [];
        item = {}
        item["SlNo"] = $("#hdnSlNO").val();

        if ($("#rbtnLoginWithOTP").is(":checked")) {
            item["LoginWithOTP"] = "OTP";
        }
        if ($("#rbtnLoginWithOTPandPassword").is(":checked")) {
            item["LoginWithOTP"] = "Password";
        }
        item["RedirectToPage"] = $("#ddlRedirectToPage").val();
        if ($("#chkUpdateProfile").is(":checked")) {
            item["AddPersonalDetails"] = true;
            item["PersonalDetailsPoints"] = $("#txtPersonalDetailsPoints").val();
        }
        else {
            item["AddPersonalDetails"] = false;
            item["PersonalDetailsPoints"] = 0;
        }

        if ($("#chkReferFriend").is(":checked")) {
            item["AddReferFriend"] = true;
            item["ReferPoints"] = $("#txtReferFriendPoints").val();
        }
        else {
            item["AddReferFriend"] = false;
            item["ReferPoints"] = 0;
        }

        if ($("#chkGiftYourPoints").is(":checked")) {
            item["AddGiftPoints"] = true;
            item["GiftPoints"] = $("#txtGiftPoints").val();
        }
        else {
            item["AddGiftPoints"] = false;
            item["GiftPoints"] = 0;
        }
        if ($("#chkExtraWidget1").is(":checked")) {
            item["IsExtraWidgetText1"] = true;
        }
        else {
            item["IsExtraWidgetText1"] = false;           
        }
        if ($("#chkExtraWidget2").is(":checked")) {
            item["IsExtraWidgetText2"] = true;
        }
        else {
            item["IsExtraWidgetText2"] = false;
        }
        if ($("#chkExtraWidget3").is(":checked")) {
            item["IsExtraWidgetText3"] = true;
        }
        else {
            item["IsExtraWidgetText3"] = false;
        }
        item["ExtraWidgetText1"] = $("#txtExtraWidgetText1").val();
        item["ExtraWidgetPoints1"] = $("#txtExtraWidgetPoints1").val();
        item["ExtraWidgetText2"] = $("#txtExtraWidgetText2").val();
        item["ExtraWidgetPoints2"] = $("#txtExtraWidgetPoints2").val();
        item["ExtraWidgetText3"] = $("#txtExtraWidgetText3").val();
        item["ExtraWidgetPoints3"] = $("#txtExtraWidgetPoints3").val();
        item["SignInText"] = $("#txtSignInText").val();
        
        if ($("#chkFooterImage").is(":checked")) {
            item["ShowFooterImage"] = true;
        }
        else {
            item["ShowFooterImage"] = false;
        }
        if ($("#chkCollectInfoRendomly").is(":checked")) {
            item["CollectInfoRendomly"] = true;
        }
        else {
            item["CollectInfoRendomly"] = false;
        }
        item["SmallImageBase64"] = $("#hdnSmallBase64").val();
        item["MediumImageBase64"] = $("#hdnMediumBase64").val();
        item["BigImageBase64"] = $("#hdnBigBase64").val();
        item["UseLogoSize"] = "";
        if ($("#rbtnSmallLogo").is(":checked")) {
            item["UseLogoSize"] = "Small";
        }
        if ($("#rbtnMediumLogo").is(":checked")) {
            item["UseLogoSize"] = "Medium";
        }
        if ($("#rbtnBigLogo").is(":checked")) {
            item["UseLogoSize"] = "Big";
        }
        if ($("#rbtnCardOptionOne").is(":checked")) {
            item["UseCard"] = "One";
        }
        if ($("#rbtnCardOptionTwo").is(":checked")) {
            item["UseCard"] = "Two";
        }
        if ($("#rbtnCardOptionThree").is(":checked")) {
            item["UseCard"] = "Three";
        }

        if ($("#rbtnThemeOptionOne").is(":checked")) {
            item["HeaderTheme"] = "One";
        }
        if ($("#rbtnThemeOptionTwo").is(":checked")) {
            item["HeaderTheme"] = "Two";
        }

        item["HeaderColor"] = $("#hdnColor").val();
        item["FontColor"] = $("#hdnFontColor").val();
        item["PrefferedLanguage"] = $("#ddlLanguage").val();
        item["CountryCode"] = $("#ddlCountryCode").val();

        item["FacebookUrl"] = $("#txtFacebookUrl").val();
        item["TwitterUrl"] = $("#txtTwitterUrl").val();
        item["InstagramUrl"] = $("#txtInstagramUrl").val();
        item["YoutubeURL"] = $("#txtYoutubeURL").val();
        item["WhatsappUrl"] = $("#txtWhatsappUrl").val();
        
        PrimaryData.push(item);

        var PrimaryDataStr = JSON.stringify(PrimaryData);
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDashboard", "DLCConfig")',
                data: '{jsonData: ' + JSON.stringify(PrimaryDataStr) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "DLC Dashboard config saved successfully",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is a problem in saving DLC Dashboard config",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    //console.log(result.responseText)
                }
            });

    }

    function ValidateConfig() {
        var status = true;


        return status;
    }

    function PublishDashboardConfig() {
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("PublishDLCDashboardConfig", "DLCConfig")',                
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "DLC Dashboard config Published successfully",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is a problem in publishing DLC Dashboard config",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    //console.log(result.responseText)
                }
            });
    }

</script>
