@model WebApp.ViewModel.DLCProfileUpdateViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 pt-3 pl-3 pr-3 card">
        <div class="col-md-12 col-xl-12 card ml-2 mt-3 pb-3" style="padding-right:7px !important; padding-left:7px !important;">
            <fieldset style="border-radius: 10px;">
                <legend style="font-size: 20px; background-color: #E5E4E2;">ProfileUpdate Config</legend>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="Name" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;Customer Name

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "CustMandStat" })
                    </div>

                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="Gender" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;Gender

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "GenderMandStat" })
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="BirthDate" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;Birth Date

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "BirthMandStat" })
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="Marrital" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;Marittal Status

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "MargMandStat" })
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="Area" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;Area

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "AreaMandStat" })
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="City" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;City

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "CityMandStat" })
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="Pincode" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;Pincode

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "PinMandStat" })
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row mt-4" style="padding-right:7px !important; padding-left:20px !important;">
                    <div class="col-md-3 col-xl-3 row">
                        <input type="checkbox" id="Email" style="width: 20px; height: 20px; cursor: pointer; margin-left: 10px;" /> &nbsp;&nbsp;Email

                    </div>
                    <div class="col-md-3 col-xl-3 row">
                        @Html.DropDownListFor(model => model.objDLCProfUpdt.MandatoryOrNot, new SelectList(Model.MandatoryOrNot(), "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "MailMandStat" })
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <button id="btnPublishProfUpdt" class="btn btn-primary pull-right" style="margin-left:10px;" type="button"><b>Publish</b></button>
            <button id="btnSaveProfUpdt" class="btn btn-primary pull-right" type="button"><b>Save</b></button>
        </div>
    </div>
</div>
<script>
    $("#btnPublishProfUpdt").on("click", function () {

        cuteAlert({
            type: "question",
            title: "Are you sure?",
            message: "Please Save data before Publish. Only Saved data will get published. Do you want to continue?",
            confirmText: "Okay",
            cancelText: "Cancel"
        }).then((e) => {
            if (e == ("confirm")) {
                PublishProfUpdt();
            }
        })

    });
    $("#btnSaveProfUpdt").on("click", function () {
        ValidateProfUpdtConfig();
    });
    function ValidateProfUpdtConfig() {
        var status = false;

        if ($("#Name").is(":checked")) {
            status = true;
        }
        if ($("#Gender").is(":checked")) {
            status = true;
        }
        if ($("#BirthDate").is(":checked")) {
            status = true;
        }
        if ($("#Marrital").is(":checked")) {
            status = true;
        }
        if ($("#Area").is(":checked")) {
            status = true;
        }
        if ($("#City").is(":checked")) {
            status = true;
        }
        if ($("#Pincode").is(":checked")) {
            status = true;
        }
        if ($("#Email").is(":checked")) {
            status = true;
        }
        if (status == false) {
            alert("Please select any field for ProfileUpdate");
        }
        else {
            SaveProfileUpdtConfig();
        }
    }
    function SaveProfileUpdtConfig() {
        var PrimaryData = [];
        item = {}
        if ($("#Name").is(":checked")) {
            item["Name"] = "True";
            item["NameMandStat"] = $("#CustMandStat option:selected").val();
        }
        else {
            item["Name"] = "False";
            item["NameMandStat"] = "0";
        }
        if ($("#Gender").is(":checked")) {
            item["Gender"] = "True";
            item["GenderMandStat"] = $("#GenderMandStat option:selected").val();
        }
        else {
            item["Gender"] = "False";
            item["GenderMandStat"] = "0";
        }
        if ($("#BirthDate").is(":checked")) {
            item["BirthDate"] = "True";
            item["BirthMandStat"] = $("#BirthMandStat option:selected").val();
        }
        else {
            item["BirthDate"] = "False";
            item["BirthMandStat"] = "0";
        }
        if ($("#Marrital").is(":checked")) {
            item["Marrital"] = "True";
            item["MargMandStat"] = $("#MargMandStat option:selected").val();
        }
        else {
            item["Marrital"] = "False";
            item["MargMandStat"] = "0";
        }
        if ($("#Area").is(":checked")) {
            item["Area"] = "True";
            item["AreaMandStat"] = $("#AreaMandStat option:selected").val();
        }
        else {
            item["Area"] = "False";
            item["AreaMandStat"] = "0";
        }
        if ($("#City").is(":checked")) {
            item["City"] = "True";
            item["CityMandStat"] = $("#CityMandStat option:selected").val();
        }
        else {
            item["City"] = "False";
            item["CityMandStat"] = "0";
        }
        if ($("#Pincode").is(":checked")) {
            item["Pincode"] = "True";
            item["PinMandStat"] = $("#PinMandStat option:selected").val();
        }
        else {
            item["Pincode"] = "False";
            item["PinMandStat"] = "0";
        }
        if ($("#Email").is(":checked")) {
            item["Email"] = "True";
            item["MailMandStat"] = $("#MailMandStat option:selected").val();
        }
        else {
            item["Email"] = "False";
            item["MailMandStat"] = "0";
        }

        PrimaryData.push(item);
        //console.log(PrimaryData);
        var data = JSON.stringify(PrimaryData);
        alert(data);
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("SaveProfileUpdate", "DLCConfig")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (response) {
                    if (response == true) {
                        cuteAlert({
                            type: "success",
                            title: "Data Saved",
                            message: "You have saved data",
                            buttonText: "Okay"
                        }).then(() => {
                            var urlLink = "@Url.Action("ProfileConfig", "DLCConfig")";
                            window.location.href = urlLink;
                        })
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Data Not Inserted",
                            message: "Something went wrong",
                            buttonText: "Okay"
                        })
                    }
                }
            });
    }
    function PublishProfUpdt() {
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("PublishProfileUpdate", "DLCConfig")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "DLC Profile Update Data Published successfully",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is a problem in publishing DLC Profile Update Data",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    //console.log(result.responseText)
                }
            });
    }
</script>
