@model List<BOTS_BL.Models.TelecallerReport>

<div>
    <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
        <div class="row">
            <div class="col search-container">
                <i class="fas fa-search"></i>
                <input class="input100" type="text" id="txtSearchOnBoarding" placeholder="Search activity..." />
            </div>
        </div>
        <div class="row mt-3" id="dvOnBoardingData">
            <div class="table-responsive">
                <table class="table" id="OnBoardingTable">
                    <thead>
                        <tr>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Date Of Birth</th>
                            <th scope="col">Date Of Anniversary</th>
                            <th scope="col">Outlet Name</th>
                            <th scope="col">Comments</th>
                            @*<th scope="col">Points</th>*@
                            <th scope="col">Added By</th>
                            <th scope="col">Added Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                               
                        <tr>
                            <td>@item.MobileNo</td>
                            <td>@item.CustomerName</td>
                            @if (item.Gender == null)
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td>@item.Gender</td>
                            }

                            @if (item.DOB !=null )
                            {
                                <td>@item.DOB</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            @if (item.DOA != null)
                            {
                                <td>@item.DOA</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            <td>@item.OutletName</td>
                            @if (item.Comments != null)
                            {
                                <td>@item.Comments</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            <td>@item.AddedBy</td>

                            <td>@item.AddedDate</td>


                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#OnBoardingTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers"
        });

        $('#OnBoardingTable_filter').hide();

        $('#txtSearchOnBoarding').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearchOnBoarding').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#OnBoardingTable').DataTable();
            table.draw();
        });

        //$(".first.paginate_button, .last.paginate_button").hide();
    });
</script>
