@model BOTS_BL.Models.TelecallerCustomerData
@using BOTS_BL.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userDetails = (CustomerLoginDetail)Session["UserSession"];
}
<style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3" style="text-align:center;">

            <input type="number" id="txtmobileNo" class="input50" placeholder="Enter Mobile No" />
            <button class="btn btn-primary login-btn ml-2 mr-2" type="button" id="btnSave" onclick="Submit();">
                Submit
            </button>
            <br /><br />
        </div>

    </div>
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3" id="divdata" style="display:none;">
            <div class="col-md-12 col-lg-12 row">
                <div class="col-md-12 col-lg-12 mt-2" style="border: 1px solid gray; border-radius: 5px; padding-bottom:10px;">
                    <div class="col-md-12 col-lg-12 row mt-3">
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Mobile No: </b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <span id="spMobileNo"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 row">
                            <div class="col-md-6 col-lg-6">
                                <b>Enrollment Date: </b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <span id="spenrolldt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 row mt-3">
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Total Balance Points: </b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <span id="sptotalpoints"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Outlet Name:</b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <span id="spoutletNm"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 row mt-3">
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Last Txn Date: </b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <span id="spLasttxndt"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-12 row mt-3">
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Customer Name: </b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="text" id="spCustName" class="input50" />
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Gender:</b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                @Html.DropDownList("Gender", new SelectList(ViewBag.lstGenderList, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlgender" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 row mt-3">
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Date Of Birth: </b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="date" id="txtDOB" class="input50" />
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Date Of Anniversary:</b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="date" id="txtDOA" class="input50" />
                            </div>
                        </div>
                    </div>

                    @if (userDetails.GroupId == "1263")
                    {
                        <div class="col-md-12 col-lg-12 row mt-3">
                            <div class="col-md-6 col-lg-6 row ">
                                <div class="col-md-6 col-lg-6">
                                    <b>Bonus Points: </b>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <input id="bonusPointsOld" type="number" class="input50" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 row ">
                                <div class="col-md-6 col-lg-6">
                                    <b>Point Validity (in days):</b>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <input id="PointsValidityOld" type="number" class="input50" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 row mt-3">
                            <div class="col-md-6 col-lg-6 row ">
                                <div class="col-md-6 col-lg-6">
                                    <b>Redeeming Outlet: </b>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    @Html.DropDownList("Gender", new SelectList(Model.lstOutlet, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlOutletOld" })
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-12 col-lg-12 row mt-3">
                        <div class="col-md-6 col-lg-6 row ">
                            <div class="col-md-6 col-lg-6">
                                <b>Comments: </b>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <textarea class="input100" id="txtcomment" cols="80" rows="5" placeholder="Enter Comments"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 row mt-4">
                <div class="col-md-12 col-lg-12" style="text-align:right;">
                    <button type="button" id="btnSave" class="btn btn-primary" onclick="SaveData();" style="margin-right:10px;"> Save</button>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-3 pl-3 pr-3" id="divEnrolldata" style="display:none;padding-left:300px !important;">
            <div class="row mb-3">
                <div class="col-md-12 col-sm-12 row">
                    <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                        Mobile No:
                    </div>
                    <div class="col-md-5 col-sm-5" style="margin-top:10px;">
                        <input id="NewMobileNo" type="text" class="input50" />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 row">
                    <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                        Card No:
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                        <input id="NewCrdNo" type="text" class="input50" />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 row">
                    <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                        Name:
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                        <input id="NewCustName" type="text" class="input50" />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 row">
                    <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                        BirthDay:
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                        <input id="NewDOB" type="date" class="input50" />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 row">
                    <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                        Anniversary:
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                        <input id="NewDOA" type="date" class="input50" />
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 row">
                    <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                        Gender:
                    </div>
                    <div class="col-md-4 col-xl-4" style="margin-top:10px;">
                        @Html.DropDownList("Gender", new SelectList(ViewBag.lstGenderList, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlenrolgender" })
                    </div>
                </div>
                @if (userDetails.GroupId == "1263")
                {
                    <div class="col-md-12 col-sm-12 row">
                        <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                            Bonus Points:
                        </div>
                        <div class="col-md-4 col-xl-4" style="margin-top:10px;">
                            <input id="bonusPointsNew" type="number" class="input50" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 row">
                        <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                            Point Validity (in days):
                        </div>
                        <div class="col-md-4 col-xl-4" style="margin-top:10px;">
                            <input id="PointsValidityNew" type="number" class="input50" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 row">
                        <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                            Redeeming Outlet:
                        </div>
                        <div class="col-md-4 col-xl-4" style="margin-top:10px;">
                            @Html.DropDownList("Gender", new SelectList(Model.lstOutlet, "Value", "Text"), htmlAttributes: new { @class = "input50", @id = "ddlOutletNew" })
                        </div>
                    </div>
                }

                <div class="col-md-12 col-sm-12 row">
                    <div class="col-md-3 col-sm-3" style="margin-top:10px;">
                        Comments:
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-top:10px;">
                        <textarea class="input100" id="Newcomment" cols="80" rows="5" placeholder="Enter Comments"></textarea>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 row" style="margin-top: 10px;">
                    <div class="col-md-2 col-sm-2" style="margin-left: 8px;">
                        <button type="button" id="btnSubmit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
                    </div>
                    <div class="col-md-2 col-sm-2" style="margin-left: 10px;">
                        <button type="button" id="btnReset" class="btn btn-primary" onclick="Reset();" style="margin-top:10px;">Reset</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/datetimepicker-master/jquery.datetimepicker.js"></script>*@
<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

        $("#NewDOB").datepicker({
            dateFormat: "yy-mm-dd",
            yearRange: '1950:' + today + '',
            changeYear: true,
            //minDate: new Date(1900, 1 - 1, 1),
            maxDate: '1Y',
        });

        $("#NewDOA").datepicker({
            dateFormat: "yy-mm-dd",
            yearRange: '1950:' + today + '',
            changeYear: true,
            //minDate: new Date(1900, 1 - 1, 1),
            maxDate: '1Y',
        });

        $("#txtmobileNo").focusout(function () {
            if ($("#txtmobileNo").val() != "") {
                $('#txtmobileNo').css('border-color', '');
            }
            else {
                $('#txtmobileNo').css('border-color', 'red');
            }
        });

    });
    function Submit() {
        var returnStatus = true;
        var MobileNo = $("#txtmobileNo").val();
        if ($("#txtmobileNo").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Enter Mobile No",
                buttonText: "Okay"
            })
            $('#txtmobileNo').css('border-color', 'red');
            returnStatus = false;
        }
        else {
            if (/^[6789]\d{9,9}$/.test(MobileNo)) {

            }
            else {
                cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Enter Correct Mobile No",
                buttonText: "Okay"
            })
                $('#txtmobileNo').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if (returnStatus == true) {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomerData", "Telecaller")',
                data: '{MobileNo: ' + JSON.stringify($('#txtmobileNo').val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    if (response != null) {
                        console.log(response);
                        $("#spCustName").val(response.CustomerName);
                        $("#ddlgender").val(response.Gender);
                        $("#txtDOB").val(response.DOB);
                        $("#txtDOA").val(response.DOA);
                        $("#spMobileNo").text(response.MobileNo);
                        $("#spenrolldt").text(response.EnrollmentDate);
                        $("#sptotalpoints").text(response.TotalBalPoints);
                        $("#spLasttxndt").text(response.LastTxnDate);
                        $("#spoutletNm").text(response.OutletName);
                        $("#spoutletId").text(response.outletid);


                        $("#divdata").show();
                        $("#divEnrolldata").hide();
                    }
                    $("#divLoader").hide();

                },
                error: function (result) {
                    cuteAlert({
                        type: "question",
                        title: "Are you sure?",
                        message: "This number is not available, Do you want to enroll this customer",
                        confirmText: "Okay",
                        cancelText: "Cancel"
                    }).then((e) => {
                        if (e == ("confirm")) {
                            $("#divEnrolldata").show();
                            $("#divdata").hide();

                            $("#NewMobileNo").val($("#txtmobileNo").val());
                            $("#NewMobileNo").attr("disabled", "disabled");
                        }
                    })
                    console.log(result.responseText);
                    $("#divLoader").hide();
                }
            });
        }
    }

    $("#btnSubmit").click(function () {
        $("#divLoader").show();
        var FilterData = [];
        item = {};
        item["MobileNo"] = $("#NewMobileNo").val();
        item["CrdNo"] = $("#NewCrdNo").val();
        item["CustNm"] = $("#NewCustName").val();
        item["Gender"] = $('#ddlenrolgender :selected').val();
        item["DOB"] = $("#NewDOB").val();
        item["DOA"] = $("#NewDOA").val();
        item["Comment"] = $("#Newcomment").val();
        item["BonusPoints"] = $("#bonusPointsNew").val();
        item["PointsValidity"] = $("#PointsValidityNew").val();
        item["RedeemingOutlet"] = $("#ddlOutletNew").val();
        FilterData.push(item);
        var data = JSON.stringify(FilterData);
         $.ajax({
                type: "POST",
                url: '@Url.Action("EnrollData", "Telecaller")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response) {
                        $("#divLoader").hide();
                        $("#divdata").hide();
                        $("#txtmobileNo").val("");

                        cuteAlert({
                            type: "success",
                            title: "Save",
                            message: "Data Save Successfully!",
                            buttonText: "Okay"
                        }).then(() => {
                        window.location.reload();
                    });
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {

                    console.log(result.responseText);
                    $("#divLoader").hide();
                }
            });

    });

    function Reset() {
        $("#divLoader").show();
        $("#NewCrdNo").val("")
        $("#NewCustName").val("");
        $('#ddlenrolgender').prop('selectedIndex', 0);
        $("#NewDOB").val("mm/dd/yyyy");
        $("#NewDOA").val("mm/dd/yyyy");
        /*$("#ddlgender").val(0);*/

        $("#divLoader").hide();
    }

    function SaveData() {

        $("#divLoader").show();
        var FilterData = [];
        item = {};
        item["MobileNo"] = $("#txtmobileNo").val();
        item["CustNm"] = $("#spCustName").val();
        item["Gender"] = $('#ddlgender :selected').val();
        item["DOB"] = $("#txtDOB").val();
        item["DOA"] = $("#txtDOA").val();
        item["Points"] = 0;
        item["outletId"] = $("#spoutletId").text();
        item["Comments"] = $("#txtcomment").val();
        if ($("#bonusPointsNew").val() != null) {
            item["Points"] = $("#bonusPointsOld").val();
            item["PointsValidity"] = $("#PointsValidityOld").val();
            item["RedeemingOutlet"] = $("#ddlOutletOld").val();
        }
        else {
            item["Points"] = 0;
            item["PointsValidity"] = 0;
            item["RedeemingOutlet"] = 0;
        }
        FilterData.push(item);
        var data = JSON.stringify(FilterData);
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveTelecallerData", "Telecaller")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response) {
                        $("#divLoader").hide();
                        $("#divdata").hide();
                        $("#txtmobileNo").val("");

                        cuteAlert({
                            type: "success",
                            title: "Save",
                            message: "Data Save Successfully!",
                            buttonText: "Okay"
                        }).then(() => {
                        window.location.reload();
                    });
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Data not inserted",
                        buttonText: "Okay"
                    })
                    console.log(result.responseText);
                    $("#divLoader").hide();
                }
            });

    }
</script>

