@model List<BOTS_BL.Models.ChitaleModel.ParticipantList>

@{
    ViewBag.Title = "ParticipantListViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<div class="app-main__inner">
    <div class="row" style="margin-left:20px;">

        <div class="row mb-3 pt-3 pl-3 pr-3 card">
            <div id="dvOutletWiseData">
                <b>PARTICIPANT LIST</b>
                <div class="row mb-3">
                    <div class="container-fluid pt-3 pl-3 pr-3">

                        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col search-container">
                                    <i class="fas fa-search"></i>
                                    <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                                </div>
                                <div class="col text-right">
                                    <ul class="list-inline progress-list mt-2">
                                        <li class="list-inline-item">
                                            <div class="dropdown">
                                                <button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                                    <i class="fas fa-file-export"></i> Export
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-3" id="dvActivityData">

                                <div class="table-responsive">
                                    <table class="table" id="activityTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Participant Type</th>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Cluster</th>
                                                <th scope="col">Sub-Cluster</th>
                                                <th scope="col">Rank</th>
                                                <th scope="col">Total Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.Count > 0)
                                                {

                                                    foreach (var participant in Model)
                                                    {
                                                        <tr>
                                                            <td>@participant.participantType</td>
                                                            <td>@participant.Id</td>
                                                            <td>
                                                                @participant.Name
                                                            </td>
                                                            <td>
                                                                @participant.city
                                                            </td>
                                                            <td>
                                                                @participant.cluster
                                                            </td>
                                                            <td>
                                                                @participant.subcluster
                                                            </td>
                                                            <td>
                                                                @participant.Rank
                                                            </td>
                                                            <td>
                                                                @participant.Totalpoints
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>


