@model WebApp.ViewModel.DocumentLibraryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />

<div class="app-main__inner">
    <input type="hidden" id="hdnuploadDocBase64" />
    <input type="hidden" id="hdnFileName" />
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-6 col-xl-6 row mt-3 pl-5 mb-4">
                <input type="radio" id="rdnCustomer" style="width:20px;margin-right:5px;cursor:pointer;" checked name="cust_type" /> Customer
                <input type="radio" id="rdnInternal" style="width: 20px; margin-right: 5px; margin-left: 15px; cursor: pointer; " name="cust_type" /> Internal
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvCustomer">
                <div class="col-lg-3 col-md-3 ">
                    Group Name
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
                </div>
            </div>
            @*<div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvInternal">
                <div class="col-lg-3 col-md-3 ">
                    Department
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
                </div>
            </div>*@
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvInternal">
                <div class="col-lg-3 col-md-3 ">
                    Department
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.dept, new SelectList(Model.Departments(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlDepartment" })
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvInternal">
                <div class="col-lg-3 col-md-3 ">
                    DocumentType
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.DocType, new SelectList(Model.DocumentType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlDocumentType" })
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4">
                <div class="col-lg-3 col-md-3 ">
                    Upload Document
                </div>
                <div class="col-md-3 col-xl-3">
                    <input type="file" id="uploadDoc" />
                </div>
            </div>

            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4">
                <input class="input150" id="txtComment" placeholder="Comment" />
            </div>

            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4">
                <input type="button" id="btnUpload1" class="btn btn-primary" value="Upload" />
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        ShowHideDDL();
        document.getElementById("uploadDoc").addEventListener('change', handleFileSelectProductWise, false);

        $("#btnUpload1").click(function () {
            UploadDocuments();
        });
        $("#rdnCustomer").change(function () {
            ShowHideDDL();
        });
        $("#rdnInternal").change(function () {
            ShowHideDDL();
        });
    });

    function ShowHideDDL() {
        if ($("#rdnCustomer").is(":checked")) {
            $("#dvCustomer").show();
            $("#dvInternal").hide();
        }
        if ($("#rdnInternal").is(":checked")) {
            $("#dvCustomer").hide();
            $("#dvInternal").show();
        }
    }

    function handleFileSelectProductWise(evt) {
        var id = evt.currentTarget.id;
        var qId = id.substring(4, id.length);
        var f = evt.target.files[0];
        var Name = evt.target.files[0].name;
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                var binaryData = e.target.result;
                var base64String = window.btoa(binaryData);
                $("#hdnuploadDocBase64").val(base64String);
                $("#hdnFileName").val(Name);
            };
        })(f);
        reader.readAsBinaryString(f);
    }

    function UploadDocuments() {
        var DocumentStr = $("#hdnuploadDocBase64").val();
        var filename = ($("#hdnFileName").val());
        if ($("#rdnCustomer").is(":checked")) {
            var GroupId = $("#ddlGroupDetails").val();
            var GroupName = $("#ddlGroupDetails option:selected").text();
        }
        else {
            var GroupId = $("#ddlDepartment option:selected").text();
            var GroupName = $("#ddlDepartment option:selected").text();
        }
        /*var GroupId = $("#ddlGroupDetails").val();*/
        /*var GroupName = $("#ddlGroupDetails option:selected").text();*/
        var Comment = $("#txtComment").val();


        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadDocument", "DocumentLibrary")',
                data: '{fileData: ' + JSON.stringify(DocumentStr) + ',filename: ' + JSON.stringify(filename) + ',GroupId: ' + JSON.stringify(GroupId) + ',GroupName: ' + JSON.stringify(GroupName) + ',Comment: ' + JSON.stringify(Comment) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "Earn config saved successfully",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is a problem in saving point rules",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        cuteAlert({
                            type: "success",
                            title: "Uploaded",
                            message: "Document Uploaded successfully",
                            buttonText: "Okay"
                        }).then(() => {
                            
                            var urlLink = "@Url.Action("Index", "DocumentLibrary")";
                            window.location.href = urlLink;
                        }) 
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is a problem in Uploading Document",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                }
            });
    }

    function Index()
    {
        var urlLink = "@Url.Action("Index", "DocumentLibrary")";
        window.location.href = urlLink;
    }
</script>
