@model WebApp.ViewModel.DocumentLibraryViewModel
@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseURL = ConfigurationManager.AppSettings["BaseDocUrl"];
}

<div class="app-main__inner">
    <input type="hidden" id="hdnuploadDocBase64" />
    <input type="hidden" id="hdnFileName" />   
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="col-md-6 col-xl-6 row mt-3 pl-5 mb-4">
                <input type="radio" id="rdnCustomer" style="width:20px;margin-right:5px;cursor:pointer;" checked name="cust_type" /><span> Customer</span>
                @if (Model.roleId != "7")
                {
                    <input type="radio" id="rdnInternal" style="width: 20px; margin-right: 5px; margin-left: 15px; cursor: pointer; " name="cust_type" /><span> Internal</span>
                }
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvCustomer">
                <div class="col-lg-3 col-md-3 ">
                    Group Name
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
                </div>
            </div>           
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvInternal">
                <div class="col-lg-3 col-md-3 ">
                    Department
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.dept, new SelectList(Model.Departments(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlDepartment" })
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvInternal">
                <div class="col-lg-3 col-md-3 ">
                    DocumentType
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.DocType, new SelectList(Model.lstDocumentType, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlDocumentType" })
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvInternalGroup" style="display:none;">
                <div class="col-lg-3 col-md-3 ">
                    Group Name
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlDeptGroupDetails" })
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4" id="dvVendors" style="display:none;">
                <div class="col-lg-3 col-md-3 ">
                    Vendor
                </div>
                <div class="col-md-3 col-xl-3">
                    @Html.DropDownListFor(model => model.Vendor, new SelectList(Model.Vendors(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlVendor" })
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4">
                <div class="col-lg-3 col-md-3 ">
                    Upload Document
                </div>
                <div class="col-md-3 col-xl-3">
                    <input type="file" id="uploadDoc" />
                </div>
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4">
                <input class="input150" id="txtComment" placeholder="Comment" />
            </div>
            <div class="col-md-8 col-xl-8 row mt-3 pl-5 mb-4">
                <input type="button" id="btnUpload1" class="btn btn-primary" value="Upload" />
            </div>
        </div>
    </div>
    <div class="row mb-3 card" id="Doclist">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3" style="padding-top:20px; display:none;" id="Tabl">
            <div class="table-responsive">
                <table class="table" id="InstanceTable">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align:center;">DocType</th>
                            <th scope="col" style="text-align:center;">Uploaded Date</th>
                            <th scope="col" style="text-align:center;">Comments</th>
                            <th scope="col" style="text-align:center;">Download</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        ShowHideDDL();
        document.getElementById("uploadDoc").addEventListener('change', handleFileSelectProductWise, false);

        $("#btnUpload1").click(function () {
            ValidationUpload();
        });
        $("#rdnCustomer").change(function () {
            ShowHideDDL();
            FillDocumentTypeDDL("Customer");
            $('#ddlDepartment').prop('selectedIndex', 0);
            $('#ddlDocumentType').prop('selectedIndex', 0);
            $('#ddlDeptGroupDetails').prop('selectedIndex', 0);
            $('#ddlVendor').prop('selectedIndex', 0);
        });
        $("#rdnInternal").change(function () {
            ShowHideDDL();
        });
        $("#ddlDepartment").change(function () {
            ShowDeptGroup();
            FillDocumentTypeDDL($("#ddlDepartment").val());
        });

    });

    $("#ddlGroupDetails").change(function(){
        var GroupId = $("#ddlGroupDetails").val();

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListDocuments", "DocumentLibrary")',
                data: '{GroupId: ' + JSON.stringify(GroupId) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    $("#Tabl").show();
                    tableData = [];
                    $.map(result, function (item) {
                        optionItem = {}

                        optionItem["SlNo"] = item.SlNo;
                        optionItem["DocumentType"] = item.DocumentType;
                        optionItem["Path"] = item.Path;
                        optionItem["UploadDate"] = item.UploadDateStr;
                        optionItem["Comments"] = item.Comments;

                        tableData.push(optionItem);
                    });
                    console.log(tableData)
                    DrawTable();
                    $("#divLoader").hide();
                },
                error: function (result) {
                    alert(111)
                    console.log(result.responseText)
                }
            });

    });

    $("#ddlDeptGroupDetails").change(function(){
        var GroupId = $("#ddlDeptGroupDetails").val();

        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListDocuments", "DocumentLibrary")',
                data: '{GroupId: ' + JSON.stringify(GroupId) + ',Dept: ' + JSON.stringify($("#ddlDepartment").val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    $("#Tabl").show();
                    tableData = [];
                    $.map(result, function (item) {
                        optionItem = {}

                        optionItem["SlNo"] = item.SlNo;
                        optionItem["DocumentType"] = item.DocumentType;
                        optionItem["Path"] = item.Path;
                        optionItem["UploadDate"] = item.UploadDateStr;
                        optionItem["Comments"] = item.Comments;

                        tableData.push(optionItem);
                    });
                    console.log(tableData)
                    DrawTable();
                    $("#divLoader").hide();
                },
                error: function (result) {
                    alert(111)
                    console.log(result.responseText)
                }
            });

    });

    $("#ddlDepartment").change(function () {
        var Dept = $("#ddlDepartment").val();
        var GroupId = "";
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListDocuments", "DocumentLibrary")',
                data: '{GroupId: ' + JSON.stringify(GroupId) + ',Dept: ' + JSON.stringify(Dept) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    $("#Tabl").show();
                    tableData = [];
                    $.map(result, function (item) {
                        optionItem = {}
                        optionItem["SlNo"] = item.SlNo;
                        optionItem["DocumentType"] = item.DocumentType;
                        optionItem["Path"] = item.Path;
                        optionItem["UploadDate"] = item.UploadDateStr;
                        optionItem["Comments"] = item.Comments;

                        tableData.push(optionItem);
                    });
                    console.log(tableData)
                    DrawTable();
                    $("#divLoader").hide();
                },
                error: function (result) {
                    console.log(result.responseText)
                }
            });
    });

    $("#ddlDocumentType").change(function () {
        var DocType = $("#ddlDocumentType").val();
        if (DocType == "Invoice Inward") {
            $("#dvVendors").show();
        }
        else {
            $("#dvVendors").hide();
        }
    });

    $("#ddlVendor").change(function () {
        var Dept = $("#ddlDepartment").val();
        var Vendor = $("#ddlVendor").val();
        var GroupId = "";
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListDocuments", "DocumentLibrary")',
                data: '{GroupId: ' + JSON.stringify(GroupId) + ',Dept: ' + JSON.stringify(Dept) + ',Vendor: ' + JSON.stringify(Vendor) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    $("#Tabl").show();
                    tableData = [];
                    $.map(result, function (item) {
                        optionItem = {}
                        optionItem["SlNo"] = item.SlNo;
                        optionItem["DocumentType"] = item.DocumentType;
                        optionItem["Path"] = item.Path;
                        optionItem["UploadDate"] = item.UploadDateStr;
                        optionItem["Comments"] = item.Comments;

                        tableData.push(optionItem);
                    });
                    console.log(tableData)
                    DrawTable();
                    $("#divLoader").hide();
                },
                error: function (result) {
                    console.log(result.responseText)
                }
            });
    });

    function ShowHideDDL() {
        if ($("#rdnCustomer").is(":checked")) {
            $("#dvCustomer").show();
            $("#dvInternalGroup").hide();
            $("#dvInternal").hide();
            $('#dvVendors').hide();
        }
        else {
            $("#dvCustomer").hide();
            $("#dvInternal").show();
        }
    }

    function FillDocumentTypeDDL(dept) {
         $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDocumentTypes", "DocumentLibrary")',
                data: '{Type: ' + JSON.stringify(dept) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#divLoader").hide();
                    var items;
                    $("#ddlDocumentType").empty();
                    items = "<option value='Please Select'>Please Select</option>";
                    $.each(result, function (i, item) {
                        items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                    });
                    $("#ddlDocumentType").html(items);
                },
                error: function (result) {

                    console.log(result.responseText)
                }
            });
    }

    function ShowDeptGroup() {
        if ($("#ddlDepartment").val() == "Finance") {
            $("#dvInternalGroup").show();

        }
        else {
            $("#dvInternalGroup").hide();
            $("#dvVendors").hide();
        }
    }

    function handleFileSelectProductWise(evt) {

        var id = evt.currentTarget.id;
        var qId = id.substring(4, id.length);
        var f = evt.target.files[0];
        var Name = evt.target.files[0].name;
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                var binaryData = e.target.result;
                var base64String = window.btoa(binaryData);
                $("#hdnuploadDocBase64").val(base64String);
                $("#hdnFileName").val(Name);
            };
        })(f);
        reader.readAsBinaryString(f);
    }

    function ValidationUpload() {
        var rdbstatus1, rdbstatus2
        var filename = $("#hdnFileName").val();

        var GroupName = $("#ddlGroupDetails option:selected").text();
        var DepmtName = $("#ddlDepartment option:selected").text();
        var DocumentType = $("#ddlDocumentType option:selected").text();
        if ($("#rdnCustomer").is(":checked")) {
            rdbstatus1 = 1;
            rdbstatus2 = 0
        }
        else {
            rdbstatus1 = 0;
            rdbstatus2 = 1
        }
        if (filename == "" || filename == null) {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please select File",
                buttonText: "Okay"
            })
            $("#divLoader").hide();
        }
        else if (GroupName == "Please Select" && rdbstatus1 == 1)
        {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Choose GroupName",
                buttonText: "Okay"
            })
            $("#divLoader").hide();

        }
        else if (DepmtName == "Please Select" && rdbstatus2 == 1) {

            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Choose Department",
                buttonText: "Okay"
            })
            $("#divLoader").hide();
        }
        else if (DocumentType == "Please Select" ) {

            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Choose Document Type",
                buttonText: "Okay"
            })
            $("#divLoader").hide();
        }
        else {
            UploadDocuments();
        }
    }

    function UploadDocuments() {
        var DocumentStr = $("#hdnuploadDocBase64").val();
        var filename = $("#hdnFileName").val();
        var DocType = $("#ddlDocumentType").val();

        if ($("#rdnCustomer").is(":checked")) {
            var GroupId = $("#ddlGroupDetails").val();
            var GroupName = $("#ddlGroupDetails option:selected").text();
        }
        else {
            var GroupId = $("#ddlDepartment option:selected").text();
            var GroupName = $("#ddlDepartment option:selected").text();
        }

        var Comment = $("#txtComment").val();

        var fileUpload = DocumentStr;

        var fileData = new FormData();
            fileData.append("fileData", fileUpload);
            fileData.append("filename", filename);
            fileData.append("GroupId", GroupId);
            fileData.append("GroupName", GroupName);
            fileData.append("Comment", Comment);
            fileData.append("DocType", DocType);
            fileData.append("FinGroupName", $("#ddlDeptGroupDetails option:selected").text());
            fileData.append("FinGroupId", $("#ddlDeptGroupDetails").val());
        fileData.append("Department", $("#ddlDepartment option:selected").text());
        fileData.append("Vendor", $("#ddlVendor option:selected").text());

            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadDocument", "DocumentLibrary")',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    console.log(result)
                    if (result == "True") {
                        cuteAlert({
                            type: "success",
                            title: "Saved",
                            message: "Document Uploaded successfully",
                            buttonText: "Okay"
                        }).then(() => {

                            @*var urlLink = "@Url.Action("Index", "DocumentLibrary")";
                            window.location.href = urlLink;*@
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is a problem in saving point rules",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {

                        cuteAlert({
                            type: "success",
                            title: "Uploaded",
                            message: "Document Uploaded successfully",
                            buttonText: "Okay"
                        }).then(() => {

                            @*var urlLink = "@Url.Action("Index", "DocumentLibrary")";
                            window.location.href = urlLink;*@
                        })
                        $("#divLoader").hide();
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is a problem in Uploading Document",
                            buttonText: "Okay"
                        })
                        $("#divLoader").hide();
                    }
                }
            });
        }

    function Index()
    {
        var urlLink = "@Url.Action("Index", "DocumentLibrary")";
        window.location.href = urlLink;
    }

    function DrawTable() {

            var table1 = $('#InstanceTable').DataTable();
            table1.destroy();

            var table = $('#InstanceTable').DataTable({
                "aaSorting": [[0, "asc"]],
                "data": tableData,
                "paging": true,
                "ordering": false,
                "info": false,
                "bFilter": false,
                "pageLength": 10,
                "pagingType": "simple_numbers",
                "columns": [

                    /*{ data: "GroupName" },*/
                    { data: "DocumentType" },
                    /*{ data: "Path" },*/
                    { data: "UploadDate" },
                    { data: "Comments" },
                    {

                        "mData": "SlNo",
                        "mRender": function (data, type, row) {
                            return '<a href="#" onclick="DownLoadFile(\'' + data + '\')" class="login" title="Edit"><img src ="../Content/assets/images/Download.png" /></a>';
                            //return '<button href="#"' + 'id="' + data + '">Edit</button>';
                        }
                    }


                ],
                aoColumnDefs: [
                    {
                        bSortable: false,
                        aTargets: []
                    }
                ]

            });

            var table = $('#InstanceTable').DataTable();
            table.draw();

    }

    function DownLoadFile(SLno) {
        var FilterData = [];
        item = {};
        item["SLno"] = SLno;
        FilterData.push(item);
        var data = JSON.stringify(FilterData);

         $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDownloadDetails", "DocumentLibrary")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var BaseUrl = $("#baseURL").val();
                    console.log(result)
                    @*var docurl = "@baseURL/Temp/" + filename;*@
                    var docurl = '@baseURL' + result;
                    //alert(docurl)
                    //window.location.href =docurl;
                    window.open(docurl);
                    $("#divLoader").hide();
                },
                error: function (result) {
                    alert(111)
                    console.log(result.responseText)
                }
            });
    }

</script>
